<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div class="row my-3" *ngIf="!isLoading">
        <div class="col-12">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="p-6 sm:p-8 lg:p-10 w-full">
                    <div class="text-2xl font-bold">
                        Remove From Store
                    </div>
                    <div class="mt-5 row">
                        <div class="col-12">
                            <div *ngIf="removeProductData.recommCheck == 0" class="text-green-600">
                                Product is not featured/most popular/primary recommendation in any category.
                            </div>
                            <div *ngIf="removeProductData.recommCheck != 0">
                                ERROR: Product is featured/most popular/primary recommendation in at least one category.
                            </div>
                            <div *ngIf="removeProductData.ordersCheck  == 0" class="text-green-600">
                                Product is not connected to an order.
                            </div>
                            <div *ngIf="removeProductData.ordersCheck  != 0">
                                ERROR: Product is connected to an order.
                            </div>
                            <div *ngIf="removeProductData.campaignCheck  == 0" class="text-green-600">
                                Product is not featured in any campaign.
                            </div>
                            <div *ngIf="removeProductData.campaignCheck  != 0">
                                ERROR: The product is featured in at least one campaign.
                            </div>
                            <div *ngIf="removeProductData.bundlesCheck == 0" class="text-green-600">
                                Product is not included in any bundle.
                            </div>
                            <div *ngIf="removeProductData.bundlesCheck != 0">
                                ERROR: The product is included in at least one bundle.
                            </div>
                            <!-- password -->
                            <mat-form-field class="w-full mt-3">
                                <mat-label>Enter your password to confirm deletion</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <div>
                                <button class="min-w-40" mat-stroked-button [matTooltip]="'Remove product from store'"
                                    (click)="addDuplicate()" [disabled]="duplicateLoader">
                                    <mat-progress-spinner *ngIf="duplicateLoader" [diameter]="24"
                                        [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                    <mat-icon *ngIf="!duplicateLoader" svgIcon="heroicons_outline:trash"></mat-icon>
                                    <span *ngIf="!duplicateLoader" class="ml-1 mr-1">Remove product from store</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </fuse-card>
        </div>
    </div>
</div>