<div class="w-full">
  <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
  </ngx-skeleton-loader>
  <div class="row" *ngIf="!isLoading">
    <div class="col-12 my-2">
      <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
        <div class="w-full">
          <div class="p-6 sm:p-8 lg:p-10 w-full">
            <div class="text-2xl font-bold ">
              Bill Credit Card For Order {{orderDetail?.pk_orderID}}
            </div>
            <div class="row mt-5 w-full">
              <div class="col-12">
                <mat-form-field class="w-full">
                  <mat-label>Full Name</mat-label>
                  <input matInput [(ngModel)]="ngName">
                </mat-form-field>
                <mat-form-field class="w-full">
                  <mat-label>Amount</mat-label>
                  <input matInput [(ngModel)]="ngAmount">
                </mat-form-field>
                <div class="font-bold mb-2">Card Number</div>
                <div class="border border-gray-300 shadow rounded p-3">
                  <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                </div>
                <mat-checkbox class="my-2">Send receipt to customer?</mat-checkbox>
                <br>
                <button [matTooltip]="'Process Payment'" [disabled]="isPaymentLoader" (click)="createToken()"
                  class="min-w-40" mat-stroked-button>
                  <mat-progress-spinner *ngIf="isPaymentLoader" [diameter]="24" [mode]="'indeterminate'">
                  </mat-progress-spinner>
                  <span *ngIf="!isPaymentLoader">Process Payment</span>
                </button>
              </div>

            </div>
          </div>
        </div>
      </fuse-card>
    </div>
  </div>
</div>