<div class="w-full">
    <ngx-skeleton-loader count="15" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div class="row" *ngIf="!isLoading">
        <div class="col-12 my-2">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="w-full">
                    <div class="p-6 sm:p-8 lg:p-10 w-full">
                        <div class="text-2xl font-bold ">
                            Purchase Orders
                        </div>
                        <div class="mt-5" *ngIf="isView">
                            <div *ngIf="isDetailLoader">
                                <ngx-skeleton-loader count="15" appearance="line" animation="pulse">
                                </ngx-skeleton-loader>
                            </div>
                            <div *ngIf="!isDetailLoader"
                                class="relative bg-light flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between  ">

                                <!-- Title -->
                                <div class="text-1xl font-semibold">View PURCHASE ORDER #
                                    {{isViewData?.purchaseOrderNumber}}</div>
                                <!-- Actions -->
                                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                                    <!-- <button (click)="exportHtmlToPDF()" [matTooltip]="'Save report as PDF'"
                                        class="float-right mr-2" mat-stroked-button>
                                        <mat-icon svgIcon="mat_outline:picture_as_pdf"></mat-icon>
                                        <span class="ml-2 mr-1">PDF</span>
                                    </button> -->
                                    <!-- Back to Customers Page button -->
                                    <button class="ml-4" mat-stroked-button [color]="'primary'"
                                        (click)="viewPurchaseOrder(null)">
                                        <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                                        <span class="ml-2 mr-1">Back to Purchases List</span>
                                    </button>
                                </div>
                            </div>

                            <div *ngIf="!isDetailLoader"
                                class="mt-5 inset-0 min-w-0 text-center print:overflow-visible">
                                <!-- Main -->
                                <div class="inline-block  text-left print:p-0 w-full" id="htmltable" #htmltable>
                                    <td>
                                        <span style="font-size: 16px; color: #FF0000; font-weight: bold;"
                                            *ngIf="!isViewData.blnDuplicate">***DO NOT DUPLICATE***</span>
                                        <br />
                                        <span style="font-size: 16px; color: #FF0000; font-weight: bold;">
                                            <ng-container>
                                                Please acknowledge that you have received this PO by clicking
                                                <a href="https://admin.consolidus.com/dspPOAck3.cfm?OLID={{isViewData.fk_orderLineID}}&OID={{isViewData.fk_orderID}}&CID={{isViewData.fk_vendorID}}&S={{isViewData.blnSample}}"
                                                    class="cursor-pointer text-blue-500 hover:underline"
                                                    target="_blank">here
                                                </a>
                                            </ng-container>
                                        </span>
                                        <br />
                                        <span style="font-size: 11px;">
                                            If the link above isn't working, please copy and paste this URL into your
                                            browser:
                                            <br />
                                            https://admin.consolidus.com/dspPOAck3.cfm?OLID={{isViewData.fk_orderLineID}}&OID={{isViewData.fk_orderID}}&CID={{isViewData.fk_vendorID}}&S={{isViewData.blnSample}}
                                        </span>
                                    </td>
                                    <hr class="m-0"
                                        style="border: none; height: 1px; color: #cccccc; background-color: #cccccc;" />

                                    <!-- Shipping Report -->
                                    <table width="100%" align="center" class="my-2">
                                        <tr>
                                            <td valign="top">
                                                <img src="https://assets.consolidus.com/globalAssets/consolidus_logo.png"
                                                    style="width: 280px; height: auto;" /><br />
                                                {{this.orderDetail.storeName}} is a subsidiary of Consolidus, LLC.<br />
                                                Consolidus LLC<br />
                                                526 S.Main St. <br />
                                                Suite 804 <br />
                                                Akron, OH 44311<br />
                                                P: 330-319-7200<br />
                                                F: 330-319-7213
                                                <ng-containter *ngIf="isViewData.customerAccountNumber">
                                                    <br />Customer Account #: {{isViewData.customerAccountNumber}}
                                                </ng-containter>
                                            </td>
                                            <td valign="top" align="right">
                                                <b>PURCHASE ORDER<br />
                                                    #{{isViewData.purchaseOrderNumber}}<br />
                                                    Sent on {{currentDate}} at {{currentTime}}</b>
                                            </td>
                                        </tr>
                                        <tr class="my-2">
                                            <td colspan="3">
                                                <hr class="m-0"
                                                    style="border: none; height: 1px; color: #cccccc; background-color: #cccccc;" />
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="100%" align="center" class="my-2">
                                        <tr>
                                            <td valign="top">PURCHASE ORDER #</td>
                                            <td>{{isViewData.purchaseOrderNumber}}</td>
                                        </tr>
                                        <ng-container
                                            *ngIf="isViewData.shipToPurchaseOrder && isViewData.shipToPurchaseOrder != 'null'">
                                            <tr>
                                                <td valign="top">CUSTOMER PURCHASE ORDER #</td>
                                                <td>{{isViewData.shipToPurchaseOrder}}</td>
                                            </tr>
                                        </ng-container>
                                        <tr>
                                            <td valign="top">VENDOR</td>
                                            <td>
                                                <b>
                                                    {{isViewData.vendorShippingName}}<br />
                                                    {{isViewData.vendorShippingAddress1}}<br />
                                                    <ng-container
                                                        *ngIf="isViewData.vendorShippingAddress2 && isViewData.vendorShippingAddress2 != 'null'">
                                                        {{isViewData.vendorShippingAddress2}}<br />
                                                    </ng-container>
                                                    {{isViewData.vendorShippingCity}}
                                                    {{isViewData.vendorShippingState}}
                                                    {{isViewData.vendorShippingZip}}<br>
                                                    {{isViewData.vendorShippingPhone}}<br />
                                                    {{isViewData.vendorShippingEmail}}
                                                </b>
                                            </td>
                                        </tr>
                                        <ng-container *ngIf="isViewData.customerAccountNumber">
                                            <tr>
                                                <td valign="top">ACCT #</td>
                                                <td valign="top">
                                                    <b>{{isViewData.customerAccountNumber}}</b>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <tr>
                                            <td valign="top">SHIPPING</td>
                                            <td><b>{{isViewData.shippingComment}}</b></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="3"><span style="color: #000000; font-weight: bold;">Please send
                                                    tracking to <a
                                                        href="mailto:orders@{{orderDetail?.storeName.toLowerCase()}}">orders@{{orderDetail?.storeName.toLowerCase()}}</a>.</span>
                                            </td>
                                        </tr>
                                        <ng-container *ngIf="isViewData.POinHandsDate">
                                            <tr>
                                                <td valign="top"><span style="color:'#FF0000'">IN-HANDS DATE</span></td>
                                                <td>
                                                    <span style="color:'#FF0000'">
                                                        {{isViewData.POinHandsDate ? isViewData.POinHandsDate:
                                                        ''}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </ng-container>

                                        <ng-container *ngIf="isViewData.coop" len(local.strReturn.qryPOs.coop)>
                                            <tr>
                                                <td valign="top">Co-op:</td>
                                                <td>{{isViewData.coop}}</td>
                                            </tr>
                                        </ng-container>

                                        <tr>
                                            <td valign="top">Ship TO:</td>
                                            <td valign="top">
                                                <ng-container *ngIf="isViewData.shipToCompanyName">
                                                    {{isViewData.shipToCompanyName}}<br />
                                                </ng-container>
                                                <ng-container *ngIf="isViewData.shipToCustomerName">
                                                    {{isViewData.shipToCustomerName}} <br />
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="isViewData.shipToLocation && isViewData.shipToLocation != 'null'">
                                                    {{isViewData.shipToLocation}}<br />
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="isViewData.shipToPurchaseOrder && isViewData.shipToPurchaseOrder != 'null'">
                                                    Purchase order: {{isViewData.shipToPurchaseOrder}}<br />
                                                </ng-container>
                                                {{isViewData.shipToAddress}}<br />
                                                <ng-container *ngIf="isViewData.shipToDeliverTo">
                                                    {{isViewData.shipToDeliverTo}}<br />
                                                </ng-container>
                                                {{isViewData.shipToCity}}, {{isViewData.shipToState}}
                                                {{isViewData.shipToZip}}<br />
                                                <ng-container *ngIf="isViewData.shipToCountry">
                                                    {{isViewData.shipToCountry}}<br />
                                                </ng-container>
                                                Please reference #{{isViewData.purchaseOrderNumber}} on shipping
                                                label.
                                            </td>
                                        </tr>
                                    </table>
                                    <br /><br />
                                    <!-- Start Color/Sizes -->
                                    <table width="100%" align="center">
                                        <ng-container *ngIf="isViewData.blnDecorator && !isViewData.blnSupplier">
                                            <ng-container *ngIf="isViewData.fk_orderLineID">
                                                <tr>
                                                    <td width="40%"><b>COLOR/SIZE BREAKDOWN</b></td>
                                                    <td width="30%"></td>
                                                    <td width="10%" align="center"><b>Quantity</b></td>
                                                    <td width="10%"></td>
                                                    <td width="10%"></td>
                                                </tr>

                                                <tr>
                                                    <td colspan="5">
                                                        <b>Stock coming from:</b> {{isViewData.stockFrom}}
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td colspan="5">
                                                        <hr
                                                            style="border: none; height: 1px; color: #cccccc; background-color: #cccccc;" />
                                                    </td>
                                                </tr>

                                                <!--- ITEM & OPTIONS --->
                                                <ng-container *ngIf="purchaseDetails.color_sizes.length">
                                                    <tr *ngFor="let item of purchaseDetails.color_sizes">
                                                        <td>
                                                            {{item.productName}}
                                                            <ng-container *ngIf="isViewData.blnSample">
                                                                <div
                                                                    style="padding: 7px; font-size: 12px; font-weight: bold; background-color: #fcf8e3; border: 1px solid #faebcc; color: #af6d3b; font-family: Arial, Helvetica, sans-serif;">
                                                                    This item is a sample.
                                                                </div>
                                                            </ng-container>
                                                        </td>
                                                        <td>{{item.optionName}}</td>
                                                        <td align="center">{{item.quantity}}</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </ng-container>

                                                <tr>
                                                    <td colspan="5"><br /></td>
                                                </tr>

                                                <tr>
                                                    <td style="font-weight: bold;"><b>TOTAL PIECES:</b></td>
                                                    <td></td>
                                                    <td style="font-weight: bold;" align="center">
                                                        <b>{{isViewData.quantity}}</b>
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="isViewData.blnSupplier">
                                            <ng-container *ngIf="purchaseDetails.color_sizes.length">
                                                <tr>
                                                    <td width="40%"><b>COLOR/SIZE BREAKDOWN</b></td>
                                                    <td width="30%"></td>
                                                    <td width="10%" align="center"><b>Quantity</b></td>
                                                    <td width="10%" align="center"><b>Unit</b></td>
                                                    <td width="10%" align="center"><b>Total</b></td>
                                                </tr>

                                                <tr>
                                                    <td colspan="5">
                                                        <hr
                                                            style="border: none; height: 1px; color: #cccccc; background-color: #cccccc;" />
                                                    </td>
                                                </tr>


                                                <!--- ITEM & OPTIONS --->
                                                <ng-container *ngIf="purchaseDetails.color_sizes.length">
                                                    <tr *ngFor="let item of purchaseDetails.color_sizes">
                                                        <td>
                                                            {{item.productName}}
                                                            <ng-container *ngIf="isViewData.blnSample">
                                                                <div
                                                                    style="padding: 7px; font-size: 12px; font-weight: bold; background-color: #fcf8e3; border: 1px solid #faebcc; color: #af6d3b; font-family: Arial, Helvetica, sans-serif;">
                                                                    This item is a sample.
                                                                </div>
                                                            </ng-container>
                                                        </td>
                                                        <td>{{item.optionName}}</td>
                                                        <td align="center">{{item.quantity}}</td>
                                                        <td align="center">{{item.unitCost | currency}}</td>
                                                        <td align="center">{{item.total | currency}}</td>
                                                    </tr>
                                                </ng-container>

                                                <ng-container
                                                    *ngIf="isViewData.fk_orderLineID && isViewData.txtColorParts">
                                                    <tr>
                                                        <td colspan="5" valign="top"><span
                                                                style="font-weight: bold; color: #ff0000;">({{isViewData.txtColorParts}})</span>
                                                        </td>
                                                    </tr>
                                                </ng-container>

                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td style="font-weight: bold;"><b>TOTAL PIECES:</b></td>
                                                    <td></td>
                                                    <td style="font-weight: bold;" align="center">
                                                        <b>{{isViewData.quantity}}</b>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                        <!-- END Color/Sizes -->
                                    </table>
                                    <!-- Start Imprints -->
                                    <ng-container *ngIf="isViewData.blnDecorator && purchaseDetails.imprints.length">
                                        <br /><br />
                                        <table width="100%" style="width: 100%;">
                                            <tr>
                                                <td width="70%">
                                                    <b>IMPRINTS</b>
                                                    <ng-container
                                                        *ngIf="purchaseDetails.poProofFiles.length && isViewData.fk_orderLineID">
                                                        <a href="https://assets.consolidus.com/artwork/POPRoof/{{isViewData.fk_orderLineID}}/{{purchaseDetails.poProofFiles[0].FILENAME}}"
                                                            target="_blank" style="text-decoration: none;">
                                                            <div
                                                                style="font-size: 12px; font-weight: bold; background-color: blue; padding: 7px; color: #ffffff; margin: 0 !important; display: inline-block;">
                                                                Click here to download final art vector file.
                                                            </div>
                                                        </a>
                                                        <br /><br />
                                                    </ng-container>
                                                </td>
                                                <td width="10%" align="center"><b>Quantity</b></td>
                                                <td width="10%" align="center"><b>Unit</b></td>
                                                <td width="10%" align="center"><b>Total</b></td>
                                            </tr>

                                            <tr>
                                                <td colspan="4">
                                                    <hr
                                                        style="border: none; height: 1px; color: #cccccc; background-color: #cccccc;" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="4"><span style="color:#FF0000; font-weight: bold;">The
                                                        artwork we send is sized for production; please do not change
                                                        the size of the art without consulting us or sending a proof to
                                                        confirm.</span><br /></td>
                                            </tr>

                                            <ng-container *ngFor="let item of purchaseDetails.imprints">
                                                <tr>
                                                    <td colspan="4">
                                                        <ng-container
                                                            *ngIf="isViewData.fk_vendorID == 237;else NoTVendor237">
                                                            <span style="color:#000000;">(No Proof Needed)</span><br />
                                                        </ng-container>
                                                        <ng-template #NoTVendor237>
                                                            <ng-container *ngIf="item.fk_imprintID">
                                                                <ng-container *ngIf="item?.proofFiles.length">
                                                                    <ng-container *ngFor="let file of item.proofFiles">
                                                                        <a href="https://assets.consolidus.com/artwork/finalArt/{{orderDetail.fk_storeUserID}}/{{isViewData.fk_orderID}}/{{isViewData.fk_orderLineID}}/{{file.FILENAME}}"
                                                                            target="_blank">Link to print-ready artwork
                                                                            here.</a><br />
                                                                    </ng-container>
                                                                </ng-container>
                                                            </ng-container>
                                                        </ng-template>
                                                        <span
                                                            style="color:#FF0000; font-weight: bold;">{{isViewData.imprintDetail}}</span>
                                                    </td>
                                                </tr>
                                                <!--- show run charge if the vendor is doing the decoration --->
                                                <tr>
                                                    <td>{{item.imprintName}}</td>
                                                    <td align="center">{{item.quantity}}</td>
                                                    <td align="center">{{item.unitCost | currency}}</td>
                                                    <td align="center">{{item.total | currency}}</td>
                                                </tr>
                                                <ng-container *ngIf="item.reorderNumber">
                                                    <tr>
                                                        <td>
                                                            <span style="color:#FF0000; font-weight: bold;">Reorder
                                                                #:</span> {{item.reorderNumber}}
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                                <ng-container *ngIf="item.setup">
                                                    <tr>
                                                        <td align="right">Setup(s)</td>
                                                        <td align="center"></td>
                                                        <td align="center"></td>
                                                        <td align="center">{{item.setup | currency}}</td>
                                                    </tr>
                                                </ng-container>
                                                <tr>
                                                    <ng-container *ngIf="item.processQuantity || item.colors">
                                                        <td align="left">
                                                            <span *ngIf="item.processQuantity">Total Imprint Colors:
                                                                {{item.processQuantity}}<br /></span>
                                                            <span *ngIf="item.colors">Colors:
                                                                {{item.colors}}<br /><br /></span>
                                                        </td>
                                                    </ng-container>
                                                    <td colspan="3"></td>
                                                </tr>
                                                <ng-container *ngIf="item.imprintComment">
                                                    <tr>
                                                        <td colspan="4">
                                                            <b>Imprint comment:</b><br />
                                                            {{item.imprintComment}}
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                                        </table>
                                    </ng-container>
                                    <!-- End Imprints -->
                                    <!-- Start Accessories -->
                                    <ng-container *ngIf="purchaseDetails.accessories.length">
                                        <table style="width: 100%;" width="100%">
                                            <tr>
                                                <td width="70%"></td>
                                                <td width="10%"></td>
                                                <td width="10%"></td>
                                                <td width="10%"></td>
                                            </tr>

                                            <tr>
                                                <td colspan="4"><br><span
                                                        style="color: #000000;"><i><b>ACCESSORIES</b></i></span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <hr
                                                        style="border: none; height: 1px; color: #cccccc; background-color: #cccccc;" />
                                                </td>
                                            </tr>

                                            <ng-container *ngFor="let item of purchaseDetails.accessories">
                                                <tr>
                                                    <td>{{item.accessoryName}}</td>
                                                    <td align="center">{{item.quantity}}</td>
                                                    <td align="center">{{item.unitCost | currency}}</td>
                                                    <td align="center">{{item.totalCost | currency}}</td>
                                                </tr>
                                                <ng-container *ngIf="item.setupCost">
                                                    <tr>
                                                        <td>Accessory Setup</td>
                                                        <td align="center"></td>
                                                        <td align="center"></td>
                                                        <td align="center">{{item?.setupCost | currency}}</td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                                        </table>
                                    </ng-container>
                                    <!-- End Adjustments -->
                                    <ng-container *ngIf="purchaseDetails.adjustments.length">
                                        <table style="width: 100%;" width="100%">
                                            <tr>
                                                <td width="70%"></td>
                                                <td width="10%"></td>
                                                <td width="10%"></td>
                                                <td width="10%"></td>
                                            </tr>

                                            <tr>
                                                <td colspan="4"><br /><i><b>ADJUSTMENTS</b></i></td>
                                            </tr>

                                            <tr *ngFor="let item of purchaseDetails.adjustments">
                                                <td>{{item.adjustmentName}}</td>
                                                <td></td>
                                                <td></td>
                                                <td align="center">{{item.unitCost | currency}}</td>
                                            </tr>
                                        </table>
                                    </ng-container>
                                    <!-- End Adjustments -->
                                    <!-- Start -->
                                    <!-- Totals -->
                                    <table width="100%" align="center">
                                        <tr height="1">
                                            <td width="70%"></td>
                                            <td width="10%"></td>
                                            <td width="10%"></td>
                                            <td width="10%"></td>
                                        </tr>
                                        <tr>
                                            <td><b>TOTAL</b></td>
                                            <td></td>
                                            <td></td>
                                            <td align="center"><b>{{isViewData?.POTotal?.toFixed(2) | currency}}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <hr class="m-0"
                                                    style="border: none; height: 1px; color: #cccccc; background-color: #cccccc;" />
                                            </td>
                                        </tr>
                                        <!-- isViewData?.purchaseOrderComments -->
                                        <ng-container *ngIf="isViewData?.purchaseOrderComments">
                                            <br /><br />
                                            <table width="100%" align="center">
                                                <tr>
                                                    <td><span class="text-red-500">ADDITIONAL PURCHASE ORDER
                                                            COMMENTS/MODIFICATIONS</span></td>
                                                <tr>
                                                <tr>
                                                    <td>
                                                        <div
                                                            style="background-color: #fcf8e1; border: 1px solid #f9ebc8; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #FF0000; font-size: 14px; font-weight: bold;">
                                                            {{isViewData?.purchaseOrderComments}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </ng-container>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Listing -->
                    <div *ngIf="!isView" class="p-5">
                        <p class="font-bold text-center text-lg" *ngIf="purchases.data.length == 0">No data found.</p>
                        <table *ngIf="purchases.data.length > 0" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="bg-light">Vendor</th>
                                    <th class="bg-light">Supplies</th>
                                    <th class="bg-light">Decorators</th>
                                    <th class="bg-light">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of purchases.data">
                                    <td>
                                        <span (click)="viewPurchaseOrder(item)"
                                            class="underline cursor-pointer">{{item.companyName}}</span>
                                    </td>
                                    <td>
                                        <mat-icon class="text-green-400 icon-size-5" *ngIf="item.blnSupplier"
                                            [svgIcon]="'heroicons_solid:check'">
                                        </mat-icon>
                                        <mat-icon class="text-red-400 icon-size-5" *ngIf="!item.blnSupplier"
                                            [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                    </td>
                                    <td>
                                        <mat-icon class="text-green-400 icon-size-5" *ngIf="item.blnDecorator"
                                            [svgIcon]="'heroicons_solid:check'">
                                        </mat-icon>
                                        <mat-icon class="text-red-400 icon-size-5" *ngIf="!item.blnDecorator"
                                            [svgIcon]="'heroicons_solid:x'">
                                        </mat-icon>
                                    </td>
                                    <td>
                                        {{(item.Total)?.toFixed(2) | currency}}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        <a class="underline cursor-pointer"
                                            [routerLink]="['/apps/orders',orderDetail.pk_orderID,'shipping-report']"
                                            target="_blank">Shipping</a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>{{(purchases?.shippingPrice[0].shippingCost)?.toFixed(2) | currency }}</td>
                                </tr>
                                <tr class="table-active">
                                    <td class="font-bold">
                                        Total
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td class="font-bold">{{totalShippingCost | currency}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </fuse-card>
        </div>

    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" #acknowledge>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Acknowledgement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Consolidus Purchase Order Acknowledgement for Purchase Order {{isViewData?.purchaseOrderNumber}}
                </p>
                <div class="my-2">
                    <mat-form-field class="w-full">
                        <mat-label>Please enter your name:</mat-label>
                        <input matInput [(ngModel)]="acknowledged" placeholder="Search Keyword">
                    </mat-form-field>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="acknowledgement()">Acknowledge Purchase
                    order</button>
            </div>
        </div>
    </div>
</div>