<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div class="row my-3 p-5" *ngIf="!isLoading">
        <div class="col-12 mb-4 bg-card rounded-2xl w-full p-8 pb-4" *ngFor="let item of orderProducts; let j=index">
            <div class="flex items-center justify-between">
                <div class="flex flex-col mr-6">
                    <div class="text-2xl font-semibold leading-tight">
                        {{item?.fk_orderID}}-
                        {{item?.pk_orderLineID}}:
                        {{item?.productName}}</div>
                    <div class="text-secondary font-medium text-md">
                        <p>Quantity: {{item?.products[0].QUANTITY}}</p>
                        <p>Supplier: {{item.products[0]?.supplier_name}}</p>
                    </div>
                </div>
                <img class="w-20 rounded-lg object-cover"
                    src="{{imgUrl}}/thumbnails/{{item.products[0].pk_storeProductID}}.jpg"
                    onError="this.src='https://assets.consolidus.com/globalAssets/Products/coming_soon.jpg'"
                    alt="Product Image">
            </div>
            <div class="my-2 border-b"></div>
            <div>
                <table class="table table-condensed table-striped table-hover padding-1x"
                    *ngFor="let imprint of item.imprints;let k = index">
                    <tbody>
                        <tr>
                            <td width="30%">
                                <b>({{imprint.pk_imprintID}}) {{imprint.locationName}}/{{imprint.methodName}}</b>
                            </td>
                            <td width="10%">
                                <div *ngFor="let artwork of imprint.artworkProofs; let i=index">
                                    <a class="text-blue-500"
                                        href="https://assets.consolidus.com/artwork/Proof/{{orderDetail.fk_storeUserID}}/{{orderDetail.pk_orderID}}/{{imprint.fk_orderLineID}}/{{artwork.FILENAME}}?{{randomString}}"
                                        target="_blank">View Proof</a>
                                    <span *ngIf="imprint.artworkProofs.length == 0">---</span>
                                </div>
                            </td>
                            <td width="40%">
                                {{imprint?.status?.statusName || not_available}}
                                <button type="button"
                                    class="ml-2 min-w-40 inline-flex items-center gap-x-1.5 rounded-md bg-orange-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
                                    (click)="updateMarkRevisionNeeded(imprint)" [disabled]="imprint.revisionLoader">
                                    <span class="fa fa-exclamation-circle" *ngIf="!imprint.revisionLoader"></span>
                                    <span *ngIf="!imprint.revisionLoader">Mark Revision Needed</span>
                                    <mat-progress-spinner *ngIf="imprint.revisionLoader" [diameter]="24"
                                        [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                </button>
                            </td>

                            <td width="1%" align="center" valign="top">
                                <span class="fa fa-comments fa-lg clickable cursor-pointer" data-toggle="modal"
                                    matTooltip="View artwork comments" (click)="openCommentModal(imprint)"></span>
                            </td>
                        </tr>
                        <tr *ngFor="let artwork of imprint.artworkFiles; let i=index">
                            <td width="30%"></td>
                            <td width="10%"></td>
                            <td width="40%">
                                <a class="text-blue-500" *ngIf="imprint.artworkFiles.length > 0"
                                    href="https://assets.consolidus.com/artwork/{{orderDetail.fk_storeID}}/{{orderDetail.fk_storeUserID}}/{{orderDetail.pk_orderID}}/{{item.pk_orderLineID}}/{{artwork.ID}}.{{artwork.EXTENSION}}?{{tempDate}}"
                                    target="_blank">Artwork File #{{i+1}}</a>
                                <span *ngIf="imprint.artworkFiles.length == 0">---</span>
                            </td>
                            <!-- <td width="40%">
                                <ng-container *ngIf="imprint.logoBankID != 0; else customerLogoBlock">
                                    <a target="_blank"
                                        href="https://assets.consolidus.com/globalAssets/Stores/logoBank2/{{orderDetail.fk_storeID}}/Thumbs/{{imprint.logoBankID}}.jpg">
                                        Artwork File #{{artwork.count}}
                                    </a>
                                </ng-container>

                                <ng-template #customerLogoBlock>
                                    <ng-container *ngIf="imprint.customerLogoBankID != 0; else locationLogoBlock">
                                        <a target="_blank"
                                            href="https://assets.consolidus.com/globalAssets/StoreUser/LogoBank/{{orderDetail.fk_storeUserID}}/{{orderDetail.fk_storeID}}/Thumbs/{{imprint.customerLogoBankID}}.jpg">
                                            Artwork File #{{artwork.count}}
                                        </a>
                                    </ng-container>

                                    <ng-template #locationLogoBlock>
                                        <ng-container *ngIf="imprint.locationLogoBankID != 0; else artworkFilesBlock">
                                            <a target="_blank"
                                                href="https://assets.consolidus.com/globalAssets/Stores/locationLogoBank/{{orderDetail.pk_locationID}}/Thumbs/{{imprint.locationLogoBankID}}.jpg">
                                                Artwork File #{{artwork.count}}
                                            </a>
                                        </ng-container>

                                        <ng-template #artworkFilesBlock>
                                            <a target="_blank" class="text-blue-500"
                                                *ngIf="imprint.artworkFiles.length > 0"
                                                href="https://assets.consolidus.com/artwork/quotes/{{orderDetail.fk_storeID}}/{{orderDetail.fk_storeUserID}}/{{orderDetail.pk_orderID}}/{{orderDetail.pk_orderLineID}}/{{artwork?.ID}}.{{artwork?.EXTENSION}}?{{tempDate}}"
                                                target="_blank">
                                                Artwork File #{{artwork.count}}
                                            </a>
                                        </ng-template>
                                    </ng-template>
                                </ng-template>
                            </td> -->
                            <td width="1%" align="center" valign="top" *ngIf="imprint.artworkFiles.length > 0">
                                <mat-icon svgIcon="heroicons_outline:trash"
                                    class="icon-size-4 cursor-pointer text-red-500" matTooltip="Delete File"
                                    (click)="openRemoveModal(j,k,i,artwork.FILENAME)"
                                    *ngIf="!artwork?.delLoader"></mat-icon>
                                <mat-progress-spinner *ngIf="artwork?.delLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </td>
                        </tr>

                        <tr>
                            <td width="30%"></td>
                            <td width="10%"></td>
                            <td colspan="2" valign="top">
                                <b>Upload new artwork file:</b><br>
                                <form class="flex justify-between align-items-center">
                                    <input type="file" #fileInput name="newArtworkFile" class="inline"
                                        (change)="uploadFile($event)">&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="mat-button mat-stroked-button"
                                        [disabled]="imprint.uploadLoader" (click)="uploadArtworkMedia(imprint)">
                                        <span *ngIf="!imprint.uploadLoader" class="fa fa-upload"> Upload</span>
                                        <mat-progress-spinner *ngIf="imprint.uploadLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Comment Modal -->
<div #commentModal class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">COMMENTS FOR {{modalContent?.locationName
                    }} / {{modalContent?.methodName
                    }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="h-60 overflow-y-auto border p-5 mb-2" [innerHTML]="modalContent?.customerArtworkComment">
                </div>
                <mat-form-field class="w-full">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput cols="30" rows="10" [(ngModel)]="artworkComment"></textarea>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" class="mr-2" mat-button mat-stroked-button data-dismiss="modal">Close</button>
                <button type="button" class="min-w-30" mat-button mat-stroked-button (click)="addNewComment()"
                    [disabled]="modalContent?.commentLoader">
                    <span *ngIf="!modalContent?.commentLoader">Add Comment</span>
                    <mat-progress-spinner *ngIf="modalContent?.commentLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Remove Artwork File -->
<div class="modal" tabindex="-1" role="dialog" #removeArtwork>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Artwork File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this artwork file? This cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="removeImage()">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>