<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div class="row my-3">
        <div class="col-12">
            <mat-drawer-container class="example-container w-full bg-light" [hasBackdrop]="true">
                <mat-drawer #drawer [mode]="'over'" position="end" style="width: 400px !important;">
                    <div class="row p-5">
                        <div class="col-9">
                            <div class="text-2xl font-extrabold tracking-tight leading-none"> Imprint Details
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <mat-icon (click)="closeSideNav()" class="mr-2 cursor-pointer"
                                [svgIcon]="'mat_outline:close'">
                            </mat-icon>
                        </div>
                        <div class="col-12 my-2" *ngIf="sideNavData?.status.fk_storeUserApprovalContactID">
                            <p class="text-lg text-secondary tracking-tight font-bold leading-none my-2 border-b py-2">
                                Approval
                                History
                            </p>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <p class="text-secondary text-md font-bold">Name</p>
                                    <p class="text-secondary text-md">{{sideNavData?.status.approvalName ||
                                        not_available}}
                                    </p>
                                </div>
                                <div class="col-12 col-md-6">
                                    <p class="text-secondary text-md font-bold">Date</p>
                                    <p class="text-secondary text-md">{{(sideNavData?.status.statusDate | date) ||
                                        not_available}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-2">
                            <p class="text-lg text-secondary tracking-tight font-bold leading-none my-2 border-b py-2">
                                Comments
                            </p>
                            <p class="hv-100 overflow-y-auto text-secondary" *ngIf="sideNavData?.customerArtworkComment"
                                [innerHtml]="sideNavData?.customerArtworkComment"></p>
                            <p *ngIf="!sideNavData?.customerArtworkComment" class="text-secondary">No Comments Available
                            </p>
                        </div>
                    </div>
                </mat-drawer>
                <mat-drawer-content *ngIf="!isLoading" class="p-2">
                    <fuse-card class="flex flex-col w-full p-8 pb-4 filter-article my-4"
                        *ngFor="let item of orderProducts">
                        <div class="flex items-center justify-between">
                            <div class="flex flex-col mr-6">
                                <div class="text-2xl font-semibold leading-tight">
                                    ({{item.products[0]?.pk_productID}})
                                    {{item.products[0]?.productNumber}}:
                                    {{item.products[0]?.productName}}</div>
                                <div class="text-secondary font-medium text-md">
                                    <p>Quantity: {{item.totalQuantity}}</p>
                                    <p>Supplier: {{item.products[0]?.supplier_name}}</p>
                                </div>
                            </div>
                            <img class="w-20 rounded-lg object-cover"
                                src="{{imgUrl}}/thumbnails/{{item.products[0].pk_storeProductID}}.jpg"
                                onError="this.src='https://assets.consolidus.com/globalAssets/Products/coming_soon.jpg'"
                                alt="Product Image">
                        </div>
                        <div class="grid grid-cols-12 w-full mt-5">
                            <!-- Columns -->
                            <div class="col-span-6 font-medium text-md text-secondary">Imprint</div>
                            <div class="col-span-2 font-medium text-md text-left text-secondary">Status</div>
                            <div class="col-span-1 font-medium text-md text-left text-secondary">Attr</div>
                            <div class="col-span-1 font-medium text-md text-left text-secondary">Proof</div>
                            <div class="col-span-2 font-medium text-md text-left text-secondary">Details</div>
                            <!-- Divider -->
                            <div class="col-span-12 my-2 border-b"></div>
                            <div class="col-span-12" *ngFor="let imprint of item.imprints;let last=last">
                                <div class="grid grid-cols-12 w-full mt-2">
                                    <div class="col-span-6 text-md text-secondary">
                                        ({{imprint.pk_imprintID}}) {{imprint.locationName}}/{{imprint.methodName}}
                                    </div>
                                    <div class="col-span-2 text-md text-left text-secondary">
                                        {{imprint?.status.statusName || not_available}}
                                    </div>
                                    <div
                                        class="col-span-1 text-md text-left text-secondary cursor-pointer hover:text-gray-700">
                                        <a class="text-decoration-none"
                                            href="https://assets.consolidus.com/artwork/{{orderDetail.fk_storeID}}/{{orderDetail.fk_storeUserID}}/{{orderDetail.pk_orderID}}/{{item.order_line_id}}/{{imprint.pk_imprintID}}.jpg"
                                            target="_blank">View</a>
                                    </div>
                                    <div
                                        class="col-span-1 text-md text-left text-secondary cursor-pointer hover:text-gray-700">
                                        <a class="text-decoration-none"
                                            href="https://assets.consolidus.com/artwork/Proof/{{orderDetail.fk_storeUserID}}/{{orderDetail.pk_orderID}}/{{item.order_line_id}}/{{imprint.pk_imprintID}}.jpg"
                                            target="_blank">View</a>
                                    </div>
                                    <div class="col-span-2 text-md text-left text-secondary cursor-pointer hover:text-gray-700"
                                        (click)="openSideNav(imprint)">
                                        View Details
                                    </div>
                                </div>
                                <div class="col-span-12 my-2 border-b" *ngIf="!last"></div>
                            </div>
                        </div>
                    </fuse-card>
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>