<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="dataSourceLoading || dropdownFetchLoader">
</ngx-skeleton-loader>

<div *ngIf="!dataSourceLoading && !dropdownFetchLoader">
    <fuse-card class="rounded-2xl shadow bg-card flex pb-5">
        <div class="row" style="width: -webkit-fill-available;" *ngIf="!isDetailOpen">
            <div class="col-12">
                <div class="p-6 sm:p-8 lg:p-10 w-full">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="text-2xl font-bold">
                                Rapidbuild Images
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 p-10 pt-0">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Filter by PID/SPID/RBID</mat-label>
                            <input matInput placeholder="PID/SPID/RBID" [(ngModel)]="ngPID"
                                (keyup.enter)="searchId($event)" [autocomplete]="'off'" />
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Filter by Product Name</mat-label>
                            <input matInput placeholder="Product Name" [(ngModel)]="ngProduct"
                                (keyup.enter)="searchKeyword($event)" [autocomplete]="'off'" />
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4 col-12">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Select Status</mat-label>
                            <mat-select matInput [(ngModel)]="ngStatus">
                                <mat-option (click)="changeStatus('all')" [value]="'all'">
                                    All Statuses
                                </mat-option>
                                <mat-option (click)="changeStatus(obj)" [value]="obj.pk_statusID"
                                    *ngFor="let obj of dropdown">
                                    {{obj.statusName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 flex justify-end">
                        <span class="text-md cursor-pointer font-medium text-primary-500 hover:underline"
                            (click)="resetSearch()">
                            Reset Search
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-12 px-10" *ngIf="filterLoader">
                <ngx-skeleton-loader count="4" appearance="line" animation="pulse" *ngIf="filterLoader">
                </ngx-skeleton-loader>
            </div>

            <div class="col-12" *ngIf="!filterLoader">
                <ng-container *ngIf="dataSource.length > 0; else noRecords">
                    <table mat-table [dataSource]="dataSource" class="w-full">
                        <div class="color-blue">
                            <!-- ID Column -->
                            <ng-container matColumnDef="id">
                                <th class="min-w-24 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                    *matHeaderCellDef>
                                    ID
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="editToggle(element)">
                                    {{ element.pk_rapidBuildID }}
                                </td>
                            </ng-container>

                            <!-- status Column -->
                            <ng-container matColumnDef="status">
                                <th class="min-w-24 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                    *matHeaderCellDef>
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="editToggle(element)">
                                    {{ element.statusName }}
                                </td>
                            </ng-container>

                            <!-- age Column -->
                            <ng-container matColumnDef="age">
                                <th class="min-w-24 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                    *matHeaderCellDef>
                                    Age
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="editToggle(element)">{{
                                    element.statusName }}</td>
                            </ng-container>

                            <!-- pid Column -->
                            <ng-container matColumnDef="pid">
                                <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                    *matHeaderCellDef>
                                    PID
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="editToggle(element)">{{
                                    element.pk_productID }}</td>
                            </ng-container>

                            <!-- spid Column -->
                            <ng-container matColumnDef="spid">
                                <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                    *matHeaderCellDef>
                                    SPID
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="editToggle(element)">{{
                                    element.fk_storeProductID }}</td>
                            </ng-container>

                            <!-- product Column -->
                            <ng-container matColumnDef="product">
                                <th class="min-w-40 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                    *matHeaderCellDef>
                                    Product
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="editToggle(element)">{{
                                    element.productName }}</td>
                            </ng-container>

                            <!-- supplier Column -->
                            <ng-container matColumnDef="supplier">
                                <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                    *matHeaderCellDef>
                                    Supplier
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="editToggle(element)">{{
                                    element.companyName }}</td>
                            </ng-container>

                            <!-- Last Proof Of Column -->
                            <ng-container matColumnDef="last_proof_of">
                                <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                    *matHeaderCellDef>
                                    Last Proof By
                                </th>
                                <td mat-cell *matCellDef="let element" (click)="editToggle(element)">
                                    <span *ngIf="!element.rapidBuildUserFirstName">N/A</span>
                                    <span *ngIf="element.rapidBuildUserFirstName">{{ element.rapidBuildUserFirstName }}
                                        {{ element.rapidBuildUserLastName }}</span>
                                </td>
                            </ng-container>
                        </div>

                        <tr mat-header-row class="h-18 shadow bg-card" *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row class="hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;"
                            *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator #paginator
                        class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [length]="dataSourceTotalRecord" [pageIndex]="0" [pageSize]="20" (page)="getNextData($event)"
                        [hidePageSize]="true">
                    </mat-paginator>
                </ng-container>
                <ng-template #noRecords>
                    <div class="font-semibold tracking-tight text-center">
                        <span>No record found</span>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="row" style="width: -webkit-fill-available;" *ngIf="isDetailOpen">
            <div class="col-12">
                <div class="p-6 sm:p-8 lg:p-10 w-full">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="text-2xl font-bold">
                                Rapidbuild Images Details
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 text-right">
                            <button class="ml-4" mat-flat-button mat-stroked-button [matTooltip]="'Back To List'"
                                (click)="backToList()">
                                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                                <span class="ml-2 mr-1">Back To List</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5" *ngIf="isRebuildDetailLoader">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
                    </ngx-skeleton-loader>
                </div>
                <div class="col-12" *ngIf="!isRebuildDetailLoader">
                    <div class="row px-10">
                        <div class="col-12 border-b mb-5">
                            <div class="text-lg font-bold">
                                Product Details:
                            </div>
                            <div class="row p-3 pt-5">
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">RapidBuild ID: </span>
                                    <span>{{editItemData?.pk_rapidBuildID}}</span>
                                </div>
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">Image status: </span>
                                    <span>{{editItemData?.statusName}}</span>
                                </div>
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">Store: </span>
                                    <span>{{editItemData?.storeName}}</span>
                                </div>
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">Product name: </span>
                                    <span>{{editItemData?.productName}}</span>
                                </div>
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">Product number: </span>
                                    <span>{{editItemData?.productNumber}}</span>
                                </div>
                                <!-- <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">Product Type: </span>
                                    <span>{{editItemData?.pk_rapidBuildID}}</span>
                                </div> -->
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">Supplier: </span>
                                    <span><a class="text-decoration-none text-primary-500"
                                            href="{{editItemData?.websiteURL}}"
                                            target="_blank">{{editItemData?.companyName}}</a></span>
                                </div>
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">Product link: </span>
                                    <span><a class="text-decoration-none text-primary-500"
                                            href="{{editItemData?.supplierLink}}" target="_blank">Click here</a></span>
                                </div>
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">PID: </span>
                                    <span><a class="text-decoration-none text-primary-500"
                                            [routerLink]="['/apps/ecommerce/inventory',editItemData?.pk_productID]"
                                            target="_blank"> {{editItemData?.pk_productID}}</a></span>
                                </div>
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">SPID: </span>
                                    <span>{{editItemData?.fk_storeProductID}}</span>
                                </div>
                                <div class="col-md-6 col-12 mb-2">
                                    <span class="font-bold">Categories: </span>
                                    <span>{{editItemData?.subCategoryName}}</span>
                                </div>
                                <div class="col-md-6 col-12 mb-2" *ngIf="buildDetailColors">
                                    <span class="font-bold">Available colors: </span>
                                    <span>{{buildDetailColors}}</span>
                                </div>
                                <div class="col-12 mb-2 ">
                                    <span class="font-bold">Proof Comments: </span>
                                    <div [innerHtml]="buildDetailData[0]?.proofComments"
                                        class="max-h-60 overflow-y-auto">
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <mat-expansion-panel [expanded]="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="font-bold">
                                                Imprint details
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <!-- <div class="pt-5" *ngIf="imprintsDataSourceLoading">
                                            <ngx-skeleton-loader count="4" appearance="line" animation="pulse">
                                            </ngx-skeleton-loader>
                                        </div> -->
                                        <div class="pt-5">
                                            <ng-container *ngIf="imprintsDataSource.length > 0; else noRecords">
                                                <table mat-table [dataSource]="imprintsDataSource" class="w-full">
                                                    <div class="color-blue">
                                                        <!-- ID Column -->
                                                        <ng-container matColumnDef="number">
                                                            <th class="min-w-24 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                                mat-header-cell *matHeaderCellDef>
                                                                #
                                                            </th>
                                                            <td mat-cell *matCellDef="let element;let i=index">
                                                                {{ i+1 }}
                                                            </td>
                                                        </ng-container>

                                                        <!-- status Column -->
                                                        <ng-container matColumnDef="methodName">
                                                            <th class="min-w-24 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                                mat-header-cell *matHeaderCellDef>
                                                                Method Name/Location Name
                                                            </th>
                                                            <td mat-cell *matCellDef="let element">
                                                                {{ element.imprints }}
                                                            </td>
                                                        </ng-container>


                                                        <!-- pid Column -->
                                                        <ng-container matColumnDef="area">
                                                            <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                                                mat-header-cell *matHeaderCellDef>
                                                                Area
                                                            </th>
                                                            <td mat-cell *matCellDef="let element">{{ element.area }}
                                                            </td>
                                                        </ng-container>
                                                    </div>

                                                    <tr mat-header-row class="h-18 shadow bg-card"
                                                        *matHeaderRowDef="imprintsDisplayedColumns"></tr>
                                                    <tr mat-row class="hover:bg-gray-100 dark:hover:bg-hover"
                                                        style="cursor: pointer;"
                                                        *matRowDef="let row; columns: imprintsDisplayedColumns"></tr>
                                                </table>
                                            </ng-container>
                                            <ng-template #noRecords>
                                                <div class="font-semibold tracking-tight text-center">
                                                    <span>No record found</span>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="text-lg font-bold">
                                Current Proof:
                            </div>
                            <fuse-alert class="mb-3" *ngIf="!currentProof" [type]="'warning'" [appearance]="'outline'">
                                This product does not yet have a proof.
                            </fuse-alert>
                            <img *ngIf="currentProof" src="{{imgUrl}}" class="w-80">
                        </div>
                        <div class="col-12 col-md-6" *ngIf="currentProof">
                            <div class="flex justify-between">
                                <div class="text-lg font-bold">
                                    Approve/request changes
                                </div>
                                <button mat-button mat-flat-button color="primary"
                                    [disabled]="buildDetailData.deleteLoader" class="min-w-30"
                                    (click)="removeRapidBuild()">
                                    <span *ngIf="!buildDetailData.deleteLoader">Remove Entry</span>
                                    <mat-progress-spinner *ngIf="buildDetailData.deleteLoader" [diameter]="24"
                                        [mode]="'indeterminate'"></mat-progress-spinner>
                                </button>
                            </div>
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="imageStatusID">
                                <mat-radio-button [value]="4"><b>Approve</b>: Add image to product</mat-radio-button>
                                <br>
                                <mat-radio-button [value]="3"><b>Request change</b>: Enter details
                                    below</mat-radio-button>
                            </mat-radio-group>
                            <mat-form-field class="w-full">
                                <mat-label>Comments:</mat-label>
                                <textarea matInput [(ngModel)]="buildComments"></textarea>
                            </mat-form-field>
                            <button mat-button mat-flat-button color="primary" [disabled]="buildDetailData.submitLoader"
                                class="min-w-30" (click)="uploadMainImages()">
                                <span *ngIf="!buildDetailData.submitLoader">Submit</span>
                                <mat-progress-spinner *ngIf="buildDetailData.submitLoader" [diameter]="24"
                                    [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </fuse-card>
</div>