<div class="inset-0 min-w-50 overflow-hidden bg-card dark:bg-transparent">
    <div class="border p-3 mt-3 h-40 overflow-x-auto">
        <b>Current Locations</b>
        <mat-divider class="mb-2"></mat-divider>
        <div class="min-w-40 max-w-50 w-50 py-2 px-2" style="display: inline;">
            <div class="mobile-responsive-boxes">
                This user is not currently assigned to any locations.
            </div>
        </div>
    </div>
    <div class="border p-3 mt-3 h-40 overflow-x-auto">
        <b>Add User To New Location</b>
        <mat-divider class="mb-2"></mat-divider>
        <div class="min-w-40 max-w-50 w-50 py-2 px-2" style="display: inline;">
            <div class="mobile-responsive-boxes">
                There are no available store location attributes for this user.
            </div>
        </div>
    </div>
</div>
