<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <h2 class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                New Product Requests
            </h2>
            <div>
                <fuse-alert [appearance]="'soft'" [type]="'warning'">
                    Coming Soon
                </fuse-alert>
            </div>
        </div>

    </div>
</div>