<div class="inset-0 min-w-50 overflow-hidden bg-card dark:bg-transparent">
    <ngx-skeleton-loader
        count="7"
        appearance="line"
        animation="pulse"
        *ngIf="isLoading"
    >
    </ngx-skeleton-loader>
    <div class="border p-3 mt-3 h-95 overflow-x-auto" *ngIf="!isLoading">
        <b class="text-2xl font-semibold">User Credit Terms:</b>
        <mat-divider class="mb-2"></mat-divider>
        <div class="min-w-40 max-w-50 w-50 py-2 px-2" style="display: inline;">
            <div 
                class="mobile-responsive-boxes"
            >
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="selected_credit_term"
                >
                    <mat-radio-button
                        class="example-radio-button" 
                        *ngFor="let credit_term of credit_term_options;"
                        [value]="credit_term"
                    >
                        <b
                            [ngStyle]="credit_term.creditTermName === 'Expired' ?
                            {'color':'red'} : 
                            {'color': 'black'}"
                        >
                            {{credit_term.creditTermName}}
                        </b>
                        <p>{{credit_term.creditTermDesc && "(" + credit_term.creditTermDesc + ")"}}</p>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="flex items-center justify-between w-full border-t px-8 py-4">
            <div class="flex items-center">
                <button
                    mat-flat-button
                    [color]="'primary'"
                    (click)="updateCreditTerm()"
                >
                    Update
                </button>
                <!-- <div *ngIf="updateLoader === 'true'">
                    <mat-icon
                        class="text-green-500"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Credit Term updated</span>
                </div> -->
            </div>
        </div>
    </div>
</div>