<div class="row p-10 bg-light h-full overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <!-- Select a store -->
    <div class="text-2xl font-extrabold tracking-tight leading-none">
      Add a new store
    </div>
    <div class="row my-3">
      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Store Name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Store Code</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Business Name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Root URL</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Tag Line(150)</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Browser Title(180)</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <!-- <div class="col-lg-4 col-md-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Meta Description (300)</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Margin 4</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Margin 5</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Margin 6</mat-label>
          <input matInput />
          <span matSuffix>%</span>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Program Director (50)</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Tag Line (150)</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Handling Charge</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>SightMax Site ID</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>SightMax Queue ID</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Google Analytics ID (15)</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Google Tag (200)</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Bing Tag (200)</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Browser Title (180)</mat-label>
          <input matInput />
        </mat-form-field>
      </div> -->

      <!-- Description input fields -->

      <div class="col-12">
        <div style="font-weight: 500">Meta Description (300)</div>
        <quill-editor [modules]="quillModules"> </quill-editor>
      </div>

      <div class="col-12" style="margin-top: 90px">
        <div style="font-weight: 500">Meta Keywords (300)</div>
        <quill-editor [modules]="quillModules"> </quill-editor>
      </div>

      <div class="col-12" style="margin-top: 90px">
        <div style="font-weight: 500">Custom Registration Text</div>
        <quill-editor [modules]="quillModules"> </quill-editor>
      </div>

      <!-- Description input fields ends here -->

      <div class="col-lg-6 col-12" style="margin-top: 90px">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Handling Charge</mat-label>
          <input matInput value="0.0000" />
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-12" style="margin-top: 90px">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>SightMax Site ID</mat-label>
          <input matInput value="9" />
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>SightMax Queue ID</mat-label>
          <input matInput value="9" />
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Google Analytics ID (15)</mat-label>
          <input matInput value="UA-285311-69" />
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Google Tag</mat-label>
          <input matInput value="9" />
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Bing Tag</mat-label>
          <input matInput value="9" />
        </mat-form-field>
      </div>

      <div class="col-lg-6 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Report color (hex value) </mat-label>
          <input matInput value="#e00022" />
        </mat-form-field>
      </div>

      <!-- Select fields -->
      <!-- Protocol -->
      <div class="col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Protocol</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">HTTP</mat-option>
            <mat-option value="option2">HTTPS</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Include Shipping</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>SciQuest Enabled</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Cost Center Codes</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Registration Welcome Email</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Require Location</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Require Account Code</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Show product members in URL</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>PDF Invoices</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>PDF Shipping notifications</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Include store logo bank</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Include customer logo bank</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Declining program notifications</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Referral at Checkout</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Use expanded product search</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Use quote help/assistance</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Include exit survey</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Allow SmartArt quotes</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Include in internal sales report</mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-10 col-12"></div>
      <div class="col-lg-2 col-12">
        <!-- Upload button -->
        <button
          class="mt-5 w-full"
          mat-flat-button
          [matTooltip]="'Add Store'"
          [color]="'primary'"
        >
          <span class="px-2">Create Store</span>
        </button>
      </div>
    </div>
  </div>
</div>
