<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
</ngx-skeleton-loader>
<div class="row" *ngIf="!isLoading">
    <div class="p-6 w-full">
        <div class="text-3xl font-bold">
            User Info
        </div>
    </div>
    <div class="col-12 my-2">
        <fuse-card class="rounded-2xl bg-card flex flex-col lg:flex-row w-full">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-2xl font-bold">
                    Update User
                </div>
                <div [formGroup]="selectedCustomerForm">
                    <div class="border-b text-lg font-bold my-2">Account information</div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Username</mat-label>
                                <input matInput formControlName="userName" maxlength="50" placeholder="Username">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password" maxlength="50" placeholder="Password">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Active user</mat-label>
                                <mat-select matInput formControlName="blnActive">
                                    <mat-option [value]="true">Active</mat-option>
                                    <mat-option [value]="false">Disabled</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6" *ngIf="!selectedCustomerForm.get('blnActive').value">
                            <mat-form-field class="w-full">
                                <mat-label>Why are you disabling this customer</mat-label>
                                <textarea matInput formControlName="disabledReason" maxlength="500"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Master account</mat-label>
                                <mat-select matInput formControlName="blnAdmin">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>GovMVMT Contract #</mat-label>
                                <input matInput formControlName="GovMVMTContractNumber"
                                    placeholder="GovMVMTContractNumber" maxlength="100">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="border-b text-lg font-bold my-2">General information</div>
                    <div class="row">
                        <div class="col-12 flex justify-between">
                            <div>
                                <p class="font-semibold mr-2">Date Registered:</p>
                                <p>{{selectedCustomer?.dataRegistered}}</p>
                            </div>
                            <div>
                                <p class="font-semibold mr-2">IP Address:</p>
                                <p>{{selectedCustomer?.registerIP || not_available}}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput [formControlName]="'new_email'" maxlength="50" placeholder="Email">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-6">
                            <mat-form-field class="w-full">
                                <mat-label>First Name</mat-label>
                                <input matInput [formControlName]="'firstName'" maxlength="30" placeholder="First Name">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-6">
                            <mat-form-field class="w-full">
                                <mat-label>Last Name</mat-label>
                                <input matInput [formControlName]="'lastName'" maxlength="50" placeholder="Last Name">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-6">
                            <mat-form-field class="w-full">
                                <mat-label>Company Name</mat-label>
                                <input matInput [formControlName]="'companyName'" maxlength="100" placeholder="Company">
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4 col-6">
                            <mat-form-field class="w-full">
                                <mat-label>Title</mat-label>
                                <input matInput [formControlName]="'title'" maxlength="50" placeholder="Title">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-6">
                            <mat-form-field class="w-full">
                                <mat-label>Fax</mat-label>
                                <input matInput [formControlName]="'fax'" maxlength="50" placeholder="Fax">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-6">
                            <mat-form-field class="w-full">
                                <mat-label>Website</mat-label>
                                <input matInput maxlength="50" [formControlName]="'website'" placeholder="Website">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-6">
                            <mat-form-field class="w-full">
                                <mat-label>Department</mat-label>
                                <input matInput [formControlName]="'department'" maxlength="50"
                                    placeholder="Department">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-6">
                            <mat-form-field class="w-full">
                                <mat-label>Account/charge code</mat-label>
                                <input matInput [formControlName]="'accountChargeCode'"
                                    placeholder="Account/charge code" maxlength="150">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-6" *ngIf="selectedCustomer.storeID == 178">
                            <mat-form-field class="w-full">
                                <mat-label>Campus affiliation</mat-label>
                                <input matInput [formControlName]="'rutgersStudentType'" maxlength="500"
                                    placeholder="Campus affiliation">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-6" *ngIf="selectedCustomer.storeID == 178">
                            <mat-form-field class="w-full">
                                <mat-label>Rutgers workflow override</mat-label>
                                <mat-select matInput [formControlName]="'rutgersWorkflowOverride'">
                                    <mat-option [value]="0">Follow normal workflow</mat-option>
                                    <mat-option value="student">Student</mat-option>
                                    <mat-option value="faculty">Faculty</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="border-b text-lg font-bold my-2">Billing Address</div>
                            <mat-form-field class="w-full">
                                <mat-label>First name</mat-label>
                                <input matInput [formControlName]="'firstName'" maxlength="30" readonly
                                    placeholder="First name">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Last name</mat-label>
                                <input matInput [formControlName]="'lastName'" maxlength="50" readonly
                                    placeholder="Last name">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Company name</mat-label>
                                <input matInput [formControlName]="'companyName'" maxlength="100" readonly
                                    placeholder="Company name">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput [formControlName]="'email'" maxlength="50" readonly placeholder="Email">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Address 1</mat-label>
                                <input matInput formControlName="shippingAddress1" maxlength="100"
                                    placeholder="Address 1">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Address 2</mat-label>
                                <input matInput formControlName="shippingAddress2" maxlength="100"
                                    placeholder="Address 2">
                            </mat-form-field>
                            <div class="space-x-2">
                                <mat-form-field class="w-1/3">
                                    <mat-label>Student org code</mat-label>
                                    <input matInput formControlName="billingStudentOrgCode"
                                        placeholder="Student org code" maxlength="100">
                                </mat-form-field>
                                <mat-form-field class="w-1/3">
                                    <mat-label>Student org name</mat-label>
                                    <input matInput formControlName="billingStudentOrgName"
                                        placeholder="Student org name" maxlength="100">
                                </mat-form-field>
                            </div>
                            <mat-form-field class="w-full">
                                <mat-label>City</mat-label>
                                <input matInput formControlName="shippingCity" placeholder="City" maxlength="50">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>State</mat-label>
                                <input matInput formControlName="shippingState" placeholder="State" maxlength="50">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Zip</mat-label>
                                <input matInput formControlName="shippingZipCode" placeholder="Zip" maxlength="5">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Zip Ext</mat-label>
                                <input matInput formControlName="shippingZipCodeExt" placeholder="Zip Ext"
                                    maxlength="4">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Phone</mat-label>
                                <input matInput formControlName="shippingDayPhone" placeholder="Phone" maxlength="50">
                            </mat-form-field>
                        </div>
                        <!-- Shipping -->
                        <div class="col-12 col-md-6">
                            <div class="border-b text-lg font-bold my-2">Shipping Address</div>
                            <mat-form-field class="w-full">
                                <mat-label>First name</mat-label>
                                <input matInput formControlName="shippingFirstName" maxlength="30"
                                    placeholder="First name">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Last name</mat-label>
                                <input matInput formControlName="shippingLastName" maxlength="50"
                                    placeholder="Last name">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Company name</mat-label>
                                <input matInput formControlName="shippingCompanyName" maxlength="100"
                                    placeholder="Company name">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="shippingEmail" placeholder="Email" maxlength="50">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Address 1</mat-label>
                                <input matInput formControlName="shippingAddress1" maxlength="100"
                                    placeholder="Address 1">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Address 2</mat-label>
                                <input matInput formControlName="shippingAddress2" maxlength="100"
                                    placeholder="Address 2">
                            </mat-form-field>
                            <div class="space-x-2">
                                <mat-form-field class="w-1/3">
                                    <mat-label>Student org code</mat-label>
                                    <input matInput formControlName="shippingStudentOrgCode"
                                        placeholder="Student org code" maxlength="100">
                                </mat-form-field>
                                <mat-form-field class="w-1/3">
                                    <mat-label>Student org name</mat-label>
                                    <input matInput formControlName="shippingStudentOrgName"
                                        placeholder="Student org name" maxlength="100">
                                </mat-form-field>
                            </div>
                            <mat-form-field class="w-full">
                                <mat-label>City</mat-label>
                                <input matInput formControlName="shippingCity" placeholder="City" maxlength="50">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>State</mat-label>
                                <input matInput formControlName="shippingState" placeholder="State" maxlength="50">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Zip</mat-label>
                                <input matInput formControlName="shippingZipCode" placeholder="Zip" maxlength="5">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Zip Ext</mat-label>
                                <input matInput formControlName="shippingZipCodeExt" placeholder="Zip Ext"
                                    maxlength="4">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Phone</mat-label>
                                <input matInput formControlName="shippingDayPhone" placeholder="Phone" maxlength="50">
                            </mat-form-field>
                        </div>
                        <!-- Emails Comma Seperated -->
                        <div class="col-12">
                            <mat-form-field class="example-chip-list w-full" appearance="fill">
                                <mat-label>Additional correspondence emails: (Comma-delimited list of additional emails.
                                    These emails will be included on all correspondence sent from our system to the
                                    customer.
                                    )</mat-label>
                                <mat-chip-list class="pt-1" #chipList1>
                                    <mat-chip [removable]="true" [selectable]="true" *ngFor="let email of emails"
                                        (removed)="remove(email)">
                                        {{email}}
                                        <mat-icon class="icon-size-5" matChipRemove
                                            [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    </mat-chip>
                                    <input [matChipInputFor]="chipList1" placeholder="New Email"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-label class="font-bold">Designer Notes:</mat-label>
                            <ckeditor [formControlName]="'designerNotes'" [config]="editorConfig"></ckeditor>
                        </div>
                    </div>

                </div>
                <!-- User Info -->
                <div class="gap-y-4 mt-6">
                    <div class="row mt-3 mr-3 float-right">
                        <div class="flex items-center mr-4" *ngIf="flashMessage">
                            <ng-container *ngIf="flashMessage === 'success'">
                                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'">
                                </mat-icon>
                                <span class="ml-2">Customer updated</span>
                            </ng-container>
                            <ng-container *ngIf="flashMessage === 'error'">
                                <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                <span class="ml-2">An error occurred, try again!</span>
                            </ng-container>
                        </div>
                        <button class="min-w-40" mat-stroked-button [matTooltip]="'Update User Info'"
                            (click)="updateCustomerProduct()" [disabled]="updateUserLoader">
                            <mat-progress-spinner *ngIf="updateUserLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                            <mat-icon *ngIf="!updateUserLoader" svgIcon="mode_edit_outline"></mat-icon>
                            <span *ngIf="!updateUserLoader" class="ml-1 mr-1">Update</span>
                        </button>
                    </div>
                </div>
            </div>
        </fuse-card>
    </div>
</div>