<div class="row py-2 overflow-auto w-full"
    *ngIf="!_storeManagerService.isEditMainCategory && !_storeManagerService.isEditSubCategory">
    <div class="col-12">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
            (change)="calledScreen(group.value)">
            <mat-button-toggle *ngFor="let buttonValue of screens" value="{{buttonValue}}">
                {{ buttonValue }}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>
<ngx-skeleton-loader count="8" appearance="line" animation="pulse"
    *ngIf="dataSourceLoading && !isEditMainCategory && !_storeManagerService.isEditSubCategory">
</ngx-skeleton-loader>
<div *ngIf="!dataSourceLoading" class="w-full">
    <div *ngIf="!isLoading">
        <fuse-card class="rounded-2xl shadow bg-card flex pb-10"
            *ngIf="!_storeManagerService.isEditMainCategory && !_storeManagerService.isEditSubCategory">
            <div class="row w-full" style="width: -webkit-fill-available;" *ngIf="mainScreen=='Categories'">
                <div class="col-12">
                    <div class="p-6 sm:p-8 lg:p-10 w-full">
                        <div class="text-2xl font-bold">
                            Store Categories
                        </div>
                    </div>
                </div>

                <div class="col-12 px-10 font-semibold flex justify-end">
                    {{dataSourceTotalRecord}} Records Found
                </div>

                <div class="col-12 h-full">
                    <ng-container *ngIf="dataSource.length > 0; else noRecords">
                        <table mat-table [dataSource]="dataSource" class="w-full" [multiTemplateDataRows]="true">
                            <div class="color-blue">
                                <!-- categoryName Column -->
                                <ng-container matColumnDef="categoryName">
                                    <th class="min-w-15 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                        *matHeaderCellDef>
                                        CATEGORY
                                    </th>
                                    <td mat-cell *matCellDef="let element" (click)="toggleEditMainCategory(element)"> {{
                                        element.RowNumber }}. {{
                                        element.categoryName }}</td>
                                </ng-container>

                                <!-- isRecommended Column -->
                                <ng-container matColumnDef="isRecommended">
                                    <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
                                        mat-header-cell *matHeaderCellDef>
                                        RECOMMENDED
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center"
                                        (click)="toggleEditMainCategory(element)">
                                        <mat-icon class="text-green-400 icon-size-5" *ngIf="element.recommended"
                                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        <mat-icon class="text-gray-400 icon-size-5" *ngIf="!element.recommended"
                                            [svgIcon]="'heroicons_solid:x'">
                                        </mat-icon>
                                    </td>
                                </ng-container>

                                <!-- isBestSeller Column -->
                                <ng-container matColumnDef="isBestSeller">
                                    <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
                                        mat-header-cell *matHeaderCellDef>
                                        BEST SELLER
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center"
                                        (click)="toggleEditMainCategory(element)">
                                        <mat-icon class="text-green-400 icon-size-5" *ngIf="element.bestSeller"
                                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        <mat-icon class="text-gray-400 icon-size-5" *ngIf="!element.bestSeller"
                                            [svgIcon]="'heroicons_solid:x'">
                                        </mat-icon>
                                    </td>
                                </ng-container>

                                <!-- isTopRated Column -->
                                <ng-container matColumnDef="isTopRated">
                                    <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center"
                                        mat-header-cell *matHeaderCellDef>
                                        TOP RATED
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center"
                                        (click)="toggleEditMainCategory(element)">
                                        <mat-icon class="text-green-400 icon-size-5" *ngIf="element.topRated"
                                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        <mat-icon class="text-gray-400 icon-size-5" *ngIf="!element.topRated"
                                            [svgIcon]="'heroicons_solid:x'">
                                        </mat-icon>
                                    </td>
                                </ng-container>

                                <!-- subCategories Column -->
                                <ng-container matColumnDef="subCategories">
                                    <th class="min-w-40 text-center bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                        mat-header-cell *matHeaderCellDef>
                                        SUB CATEGORIES
                                    </th>
                                    <td class="text-center" mat-cell *matCellDef="let element">
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                            (click)="openedAccordion(element)">
                                            <mat-icon class="icon-size-5"
                                                [svgIcon]="selectedCategory?.pk_categoryID == element?.pk_categoryID ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                            </mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <!-- Sub categories row -->
                                <ng-container matColumnDef="SubCategoriesList">
                                    <td class="p-0 border-b-0" mat-cell *matCellDef="let element"
                                        [attr.colspan]="displayedColumns.length">
                                        <div class="shadow-lg overflow-hidden"
                                            [@expandCollapse]="selectedCategory?.pk_categoryID == element?.pk_categoryID ? 'expanded' : 'collapsed'">
                                            <div class="row bg-hover p-5 font-semibold" *ngIf="!subCategoriesLoader">
                                                <div class="col-6">
                                                    Subcategories
                                                </div>
                                                <div class="col-3 text-center">
                                                    Products
                                                </div>
                                                <div class="col-3 text-center">
                                                    Active
                                                </div>
                                            </div>

                                            <div class="p-5" *ngIf="!subCategoriesLoader && subCategories.length">
                                                <div class="row pb-1 border-b-1"
                                                    *ngFor="let item of subCategories; let last = last">
                                                    <div class="col-6 cursor-pointer"
                                                        (click)="toggleEditSubCategory(item)">
                                                        {{item.subCategoryName}}
                                                    </div>
                                                    <div class="col-3 text-center">
                                                        {{item.productCount}}
                                                    </div>
                                                    <div class="col-3 text-center">
                                                        {{item.activeProductCount}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row bg-hover p-5 font-semibold"
                                                *ngIf="!subCategoriesLoader && subCategories.length">
                                                <div class="col-6">
                                                    Total
                                                </div>
                                                <div class="col-3 text-center">
                                                    {{productsCount}}
                                                </div>
                                                <div class="col-3 text-center">
                                                    {{activeProductsSum}}
                                                </div>
                                            </div>

                                            <div class="p-5 border-b"
                                                *ngIf="!subCategoriesLoader && !subCategories.length">
                                                <div class="row">
                                                    <div class="col-12">
                                                        No Subcategories found
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="m-3" *ngIf="subCategoriesLoader">
                                                <ngx-skeleton-loader count="3" appearance="line" animation="pulse"
                                                    *ngIf="subCategoriesLoader">
                                                </ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                            </div>

                            <tr class="shadow h-16" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedColumns"></tr>
                            <tr class="h-0 border-b-1" mat-row *matRowDef="let row; columns: ['SubCategoriesList']">
                            </tr>

                        </table>
                    </ng-container>
                    <ng-template #noRecords>
                        <div class="font-semibold tracking-tight text-center">
                            <p>No record found</p>
                            <p class="text-md cursor-pointer font-medium text-primary-500 hover:underline"
                                (click)="resetSearch()">
                                Reset Search
                            </p>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="row w-full" *ngIf="mainScreen == 'Online Status'">
                <div class="col-12">
                    <div class="p-6 sm:p-8 lg:p-10 w-full">
                        <div class="text-2xl font-bold">
                            Online Status
                        </div>
                    </div>
                </div>
                <div class="col-4 px-10" *ngFor="let item of dataSource">
                    <mat-checkbox class="example-margin" [(ngModel)]="item.blnActive">
                        {{item.categoryName}}
                    </mat-checkbox>
                </div>
                <div class="col-12 px-10 mt-2 flex justify-end">
                    <button class="min-w-40" mat-stroked-button [matTooltip]="'Update'" (click)="updateOnlineStatus()"
                        [disabled]="updateStatusLoader">
                        <mat-progress-spinner *ngIf="updateStatusLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <mat-icon *ngIf="!updateStatusLoader" svgIcon="mode_edit_outline"></mat-icon>
                        <span class="px-2">Update</span>
                    </button>
                </div>
            </div>
            <div class="row w-full" *ngIf="mainScreen == 'Display Order'">
                <div class="col-12">
                    <div class="p-6 sm:p-8 lg:p-10 w-full">
                        <div class="text-2xl font-bold">
                            Display Order
                        </div>
                    </div>
                </div>
                <div class="col-6 px-10" *ngFor="let data of dataSource">
                    <mat-form-field class="w-full">
                        <mat-label>
                            {{data.categoryName}}
                        </mat-label>
                        <mat-select [(ngModel)]="data.listOrder">
                            <mat-option *ngFor="let item of dataSource;let i = index" [value]="i+1">{{i+1}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 px-10 flex justify-end">
                    <button class="min-w-40" mat-stroked-button [matTooltip]="'Update'"
                        (click)="updateListOrderStatus()" [disabled]="updateOrderLoader">
                        <mat-progress-spinner *ngIf="updateOrderLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <mat-icon *ngIf="!updateOrderLoader" svgIcon="mode_edit_outline"></mat-icon>
                        <span class="px-2">Update</span>
                    </button>
                </div>
            </div>
            <div class="row w-full" *ngIf="mainScreen == 'Add New Category'">
                <div class="col-12">
                    <div class="p-6 sm:p-8 lg:p-10 w-full">
                        <div class="text-2xl font-bold">
                            Add New Category
                        </div>
                    </div>
                </div>
                <div class="col-12 px-10">
                    <form [formGroup]="addCategoryForm">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Category Name (25) *</mat-label>
                                    <input type="text" matInput formControlName="categoryName">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Permalink (300) *</mat-label>
                                    <input type="text" matInput formControlName="permalink">
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Description (1000) *</mat-label>
                                    <textarea rows="5" matInput formControlName="categoryDesc"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Meta Description (300) *</mat-label>
                                    <textarea rows="5" matInput formControlName="metaDesc"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Browser title (180)</mat-label>
                                    <input type="text" matInput formControlName="browserTitle">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Allow in scrollers</mat-label>
                                    <mat-select matInput formControlName="blnScroller">
                                        <mat-option [value]="true">Yes</mat-option>
                                        <mat-option [value]="false">No</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 px-10 flex justify-end">
                    <button class="min-w-40" mat-stroked-button [matTooltip]="'Add Category'" (click)="addNewCategory()"
                        [disabled]="addCategoryLoader">
                        <mat-progress-spinner *ngIf="addCategoryLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <mat-icon *ngIf="!addCategoryLoader" svgIcon="mat_outline:add"></mat-icon>
                        <span class="px-2">Add Category</span>
                    </button>
                </div>
            </div>
        </fuse-card>
        <div class="w-full" *ngIf="_storeManagerService.isEditMainCategory">
            <app-product-main-categories [mainCatData]="mainCatData"></app-product-main-categories>
        </div>
        <div class="w-full" *ngIf="_storeManagerService.isEditSubCategory">
            <app-product-sub-categories [subCatData]="subCatData" [subCategories]="subCategories"
                [dataSource]="dataSource"></app-product-sub-categories>
        </div>
    </div>
</div>