<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <div class="flex justify-between">
                <h2 class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Select which categories you would like to export
                </h2>
                <button mat-stroked-button (click)="goBack()">Go Back</button>
            </div>
            <p class="text-secondary mb-2" *ngIf="paramsData.type == 'products'">The export will only include product
                data from the categories you select.<br>
                The export will only include active, online products.
            </p>
            <div *ngIf="isLoading">
                <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading"
                    [theme]="{'background-color': '#dedede'}">
                </ngx-skeleton-loader>
            </div>
            <div class="row" *ngIf="!isLoading">
                <div class="col-12 my-2">
                    <mat-checkbox [(ngModel)]="ngSelectAll" (change)="unSelectAll($event.checked)">Un/Select
                        all</mat-checkbox>
                </div>
                <div class="col-12 col-md-6 mb-2" *ngFor="let item of allCategories">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox [(ngModel)]="item.checked"
                                    (change)="changeMainCheckbox(item,$event.checked)">{{item.categoryName}}</mat-checkbox>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <mat-checkbox class="col-6 text-sm" *ngFor="let child of item.subCats"
                                [(ngModel)]="child.isChecked"
                                (change)="changeCheckbox(child,$event.checked)">{{child.subCategoryName}}</mat-checkbox>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="flex col-12 justify-center my-2" *ngIf="totalCategories > allCategories.length">
                    <span class="text-gray-500 hover:text-gray-900 cursor-pointer" *ngIf="!isCategoryLoader"
                        (click)="getNextCategoryData()"> Load More </span>
                    <mat-progress-spinner *ngIf="isCategoryLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </div>
                <div class="col-12 my-2">
                    <button [disabled]="isExportLoader" (click)="getCategoriesEcportData()" mat-flat-button
                        class="min-w-40" [color]="'primary'">
                        <span *ngIf="!isExportLoader">Export</span>
                        <mat-progress-spinner *ngIf="isExportLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>