<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto bg-light dark:bg-transparent">
    <!-- Header -->
    <div class="bg-white relative bg-light  sm:items-center sm:justify-between py-2 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-1" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <!-- <div class="flex flex-wrap items-center font-medium">
            <div>
                <a class="whitespace-nowrap text-primary-500">System</a>
            </div>
            <div class="flex items-center ml-1 whitespace-nowrap">
                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                <a class="ml-1 text-primary-500">{{selectedScreeen}}</a>
            </div>
        </div> -->
        <!-- Title -->
        <div class="mt-2">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                System Details
            </h2>
        </div>

    </div>
    <mat-drawer-container class="sub-nav-component bg-light" autosize>
        <mat-drawer #drawer class="sub-sidenav bg-light" [mode]="drawerMode" [opened]="drawerOpened">
            <div *ngFor="let route of routes;let i = index">
                <mat-expansion-panel class="bg-light" #panel [class.mat-elevation-z0]="true" dense
                    *ngIf="route.children.length == 0" hideToggle (click)="clicked(route.title)"
                    (opened)="doSomething()">
                    <mat-expansion-panel-header
                        [style.background-color]="route.title === selectedScreeen ? '#d4d7dd' : 'transparent'"
                        [ngClass]="route.title === selectedScreeen ? 'opacity-100' : 'opacity-80'">
                        <mat-icon svgIcon="{{route.icon}}" class="icon-size-5 text-primary"></mat-icon>
                        <span style="font-size: 13px; font-weight: bold; margin-left: 10px;"> {{route.title}}
                        </span>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel class="bg-light" [expanded]="true" [class.mat-elevation-z0]="true" dense
                    *ngIf="route.children.length > 0">
                    <mat-expansion-panel-header class="bg-light"
                        [ngClass]="route.title === selectedScreeen ? 'opacity-100' : 'opacity-80'">
                        <mat-icon svgIcon="{{route.icon}}" class="icon-size-5 text-primary"></mat-icon>
                        <span style="font-size: 13px; font-weight: bold; margin-left: 10px;"> {{route.title}}
                        </span>
                    </mat-expansion-panel-header>
                    <mat-nav-list dense *ngFor="let child of route.children" class="bg-light">
                        <button style="padding: 15px;"
                            [style.background-color]="child.title === selectedScreeen ? '#d4d7dd' : 'transparent'"
                            [ngClass]="child.title === selectedScreeen ? 'opacity-100' : 'opacity-80'" mat-button
                            class="w-full my-1 mr-2 justify-content-start" (click)="clicked(child.title)">
                            <mat-icon svgIcon="{{child.icon}}" class="icon-size-5 text-primary"></mat-icon>
                            <span style="font-size: 13px; font-weight: bold; margin-left: 10px;"> {{child.title}}
                            </span>
                        </button>
                    </mat-nav-list>
                </mat-expansion-panel>
            </div>
        </mat-drawer>

        <div class="sub-sidenav-content bg-light p-2" #topScrollAnchor>
            <mat-icon class="subnav-menu-icon ml-1" svgIcon="heroicons_outline:menu" (click)="toggleDrawer()">
            </mat-icon>
            <div class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="w-full">
                    <div class="p-4 sm:p-4 lg:p-4">
                        <div class="text-2xl font-bold">
                            {{selectedScreeen}}
                        </div>
                    </div>
                    <ng-template [ngIf]="selectedScreeen == 'Product Colors'">
                        <app-product-colors [(isLoading)]="isLoading">
                        </app-product-colors>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'Product Sizes'">
                        <app-product-system-sizes [(isLoading)]="isLoading">
                        </app-product-system-sizes>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'Pack/Accessories'">
                        <app-product-pack-accessories [(isLoading)]="isLoading">
                        </app-product-pack-accessories>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'Imprint Colors'">
                        <app-imprint-colors [(isLoading)]="isLoading">
                        </app-imprint-colors>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'Imprint Methods'">
                        <app-imprint-methods [(isLoading)]="isLoading">
                        </app-imprint-methods>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'Imprint Locations'">
                        <app-imprint-locations [(isLoading)]="isLoading">
                        </app-imprint-locations>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'Promo Codes'">
                        <app-promo-codes [(isLoading)]="isLoading">
                        </app-promo-codes>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'Default Blurbs'">
                        <app-default-blurbs [(isLoading)]="isLoading">
                        </app-default-blurbs>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'OH County Sales Tax'">
                        <app-country-sales [(isLoading)]="isLoading">
                        </app-country-sales>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'Active Stores'">
                        <app-active-stores [(isLoading)]="isLoading">
                        </app-active-stores>
                    </ng-template>
                    <ng-template [ngIf]="selectedScreeen == 'Default Support Team'">
                        <app-support-team [(isLoading)]="isLoading">
                        </app-support-team>
                    </ng-template>
                </div>
            </div>
        </div>

    </mat-drawer-container>
</div>