<div class="bg-card p-6 dark:bg-transparent w-full">
  <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
  </ngx-skeleton-loader>
  <div *ngIf="!isLoading">
    <div class="mt-2">
      <div>
        <b class="text-2xl">Art approval contact settings</b>
        <p>Define any additional artwork approval contacts in the fields below. Approval contacts defined here will run
          specific to this user, in additional to any approval contacts defined at the store level. These approval
          contacts below only apply if the store approval contacts are set to include the customer-level approval
          contacts.</p>
        <div class="my-3">
          <mat-form-field class="w-full">
            <mat-select matInput [(ngModel)]="selectedStore" [disabled]="isGetContactsLoader"
              (selectionChange)="getApprovalContacts()">
              <mat-option *ngFor="let store of allStores" [value]="store">{{store.storeName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="overflow-x-auto">
          <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isGetContactsLoader">
          </ngx-skeleton-loader>
          <div class="alert alert-warning" *ngIf="!isGetContactsLoader && approvalContacts.length == 0">
            There are currently no contacts defined for this customer on this store. Add them below.
          </div>
          <table class="table table-striped" *ngIf="!isGetContactsLoader && selectedStore.pk_storeID != 0">
            <thead>
              <tr>
                <th>Order</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email address</th>
                <th>
                  <div class="flex">
                    <span>S.O. Code</span>
                    <mat-icon class="icon-size-4 ml-1" matTooltip="Student organization code"
                      [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                  </div>
                </th>
                <th>
                  <div class="flex">
                    <span>S.O. Name</span>
                    <mat-icon class="icon-size-4 ml-1" matTooltip="Student organization name"
                      [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                  </div>
                </th>
                <th>
                  <div class="flex">
                    <span>E</span>
                    <mat-icon class="icon-size-4 ml-1"
                      matTooltip="Detemrines whether to include any additional emails defined below when proofs are sent to this contact."
                      [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                  </div>
                </th>
                <th>
                  <div class="flex">
                    <span>R</span>
                    <mat-icon class="icon-size-4 ml-1"
                      matTooltip="Determines whether this approval contact as ability to designate royalties during approval."
                      [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                  </div>
                </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of approvalContacts">
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="item.listOrder" type="number">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="item.firstName" placeholder="First Name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="item.lastName" placeholder="Last Name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="item.email" placeholder="Email">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="item.studentOrgCode" placeholder="Student organization code">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="item.studentOrgName" placeholder="Student organization name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="item.blnIncludeAdditionalEmails"></mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="item.blnRoyalties"></mat-checkbox>
                </td>
                <td>
                  <button mat-flat-button color="primary" [disabled]="item.isUpdateLoader" class="rounded-md"
                    (click)="updateApprovalContact(item)">
                    <span *ngIf="!item.isUpdateLoader">Update</span>
                    <mat-progress-spinner *ngIf="item.isUpdateLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                  </button>
                  <button mat-stroked-button [disabled]="item.isRemoveLoader" class="rounded-md ml-1"
                    (click)="removaApprovalContact(item)">
                    <span *ngIf="!item.isRemoveLoader">Remove</span>
                    <mat-progress-spinner *ngIf="item.isRemoveLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                  </button>
                </td>
              </tr>
              <!-- Add new -->
              <tr>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="addForm.listOrder" type="number">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="addForm.firstName" placeholder="First Name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="addForm.lastName" placeholder="Last Name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="addForm.email" placeholder="Email">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="addForm.studentOrgCode" placeholder="Student organization code">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <input matInput [(ngModel)]="addForm.studentOrgName" placeholder="Student organization name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="addForm.blnEmails"></mat-checkbox>
                </td>
                <td>
                  <mat-checkbox [(ngModel)]="addForm.blnRoyalties"></mat-checkbox>
                </td>
                <td>
                  <button mat-flat-button color="primary" [disabled]="addForm.isAddLoader" class="rounded-md"
                    (click)="addNewContact()">
                    <span *ngIf="!addForm.isAddLoader">Add</span>
                    <mat-progress-spinner *ngIf="addForm.isAddLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>