<div class="w-full">
    <div class="w-full">
        <div class="px-5" *ngIf="isLoading">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
            </ngx-skeleton-loader>
        </div>
        <div *ngIf="!isLoading" class="p-6">
            <div class="row">
                <div class="col-12">
                    <fuse-alert class="mb-4" [appearance]="'soft'" [type]="'warning'" [showIcon]="false">
                        .JPG, .GIF, .PNG file types only!
                    </fuse-alert>
                    <input type="file" accept=".jpg,.gif,.png" id="image">
                </div>
                <div class="text-right col-12">
                    <button [disabled]="isAddMethodLoader" class="min-w-40" mat-stroked-button
                        [matTooltip]="'Upload Image'">
                        <mat-icon svgIcon="mat_outline:file_upload" *ngIf="!isAddMethodLoader"></mat-icon>
                        <span class="ml-2" *ngIf="!isAddMethodLoader"> Upload </span>
                        <mat-progress-spinner *ngIf="isAddMethodLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <div class="text-secondary font-semibold p-5 text-center">
                        There are currently no uploaded images in the system.
                    </div>
                </div>
            </div>
        </div>
    </div>