<div class="row">
  <div class="col-12 p-12 pt-0 bg-card rounded-2xl">
    <form [formGroup]="sendEmailForm">
      <div class="row mb-3">
        <div class="col-12">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Subject</mat-label>
            <input matInput [formControlName]="'subject'" />
            <mat-error>Please add subject</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="example-chip-list w-full" appearance="fill">
            <mat-label>Emails (Comma-separated)</mat-label>
            <mat-chip-list class="pt-1" #chipList1>
              <mat-chip [removable]="true" [selectable]="true" *ngFor="let email of emails" (removed)="remove(email)">
                {{email}}
                <mat-icon class="icon-size-5" matChipRemove [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
              </mat-chip>
              <input #chipList [matChipInputFor]="chipList1" placeholder="Add Emails"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
        <div class="col-12">
          <div style="font-weight: 500">Message</div>
          <ckeditor [formControlName]="'message'" [config]="editorConfig"></ckeditor>

          <!-- <quill-editor [modules]="quillModules" [formControlName]="'message'"> </quill-editor> -->
          <!-- <mat-error>Please add message</mat-error> -->
        </div>
        <div class="w-full flex justify-end gap-x-2 mt-3">
            <button (click)="preview()" class="ml-4 min-w-40" mat-flat-button [color]="'primary'"
            [matTooltip]="'Send an Email'">
            <span class="ml-2 mr-1">Preview Email</span>
          </button>
          <button (click)="sendEmail()" [disabled]="isEmailLoader" class="ml-4 min-w-40" mat-flat-button
            [color]="'primary'" [matTooltip]="'Send an Email'">
            <span class="ml-2 mr-1" *ngIf="!isEmailLoader">Send Email</span>
            <mat-progress-spinner *ngIf="isEmailLoader" [diameter]="24" [mode]="'indeterminate'">
            </mat-progress-spinner>
          </button>
        </div>

        <div *ngIf="previewEmail" class="my-4 w-full mx-4 mr-10">
          <div><span class="font-bold">Subject : </span> {{ sendEmailForm.get('subject').value }}</div>
       
            <div [innerHTML]="sendEmailForm.get('message').value"></div>
        </div>
      </div>
    </form>
  </div>
</div>