<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
</ngx-skeleton-loader>
<div class="row" *ngIf="!isLoading">
    <div class="col-12 my-2">
        <fuse-card class="rounded-2xl bg-card flex flex-col lg:flex-row w-full">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-2xl font-bold">
                    Update History
                </div>
                <!-- Update history -->
                <div class="gap-y-4">
                    <div [innerHTML]="htmlHistory" class="text-sm"></div>
                </div>
            </div>
        </fuse-card>
    </div>
</div>