<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <h2 class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Export Ordermanage Data
            </h2>
            <p class="text-secondary mb-2">This tool lets you export a list of orders for a certain orderManage status.
                The information exported is the same that appears on the dashboard.
            </p>
            <mat-form-field class="min-w-100 mr-2">
                <mat-select [(ngModel)]="ngstatusID" matInput [disabled]="isExcelLoader">
                    <mat-option *ngFor="let status of allStatus"
                        [value]="status.pk_statusID">{{status.statusName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-flat-button class="min-w-40" [disabled]="isExcelLoader" [color]="'primary'"
                    (click)="getExportData()">
                    <span *ngIf="!isExcelLoader">Export</span>
                    <mat-progress-spinner *ngIf="isExcelLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div>