<div class="inset-0 min-w-50 overflow-hidden mt-5 bg-card rounded-2xl dark:bg-transparent w-full p-6">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div *ngIf="!isLoading">
        <div class="flex-auto">
            <b class="text-2xl">Registration Emails</b>
        </div>
        <div class="mt-3">
            <b class="text-1xl">This will resend the registration email to the customer.</b>
            <p class="text-1xl">Select which store you want to send the registration emails from:</p>
            <p class="text-info"><i class="fa fa-info-circle mr-3"></i>Below are all the stores this user is registered
                on</p>
            <div class="w-full">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <div class="flex items-center mt-3">
                                <div class="font-medium text-secondary">Select Store</div>
                                <div class="flex-auto ml-2 border-b-2"></div>
                            </div>
                            <!-- Stores -->
                            <div class="mt-2">
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedStore">
                                    <mat-radio-button class="mr-10" *ngFor="let store of allStores"
                                        [value]="store">{{store.storeName}}</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-12 mt-2" *ngIf="selectedStore">
                            <fuse-alert [appearance]="'soft'" [dismissed]="false" [name]="'alertBox1'"
                                [showIcon]="false" [type]="'success'">
                                <span>Email will be sent from service@<span
                                        class="text-lowercase">{{selectedStore.storeName}}</span>.</span>
                            </fuse-alert>
                        </div>
                        <!-- <div class="col-12">
                            <mat-form-field class="w-full">
                                <mat-label>Select Store</mat-label>
                                <input matInput placeholder="Search Stores" matTooltip="Search Stores by name"
                                    [matAutocomplete]="auto" [formControl]="searchStoreCtrl">
                                <mat-autocomplete class="w-full" #auto="matAutocomplete"
                                    (optionSelected)="onSelected($event)" [displayWith]="displayWith">
                                    <mat-option *ngIf="isSearchingStore" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isSearchingStore">
                                        <mat-option *ngFor="let item of allStores" [value]="item">
                                            <span>{{item.storeName}}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div> -->
                    </div>
                    <div>
                        <div class="flex items-center mt-2 justify-content-end">
                            <div class="flex items-center mr-4" *ngIf="flashMessage">
                                <ng-container *ngIf="flashMessage === 'success'">
                                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2">Email sent</span>
                                </ng-container>
                                <ng-container *ngIf="flashMessage === 'error'">
                                    <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>

                            <!-- Add Reminder button -->
                            <button mat-flat-button [color]="'primary'" [disabled]="isSendEmailLoader"
                                (click)="sendEmail()" class="min-w-40">
                                <mat-icon svgIcon="mat_solid:send" *ngIf="!isSendEmailLoader"></mat-icon>
                                <span *ngIf="!isSendEmailLoader" class="ml-2 mr-1">Re-send registration emails</span>
                                <mat-progress-spinner *ngIf="isSendEmailLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>