<div class="inset-0 min-w-50 overflow-hidden bg-card dark:bg-transparent" style="height: 50vh">
    <ngx-skeleton-loader
        count="8"
        appearance="line"
        animation="pulse"
        *ngIf="isLoading"
    >
    </ngx-skeleton-loader>
    
    <div *ngIf="!isLoading">
        <div class="border p-3 mt-3 h-auto overflow-x-auto">
            <b class="text-2xl font-semibold">Stores Visited:</b>
            <mat-divider class="mb-2"></mat-divider>
            <div class="min-w-40 max-w-50 w-50 py-2 px-2" style="display: inline;">
                <div class="mobile-responsive-boxes">
                    <div style="float: left; width: 50%; font-weight: bold;">
                        Stores Logged In:
                    </div>
                    <div 
                        style="float: right; width: 50%;"
                        *ngFor="let store of storeNames"
                    >
                        <div>{{store.storeName}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border p-3 mt-3 h-auto">
            <b class="text-2xl font-semibold">Registration Information:</b>
            <mat-divider class="mb-2"></mat-divider>
            <div class="min-w-40 max-w-50 w-50 py-2 px-2 overflow-x-auto" style="display: inline;">
                <div class="mobile-responsive-boxes" *ngFor="let register of registersInfo">
                    <div style="float: left; width: 50%; font-weight: bold;">
                        {{register.metricsTypeName}}
                    </div>
                    <div style="float: right; width: 50%;">
                        {{register.metric || '(Not provided)'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
