<div class="row py-2 overflow-auto" *ngIf="isUserScreen">
  <div class="col-6">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen" (change)="calledScreen(group.value)">
      <mat-button-toggle *ngFor="let buttonValue of screens" value="{{buttonValue}}">
        {{ buttonValue }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="col-6 text-right">
    <button class="ml-4" mat-flat-button mat-stroked-button [matTooltip]="'Back to Locations'"
      (click)="backToLocations()">
      <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
      <span class="ml-2 mr-1">Back to Locations</span>
    </button>
  </div>
</div>

<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="dataSourceLoading">
</ngx-skeleton-loader>

<ngx-skeleton-loader count="8" appearance="line" animation="pulse"
  *ngIf="isSubLocationLoader && isUserScreen && mainScreen == 'Users'">
</ngx-skeleton-loader>

<ngx-skeleton-loader count="8" appearance="line" animation="pulse"
  *ngIf="isUserListLoader && isUserScreen && mainScreen == 'Add New Users'">
</ngx-skeleton-loader>

<div *ngIf="!dataSourceLoading">
  <div *ngIf="!isLoading">
    <fuse-card class="rounded-2xl shadow bg-card flex pb-0" *ngIf="!isUserScreen">
      <div class="row" style="width: -webkit-fill-available;">
        <div class="col-12">
          <div class="p-4 sm:p-6 lg:p-8 w-full row">
            <div class="text-2xl font-bold col-lg-6 col-12">
              Locations
            </div>
          </div>
        </div>


        <div class="col-12 h-full">
          <div class="row px-5">
            <div class="col-12 col-md-9">
              <mat-form-field class="w-full">
                <input type="text" matInput [(ngModel)]="ngAddMainLocation" name="location">
              </mat-form-field>
            </div>
            <div class="col-12 col-md-3">
              <button class="min-w-40" (click)="addMainLocation()" mat-flat-button mat-stroked-button
                [disabled]="isAddMainLocationLoader">
                <mat-icon *ngIf="!isAddMainLocationLoader" class="mr-1" svgIcon="mat_outline:add"></mat-icon>
                <mat-progress-spinner *ngIf="isAddMainLocationLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
                <span *ngIf="!isAddMainLocationLoader">Add Location</span>
              </button>
            </div>
          </div>
          <ng-container *ngIf="dataSource.length > 0; else noRecords">
            <table mat-table [dataSource]="dataSource" class="w-full" [multiTemplateDataRows]="true">
              <div class="color-blue">
                <!-- categoryName Column -->
                <ng-container matColumnDef="id">
                  <th class="min-w-15 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>

                  </th>
                  <td mat-cell *matCellDef="let element; let i=index">
                    {{i + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="categoryName">
                  <th class="min-w-15 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    Attribute Name
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field class="min-w-60 mt-3">
                      <input matInput [(ngModel)]="element.attributeName">
                    </mat-form-field>
                  </td>
                </ng-container>
                <ng-container matColumnDef="department">
                  <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                    *matHeaderCellDef>
                    Departments
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    {{element.departments}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="user">
                  <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                    *matHeaderCellDef>
                    Users
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    {{element.users}}
                  </td>
                </ng-container>

                <!-- isTopRated Column -->
                <ng-container matColumnDef="isTopRated">
                  <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                    *matHeaderCellDef>
                    Action
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <button [disabled]="element?.deleteLoader" (click)="removeMainLocation(element)"
                      [matTooltip]="'Remove'" mat-icon-button
                      aria-label="Example icon button with a vertical three dot icon">
                      <mat-icon *ngIf="!element?.deleteLoader">close</mat-icon>
                      <mat-progress-spinner *ngIf="element?.deleteLoader" [diameter]="24" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                    </button>
                    <button [disabled]="element?.updateLoader" (click)="updateAttributeLocationName(element)"
                      [matTooltip]="'Save Changes'" mat-icon-button
                      aria-label="Example icon button with a vertical three dot icon">
                      <mat-icon *ngIf="!element?.updateLoader">check</mat-icon>
                      <mat-progress-spinner *ngIf="element?.updateLoader" [diameter]="24" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                    </button>
                  </td>
                </ng-container>

                <!-- subCategories Column -->
                <ng-container matColumnDef="subCategories">
                  <th class="min-w-40 text-center bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                    *matHeaderCellDef>
                    Sub Locations
                  </th>
                  <td class="text-center" mat-cell *matCellDef="let element">
                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                      (click)="openedAccordion(element)">
                      <mat-icon class="icon-size-5"
                        [svgIcon]="selectedCategory?.pk_attributeID == element?.pk_attributeID ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                      </mat-icon>
                    </button>
                  </td>
                </ng-container>

                <!-- Sub categories row -->
                <ng-container matColumnDef="SubCategoriesList">
                  <td class="p-0 border-b" mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="shadow-lg overflow-hidden"
                      [@expandCollapse]="selectedCategory?.pk_attributeID == element?.pk_attributeID ? 'expanded' : 'collapsed'">
                      <div class="row mb-1 bg-hover p-5 font-semibold" *ngIf="!subCategoriesLoader">
                        <div class="col-9">
                          Location Name
                        </div>
                        <div class="col-3 flex justify-between">
                          <span>Action</span>
                        </div>

                      </div>
                      <div class="row mt-1 pr-5 p-2 font-semibold"
                        *ngIf="!subCategoriesLoader && subCategories.length > 0">
                        <div class="col-12 text-right">
                          Total Locations: {{subCategories.length}}
                        </div>
                      </div>


                      <div class="p-5" *ngIf="!subCategoriesLoader && subCategories.length">
                        <div class="row pb-1 border-b-1" *ngFor="let item of subCategories; let last = last">
                          <div class="col-9">
                            <mat-form-field class="w-full">
                              <input matInput [(ngModel)]="item.locationName">
                            </mat-form-field>
                          </div>
                          <div class="col-3">
                            <button class="mr-2" (click)="removeLocation(item)" [matTooltip]="'Remove'" mat-icon-button
                              aria-label="Example icon button with a vertical three dot icon">
                              <mat-icon *ngIf="!item?.deleteLoader">close</mat-icon>
                              <mat-progress-spinner *ngIf="item?.deleteLoader" [diameter]="24" [mode]="'indeterminate'">
                              </mat-progress-spinner>
                            </button>
                            <button [disabled]="item?.updateLoader" (click)="updateSubLocationName(item)"
                              [matTooltip]="'Save Changes'" mat-icon-button
                              aria-label="Example icon button with a vertical three dot icon">
                              <mat-icon *ngIf="!item?.updateLoader">check</mat-icon>
                              <mat-progress-spinner *ngIf="item?.updateLoader" [diameter]="24" [mode]="'indeterminate'">
                              </mat-progress-spinner>
                            </button>
                            <button (click)="openUsersScreen(item)" [matTooltip]="'View Users'" mat-icon-button
                              aria-label="Example icon button with a vertical three dot icon">
                              <mat-icon>remove_red_eye</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="row px-5" *ngIf="!subCategoriesLoader">
                        <div class="col-12 col-md-9">
                          <mat-form-field class="w-full">
                            <input type="text" matInput [(ngModel)]="ngSublocationName" name="location">
                          </mat-form-field>
                        </div>
                        <div class="col-12 col-md-3">
                          <button (click)="addSubLocation()" mat-flat-button mat-stroked-button
                            [disabled]="isAddSublocationLoader">
                            <mat-icon *ngIf="!isAddSublocationLoader" class="mr-1" svgIcon="mat_outline:add"></mat-icon>
                            <mat-progress-spinner *ngIf="isAddSublocationLoader" [diameter]="24"
                              [mode]="'indeterminate'">
                            </mat-progress-spinner>
                            <span *ngIf="!isAddSublocationLoader">Add Location</span>
                          </button>
                        </div>
                      </div>
                      <div class="p-5 border-b" *ngIf="!subCategoriesLoader && !subCategories.length">
                        <div class="row">
                          <div class="col-12">
                            No Sublocation found
                          </div>
                        </div>
                      </div>
                      <div class="m-3" *ngIf="subCategoriesLoader">
                        <ngx-skeleton-loader count="3" appearance="line" animation="pulse" *ngIf="subCategoriesLoader">
                        </ngx-skeleton-loader>
                      </div>
                    </div>
                  </td>
                </ng-container>

              </div>

              <tr class="shadow" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="h-0 border-b-1" mat-row *matRowDef="let row; columns: ['SubCategoriesList']">
              </tr>
            </table>
          </ng-container>
          <ng-template #noRecords>
            <!-- <div class="font-semibold tracking-tight text-center pb-10">
              <p>No record found</p>
            </div> -->
          </ng-template>
          <div *ngIf="dataSource.length > 0">
            <mat-paginator style="border-bottom-left-radius: 16px;border-bottom-right-radius:16px"
              class="sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
              [ngClass]="{'pointer-events-none': isLoading}" (page)="getNextData($event)"
              [length]="dataSourceTotalRecord" [pageIndex]="0" [pageSize]="20" [hidePageSize]="true">
            </mat-paginator>
          </div>
        </div>
      </div>
    </fuse-card>

    <fuse-card class="rounded-2xl shadow bg-card flex pb-0" *ngIf="isUserScreen">
      <div class="row" style="width: -webkit-fill-available;" *ngIf="mainScreen == 'Users' && !isSubLocationLoader">
        <div class="col-12">
          <div class="p-4 sm:p-6 lg:p-8 w-full row">
            <div class="text-2xl font-bold col-lg-6 col-12 mt-2">
              Users List
            </div>
            <div class="text-2xl font-bold col-lg-6 col-12 text-right" *ngIf="tempSubLocationUsers.length > 0">
              <mat-form-field class="w-full">
                <input placeholder="Filter By Name" type="text" matInput (input)="searchRecord($event)">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 text-right mb-2" *ngIf="checkedUserArray.length > 0">
          <button [disabled]="isDeleteUserLoader" class="mr-2 min-w-40" mat-flat-button mat-stroked-button
            [matTooltip]="'Remove Selected Locations'" (click)="deleteSelectedUser()">
            <mat-progress-spinner *ngIf="isDeleteUserLoader" [diameter]="24" [mode]="'indeterminate'">
            </mat-progress-spinner>
            <span *ngIf="!isDeleteUserLoader">Remove Selected Locations</span>
          </button>
        </div>
        <div class="col-12">
          <ng-container *ngIf="subLocationUsers.length > 0; else noRecords">
            <!-- <div class="px-6">
              <mat-form-field class="w-full">
                <mat-label>Filter By Name</mat-label>
                <input placeholder="Filter By Name" type="text" matInput (input)="searchRecord($event)">
              </mat-form-field>
            </div> -->
            <table style="border-bottom-left-radius: 16px;border-bottom-right-radius:16px" mat-table
              [dataSource]="subLocationUsers" class="w-full">
              <div class="color-blue">
                <!-- SPID Column -->
                <ng-container matColumnDef="id">
                  <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    ID
                  </th>
                  <td mat-cell *matCellDef="let element" (click)="goToCustomers(element)">{{ element.fk_userID }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th class="min-w-50 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    Name
                  </th>
                  <td mat-cell *matCellDef="let element" (click)="goToCustomers(element)">
                    {{element.firstName + ' ' + element.lastName}}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="company">
                  <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    Company
                  </th>
                  <td mat-cell *matCellDef="let element" (click)="goToCustomers(element)">
                    {{element.companyName}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    Action
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox (change)="checkBoxList($event,element)"></mat-checkbox>
                  </td>
                </ng-container>
              </div>
              <tr mat-header-row class="h-16 shadow bg-card" *matHeaderRowDef="subUserColumns"></tr>
              <tr mat-row class="hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;"
                *matRowDef="let row; columns: subUserColumns"></tr>
            </table>
          </ng-container>
          <ng-template #noRecords>
            <div class="font-semibold tracking-tight text-center pb-10">
              <p>No record found</p>
            </div>
          </ng-template>
        </div>
      </div>
      <!--  -->
      <div class="row" style="width: -webkit-fill-available;"
        *ngIf="mainScreen == 'Add New Users' && !isUserListLoader">
        <div class="col-12">
          <div class="p-4 sm:p-6 lg:p-8 w-full row">
            <div class="text-2xl font-bold col-lg-6 col-12 mt-2">
              Add New Users
            </div>
            <div class="text-2xl font-bold col-lg-6 col-12 text-right" *ngIf="usersList.length > 0">
              <mat-form-field class="w-full">
                <input placeholder="Filter By User Id, Name, Company" type="text" matInput #userSearchInput>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 text-right mb-2" *ngIf="addCheckedUserArray.length > 0">
          <button [disabled]="isAddUserLoader" class="mr-2 min-w-40" mat-flat-button mat-stroked-button
            [matTooltip]="'Add Selected Locations'" (click)="addSelectedUser()">
            <mat-progress-spinner *ngIf="isAddUserLoader" [diameter]="24" [mode]="'indeterminate'">
            </mat-progress-spinner>
            <span *ngIf="!isAddUserLoader">Add Selected Locations</span>
          </button>
        </div>

        <div class="col-12">
          <ng-container *ngIf="usersList.length > 0; else noRecords">
            <table mat-table [dataSource]="usersList" class="w-full">
              <div class="color-blue">
                <!-- SPID Column -->
                <ng-container matColumnDef="id">
                  <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    ID
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.pfk_userID }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th class="min-w-50 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    Name
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.firstName + ' ' + element.lastName}}
                  </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="company">
                  <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    Company
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.companyName}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    Action
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox (change)="userCheckBoxList($event,element)"></mat-checkbox>
                  </td>
                </ng-container>
              </div>
              <tr mat-header-row class="h-16 shadow bg-card" *matHeaderRowDef="subUserColumns"></tr>
              <tr mat-row class="hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;"
                *matRowDef="let row; columns: subUserColumns"></tr>
            </table>
          </ng-container>
          <ng-template #noRecords>
            <div class="font-semibold tracking-tight text-center pb-5">
              <p>No record found</p>
            </div>
          </ng-template>
          <div *ngIf="usersList.length > 0">
            <mat-paginator style="border-bottom-left-radius: 16px;border-bottom-right-radius:16px"
              class="sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
              [ngClass]="{'pointer-events-none': isLoading}" (page)="getNextUserData($event)"
              [length]="userTotalRecords" [pageIndex]="0" [pageSize]="20" [hidePageSize]="true">
            </mat-paginator>
          </div>
        </div>
      </div>
    </fuse-card>
  </div>
</div>