<div class="inset-0 bg-card dark:bg-transparent mt-3 w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div *ngIf="!isLoading && !isUpdateCreditApplication">
        <div class="p-5 mt-3 h-auto overflow-x-auto">
            <b class="text-2xl">Select a credit application:</b>
            <ng-container *ngIf="credit_applications_length > 0; else noItems">
                <table mat-table [dataSource]="credit_applications" class="w-full table-hover">
                    <!-- Store Column -->
                    <ng-container matColumnDef="storeName">
                        <th mat-header-cell *matHeaderCellDef> Store </th>
                        <td mat-cell *matCellDef="let element; let i=index" class="cursor-pointer"> {{i + 1}}.
                            {{element.storeName}} </td>
                    </ng-container>

                    <!-- Signed By Column -->
                    <ng-container matColumnDef="signature">
                        <th mat-header-cell *matHeaderCellDef> Signed By </th>
                        <td mat-cell *matCellDef="let element" class="cursor-pointer"> {{element.signature}} </td>
                    </ng-container>

                    <!-- Last Modified Column -->
                    <ng-container matColumnDef="dateModified">
                        <th mat-header-cell *matHeaderCellDef> Last Modified </th>
                        <td mat-cell *matCellDef="let element" class="cursor-pointer"> {{element.formattedModifiedDate}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="10" [pageSize]="pageSize" [hidePageSize]="true"
                    [pageSizeOptions]="pageSizeOptions" (page)="getNextData($event)" aria-label="Select page">
                </mat-paginator>
            </ng-container>

            <!-- No items template -->
            <ng-template #noItems>
                <div class="alert alert-warning p-3">
                    This user does not have any credit applications.
                </div>
            </ng-template>
        </div>
    </div>
    <div *ngIf="isUpdateCreditApplication" class="p-5">
        <button mat-stroked-button [color]="'secondary'" (click)="creditApplicationUpdateToggler()">
            <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
            <span class="ml-2 mr-1">Back to Applications</span>
        </button>
        <div class="">
            <form>
                <div class="row border-b" [formGroup]="firstFormGroup">
                    <div class="col-12 font-bold text-lg">Name/address</div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>First Name *</mat-label>
                            <input matInput placeholder="First name" maxlength="50" formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Last Name *</mat-label>
                            <input matInput placeholder="Last name" maxlength="50" formControlName="lastName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Title" maxlength="50" formControlName="title">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Name of business *</mat-label>
                            <input matInput placeholder="Name of business" maxlength="50"
                                formControlName="businessName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Address *</mat-label>
                            <input matInput placeholder="Address" maxlength="50" formControlName="address">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>City *</mat-label>
                            <input matInput placeholder="City" maxlength="50" formControlName="city">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>State *</mat-label>
                            <mat-select matInput formControlName="state">
                                <mat-option *ngFor="let item of allStates"
                                    [value]="item.state">{{item.state}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Zip *</mat-label>
                            <input matInput placeholder="Zip" maxlength="5" type="number" formControlName="zip">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Phone</mat-label>
                            <input matInput maxlength="50" placeholder="Phone" formControlName="phone">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Website *</mat-label>
                            <input matInput maxlength="100" placeholder="Website" formControlName="website">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Tax ID number *</mat-label>
                            <input matInput placeholder="Tax ID number" maxlength="50" formControlName="taxId">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Amount requested *</mat-label>
                            <input matInput placeholder="Amount requested" maxlength="100" type="number"
                                formControlName="amount">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>D+B Number *</mat-label>
                            <input matInput placeholder="D+B Number" maxlength="50" formControlName="dbNumber">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row border-b my-2" [formGroup]="secondFormGroup">
                    <div class="col-12 font-bold text-lg">Company information</div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Type of business</mat-label>
                            <input matInput placeholder="Type of business" maxlength="50"
                                formControlName="businessType">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>In business since</mat-label>
                            <input matInput placeholder="In business since" maxlength="10"
                                formControlName="businessSince">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Legal form</mat-label>
                            <mat-select matInput formControlName="legalForm">
                                <mat-option value="corporation">Corporation</mat-option>
                                <mat-option value="partnership">Partnership</mat-option>
                                <mat-option value="proprietorship">Proprietorship</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full px-1">
                            <mat-label>If division/subsidiary, name of parent company</mat-label>
                            <input maxlength="50" matInput placeholder="If division/subsidiary, name of parent company"
                                formControlName="parentCompany">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full px-1">
                            <mat-label>In business since</mat-label>
                            <input maxlength="50" placeholder="mm/dd/yyyy" matInput
                                formControlName="parentBusinessSince">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Authorized buyer *</mat-label>
                            <input matInput maxlength="50" placeholder="Authorized buyer"
                                formControlName="authorizedBuyer">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="Title" formControlName="authorizedBuyerTitle" maxlength="50">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Email *</mat-label>
                            <input matInput maxlength="50" placeholder="Email" formControlName="authorizedBuyerEmail">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Phone</mat-label>
                            <input matInput maxlength="50" placeholder="Phone" formControlName="authorizedBuyerPhone">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Billing contact (name) *</mat-label>
                            <input matInput maxlength="50" placeholder="Billing contact (name)"
                                formControlName="billingContactName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Email *</mat-label>
                            <input matInput maxlength="50" placeholder="Email" formControlName="billingContactEmail">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Phone </mat-label>
                            <input matInput maxlength="50" placeholder="Phone" formControlName="billingContactPhone">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row border-b my-2" [formGroup]="thirdFormGroup">
                    <div class="col-12 font-bold text-lg">Bank reference</div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Institution name</mat-label>
                            <input matInput placeholder="Institution name" maxlength="50" formControlName="bankName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Branch</mat-label>
                            <input matInput placeholder="Branch" maxlength="50" formControlName="branchName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Contact name</mat-label>
                            <input matInput placeholder="Contact name" maxlength="50" formControlName="bankContactName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Contact phone</mat-label>
                            <input matInput placeholder="Contact phone" maxlength="50"
                                formControlName="bankContactPhone">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row my-2" [formGroup]="fourthFormGroup">
                    <div class="col-12 font-bold text-lg">Trade references</div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Company name</mat-label>
                            <input matInput placeholder="Company name" maxlength="50"
                                formControlName="tradeCompanyName1">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Contact name</mat-label>
                            <input matInput placeholder="Contact name" maxlength="50"
                                formControlName="tradeContactName1">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Address" maxlength="50" formControlName="tradeAddress1">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" maxlength="50" formControlName="tradeEmail1">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" maxlength="50" formControlName="tradePhone1">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Credit limit</mat-label>
                            <input matInput placeholder="Credit limit" maxlength="50"
                                formControlName="tradeCreditLimit1">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Current balance</mat-label>
                            <input matInput placeholder="Current balance" maxlength="50"
                                formControlName="tradeCurrentBalance1">
                        </mat-form-field>
                    </div>
                    <div class="col-12 border-b my-2"></div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Company name</mat-label>
                            <input matInput placeholder="Company name" maxlength="50"
                                formControlName="tradeCompanyName3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Contact name</mat-label>
                            <input matInput placeholder="Contact name" maxlength="50"
                                formControlName="tradeContactName3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Address" maxlength="50" formControlName="tradeAddress3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" maxlength="50" formControlName="tradeEmail3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" maxlength="50" formControlName="tradePhone3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Credit limit</mat-label>
                            <input matInput placeholder="Credit limit" maxlength="50"
                                formControlName="tradeCreditLimit3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Current balance</mat-label>
                            <input matInput placeholder="Current balance" maxlength="50"
                                formControlName="tradeCurrentBalance3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 border-b  my-2"></div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Company name</mat-label>
                            <input matInput placeholder="Company name" maxlength="50"
                                formControlName="tradeCompanyName3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Contact name</mat-label>
                            <input matInput placeholder="Contact name" maxlength="50"
                                formControlName="tradeContactName3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Address" maxlength="50" formControlName="tradeAddress3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" maxlength="50" formControlName="tradeEmail3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" maxlength="50" formControlName="tradePhone3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Credit limit</mat-label>
                            <input matInput placeholder="Credit limit" maxlength="50"
                                formControlName="tradeCreditLimit3">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field class="w-full px-1">
                            <mat-label>Current balance</mat-label>
                            <input matInput placeholder="Current balance" maxlength="50"
                                formControlName="tradeCurrentBalance3">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row space-x-2">
                    <button [disabled]="!firstFormGroup.valid || !secondFormGroup.valid || isUpdateLoader" mat-button
                        mat-flat-button color="primary" class="min-w-40" (click)="updateCreditApplication()">
                        <span *ngIf="!isUpdateLoader">Update Application</span>
                        <mat-progress-spinner *ngIf="isUpdateLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                    <button mat-button mat-stroked-button class="min-w-40" [disabled]="isApproveLoader"
                        (click)="approveCreditApplication()">
                        <span *ngIf="!isApproveLoader">Approve Credit Application</span>
                        <mat-progress-spinner *ngIf="isApproveLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>