<div class="w-full">
    <div class="px-5" *ngIf="isLoading">
        <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
        </ngx-skeleton-loader>
    </div>
    <div *ngIf="!isLoading" class="p-6 ">
        <div class="row">
            <div class="col-md-3 col-12">
                <mat-form-field class="example-chip-list w-full" appearance="fill">
                    <mat-label>Search By Store</mat-label>
                    <mat-select matInput [value]="142">
                        <mat-option *ngFor="let item of stores" [value]="item.pk_storeID">{{item.storeName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-12">
                <mat-form-field class="example-chip-list w-full" appearance="fill">
                    <mat-label>Search By Supplier</mat-label>
                    <input matInput placeholder="Search Vendors" [matAutocomplete]="auto"
                        [formControl]="searchSupplierCtrl">
                    <mat-autocomplete class="w-full" #auto="matAutocomplete" (optionSelected)="onSelected($event)"
                        [displayWith]="displayWith">
                        <mat-option *ngIf="isSearchingSupplier" class="is-loading">Loading...</mat-option>
                        <ng-container *ngIf="!isSearchingSupplier">
                            <mat-option *ngFor="let item of allSuppliers" [value]="item">
                                <span>{{item.companyName}}</span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-12">
                <mat-form-field class="example-chip-list w-full" appearance="fill">
                    <mat-label>Search By Order Number</mat-label>
                    <input matInput matTooltip="Enter to search">
                </mat-form-field>
            </div>
            <div class="col-md-3 col-12">
                <mat-form-field class="example-chip-list w-full" appearance="fill">
                    <mat-label>Search By PO Number</mat-label>
                    <input matInput matTooltip="Enter to search">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading">
        <div *ngIf="dataSource.length > 0 && !isUpdateMethod;else other_content" class="w-full">
            <table mat-table [dataSource]="dataSource" class="w-full border-t">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                        Order ID
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.methodName || not_available}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="store">
                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                        Store
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.methodDescription || not_available}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                        Order Date
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.methodDescription || not_available}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="supplier">
                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                        Supplier(s)
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.methodDescription || not_available}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                        Customer
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.methodDescription || not_available}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="customer_company">
                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                        Company
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.methodDescription || not_available}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.methodDescription || not_available}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                </tr>
            </table>
            <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                [ngClass]="{'pointer-events-none': isLoading}" [length]="totalUsers" [pageIndex]="0" [pageSize]="20"
                (page)="getNextData($event)" [hidePageSize]="true">
            </mat-paginator>
        </div>
        <!-- Update Method -->
        <div *ngIf="isUpdateMethod" class="p-6">
            <mat-form-field class="w-full">
                <mat-label>Method Name (150)</mat-label>
                <input matInput [(ngModel)]="updateMethodData.methodName" maxlength="150">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Description (500 - optional)</mat-label>
                <textarea cols="30" rows="5" matInput [(ngModel)]="updateMethodData.methodDescription"
                    maxlength="500"></textarea>
            </mat-form-field>
            <div class="justify-end flex">
                <button [disabled]="isUpdateMethodLoader" class="min-w-30 mr-2" mat-stroked-button
                    [matTooltip]="'Back to list'" (click)="updateMethodToggle(null)">
                    Cancel
                </button>
                <button [disabled]="isUpdateMethodLoader" class="min-w-40" mat-stroked-button
                    [matTooltip]="'Update Method'" (click)="updateMethod()">
                    <mat-icon svgIcon="heroicons_solid:pencil" *ngIf="!isUpdateMethodLoader"></mat-icon>
                    <span class="ml-2" *ngIf="!isUpdateMethodLoader"> Update Method </span>
                    <mat-progress-spinner *ngIf="isUpdateMethodLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
        <!-- No color Found -->
        <ng-template #other_content>
            <div class="text-secondary font-semibold p-5 text-center" *ngIf="!isUpdateMethod">
                YOUR QUERY RETURNED NO RESULTS
            </div>
        </ng-template>
    </div>
</div>