<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full sm:w-100 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Stores</div>
                    </div>
                    <!-- Actions -->
                    <div class="mt-4 sm:mt-0">
                        <!-- Upload button -->
                        <button mat-flat-button [matTooltip]="'Create New Store'" [color]="'primary'">
                            <span class="ml-2 mr-1">Create Store</span>
                        </button>
                    </div>
                </div>

                <div class="p-6 md:p-8">
                    <!-- Select a store -->
                    <div class="text-2xl font-extrabold tracking-tight leading-none">Select a store</div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <!-- Store -->
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-select [(ngModel)]="selectedStore" disableRipple [disabled]="isStoreNotReceived">
                                    <mat-option (click)="clearFilter()">SELECT STORE</mat-option>
                                    <mat-option (click)="selectByStore(store)" value="{{store}}"
                                        *ngFor="let store of stores">
                                        {{store.storeName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>