<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div class="row my-3" *ngIf="!isLoading">
        <div class="col-12">
            <div class="text-right" *ngIf="isColorSize">
                <button mat-flat-button [color]="'primary'" (click)="colorsToggle()">Back to List</button>
            </div>
            <button *ngIf="!isColorSize" [disabled]="" class="my-2" mat-stroked-button
                (click)="colorsToggle()">Sizes/Colors Price
                Correction</button>
            <div *ngIf="isColorSize">
                <app-color-sizes [selectedProduct]="selectedProduct"></app-color-sizes>
            </div>
            <mat-card *ngIf="!isColorSize" class="w-full p-0 mb-10 h-full rounded-2xl">
                <div class="row p-5">
                    <div class="col-lg-9 col-12">
                        <div class="text-2xl font-bold">
                            Sizes
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <button class="min-w-40 w-full" *ngIf="allSizes.length" mat-flat-button [color]="'primary'"
                            [matTooltip]="'Update Selected Sizes'" (click)="updateSizes()"
                            [disabled]="sizeUpdateLoader">
                            <mat-progress-spinner *ngIf="sizeUpdateLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                            <mat-icon *ngIf="!sizeUpdateLoader" svgIcon="mat_outline:edit"></mat-icon>
                            <span *ngIf="!sizeUpdateLoader" class="ml-1 mr-1">Update</span>
                        </button>
                    </div>
                </div>
                <div class="row p-5">
                    <div class="col-md-6">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full mb-5">
                            <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                            <input class="h-6" matInput (keyup)="searchSizesData($event)"
                                [(ngModel)]="searchKeywordTerm" [autocomplete]="'off'" [placeholder]="'Search Sizes'">
                        </mat-form-field>
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isSearchLoading">
                        </ngx-skeleton-loader>
                    </div>
                    <!-- Sizes -->
                    <div class="col-12 max-h-200 overflow-auto">
                        <table class="table table-striped"
                            *ngIf="allSizes.length > 0 && !isSearchLoading;else other_content">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Size</th>
                                    <th>Run</th>
                                    <th>Weight</th>
                                    <th>Weight per unit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let size of allSizes">
                                    <td>
                                        <mat-checkbox [(ngModel)]="size.checked"></mat-checkbox>
                                    </td>
                                    <td>{{size.sizeName}}</td>
                                    <td>
                                        <input class="form-control" type="number" [(ngModel)]="size.run">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" [(ngModel)]="size.weight">
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" [(ngModel)]="size.unitsPerWeight">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #other_content>
                            <div class="text-secondary font-semibold p-5" *ngIf="!isSearchLoading">
                                No sizes found.
                            </div>
                        </ng-template>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <div class="row my-5 mt-7" *ngIf="!isLoading && !isSearchLoading && !isColorSize">
        <div class="col-12">
            <mat-card class="w-full p-0 mb-10 h-full rounded-2xl">
                <div class="row p-5">
                    <div class="col-12">
                        <div class="text-2xl font-bold">
                            Sizing Chart
                        </div>
                    </div>
                </div>

                <div *ngIf="dataSourceCharts.length > 0;else other_content">
                    <button [color]="'primary'" class="min-w-40 mb-2 mx-2" mat-stroked-button
                        [matTooltip]="'Update Charts'" (click)="uploadChart()" [disabled]="isChartUpdateLoader">
                        <mat-progress-spinner *ngIf="isChartUpdateLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <span *ngIf="!isChartUpdateLoader" class="ml-1 mr-1">Update Charts</span>
                    </button>
                    <table mat-table [dataSource]="dataSourceCharts" class="w-full border-t">

                        <!-- Name Column -->
                        <ng-container matColumnDef="radio">
                            <th mat-header-cell *matHeaderCellDef class="w-10 min-w-10"> Select </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-radio-group [(ngModel)]="ngSelectedChart">
                                    <mat-radio-button [value]="element.pk_chartID "
                                        (change)="chartSelected($event, element)"></mat-radio-button>
                                </mat-radio-group>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40"> Name </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.name}}<br />
                                <small class="text-secondary">{{element.description}}</small>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsChart;" class="h-18 bg-light"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsChart;"
                            class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                        </tr>
                    </table>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="chartsLength" [pageIndex]="0"
                        [pageSize]="dataSourceCharts.length" (page)="getNextChartData($event)" [hidePageSize]="true">
                    </mat-paginator>
                </div>
                <ng-template #other_content>
                    <div class="text-secondary font-semibold p-5">
                        No charts found for this product.
                    </div>
                </ng-template>
            </mat-card>
        </div>
    </div>
</div>