<div class="flex flex-col flex-auto mt-8  overflow-hidden w-full space-y-2">
    <!-- Color Keys -->
    <div class="p-6 bg-card shadow rounded-2xl">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">Color Keys</div>
        <div class="mt-2 flex">
            <div class="mr-2">
                <p>Rush Orders</p>
                <hr class="m-0 h-2" style="background: #ffcaca;">
            </div>
            <div class="mr-2">
                <p>Reorder</p>
                <hr class="m-0 h-2" style="background: #feee84;">
            </div>
            <div class="mr-2">
                <p>Group Order</p>
                <hr class="m-0 h-2" style="background: #fca769;">
            </div>
            <div class="mr-2">
                <p>Priority</p>
                <hr class="m-0 h-2" style="background: #e0f0d5;">
            </div>
        </div>
    </div>
    <!-- Loader -->
    <div class="p-6 bg-card shadow rounded-2xl" *ngIf="isApprovalLoader">
        <div class="my-5">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
            'background-color': '#dedede'
          }">
            </ngx-skeleton-loader>
        </div>
    </div>
    <!-- Orders waiting for artwork -->
    <div *ngIf="!isApprovalLoader" class="p-6 bg-card shadow rounded-2xl">
        <div class="flex justify-between">
            <div class="text-xl font-bold tracking-tight leading-6 truncate">Orders waiting for artwork <span
                    class="badge badge-secondary ml-2" *ngIf="!isApprovalLoader">{{approvalOrders.length}}</span>
            </div>
            <div>
                <div class="flex align-items-center">
                    <span>What is this</span>
                    <mat-icon class="icon-size-4 ml-1"
                        matTooltip="These are orders that have yet to be proofed, or are awaiting artwork approval. Click an order to learn more about its status."
                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="mt-2" *ngIf="approvalOrders.length == 0">
                <fuse-alert class="mt-2" [appearance]="'soft'" [type]="'warning'">
                    <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'heroicons_solid:lock-open'">
                    </mat-icon>
                    There are currently no orders for your customers around this time last year.
                </fuse-alert>
            </div>
            <div class="overflow-x-auto" *ngIf="approvalOrders.length">
                <mat-form-field class="w-100">
                    <mat-select matInput [(ngModel)]="ngAapprovalStores"
                        (selectionChange)="changeStore('waiting',$event)">
                        <mat-option [value]="'All'" selected>All Stores</mat-option>
                        <mat-option *ngFor="let store of approvalOrdersStores"
                            [value]="store.store">{{store.store}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ngx-skeleton-loader *ngIf="approvalOrdersLoader" count="8" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                </ngx-skeleton-loader>
                <table datatable class="table table-striped" *ngIf="!approvalOrdersLoader">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>
                                <div class="flex align-items-center">
                                    <span>Days</span>
                                    <mat-icon class="icon-size-4 ml-1"
                                        matTooltip="How long this has been sitting on hold or in follow up for approval, in hours"
                                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                                </div>
                            </th>
                            <th>Customer</th>
                            <th>
                                <div class="flex align-items-center">
                                    <span>LT</span>
                                    <mat-icon class="icon-size-4 ml-1"
                                        matTooltip="Last touch (last time an email was sent to the customer from this dashboard)"
                                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                                </div>
                            </th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of approvalOrders; trackBy: trackByOrderId" [ngClass]="{
                            'background-color-e0f0d5': item?.priority > 0,
                            'background-color-fca769': item.groupOrderID != 'N/A',
                            'background-color-ffcaca': item.inHandsDate != 'N/A',
                            'background-color-feee84': item.blnReorder
                          }">
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/stores',item.storeID]">{{item.storeCode}}</a>
                            </td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/orders',item.orderID]">{{item.orderID}}</a>
                            </td>
                            <td>
                                <ng-container *ngIf="item.orderDate != 'N/A'; else na">
                                    <a target="_blank" class="text-blue-700 cursor-pointer"
                                        [routerLink]="['/apps/orders',item.orderID]">{{ item.orderDate | date:
                                        'MM/dd/yyyy' }}</a>
                                </ng-container>
                                <ng-template #na>---</ng-template>
                            </td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/orders',item.orderID]">{{item.total | currency}}</a>
                            </td>
                            <td>{{item.days}}</td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/customers',item.storeUserID]">
                                    {{item.firstName + ' ' + item.lastName}}
                                    <span *ngIf="item.locationName != 'N/A'"> - {{item.locationName}}</span>
                                    <span *ngIf="item.companyName != 'N/A'"> - {{item.companyName}}</span>
                                </a>
                            </td>
                            <td>
                                <div *ngIf="item.artworkNotification != 'N/A'">{{item?.artworkNotification}}</div>
                                <div *ngIf="item.artworkNotification == 'N/A'">---</div>
                            </td>
                            <td>
                                <mat-checkbox matTooltip="Mark Priority" [(ngModel)]="item.priorityChecked"
                                    (change)="updatePriority(item,'blnArtworkNotifications')"></mat-checkbox>
                            </td>
                            <td>
                                <div class="flex space-x-1 align-items-center">
                                    <mat-button-toggle (click)="openOrderComments(item)">
                                        <mat-icon svgIcon="mat_outline:comment" matTooltip="Order Comments"></mat-icon>
                                    </mat-button-toggle>

                                    <mat-button-toggle (click)="openEmailDetailsModal(item,'awaiting')">
                                        <mat-icon svgIcon="mat_outline:email"
                                            matTooltip="Send Email to the customer"></mat-icon>
                                    </mat-button-toggle>

                                    <mat-button-toggle (click)="openRescheduleModal(item)">
                                        <mat-icon svgIcon="mat_outline:calendar_today"
                                            matTooltip="Reschedule"></mat-icon>
                                    </mat-button-toggle>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Orders waiting for payment -->
    <div *ngIf="!isApprovalLoader" class="p-6 bg-card shadow rounded-2xl">
        <div class="flex justify-between">
            <div class="text-xl font-bold tracking-tight leading-6 truncate">Orders waiting for payment <span
                    class="badge badge-secondary ml-2">{{awaitingOrders.length}}</span>
            </div>
            <div>
                <div class="flex align-items-center">
                    <span>What is this</span>
                    <mat-icon class="icon-size-4 ml-1"
                        matTooltip="Orders here are unpaid, and artwork has been approved.  Please reach out to the customer to obtain payment or comment on the order to let Order Processing know the status if you have not done so recently."
                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                </div>
            </div>
        </div>
        <div class="mt-2" *ngIf="awaitingOrders.length == 0">
            <fuse-alert class="mt-2" [appearance]="'soft'" [type]="'warning'">
                <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'heroicons_solid:lock-open'">
                </mat-icon>
                There are currently no orders for your customers around this time last year.
            </fuse-alert>
        </div>
        <div class="overflow-x-auto mt-4" *ngIf="awaitingOrders.length">
            <mat-form-field class="w-100">
                <mat-select matInput [(ngModel)]="ngAwaitingStores" (selectionChange)="changeStore('payment',$event)">
                    <mat-option [value]="'All'" selected>All Stores</mat-option>
                    <mat-option *ngFor="let store of awaitingOrdersStores"
                        [value]="store.store">{{store.store}}</mat-option>
                </mat-select>
            </mat-form-field>
            <ngx-skeleton-loader *ngIf="awaitingOrdersLoader" count="8" appearance="line" animation="pulse" [theme]="{ 
                'background-color': '#dedede'
              }">
            </ngx-skeleton-loader>
            <table datatable class="table table-striped" *ngIf="!awaitingOrdersLoader">
                <thead>
                    <tr>
                        <th>Store</th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>
                            <div class="flex align-items-center">
                                <span>Days</span>
                                <mat-icon class="icon-size-4 ml-1"
                                    matTooltip="How long this has been sitting on hold or in follow up for approval, in hours"
                                    [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                            </div>
                        </th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>
                            <div class="flex align-items-center">
                                <span>LT</span>
                                <mat-icon class="icon-size-4 ml-1"
                                    matTooltip="Last touch (last time an email was sent to the customer from this dashboard)"
                                    [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                            </div>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of awaitingOrders; trackBy: trackByOrderId" [ngClass]="{
                        'background-color-e0f0d5': item.priority > 0,
                        'background-color-fca769': item.groupOrderID != 'N/A',
                        'background-color-ffcaca': item.inHandsDate != 'N/A',
                        'background-color-feee84': item.blnReorder
                      }">
                        <td>
                            <a target="_blank" class="text-blue-700 cursor-pointer"
                                [routerLink]="['/apps/stores',item.storeID]">{{item.storeCode}}</a>
                        </td>
                        <td>
                            <a target="_blank" class="text-blue-700 cursor-pointer"
                                [routerLink]="['/apps/orders',item.orderID]">{{item.orderID}}</a>
                        </td>
                        <td>
                            <ng-container *ngIf="item.orderDate != 'N/A'; else na">
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/orders',item.orderID]">{{ item.orderDate | date:
                                    'MM/dd/yyyy' }}</a>
                            </ng-container>
                            <ng-template #na>---</ng-template>
                        </td>
                        <td>
                            <a target="_blank" class="text-blue-700 cursor-pointer"
                                [routerLink]="['/apps/orders',item.orderID]">{{item.total | currency}}</a>
                        </td>
                        <td>{{item.days}}</td>
                        <td>
                            <a target="_blank" class="text-blue-700 cursor-pointer"
                                [routerLink]="['/apps/customers',item.storeUserID]">
                                {{item.firstName + ' ' + item.lastName}}
                                <span *ngIf="item.locationName != 'N/A'"> - {{item.locationName}}</span>
                                <span *ngIf="item.companyName != 'N/A'"> - {{item.companyName}}</span>
                            </a>
                        </td>
                        <td>
                            <span class="{{item.status?.statusColor}}">{{item.status?.statusValue}}</span>
                        </td>
                        <td>
                            <div *ngIf="item.paymentNotification != 'N/A'">{{item.paymentNotification}}</div>
                            <div *ngIf="item.paymentNotification == 'N/A'">---</div>
                        </td>
                        <td>
                            <mat-checkbox matTooltip="Mark Priority" [(ngModel)]="item.priorityChecked"
                                (change)="updatePriority(item,'blnPayment')"></mat-checkbox>
                        </td>
                        <td>
                            <div class="flex space-x-1 align-items-center">
                                <mat-button-toggle (click)="openOrderComments(item)">
                                    <mat-icon svgIcon="mat_outline:comment" matTooltip="Order Comments"></mat-icon>
                                </mat-button-toggle>

                                <mat-button-toggle (click)="openEmailDetailsModal(item,'reminder')">
                                    <mat-icon svgIcon="mat_outline:email"
                                        matTooltip="Send Email to the customer"></mat-icon>
                                </mat-button-toggle>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- All orders still processing (one year) -->
    <div *ngIf="!isApprovalLoader" class="p-6 bg-card shadow rounded-2xl">
        <div class="flex justify-between">
            <div class="text-xl font-bold tracking-tight leading-6 truncate">All orders still processing (one
                year)<span class="badge badge-secondary ml-2">{{processingOrders.length}}</span>
            </div>
            <div>
                <div class="flex align-items-center">
                    <span>What is this</span>
                    <mat-icon class="icon-size-4 ml-1"
                        matTooltip="These are all open orders which have not shipped.  These orders can be awaiting artwork for initial proof, or have both payment and artwork approval, but we are holding for one reason or another, or the order is in production and has not shipped."
                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                </div>
            </div>
        </div>
        <div class="mt-2" *ngIf="!processingOrders.length">
            <fuse-alert class="mt-2" [appearance]="'soft'" [type]="'warning'">
                <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'heroicons_solid:lock-open'">
                </mat-icon>
                There are currently no orders for your customers around this time last year.
            </fuse-alert>
        </div>
        <div class="overflow-x-auto mt-4" *ngIf="processingOrders.length">
            <mat-form-field class="w-100">
                <mat-select matInput [(ngModel)]="ngProcessingStores"
                    (selectionChange)="changeStore('processing',$event)">
                    <mat-option [value]="'All'" selected>All Stores</mat-option>
                    <mat-option *ngFor="let store of processingOrdersStores"
                        [value]="store.store">{{store.store}}</mat-option>
                </mat-select>
            </mat-form-field>
            <ngx-skeleton-loader *ngIf="processingOrdersLoader" count="8" appearance="line" animation="pulse" [theme]="{ 
                'background-color': '#dedede'
              }">
            </ngx-skeleton-loader>
            <table datatable class="table table-striped" *ngIf="!processingOrdersLoader">
                <thead>
                    <tr>
                        <th>Store</th>
                        <th>Order</th>
                        <th>Date</th>
                        <th>In-Hands</th>
                        <th>Total</th>
                        <th>Customer</th>
                        <th>Paid</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of processingOrders; trackBy: trackByOrderId" [ngClass]="{
                        'background-color-e0f0d5': item?.priority > 0,
                        'background-color-fca769': item.groupOrderID != 'N/A',
                        'background-color-ffcaca': item.inHandsDate != 'N/A',
                        'background-color-feee84': item.blnReorder
                      }">
                        <td>
                            <a target="_blank" class="text-blue-700 cursor-pointer"
                                [routerLink]="['/apps/stores',item.storeID]">{{item.storeCode}}</a>
                        </td>
                        <td>
                            <a target="_blank" class="text-blue-700 cursor-pointer"
                                [routerLink]="['/apps/orders',item.orderID]">{{item.orderID}}</a>
                        </td>
                        <td>
                            <ng-container *ngIf="item.orderDate != 'N/A'; else na">
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/orders',item.orderID]">{{ item.orderDate | date:
                                    'MM/dd/yyyy' }}</a>
                            </ng-container>
                            <ng-template #na>---</ng-template>
                        </td>
                        <td>
                            <ng-container *ngIf="item.inHandsDate != 'N/A'; else na">
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/orders',item.orderID]">{{ item.inHandsDate | date:
                                    'MM/dd/yyyy' }}</a>
                            </ng-container>
                            <ng-template #na>---</ng-template>
                        </td>
                        <td>
                            <a target="_blank" class="text-blue-700 cursor-pointer"
                                [routerLink]="['/apps/orders',item.orderID]">{{item.total | currency}}</a>
                        </td>
                        <td>
                            <a target="_blank" class="text-blue-700 cursor-pointer"
                                [routerLink]="['/apps/customers',item.storeUserID]">
                                {{item.firstName + ' ' + item.lastName}}
                                <span *ngIf="item.locationName != 'N/A'"> - {{item.locationName}}</span>
                                <span *ngIf="item.companyName != 'N/A'"> - {{item.companyName}}</span>
                            </a>
                        </td>
                        <td>
                            <mat-icon *ngIf="item.paymentDate !== 'N/A'" svgIcon="mat_outline:check"
                                class="text-green-700"></mat-icon>
                            <mat-icon class="text-red-700" *ngIf="item.paymentDate == 'N/A'"
                                svgIcon="mat_outline:close"></mat-icon>
                        </td>
                        <td>
                            <span class="{{item.status?.statusColor}}">{{item.status?.statusValue}}</span>
                        </td>
                        <td>
                            <mat-checkbox matTooltip="Mark Priority" [(ngModel)]="item.priorityChecked"
                                (change)="updatePriority(item,'blnHouse')"></mat-checkbox>
                        </td>
                        <td>
                            <div class="flex space-x-1 align-items-center">
                                <mat-button-toggle (click)="openOrderComments(item)">
                                    <mat-icon svgIcon="mat_outline:comment" matTooltip="Order Comments"></mat-icon>
                                </mat-button-toggle>

                                <mat-button-toggle (click)="openOrderDetailsModal(item)">
                                    <span>Details</span>
                                </mat-button-toggle>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Reschedule Modal -->
<div #rescheduleModal class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reschedule</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="rescheduleModalContent">
                <label>Choose a date</label>
                <input type="date" [(ngModel)]="rescheduleModalContent.date" class="form-control w-full">
            </div>
            <div class="modal-footer">
                <button type="button" class="min-w-30" mat-button mat-stroked-button
                    [disabled]="rescheduleModalContent?.rescheduleLoader" (click)="updateReschedule()">
                    <span *ngIf="!rescheduleModalContent?.rescheduleLoader">Update Reschedule</span>
                    <mat-progress-spinner *ngIf="rescheduleModalContent?.rescheduleLoader" [diameter]="24"
                        [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Order Details -->
<div #orderDetailsModal class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ARTWORK DETAILS FOR
                    {{orderDetailsModalContent?.orderID}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="orderDetailsModalContent">
                <div class="my-5" *ngIf="orderDetailsModalContent.loader">
                    <ngx-skeleton-loader count="5" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                    </ngx-skeleton-loader>
                </div>
                <div *ngIf="!orderDetailsModalContent.loader">
                    <div *ngIf="orderDetailsModalContent.artworkData.length == 0">
                        <div class="alert alert-danger">No data found</div>
                    </div>
                    <table *ngIf="orderDetailsModalContent.artworkData.length > 0"
                        class="table table-striped border-t-0">
                        <thead>
                            <tr>
                                <th>Items</th>
                                <th>Quantity</th>
                                <th>Status</th>
                                <th>Proof</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of orderDetailsModalContent.artworkData">
                                <tr>
                                    <td class="font-bold">{{item.productName}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <ng-container *ngFor="let imprint of item.imprints">
                                    <tr>
                                        <td colspan="2">
                                            <span class="pl-2">{{imprint.location}}/{{imprint.method}}</span>
                                        </td>
                                        <td>{{imprint.status}}</td>
                                        <td>
                                            <a target="_blank"
                                                href="{{mediaURL}}artwork/Proof/{{item.fk_storeUserID}}/{{item.orderID}}/{{item.orderLineID}}/{{imprint.id}}.jpg"
                                                target="_blank">VIEW</a>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="mr-2" mat-button mat-stroked-button data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Email Modal -->
<div #orderEmailModal class="modal fade" id="orderEmailModal" tabindex="-1" role="dialog"
    aria-labelledby="orderEmailModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderEmailModal">{{emailModalContent?.modalTitle}}
                    {{emailModalContent?.orderID}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="emailModalContent">
                <div class="my-5" *ngIf="emailModalContent.loader">
                    <ngx-skeleton-loader count="5" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                    </ngx-skeleton-loader>
                </div>
                <div *ngIf="!emailModalContent.loader">
                    <div class="row">
                        <div class="col-12">
                            <mat-label>Subject:</mat-label>
                            <mat-form-field class="w-full">
                                <input matInput [(ngModel)]="emailModalContent.subject">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-label>Body:</mat-label>
                            <ckeditor [config]="editorConfig" [(ngModel)]="emailModalContent.body"></ckeditor>
                        </div>
                        <!-- Imprints -->
                        <div class="col-12 my-5"
                            *ngIf="emailModalContent.qryOrderLines.length && emailModalContent.type == 'awaiting'">
                            <div class="row space-y-1 py-2" *ngFor="let product of emailModalContent.qryOrderLines">
                                <ng-container *ngIf="product.hasImprints" class="border-b ">
                                    <div class="col-12 col-md-3">
                                        <img src="{{product.imageUrl}}" style="width: 50%;">
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <h2 class="font-bold">{{product.productName}}</h2>
                                        <!-- Imprints -->
                                        <div *ngFor="let imprint of product.imprints">
                                            <p class="font-bold text-secondary">
                                                {{imprint.location
                                                + '/' + imprint.method}}</p>
                                            <a *ngIf="imprint.statusCheck" href="{{imprint.proofUrl}}"
                                                target="_blank">CLICK HERE TO REVIEW THIS PROOF</a>
                                            <div class="my-2">
                                                <mat-checkbox [(ngModel)]="imprint.checked">Remove this item from the
                                                    email</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Footer -->
                        <div class="col-12 mt-2" [innerHTML]="emailModalContent.footer"></div>
                    </div>
                    <div class="col-12" *ngIf="emailModalContent?.text" [innerHTML]="emailModalContent.text"></div>
                    <div class="col-12 my-2">
                        <div>
                            <mat-checkbox *ngIf="emailModalContent.type == 'awaiting'"
                                [(ngModel)]="emailModalContent.blnImages">Include images?</mat-checkbox>
                            <br *ngIf="emailModalContent.type == 'awaiting'">
                            <mat-checkbox *ngIf="emailModalContent.type == 'awaiting'"
                                [(ngModel)]="emailModalContent.blnContent"
                                matTooltip="Include the additional content below the message.">Include
                                content?</mat-checkbox>
                            <br *ngIf="emailModalContent.type == 'awaiting'">
                            <mat-checkbox *ngIf="emailModalContent.type != 'awaiting'"
                                matTooltip="Include a PDF copy of the invoice as an attachment on the email.">Include
                                PDF invoice as attachment?</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal"
                    class="mr-2 inline-flex items-center gap-x-1.5 rounded-md bg-red-400 px-2.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-400">
                    <span>Close</span>
                </button>
                <button (click)="sendEmailsOrders()" [disabled]="emailModalContent?.sendEmailLoader" type="button"
                    data-dismiss="modal"
                    class="mr-2 min-w-30 inline-flex items-center gap-x-1.5 rounded-md bg-green-400 px-2.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-400">
                    <span *ngIf="!emailModalContent?.sendEmailLoader">Send Email</span>
                    <mat-progress-spinner *ngIf="emailModalContent?.sendEmailLoader" [diameter]="24"
                        [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div>