<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
</ngx-skeleton-loader>
<div class="row mb-3" *ngIf="!isLoading">
    <div class="col-12">
        <mat-card class="w-full p-2 h-full rounded-2xl shadow-lg">
            <mat-card-title class="text-info font-size-medium">Net Cost</mat-card-title>
            <mat-divider></mat-divider>
            <form [formGroup]="netCostForm">
                <div class="row my-5 px-3">
                    <div class="col-12">
                        <b>Quantity</b>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 1 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 2 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 3 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 4 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 5 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 6 </small>
                        </mat-form-field>
                    </div>

                    <!-- Standard COST -->
                    <div class="col-12">
                        <b>Standard Cost</b>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 1 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 2 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 3 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 4 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 5 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 6 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Blank COST -->
                    <div class="col-12">
                        <b>Blank Cost</b>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 1 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 2 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 3 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 4 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 5 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <input matInput><small class="text-secondary font-semibold"> 6 </small>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    COST
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Other Form -->
                    <div class="col-lg-6 col-12">
                        <p class="font-semibold">Co-op Program</p>
                        <mat-form-field class="w-full">
                            <mat-select [(ngModel)]="selectedorder" name="order">
                                <mat-option value="select_order" disabled>
                                    NONE
                                </mat-option>
                                <mat-option (click)="orderSelection(order)" *ngFor="let option of products"
                                    [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-12">
                        <mat-form-field class="w-full">
                            <mat-label>MSRP</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="w-full">
                            <mat-label>Internal Comments</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field class="w-full">
                            <mat-label>Red Price Comment</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </div>
            </form>
            <mat-divider></mat-divider>
            <div class="row p-3 justify-content-end">
                <!-- Assign Store button -->
                <button mat-stroked-button (click)="updateDescription()">
                    <mat-icon [svgIcon]="'mat_outline:edit'"></mat-icon>
                    <span class="ml-1 mr-1">Update Cost</span>
                </button>
            </div>
        </mat-card>
    </div>
</div>