<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full mb-15">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <h2 class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Export Vendor Bill Data
            </h2>
            <div class="w-full pb-2">
                <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedRoute"
                    (change)="calledScreen(group.value)">
                    <mat-button-toggle [value]="'settings'">
                        Export Settings
                    </mat-button-toggle>
                    <mat-button-toggle [value]="'exports'">
                        Exports
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div *ngIf="selectedRoute == 'settings'">
                <div class="grid sm:grid-cols-2 gap-4 w-full">
                    <mat-radio-group class="invisible absolute w-0 h-0 pointer-events-none" [(ngModel)]="ngPlan"
                        #planRadioGroup="matRadioGroup">
                        <ng-container *ngFor="let plan of plans; trackBy: trackByFn">
                            <mat-radio-button [value]="plan.value"></mat-radio-button>
                        </ng-container>
                    </mat-radio-group>
                    <ng-container *ngFor="let plan of plans; trackBy: trackByFn">
                        <div class="relative flex flex-col items-start justify-start p-6 rounded-md shadow cursor-pointer bg-card"
                            [ngClass]="{'ring ring-inset ring-primary': ngPlan === plan.value}"
                            (click)="ngPlan = plan.value">
                            <ng-container *ngIf="ngPlan === plan.value">
                                <mat-icon class="absolute top-0 right-0 mt-3 mr-3 icon-size-7 text-primary"
                                    [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                            </ng-container>
                            <div class="font-medium">{{plan.label}}</div>
                            <div class="mt-1 whitespace-normal text-secondary">{{plan.details}}</div>
                            <div class="flex-auto"></div>
                            <div *ngIf="plan.value == 'weekly'" class="w-full mt-2">
                                <mat-form-field appearance="fill" class="w-full">
                                    <input matInput [matDatepicker]="picker" (click)="picker.open()" readonly
                                        [max]="maxDate" [(ngModel)]="WeekDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div *ngIf="plan.value == 'monthly'" class="w-full mt-2 flex">
                                <mat-form-field class="w-50 mr-2">
                                    <mat-select [(ngModel)]="monthlyMonth">
                                        <mat-option *ngFor="let item of months" [value]="item">{{item}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="w-50">
                                    <mat-select [(ngModel)]="monthlyYear">
                                        <mat-option *ngFor="let item of years" [value]="item">{{item}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="plan.value == 'quarterly'" class="w-full mt-2 flex">
                                <mat-form-field class="w-50 mr-2">
                                    <mat-select [(ngModel)]="quarterMonth">
                                        <mat-option *ngFor="let item of quarterly"
                                            [value]="item.value">{{item.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="w-50">
                                    <mat-select [(ngModel)]="quarterYear">
                                        <mat-option *ngFor="let item of years" [value]="item">{{item}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="plan.value == 'yearly'" class="w-full mt-2 flex">
                                <mat-form-field class="w-full ">
                                    <mat-select [(ngModel)]="yearlyYear">
                                        <mat-option *ngFor="let item of years" [value]="item">{{item}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div *ngIf="plan.value == 'range'" class="w-full mt-2 flex">
                                <mat-form-field class="w-full">
                                    <mat-date-range-input [rangePicker]="picker1" (click)="picker1.open()"
                                        [max]="maxDate">
                                        <input matStartDate placeholder="Start date" readonly
                                            [(ngModel)]="ngRangeStart">
                                        <input matEndDate placeholder="End date" readonly [(ngModel)]="ngRangeEnd">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker1></mat-date-range-picker>
                                </mat-form-field>
                            </div>
                            <!-- <div class="mt-8 text-lg">
                                <span>{{plan.price | currency:'USD':'symbol':'1.0'}}</span>
                                <span class="text-secondary"> / month</span>
                            </div> -->
                        </div>
                    </ng-container>
                </div>
                <div class="py-2">
                    <button mat-flat-button class="min-w-60" [color]="'primary'" [matTooltip]="'Create Export File'">
                        <span> Create Export File </span>
                    </button>
                </div>
            </div>
            <div *ngIf="selectedRoute=='exports'">
                <div *ngIf="isLoading" class="py-4">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                        'background-color': '#dedede'
                      }">
                    </ngx-skeleton-loader>
                </div>
                <div id="exportContainer" *ngIf="!isLoading">
                    <table
                        class="table big-table table-hover table-condensed table-striped padding-2x wide no-bottom-margin clickable-table-new-window">
                        <tbody>
                            <tr class="clickable" *ngFor="let item of exportsData">
                                <td width="100%">
                                    <div class="container-fluid">
                                        <div class="flex justify-between align-items-center">
                                            <div class="flex align-items-center">
                                                <mat-icon svgIcon="mat_outline:insert_drive_file"
                                                    class="pr-3 icon-size-10"></mat-icon>
                                                <a href="https://assets.consolidus.com/globalAssets/smartCents/exports/{{item.fileName}}"
                                                    target="_&quot;blank&quot;" style="font-size: 14px;">
                                                    SmartCents Customer Invoice Export For Range <b>{{item.rangeStart |
                                                        date:'MM/dd/yyyy'}}</b>
                                                    through <b>{{item.rangeEnd | date:'MM/dd/yyyy'}}</b>
                                                </a>
                                            </div>
                                            <div>
                                                <h2 class="font-bold text-lg text-secondary ">{{item.pk_exportID}}
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="flex">
                                            <mat-icon svgIcon="mat_outline:insert_drive_file" class="pr-3 icon-size-10"
                                                style="visibility: hidden;"></mat-icon>
                                            <div>
                                                Exported on {{item.dateCreated | date:'medium'}}<br>
                                                Number of Invoices: {{item.numberOfPOs}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="exportsData.length > 0">
                        <div class="flex justify-center my-3" *ngIf="exportsData.length < totalExportsData">
                            <p class="cursor-pointer hover:text-gray-900" (click)="getNextPageData()"
                                *ngIf="!isNextPageLoader">Load More</p>
                            <mat-progress-spinner *ngIf="isNextPageLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>