<div class="rounded-2xl shadow bg-card flex pb-10" #topScrollAnchor>
    <div class="row" style="width: -webkit-fill-available;">
        <div class="col-12">
            <div class="p-6 pb-2 sm:p-8 dm:pb-2 lg:p-10 lg:pb-2 w-full">
                <div class="row">
                    <div class="col-12 col-lg-6 flex justify-between">
                        <div class="text-2xl font-bold">
                            Products/Supplier
                        </div>
                        <!-- <p class="text-lg font-bold px-2">Total products: {{totalProducts}}</p> -->
                    </div>
                    <div class="col-lg-6 col-12" *ngIf="!isLoading">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                            <input class="h-6" matInput [matTooltip]="'Press enter key after typing'"
                                (keyup.enter)="getProductsSearchByKeyword()" [(ngModel)]="keywordSearch" type="text"
                                [autocomplete]="'off'" [disabled]="isKeywordSearch" [placeholder]="'Search by keyword'">
                            <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-12 flex justify-end" *ngIf="!isLoading">
                        <p class="text-md cursor-pointer font-medium text-primary-500 hover:underline"
                            (click)="resetSearch()">
                            Reset Search
                        </p>
                    </div>
                </div>
                <div class="my-2">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse"
                        *ngIf="isLoading || isKeywordSearch">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="col-12 h-full py-2" *ngIf="!isLoading && !isKeywordSearch">
            <div class="text-center">
                <pagination-controls (pageChange)="getNextProductData($event)" *ngIf="dataSource.length > 0"
                    previousLabel="Prev" nextLabel="Next">
                </pagination-controls>
            </div>
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
            </ngx-skeleton-loader>
            <div *ngIf="!isLoading">
                <ng-container *ngIf="dataSource.length > 0; else noRecords">
                    <div *ngFor="let category of dataSource |  paginate : {
                        itemsPerPage: itemsPerPage,
                        currentPage: page,
                        totalItems: totalRecords
                      };">
                        <div class="p-6 pb-2 sm:p-8 dm:pb-2 lg:p-10 lg:pb-2">
                            <div class="text-secondary pb-0 mb-2 text-lg">
                                <b>
                                    <div class="flex align-items-center space-x-2" *ngIf="category.vendorRelation == 3">
                                        <span class="badge badge-secondary">{{category.productsCount}}</span>
                                        <p>{{category.companyName}}</p>
                                        <mat-icon svgIcon="heroicons_solid:star"
                                            class="icon-size-4 text-green-700"></mat-icon>
                                    </div>
                                    <div class="flex align-items-center space-x-2" *ngIf="category.vendorRelation == 2">
                                        <span class="badge badge-secondary">{{category.productsCount}}</span>
                                        <p>{{category.companyName}}</p>
                                        <mat-icon svgIcon="heroicons_solid:badge-check" class="icon-size-4"
                                            color="warn"></mat-icon>
                                    </div>
                                    <div class="flex align-items-center space-x-2" *ngIf="category.vendorRelation == 1">
                                        <span class="badge badge-secondary">{{category.productsCount}}</span>
                                        <p>{{category.companyName}}</p>
                                    </div>
                                </b>
                            </div>
                        </div>
                        <table class="table table-striped overflow-x-auto">
                            <thead>
                                <tr>
                                    <th width="5%">
                                        <span>PID</span> <span class="fa fa-question-circle"
                                            matTooltip="Product Id Number"></span>
                                    </th>
                                    <th width="5%">
                                        <span>SPID</span> <span class="fa fa-question-circle"
                                            matTooltip="Store Product Id Number"></span>
                                    </th>
                                    <th width="20%">
                                        <span>SPID</span> <span class="fa fa-question-circle"
                                            matTooltip="Supplier Id Number"></span>
                                    </th>
                                    <th width="50%">Product</th>
                                    <th width="10%" class="text-center">Master</th>
                                    <th width="10%" class="text-center">Store</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of category.products">
                                    <td>
                                        <a [routerLink]="['/apps/ecommerce/inventory/storeProduct',product.spid]"
                                            target="_blank">{{product.pid}}</a>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/apps/ecommerce/inventory/storeProduct',product.spid]"
                                            target="_blank">{{product.spid}}</a>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/apps/ecommerce/inventory/storeProduct',product.spid]"
                                            target="_blank">{{product.sid}}</a>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/apps/ecommerce/inventory/storeProduct',product.spid]"
                                            target="_blank">{{product.product}}</a>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="product.master == 0" class="text-red-700">Disable</span>
                                        <span *ngIf="product.master == 1" class="text-green-500">Active</span>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="product.store == 0" class="text-red-700">Offline</span>
                                        <span *ngIf="product.store == 1" class="text-green-500">Online</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
                <ng-template #noRecords>
                    <div class="font-semibold tracking-tight text-center">
                        <p class="text-lg">No record found</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>