/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.mat-grid-tile-content {
  align-items: self-start !important;
  justify-content: right !important;
}

.mat-grid-tile .mat-grid-tile-footer {
  color: black !important;
  background: transparent !important;
  font-size: 12px;
  position: relative !important;
}

.mobile-responsive-boxes {
  width: 75%;
}

.half-to-full-with-boxes {
  width: 50%;
}

.mat-grid-tile .mat-grid-tile-header {
  font-weight: bold;
  font-size: 13px;
  background-color: transparent !important;
  color: black !important;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.font-smaller {
  font-size: 11px !important;
}

.font-small {
  font-size: 12px !important;
}

.icon-style {
  width: 0px;
  height: 0px;
}

.font-medium {
  font-size: 13px !important;
}

.font-large {
  font-size: 14px !important;
}

.flex-to-block {
  display: flex;
}
// Media Queries

@media only screen and (max-width: 600px) {
  .mobile-responsive-boxes {
    width: 100%;
  }

  .half-to-full-with-boxes {
    width: 100%;
  }

  .flex-to-block {
    display: block;
  }
}

.mat-progress-bar {
  position: fixed !important;
}

.tag {
  font-weight: normal;
  color: white;
  background-color: #475569;
  text-align: center;
  width: 20%;
  border-radius: 18px;
  line-height: 2;
  text-transform: capitalize;
  font-size: 12.5px;
  margin-left: 10px;
}

.not-found-color {
  color: #8692a4;
  justify-content: center;
  display: grid;
}

.font-size-medium {
  font-size: medium;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  overflow-y: scroll;
  background: #d8d8fc;
  box-shadow: inset 0 0 4px #d8d8fc;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

.sub-nav-component {
  width: 100%;
  height: 100vh;
}

.sub-sidenav-content {
  height: 100vh;
  width: 100%;
  overflow-x: clip;
}

.sub-sidenav {
  padding: 5px;
  border-right: none !important;
  max-width: 270px;
}

.opacity-8 {
  opacity: 80%;
}

.opacity-9 {
  opacity: 90%;
}

.subnav-menu-icon {
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  transition: 0.3s;
  width: 35px !important;
  height: 35px !important;
}

.subnav-menu-icon:hover {
  background-color: #eaedf1;
}

.mat-drawer-inner-container {
  height: auto !important;
  overflow: hidden !important;
}

.mat-expansion-panel-content{
  background-color: white;
}

body.light .mat-expansion-panel-header.mat-expanded, body .light .mat-expansion-panel-header.mat-expanded {
  height: 42px !important;
}