/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.mat-grid-tile-content {
  align-items: self-start !important;
  justify-content: right !important;
}

.mat-grid-tile .mat-grid-tile-footer {
  color: black !important;
  background: transparent !important;
  font-size: 12px;
  position: relative !important;
}

.mobile-responsive-boxes {
  width: 75%;
}

.half-to-full-with-boxes {
  width: 50%;
}

.mat-grid-tile .mat-grid-tile-header {
  font-weight: bold;
  font-size: 13px;
  background-color: transparent !important;
  color: black !important;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.font-smaller {
  font-size: 11px !important;
}

.font-small {
  font-size: 12px !important;
}

.icon-style {
  width: 0px;
  height: 0px;
}

.font-medium {
  font-size: 13px !important;
}

.font-large {
  font-size: 14px !important;
}

.flex-to-block {
  display: flex;
}

// Media Queries

@media only screen and (max-width: 600px) {
  .mobile-responsive-boxes {
    width: 100%;
  }

  .half-to-full-with-boxes {
    width: 100%;
  }

  .flex-to-block {
    display: block;
  }
}

.mat-progress-bar {
  position: fixed !important;
}

.tag {
  font-weight: normal;
  color: white;
  background-color: #475569;
  text-align: center;
  width: 20%;
  border-radius: 18px;
  line-height: 2;
  text-transform: capitalize;
  font-size: 12.5px;
  margin-left: 10px;
}

.not-found-color {
  color: #8692a4;
  justify-content: center;
  display: grid;
}

.font-size-medium {
  font-size: medium;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  overflow-y: scroll;
  background: #d8d8fc;
  box-shadow: inset 0 0 4px #d8d8fc;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

.sub-nav-component {
  width: 100%;
  height: 100vh;
}

.sub-sidenav-content {
  height: 100vh;
  width: 100%;
  overflow-x: clip;
}

.sub-sidenav {
  padding: 5px;
  border-right: none !important;
  max-width: 270px;
}

.opacity-8 {
  opacity: 80%;
}

.opacity-9 {
  opacity: 90%;
}

.subnav-menu-icon {
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  transition: 0.3s;
  width: 35px !important;
  height: 35px !important;
}

.subnav-menu-icon:hover {
  background-color: #eaedf1;
}

.mat-drawer-inner-container {
  height: auto !important;
  overflow: hidden !important;
}

.mat-expansion-panel-content {
  background-color: white;
}

body.light .mat-expansion-panel-header.mat-expanded,
body .light .mat-expansion-panel-header.mat-expanded {
  height: 42px !important;
}

.custom-slider .ngx-slider .ngx-slider-limit {
  font-weight: 500;
  font-size: 12px;
  color: black !important;
}

.ngx-slider .ngx-slider-bubble {
  bottom: 20px;
  padding: 1px 8px !important;
  color: #37486a;
  font-size: 13px !important;
  font-weight: 500;
}

.custom-slider .ngx-slider .ngx-slider-pointer {
  background-color: #6e5399;
}

.max-height {
  height: 100%;
}

.font-size-eleven {
  font-size: 11px;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-top-30px {
  margin-top: 30px;
}

.lineHeihgt-35 {
  line-height: 3.5
}

.mat-horizontal-content-container {
  overflow: visible !important;
}

.selected-item {
  max-width: max-content !important;
}

.myStepperNone .mat-horizontal-stepper-header-container {
  pointer-events: none !important;
}

.myStepperAuto .mat-horizontal-stepper-header-container {
  pointer-events: auto !important;
}

.text-cut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-wrap {
  white-space: nowrap;
}

// Auto complete fields
// .multiselect-dropdown[ngcontent-qbs-c261] .dropdown-btn[ngcontent-qbs-c261] {
//   line-height: 2.5;
//   border: 1px solid #e8dcdc !important;
// }

// .multiselect-dropdown[_ngcontent-qbs-c261] .dropdown-btn[_ngcontent-qbs-c261] .dropdown-multiselect__caret[_ngcontent-qbs-c261] {
//   top: 80% !important;
// }

.multiselect-dropdown .dropdown-btn {
  border: 1px solid #fed8d8 !important;
  line-height: 2.5 !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  top: auto !important;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid #404C5E;
  color: #404C5E;
  background-color: white;
  padding: 8px 20px;
  border-radius: 25px;
  font-size: px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.fa.fa-circle {
  color: red !important;
}

.loaderss {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loaderss::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.align-content-center-data {
  text-align: -webkit-center !important;
}