<div class="inset-0 min-w-50 overflow-hidden mt-5 bg-card dark:bg-transparent w-full p-5">
  <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
  </ngx-skeleton-loader>
  <div *ngIf="!isLoading">
    <div class="flex-auto">
      <b class="text-2xl">Quotes</b>
    </div>
    <div class="mt-3 overflow-auto" *ngIf="!isArtworkDetails">
      <table class="table table-striped" *ngIf="quotesLength > 0; else noQuotes">
        <thead>
          <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Modified</th>
            <th>IHD</th>
            <th>Items</th>
            <th>Store</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of dataSource">
            <td>{{element.pk_cartID}}</td>
            <td>{{element.dateCreated | date: 'yyyy-MM-dd'}}</td>
            <td>{{element.dateModified | date: 'yyyy-MM-dd'}}</td>
            <td>{{(element.inHandsDate | date: 'yyyy-MM-dd') || '---'}}</td>
            <td>
              {{element.product}}
              <p><b>Color:</b> {{element.color}}</p>
            </td>
            <td>{{element.storeName}}</td>
            <td>{{element.total | currency}}</td>
            <td>
              <a target="_blank"
                href="https://assets.consolidus.com/globalAssets/Stores/quoteExports/{{element.storeName}}-Quote-{{element.pk_cartID}}.pdf">
                <mat-icon svgIcon="mat_outline:picture_as_pdf" class="cursor-pointer mr-1" matTooltip="PDF"></mat-icon>
              </a>
              <mat-icon svgIcon="mat_outline:remove_red_eye" class="cursor-pointer mr-1" matTooltip="View"
                (click)="viewArtworkDetails(element)"></mat-icon>
              <mat-icon *ngIf="!element?.removeLoader" (click)="removeCart(element)"
                svgIcon="mat_outline:restore_from_trash" class="cursor-pointer" matTooltip="Remove"></mat-icon>
              <mat-progress-spinner *ngIf="element?.removeLoader" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
        [length]="quotesLength" [pageIndex]="0" [pageSize]="20" (page)="getNextData($event)" [hidePageSize]="true">
      </mat-paginator>
      <ng-template #noQuotes>
        <div class="p-8 sm:p-16 text-2xl font-semibold not-found-color">
          There are no quotes created for this user.
        </div>
      </ng-template>
    </div>
    <div class="mt-3" *ngIf="isArtworkDetails">
      <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isCartLoader">
      </ngx-skeleton-loader>
      <div *ngIf="!isCartLoader">
        <div class="alert alert-warning my-2">
          NOTE: The "< br>" tag in the artwork comments signifies a line break (return) and is needed for
            formatting purposes. Please leave the line breaks and other code in the comments
        </div>
        <div class="flex justify-between">
          <div>
            <h3 class="text-lg font-bold my-2">Cart Item Details</h3>
            <p>
              Cart ID: {{cartData.pk_cartID}}<br>
              Date Created: {{cartData.dateCreated | date}}<br>
              Store: {{cartData.storeName}}
            </p>
          </div>
          <div>
            <button mat-button mat-stroked-button class="min-w-30" (click)="isArtworkDetails = !isArtworkDetails">Back
              to
              list</button>
          </div>
        </div>
        <div class="my-2">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Item Number</th>
                <th>Item Name</th>
                <th>Item Location</th>
                <th>Decoration</th>
                <th>Proof</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems">
                <td>{{item.productNumber}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.locationName}}</td>
                <td>{{item.decorationName}}</td>
                <td>
                  <span *ngIf="item?.proof">
                    <a href="https://assets.consolidus.com/artwork/Proof/Quotes/{{selectedCustomer.pk_userID}}/{{imprint.pk_cartID}}/{{imprint.pk_cartLineID}}/{{imprint.imprintID}}.jpg"
                      target="_blank">View Proof</a>
                  </span>
                  <span *ngIf="!item?.proof">N/A</span>
                </td>
                <td>
                  <mat-form-field class="w-full">
                    <textarea matInput [(ngModel)]="item.customerArtworkComment"></textarea>
                  </mat-form-field>
                  <button mat-button mat-flat-button color="primary" (click)="updateCartItems(item)"
                    [disabled]="item.updateLoader">
                    <span *ngIf="!item.updateLoader">Update</span>
                    <mat-progress-spinner *ngIf="item.updateLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                  </button>
                  <br>
                  <div *ngIf="item.artworkFiles.length > 0">
                    <a href="http://assets.consolidus.com/artwork/tempArtwork/#fileArray[i]#" target="_blank">VIEW
                      ARTWORK FILE #i#</a>
                    <br>
                  </div>
                  <div class="alert alert-warning text-center my-2 text-sm" *ngIf="item.artworkFiles.length == 0">NO
                    ARTWORK SUBMITTED FOR
                    THIS ITEM IN THIS CART</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>