<div class="w-full">
    <div class="w-full">
        <div class="px-2 pb-2" *ngIf="!isUpdateUser">
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                (change)="calledScreen(group.value)">
                <mat-button-toggle value="Current Users">
                    Current Users
                </mat-button-toggle>
                <mat-button-toggle value="New FLPS User">
                    New FLPS User
                </mat-button-toggle>
                <mat-button-toggle value="View Disabled Users">
                    View Disabled Users
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="px-5" *ngIf="mainScreen == 'Current Users' && isLoading">
            <div class="rounded-2xl shadow bg-card p-5">
                <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
                </ngx-skeleton-loader>
            </div>
        </div>
        <div *ngIf="mainScreen == 'Current Users' && !isLoading && !isUpdateUser">
            <div *ngIf="dataSource.length > 0;else other_content" class="w-full">
                <table mat-table [dataSource]="dataSource" class="w-full border-t">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                            ID
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.pk_userID || not_available}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="f_name">
                        <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                            Firs Name
                        </th>t
                        <td mat-cell *matCellDef="let element">
                            {{element.firstName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="l_name">
                        <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30 ">
                            Last Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.lastName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="admin">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Admin
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div class="flex justify-center">
                                <mat-icon (click)="updatePromoToggle(element)" svgIcon="heroicons_outline:check"
                                    *ngIf="element.blnAdmin"></mat-icon>
                                <mat-icon (click)="deletePromo(element)" svgIcon="heroicons_outline:x"
                                    *ngIf="!element.blnAdmin"></mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div class="flex justify-center">
                                <mat-icon (click)="toggleUpdateUserData(element, true)"
                                    svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                                <mat-icon (click)="deletePromo(element)" svgIcon="heroicons_outline:trash"></mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                    </tr>
                </table>
                <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}" [length]="totalUsers" [pageIndex]="0" [pageSize]="20"
                    (page)="getNextData($event)" [hidePageSize]="true">
                </mat-paginator>
            </div>
            <!-- No color Found -->
            <ng-template #other_content>
                <div class="text-secondary font-semibold p-5 text-center" *ngIf="!isUpdatePromo">
                    No Users Found.
                </div>
            </ng-template>
        </div>
        <div *ngIf="mainScreen == 'New FLPS User' && !isUpdateUser" class="p-6">
            <div class="row rounded-2xl shadow bg-card p-6" [formGroup]="addNewUserForm">
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Employee* </mat-label>
                        <mat-select matInput formControlName="admin_user_id">
                            <mat-option [value]="0">Select an employee</mat-option>
                            <mat-option *ngFor="let item of employeeUser" [value]="item.pk_userID">{{item.firstName + '
                                ' + item.lastName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>First Name (30) </mat-label>
                        <input matInput type="text" maxlength="30" formControlName="firstName">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Last Name (50) </mat-label>
                        <input matInput type="text" maxlength="50" formControlName="lastName">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Email (50)* </mat-label>
                        <input matInput type="text" maxlength="50" formControlName="email">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>UserName (15)* </mat-label>
                        <input matInput type="text" maxlength="15" formControlName="userName">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Password(15)* </mat-label>
                        <input matInput type="text" maxlength="15" formControlName="password">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Default Commission (%) </mat-label>
                        <input matInput type="number" formControlName="defaultCommission">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Admin User</mat-label>
                        <mat-select matInput formControlName="blnAdmin">
                            <mat-option [value]="false">No</mat-option>
                            <mat-option [value]="true">Yes</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="text-right col-12">
                    <button [disabled]="isAddNewUserLoader || !addNewUserForm.valid" class="min-w-50" mat-stroked-button
                        [matTooltip]="'Add New User'" (click)="addNewUser()">
                        <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddNewUserLoader"></mat-icon>
                        <span class="ml-2" *ngIf="!isAddNewUserLoader"> Add New User </span>
                        <mat-progress-spinner *ngIf="isAddNewUserLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="mainScreen == 'View Disabled Users' && !isUpdateUser">
            <div class="px-5" *ngIf="isDisabledLoading">
                <div class="rounded-2xl shadow bg-card p-5">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
                    </ngx-skeleton-loader>
                </div>
            </div>
            <div *ngIf="disabledDataSource.length > 0 && !isUpdatePromo && !isDisabledLoading;else other_content"
                class="w-full">
                <table mat-table [dataSource]="disabledDataSource" class="w-full border-t">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                            ID
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.pk_userID || not_available}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="f_name">
                        <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                            First Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.firstName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="l_name">
                        <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30 ">
                            Last Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.lastName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="admin">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Admin
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div class="flex justify-center">
                                <mat-icon class="text-green-900" svgIcon="heroicons_outline:check"
                                    *ngIf="element.blnAdmin"></mat-icon>
                                <mat-icon class="text-red-900" svgIcon="heroicons_outline:x"
                                    *ngIf="!element.blnAdmin"></mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div class="flex justify-center">
                                <mat-icon (click)="updatePromoToggle(element)"
                                    svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                                <mat-icon (click)="deletePromo(element)" svgIcon="heroicons_outline:trash"></mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                    </tr>
                </table>
                <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isDisabledLoading}" [length]="distabledTotalUsers"
                    [pageIndex]="0" [pageSize]="20" (page)="getNextDisabledData($event)" [hidePageSize]="true">
                </mat-paginator>
            </div>
        </div>
        <!-- Update Method -->
        <div *ngIf="isUpdateUser" class="p-6">
            <div class="row rounded-2xl shadow bg-card p-6" [formGroup]="updateUserForm">
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Employee* </mat-label>
                        <mat-select matInput formControlName="fk_adminUserID">
                            <mat-option [value]="0">Select an employee</mat-option>
                            <mat-option *ngFor="let item of employeeUser" [value]="item.pk_userID">{{item.firstName + '
                                ' + item.lastName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>First Name (30) </mat-label>
                        <input matInput type="text" maxlength="30" formControlName="firstName">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Last Name (50) </mat-label>
                        <input matInput type="text" maxlength="50" formControlName="lastName">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Email (50)* </mat-label>
                        <input matInput type="text" maxlength="50" formControlName="email">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>UserName (15)* </mat-label>
                        <input matInput type="text" maxlength="15" formControlName="userName">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Password(15)* </mat-label>
                        <input matInput type="text" maxlength="15" formControlName="password">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Default Commission (%) </mat-label>
                        <input matInput type="number" formControlName="defaultCommission">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-full">
                        <mat-label>Admin User</mat-label>
                        <mat-select matInput formControlName="blnAdmin">
                            <mat-option [value]="false">No</mat-option>
                            <mat-option [value]="true">Yes</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="justify-end flex col-12">
                    <button [disabled]="isUpdatePromoLoader" class="min-w-30 mr-2" mat-stroked-button
                        [matTooltip]="'Back to list'" (click)="toggleUpdateUserData(null, false)">
                        Back
                    </button>
                    <button [disabled]="isUpdateUserLoader" class="min-w-40" mat-stroked-button
                        [matTooltip]="'Update User'" (click)="updateUser()">
                        <mat-icon svgIcon="heroicons_solid:pencil" *ngIf="!isUpdateUserLoader"></mat-icon>
                        <span class="ml-2" *ngIf="!isUpdateUserLoader"> Update User </span>
                        <mat-progress-spinner *ngIf="isUpdateUserLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>