<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
</ngx-skeleton-loader>

<div class="row" *ngIf="!isLoading">
    <div class="col-12 my-2">
        <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-2xl font-bold">
                    <button [matTooltip]="'PDF, EPS, AI, PSD, and JPG file formats only!'">
                        <i class="fa fa-info-circle"></i>
                    </button>
                    Upload Artwork Template
                </div>
                <!-- Artwork template -->
                <div class="gap-y-4 mt-6">
                    <div class="row">
                        <div class="col-12 my-1">
                            <input type="file" accept=".jpg" (change)="upload($event)" style="line-height: 2.5;" />
                            <small class="text-danger font-semibold"> {{imageRequired}} </small>
                        </div>
                        <div class="col-12 flex justify-end">
                            <button (click)="uploadFile()" mat-stroked-button
                                [matTooltip]="'PDF, EPS, AI, PSD, and JPG file formats only!'">
                                <mat-icon [svgIcon]="'heroicons_outline:upload'"></mat-icon>
                                <span class="ml-1 mr-1">Upload Artwork Template</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </fuse-card>
    </div>
</div>

<div class="row" *ngIf="!isLoading">
    <div class="col-12 my-2">
        <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-2xl font-bold">
                    Current artwork templates
                </div>
                <!-- Artwork template -->
                <div class="gap-y-4 mt-6">
                    <div class="row p-2" *ngIf="artWorkData.length > 0;else other_content">
                        <div class="col-lg-4 col-12" *ngFor="let artWork of artWorkData">
                            <fuse-card class="flex flex-col items-center w-full p-8 filter-info bg-light rounded-2xl">
                                <div class="flex items-center justify-center p-5 rounded-full bg-primary-100 dark:bg-gray-600 hover:cursor-pointer hover:opacity-80"
                                    style="cursor: pointer;" (click)="openPdf(artWork)">
                                    <mat-icon class="icon-size-10 text-primary-500 dark:text-primary-300"
                                        svgIcon="mat_solid:picture_as_pdf"></mat-icon>
                                </div>
                                <div class="flex items-center justify-center p-2 font-semibold text-sm hover:cursor-pointer hover:opacity-80"
                                    style="cursor: pointer;" (click)="openPdf(artWork)">
                                    {{artWork.name}}
                                </div>
                                <button class="px-6 mt-8" mat-stroked-button>
                                    <mat-icon svgIcon="mat_outline:remove_circle_outline"></mat-icon>
                                    <span class="ml-2">Remove</span>
                                </button>
                            </fuse-card>
                        </div>
                    </div>
                    <ng-template #other_content>
                        <p class="text-secondary font-semibold my-5">
                            *There are currently no artwork templates uploaded for this product.
                        </p>
                    </ng-template>
                </div>
            </div>
        </fuse-card>
    </div>
</div>