<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <h2 class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Import Shipping
            </h2>
            <p class="text-secondary mb-2">This tool imports shipping charges in to the system, associating shipping
                charges with each PO on an order.
            </p>
            <div class="border p-5 my-2">
                <input #fileInput (change)="onFileChange($event)" id="file-upload" name="file-upload" type="file"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </div>
            <div class="my-2">
                <button mat-flat-button class="min-w-40" [disabled]="isExcelLoader" [color]="'primary'"
                    (click)="importShippingData()">
                    <span *ngIf="!isExcelLoader">Import</span>
                    <mat-progress-spinner *ngIf="isExcelLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div>