<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
</ngx-skeleton-loader>
<div class="row my-3 w-full" *ngIf="!isLoading">
    <div class="col-12 my-2">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
            (change)="calledScreen(group.value)">
            <mat-button-toggle value="Contact Information">
                Contact Information
            </mat-button-toggle>
            <mat-button-toggle value="Order Details">
                Order Details
            </mat-button-toggle>
            <mat-button-toggle value="Products">
                Products
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="col-12">
        <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-2xl font-bold">
                    Modify Order
                </div>

                <div *ngIf="mainScreen == 'Contact Information'" class="mt-5">
                    <div class="row" [formGroup]="billingShippingForm">
                        <div class="col-md-6 col-12">
                            <div class="text-lg font-bold text-secondary border-b mb-5">Bill To</div>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Company Name *</mat-label>
                                <input matInput placeholder="Company Name" formControlName="billingCompanyName">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">First Name *</mat-label>
                                <input matInput placeholder="First Name" formControlName="billingFirstName">
                            </mat-form-field>

                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Last Name *</mat-label>
                                <input matInput placeholder="Last Name" formControlName="billingLastName">
                            </mat-form-field>
                            <div class="mb-2">
                                <p><b>PO:</b>{{selectedOrder.purchaseOrderNum}}</p>
                            </div>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Location</mat-label>
                                <input matInput placeholder="Location" formControlName="billingLocation">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Deliver To</mat-label>
                                <input matInput placeholder="Deliver To" formControlName="billToDeliverTo">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Address *</mat-label>
                                <input matInput placeholder="Address" formControlName="billingAddress">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">City *</mat-label>
                                <input matInput placeholder="City" formControlName="billingCity">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">State *</mat-label>
                                <input matInput placeholder="State" formControlName="billingState">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Zip *</mat-label>
                                <input matInput placeholder="Zip" formControlName="billingZip">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Country *</mat-label>
                                <input matInput placeholder="Country" formControlName="billingCountry">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Phone *</mat-label>
                                <input matInput placeholder="Phone" formControlName="billingPhone">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Email *</mat-label>
                                <input matInput placeholder="Email" formControlName="billingEmail">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Account Charge Code</mat-label>
                                <input matInput placeholder="Account Charge Code" formControlName="accountChargeCode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="text-lg font-bold text-secondary border-b mb-5">Ship To</div>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Company Name *</mat-label>
                                <input matInput placeholder="Company Name" formControlName="shippingCompanyName">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">First Name *</mat-label>
                                <input matInput placeholder="First Name" formControlName="shippingFirstName">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Last Name *</mat-label>
                                <input matInput placeholder="Last Name" formControlName="shippingLastName">
                            </mat-form-field>
                            <div class="mb-2">
                                <p><b>PO:</b>{{selectedOrder.purchaseOrderNum}}</p>
                            </div>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Location</mat-label>
                                <input matInput placeholder="Location" formControlName="shippingLocation">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Deliver To</mat-label>
                                <input matInput placeholder="Deliver To" formControlName="shipToDeliverTo">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Address *</mat-label>
                                <input matInput placeholder="Address" formControlName="shippingAddress">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">City *</mat-label>
                                <input matInput placeholder="City" formControlName="shippingCity">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">State *</mat-label>
                                <input matInput placeholder="State" formControlName="shippingState">
                            </mat-form-field>
                            <mat-form-field class="w-1/2 mr-2">
                                <mat-label class="text-secondary">Zip *</mat-label>
                                <input matInput placeholder="Zip" formControlName="shippingZip">
                            </mat-form-field>
                            <mat-form-field class="w-1/3">
                                <mat-label class="text-secondary">Ext</mat-label>
                                <input matInput placeholder="Ext" formControlName="shippingZipExt">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Country *</mat-label>
                                <input matInput placeholder="Country" formControlName="shippingCountry">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Phone *</mat-label>
                                <input matInput placeholder="Phone" formControlName="shippingPhone">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Email *</mat-label>
                                <input matInput placeholder="Email" formControlName="shippingEmail">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">C#</mat-label>
                                <input matInput formControlName="CNumber">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="text-lg font-bold text-secondary border-b mb-2">Alternate Proof Emails</div>
                            <div class="alert alert-primary text-secondary text-sm" role="alert">
                                <p>Alternate proof emails will be included in all SmartArt correspondence on this order,
                                    in addition to the billing/shipping email above.</p>
                                <p>Separate emails by a comma.</p>
                            </div>
                            <mat-form-field class="example-chip-list w-full" appearance="fill">
                                <mat-label>Emails (Comma-separated)</mat-label>
                                <mat-chip-list class="pt-1" #chipList1>
                                    <mat-chip [removable]="true" [selectable]="true" *ngFor="let email of emails"
                                        (removed)="remove(email)">
                                        {{email}}
                                        <mat-icon class="icon-size-5" matChipRemove
                                            [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    </mat-chip>
                                    <input [matChipInputFor]="chipList1" placeholder="New Email"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                        <div class="col-12 text-right">
                            <button mat-button mat-stroked-button class="min-w-60" [disabled]="isBillingLoader"
                                (click)="updateContactInformation()">
                                <span *ngIf="!isBillingLoader">Update Contact Information</span>
                                <mat-progress-spinner *ngIf="isBillingLoader" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="mainScreen == 'Order Details'" class="mt-5">
                    <div class="text-lg font-bold text-secondary border-b mb-2">Shipping Information</div>
                    <div class="alert alert-primary text-secondary text-sm" role="alert">
                        <p> This is how the delivery information currently appears to the customer.</p>
                    </div>
                    <!-- Shipping Information -->
                    <div class="row" [formGroup]="shippingForm">
                        <div class="col-md-8 col-12 flex justify-between">
                            <div class="text-secondary font-bold">Expected Delivery Date:</div>
                            <div class="text-secondary">12-17 business days after approval</div>
                        </div>
                        <div class="col-md-8 col-12 flex justify-between">
                            <div class="text-secondary font-bold">Shipping Method:</div>
                            <div class="text-secondary">{{selectedOrder?.shippingCarrierName}},
                                {{selectedOrder?.shippingServiceName}}</div>
                        </div>
                        <div class="col-md-8 col-12 flex justify-between">
                            <div class="text-secondary font-bold">Order Date:</div>
                            <div class="text-secondary">{{selectedOrder?.orderDate | date: 'MM/dd/YYYY'}}</div>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">In-Hands Date: (mm/dd/yyyy)</mat-label>
                                <input matInput [matDatepicker]="inHandsDate" readonly (click)="inHandsDate.open()"
                                    formControlName="inHandsDate">
                                <mat-datepicker-toggle matIconSuffix [for]="inHandsDate"></mat-datepicker-toggle>
                                <mat-datepicker #inHandsDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Carrier Name *</mat-label>
                                <input matInput formControlName="shippingCarrierName">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Payment Date: (mm/dd/yyyy)</mat-label>
                                <input matInput [matDatepicker]="paymentDate" readonly (click)="paymentDate.open()"
                                    formControlName="paymentDate">
                                <mat-datepicker-toggle matIconSuffix [for]="paymentDate"></mat-datepicker-toggle>
                                <mat-datepicker #paymentDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Service Name</mat-label>
                                <input matInput formControlName="shippingServiceName">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Purchase Order</mat-label>
                                <input matInput formControlName="purchaseOrderNum">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Account Number</mat-label>
                                <input matInput formControlName="shippingCustomerAccountNumber">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Invoice Due Date</mat-label>
                                <input matInput [matDatepicker]="invoiceDueDate" readonly
                                    (click)="invoiceDueDate.open()" formControlName="invoiceDueDate">
                                <mat-datepicker-toggle matIconSuffix [for]="invoiceDueDate"></mat-datepicker-toggle>
                                <mat-datepicker #invoiceDueDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Service Code *</mat-label>
                                <input matInput formControlName="shippingServiceCode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Cost Center Code</mat-label>
                                <input matInput formControlName="costCenterCode">
                            </mat-form-field>
                        </div>
                        <div class="col-12 text-right">
                            <button mat-button mat-stroked-button class="min-w-60" (click)="updateShippingInformation()"
                                [disabled]="isShippingLoader">
                                <span *ngIf="!isShippingLoader">Update Shipping Information</span>
                                <mat-progress-spinner *ngIf="isShippingLoader" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                    <!-- Payment Information -->
                    <div class="text-lg font-bold text-secondary border-b py-2 my-2">Payment Information</div>
                    <div class="row" [formGroup]="paymentForm">
                        <div class="col-md-8 col-12 flex justify-between">
                            <div class="text-secondary font-bold">Payment Status:</div>
                            <div class="text-red-600" *ngIf="!selectedOrder.paymentDate">ON HOLD: Pending payment method
                                approval</div>
                            <div class="text-green-600" *ngIf="selectedOrder.paymentDate">Active: Approved on
                                {{selectedOrder.paymentDate | date}}</div>
                        </div>
                        <div class="col-md-4 col-12 text-right">
                            <mat-checkbox formControlName="blnTaxable">Taxable</mat-checkbox>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Payment Method</mat-label>
                                <mat-select matInput formControlName="paymentMethodID">
                                    <mat-option *ngFor="let item of paymentMethods"
                                        [value]="item.id">{{item.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Transaction ID</mat-label>
                                <input matInput formControlName="transactionID">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">DisCount Code</mat-label>
                                <input matInput formControlName="discountCode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Discount Amount</mat-label>
                                <input matInput formControlName="discountAmount">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12 mr-1">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Sales Tax: (as a percentage) *</mat-label>
                                <input matInput formControlName="salesTaxRate">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Exemption comment</mat-label>
                                <textarea matInput formControlName="taxExemptionComment"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-12">
                            <mat-form-field class="w-full">
                                <mat-label class="text-secondary">Instructions</mat-label>
                                <textarea matInput formControlName="instructions"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-12 text-right">
                            <button mat-button mat-stroked-button class="min-w-60" (click)="updatePaymentInformation()"
                                [disabled]="isPaymentLoader">
                                <span *ngIf="!isPaymentLoader">Update Payment Information</span>
                                <mat-progress-spinner *ngIf="isPaymentLoader" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="mainScreen == 'Products'" class="mt-5">
                    <app-products-modify></app-products-modify>
                </div>
            </div>
        </fuse-card>
    </div>
</div>