<div class="my-3 w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse"
        *ngIf="(isLoading || isParticipantLaoder) && mainScreen =='Participants'">
    </ngx-skeleton-loader>
    <div *ngIf="!isLoading && !isParticipantLaoder && groupOrder">
        <div>
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                (change)="calledScreen(group.value)">
                <mat-button-toggle value="Participants">
                    Participants
                </mat-button-toggle>
                <mat-button-toggle value="Current Items">
                    Group Items
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-4 w-full mt-2" *ngIf="mainScreen == 'Participants'">
            <div class="flex flex-col flex-auto p-6 bg-card rounded-2xl shadow-md">
                <div class="flex items-center">
                    <div class="flex flex-col">
                        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Group Order Details
                        </div>
                    </div>
                </div>
                <div class="my-8 space-y-8">
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <div
                                class="flex items-center justify-center w-14 h-14 rounded bg-red-100 text-red-800 dark:bg-red-600 dark:text-red-50">
                                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:cash'"></mat-icon>
                            </div>
                            <div class="flex-auto ml-4 leading-none">
                                <div class="text-sm font-medium text-secondary flex align-items-center">
                                    <span class="font-semibold">Participating</span>
                                    <mat-icon matTooltip="The number of people currently participating in
                                    this group order, excluding the initiator" svgIcon="mat_outline:info"
                                        class="icon-size-4 cursor-pointer ml-1"></mat-icon>
                                </div>
                                <div class="mt-2 font-medium text-2xl">{{totalParticipants}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <div
                                class="flex items-center justify-center w-14 h-14 rounded bg-indigo-100 text-indigo-800 dark:bg-indigo-600 dark:text-indigo-50">
                                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:cash'"></mat-icon>
                            </div>
                            <div class="flex-auto ml-4 leading-none">
                                <div class="text-sm font-medium text-secondary flex align-items-center">
                                    <span class="font-semibold">Invited</span>
                                    <mat-icon
                                        matTooltip="The number of people invited to this group order, excluding the initiator"
                                        svgIcon="mat_outline:info" class="icon-size-4 cursor-pointer ml-1"></mat-icon>
                                </div>
                                <div class="mt-2 font-medium text-2xl">{{tempTotalRecords + totalParticipants}}</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <div class="flex-auto leading-none">
                                <span class="bg-default rounded px-3 py-1 text-secondary font-bold"
                                    matTooltip="Each participant pays for their portion of the group order, including the initiator.">Who's
                                    paying</span>
                            </div>
                        </div>
                        <div class="mt-3 text-md text-secondary">
                            <span *ngIf="!groupOrder[0].blnInitiatorPays">
                                Each participant pays their portion, including
                                initiator.
                            </span>
                            <span *ngIf="groupOrder[0].blnInitiatorPays">
                                Initiator pays for the entire order
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <div class="flex-auto leading-none">
                                <span class="bg-default rounded px-3 py-1 text-secondary font-bold"
                                    matTooltip="The time left before this group order closes.">Time left on group
                                    order</span>
                            </div>
                        </div>
                        <div class="mt-3 text-md text-secondary" *ngIf="groupOrder">
                            <span class="text-red-500" *ngIf="daysCount(groupOrder[0].expires) < 0">This group order has
                                been
                                closed</span>
                            <span class="text-red-500" *ngIf="daysCount(groupOrder[0].expires) >= 0">{{daysLeft}}
                                days</span>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <div class="flex-auto leading-none">
                                <span *ngIf="groupOrder[0].blnShipToOneLocation"
                                    class="bg-default rounded px-3 py-1 text-secondary font-bold"
                                    matTooltip="This entie group order will be shipped to this location.">Shipping</span>
                                <span *ngIf="!groupOrder[0].blnShipToOneLocation"
                                    class="bg-default rounded px-3 py-1 text-secondary font-bold"
                                    matTooltip="Each participant will receive their own shipment.">Shipping</span>
                            </div>
                        </div>
                        <div class="mt-3 text-md text-secondary">
                            <span *ngIf="!groupOrder[0].blnShipToOneLocation">Each participant will receive their own
                                shipment.</span>
                            <div *ngIf="groupOrder[0].blnShipToOneLocation" class="font-medium">
                                <p>{{groupOrder[0].groupOrderShippingName}}</p>
                                <p>{{groupOrder[0].groupOrderShippingCompanyName}}</p>
                                <p>{{groupOrder[0].groupOrderShippingAddress}}</p>
                                <p>{{groupOrder[0].groupOrderShippingAddress2}}</p>
                                <p>{{groupOrder[0].groupOrderShippingCity}}</p>
                                <p>{{groupOrder[0].groupOrderShippingState}}</p>
                                <p>{{groupOrder[0].groupOrderShippingZip}}</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="flex flex-col">
                        <div class="flex items-center">
                            <div class="flex-auto leading-none">
                                <span class="bg-default rounded px-3 py-1 text-secondary font-bold"
                                    matTooltip="This group order closes at this time.">Closes</span>
                            </div>
                        </div>
                        <div class="mt-3 text-md text-secondary">{{groupOrder[0].expires | date:'MMM d, y'}} @ 11:59
                            PM
                        </div>
                        <mat-form-field appearance="fill">
                            <input [(ngModel)]="ngDate" matInput [matDatepicker]="picker" [min]="minDate" readonly
                                (click)="picker.open()" placeholder="Click to select new expiry">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div class="text-right">
                            <button mat-stroked-button matTooltip="Update" class="text-sm">
                                <mat-progress-spinner *ngIf="updateCloseLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                                <span *ngIf="!updateCloseLoader">Update</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Group order details -->
            <div class="xl:col-span-2 flex flex-col flex-auto bg-card rounded-2xl shadow-md overflow-hidden">
                <div class="p-6 flex justify-between">
                    <div>
                        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Participants
                        </div>
                        <div class="text-secondary font-medium">{{totalRecords}}</div>
                    </div>
                    <mat-progress-spinner *ngIf="isFilterLoader" [diameter]="24" [mode]="'indeterminate'"
                        class="ml-2"></mat-progress-spinner>
                </div>
                <div class="px-6">
                    <mat-form-field class="w-full">
                        <mat-select matInput [(ngModel)]="ngFilter"
                            (selectionChange)="filterAllParticipants($event.value)">
                            <mat-option [value]="-1">All invitees</mat-option>
                            <mat-option [value]="1">Participating invitees</mat-option>
                            <mat-option [value]="0">Non-participating invitees</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="overflow-x-auto">
                    <table class="w-full bg-transparent" mat-table [dataSource]="dataSource">

                        <!-- Transaction ID -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>
                                Name
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                <span *ngIf="element.shippingFirstName">{{element.shippingFirstName + ' '
                                    +element.shippingLastName}}</span>
                                <span *ngIf="!element.shippingFirstName">---</span>

                            </td>
                        </ng-container>

                        <!-- Date -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>
                                Email
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                {{element.email}}
                            </td>
                        </ng-container>

                        <!-- Name -->
                        <ng-container matColumnDef="participating">
                            <th mat-header-cell *matHeaderCellDef class="">
                                Participating
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm ">
                                <mat-icon *ngIf="element.participating" svgIcon="heroicons_outline:check"
                                    class="icon-size-4 text-green-500"></mat-icon>
                                <mat-icon *ngIf="!element.participating" svgIcon="heroicons_outline:x"
                                    class="icon-size-4 text-red-500"></mat-icon>
                            </td>
                        </ng-container>

                        <!-- Amount -->
                        <ng-container matColumnDef="paid">
                            <th mat-header-cell *matHeaderCellDef class="min-w-15">
                                Paid
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                <span *ngIf="element.blnPaid" class="text-green-500">Paid</span>
                                <span *ngIf="!element.blnPaid" class="text-red-500">Not Paid</span>
                            </td>
                        </ng-container>
                        <!-- Invoice -->
                        <ng-container matColumnDef="invoice">
                            <th mat-header-cell *matHeaderCellDef class="min-w-15">
                                Invoice
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                <span *ngIf="!element.invoice">---</span>
                                <span *ngIf="element.invoice">{{element.invoice}}</span>
                            </td>
                        </ng-container>

                        <!-- Status -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-center min-w-15">
                                Action
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm text-center">
                                <mat-icon svgIcon="mat_outline:attach_money" matTooltip="Mark this participant paid"
                                    class="mr-1 cursor-pointer icon-size-4"></mat-icon>
                                <mat-icon *ngIf="!element.delLoader" matTooltip="Remove Participant"
                                    svgIcon="heroicons_outline:trash" class="cursor-pointer icon-size-4 "></mat-icon>
                                <mat-progress-spinner *ngIf="element.delLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="dataColumns"></tr>
                        <tr class="order-row h-16" mat-row *matRowDef="let row; columns: dataColumns;"></tr>
                    </table>
                    <mat-paginator #paginator
                        class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="totalRecords" [pageIndex]="0"
                        [pageSize]="20" (page)="getNextData($event)" [hidePageSize]="true">
                    </mat-paginator>
                </div>
            </div>

        </div>
        <ngx-skeleton-loader class="mt-2" count="8" appearance="line" animation="pulse"
            *ngIf="isItemsLoader && mainScreen =='Current Items'">
        </ngx-skeleton-loader>
        <div *ngIf="mainScreen == 'Current Items' && !isItemsLoader" class="mt-2">
            <div class="p-6 bg-card rounded-2xl shadow-md" *ngFor="let item of orderItems">
                <div class="row">
                    <div class="col-12 col-md-2">
                        <img class="w-30 h-30 m-0"
                            src="https://assets.consolidus.com/globalAssets/Products/coming_soon.jpg">
                    </div>
                    <div class="col-12 col-md-10">
                        <p class="text-secondary font-bold">{{item.productName}}</p>
                        <hr class="my-2">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <li class="text-secondary font-medium">SPID: {{item.pk_storeProductID}}</li>
                                <li class="text-secondary font-medium">Minimum Quantity Allowed: {{item.unitsInWeight}}
                                </li>
                                <li class="text-secondary font-medium">Minimum Threshold Per Initiator: N/A</li>
                                <li class="text-secondary font-medium">Ordered so far: {{item.quantity}}</li>
                            </div>
                            <!-- <div class="col-12 col-md-7">
                                <p>Artwork</p>
                                <hr class="mt-2">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>