<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto bg-light dark:bg-transparent">
    <!-- Header -->
    <div
        class="relative bg-light flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-1" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">Store Details</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Back to Customers Page button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" [matTooltip]="'Go to stores'"
                (click)="backToStoresScreen()">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                <span class="ml-2 mr-1">Back to Stores</span>
            </button>
        </div>
    </div>

    <ngx-skeleton-loader count="14" appearance="line" animation="pulse" class="p-5" *ngIf="isLoading">
    </ngx-skeleton-loader>

    <mat-drawer-container class="sub-nav-component bg-light" autosize *ngIf="!isLoading">
        <mat-drawer #drawer class="sub-sidenav bg-light" [mode]="drawerMode" [opened]="drawerOpened">
            <div *ngFor="let route of routes;let i = index">
                <mat-expansion-panel class="bg-light" #panel [class.mat-elevation-z0]="true" dense
                    *ngIf="route.children.length == 0" hideToggle (click)="clicked(route)" (opened)="doSomething()">
                    <mat-expansion-panel-header
                        [style.background-color]="route.title === selectedScreeen ? '#d4d7dd' : 'transparent'"
                        [ngClass]="route.title === selectedScreeen ? 'opacity-100' : 'opacity-80'">
                        <mat-icon svgIcon="{{route.icon}}" class="icon-size-5 text-primary"></mat-icon>
                        <span style="font-size: 13px; font-weight: bold; margin-left: 10px;">{{route.title}}
                        </span>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel class="bg-light" [expanded]="true" [class.mat-elevation-z0]="true" dense
                    *ngIf="route.children.length > 0">
                    <mat-expansion-panel-header class="bg-light"
                        [ngClass]="route.title === selectedScreeen ? 'opacity-100' : 'opacity-80'">
                        <mat-icon svgIcon="{{route.icon}}" class="icon-size-5 text-primary"></mat-icon>
                        <span style="font-size: 13px; font-weight: bold; margin-left: 10px;"> {{route.title}}
                        </span>
                    </mat-expansion-panel-header>
                    <mat-nav-list dense *ngFor="let child of route.children" class="bg-light">
                        <button style="padding: 15px;"
                            [style.background-color]="child.title === selectedScreeen ? '#d4d7dd' : 'transparent'"
                            [ngClass]="child.title === selectedScreeen ? 'opacity-100' : 'opacity-80'" mat-button
                            class="w-full my-1 mr-2 justify-content-start" (click)="clicked(child)">
                            <mat-icon svgIcon="{{child.icon}}" class="icon-size-5 text-primary"></mat-icon>
                            <span style="font-size: 13px; font-weight: bold; margin-left: 10px;"> {{child.title}}
                            </span>
                        </button>
                    </mat-nav-list>
                </mat-expansion-panel>
            </div>
        </mat-drawer>

        <div class="sub-sidenav-content bg-light p-2" #topScrollAnchor>
            <div class="flex justify-content-between">
                <mat-icon class="subnav-menu-icon ml-1" svgIcon="heroicons_outline:menu" (click)="toggleDrawer()">
                </mat-icon>
            </div>
            <div class="row p-2">
                <div class="col-12">
                    <div class="bg-card shadow p-6">
                        <div class="row w-full">
                            <div class="col-lg-4 col-md-6 col-12">
                                <b class="text-secondary text-sm">Site</b>
                                <a class="text-md float-right cursor-pointer font-medium text-primary-500 hover:underline"
                                    (click)="goToLink('storeURL')">
                                    <b>{{selectedStore?.storeURL || not_available}}</b>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <b class="text-secondary text-sm">Store ID</b>
                                <p class="float-right text-sm">{{selectedStore?.pk_storeID || not_available}}</p>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <b class="text-secondary text-sm">Launch Date</b>
                                <p class="float-right text-sm">{{launchDate}}</p>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <b class="text-secondary text-sm">Program Manager</b>
                                <p class="float-right text-sm">{{selectedStore.primaryStoreUser ?
                                    selectedStore.primaryStoreUser : selectedStore.programManager}}</p>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <b class="text-secondary text-sm">Secured</b>
                                <p class="float-right text-sm text-secondary">{{selectedStore?.blnElectronicInvoicing ?
                                    'YES' : 'NO'}}</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 my-5 w-full">
                    <router-outlet [(isLoading)]="isLoading" [selectedStore]="selectedStore"></router-outlet>
                </div>
            </div>
        </div>
    </mat-drawer-container>
</div>