<div class="w-full bg-light">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->

            <!-- Title -->
            <div class="mt-2" #topScrollAnchor>
                <div class="flex align-items-center justify-between">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Order Manage
                    </h2>
                    <button *ngIf="loginCheck" class="min-w-40" mat-stroked-button (click)="logout()">Logout</button>
                </div>
            </div>
            <div class="flex flex-wrap items-center font-medium" *ngIf="loginCheck">
                <a class="whitespace-nowrap text-primary-500" *ngIf="!isLoading">Welcome, {{userData?.firstName + ' ' +
                    userData?.lastName}}</a>
            </div>
            <div class="text-center " *ngIf="loginCheck">
                <mat-form-field class="w-100 mr-1" matTooltip="Enter to search">
                    <input matInput placeholder="Search Order ID" [(ngModel)]="orderID" (keyup.enter)="searchOrder()">
                </mat-form-field>
                <mat-form-field class="w-100" matTooltip="Enter to search">
                    <input matInput placeholder="Search Customer" [(ngModel)]="customerID"
                        (keyup.enter)="searchCustomer()">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="p-6 sm:p-6 space-y-2" *ngIf="loginCheck">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedRoute"
            (change)="calledScreen(group.value)">
            <mat-button-toggle *ngFor="let item of routes" [value]="item.route">
                {{item.title}}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <router-outlet></router-outlet>
    </div>
    <div class="flex items-center justify-center px-6" *ngIf="!loginCheck" style="height: 70%;">
        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">OrderManage Login</div>
                <mat-form-field class="w-full">
                    <mat-label>Username</mat-label>
                    <input matInput [(ngModel)]="ngEmail" type="email">
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="ngPassword" type="password">
                </mat-form-field>
                <button [disabled]="isLoginLoader" mat-flat-button class="w-full" [color]="'primary'"
                    [matTooltip]="'Login'" (click)="loginorderManage()">
                    <span *ngIf="!isLoginLoader"> Login </span>
                    <mat-progress-spinner *ngIf="isLoginLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div>