<div class="px-5 mt-6">
    <div class="row">
        <div class="col-12">
            <b>Standard Imprint Name</b>
        </div>
        <div class="col-12">
            <mat-form-field class="w-full" appearance="fill">
                <input matInput [(ngModel)]="imprintName" placeholder="Standard Imprint Name">
            </mat-form-field>
        </div>
        <!-- Decorator -->
        <div class="col-12">
            <b>Decorator</b>
        </div>
        <div class="col-12">
            <mat-form-field class="w-full" appearance="fill">
                <mat-select [(ngModel)]="selectedSuppliers" name="supplier">
                    <mat-option *ngFor="let supplier of suppliers" [value]="supplier">
                        <small>{{supplier.companyName}}</small>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field class="w-full">
                <input matInput placeholder="Search suppliers" matTooltip="Search suppliers by name"
                    [matAutocomplete]="auto" [formControl]="searchSuppliersCtrl">
                <mat-autocomplete class="w-full" #auto="matAutocomplete" (optionSelected)="onSelectedSuppliers($event)"
                    [displayWith]="displayWithSuppliers">
                    <mat-option *ngIf="isSearchingSuppliers" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isSearchingSuppliers">
                        <mat-option *ngFor="let item of allSuppliers" [value]="item">
                            <span>{{item.companyName}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field> -->
        </div>

        <!-- Imprint Method -->
        <div class="col-12">
            <small class="text-danger font-semibold">
                * To add a new method, select "NEW METHOD" in the menu and then enter the name in the box to
                the right.
            </small>
            <br>
            <b>
                <button
                    [matTooltip]="'To add a new method, select (NEW METHOD) in the menu and then enter the name in the box to the right'">
                    <i class="fa fa-info-circle"></i>
                </button>
                Imprint Method
            </b>
        </div>
        <div class="col-lg-6 col-12">
            <mat-form-field class="w-full">
                <input matInput placeholder="Imprint Method" [matAutocomplete]="auto2"
                    [formControl]="methodSearchControl">
                <mat-hint *ngIf="selectedMethod">{{selectedMethod.methodName}}
                    ({{selectedMethod.pk_methodID}})</mat-hint>
                <mat-autocomplete class="w-full" #auto2="matAutocomplete"
                    (optionSelected)="methodSelected($event.option.value)" [displayWith]="displayWithMethods">
                    <mat-option *ngIf="isMethodLoading" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isMethodLoading">
                        <mat-option *ngFor="let method of addImprintMethods" [value]="method">
                            <small>{{method.methodName}}
                                ({{method.pk_methodID}})</small>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-12">
            <mat-form-field appearance="fill" class="w-full">
                <input matInput placeholder="New Method Name" [disabled]="selectedMethod?.pk_methodID != null"
                    [(ngModel)]="method_name">
            </mat-form-field>
        </div>

        <!-- Location -->
        <div class="col-12">
            <small class="text-danger font-semibold">
                * To add a new location, select (NEW LOCATION) in the menu and then enter the name in the
                box to the right.
            </small>
            <br>
            <b>
                <button
                    [matTooltip]="'To add a new location, select (NEW LOCATION) in the menu and then enter the name in the box to the right'">
                    <i class="fa fa-info-circle"></i>
                </button>
                Location
                <!-- <span *ngIf="!addImprintLocations.length"
                    class="text-sm text-secondary font-semibold ml-2 cursor-pointer" (click)="GetAllImprintLocation()">
                    ({{locationsFetch}}) </span> -->
            </b>
        </div>
        <div class="col-lg-6 col-12">
            <!-- (optionSelected)="onSelected()" -->
            <mat-form-field class="w-full">
                <input matInput placeholder="Imprint Location" [matAutocomplete]="auto1"
                    [formControl]="locationSearchControl">
                <mat-hint *ngIf="selectedLocation">{{selectedLocation.locationName}}
                    ({{selectedLocation.pk_locationID}})</mat-hint>
                <mat-autocomplete class="w-full" #auto1="matAutocomplete"
                    (optionSelected)="locationSelected($event.option.value)" [displayWith]="displayWithLocations">
                    <mat-option *ngIf="isLoadings" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isLoadings">
                        <mat-option *ngFor="let location of addImprintLocations" [value]="location">
                            <small>{{location.locationName}}
                                ({{location.pk_locationID}})</small>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <!-- <mat-form-field class="w-full" appearance="fill">
                <input type="text" placeholder="Imprint Location" aria-label="Number" matInput
                    [formControl]="locationControl" [matAutocomplete]="auto1"
                    [readonly]="addImprintLocations.length ? false : true">
                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                    <mat-option *ngFor="let location of locationFilteredOptions | async" [value]="location.locationName"
                        (click)="locationSelected(location)">
                        <small>{{location.locationName}}
                            ({{location.pk_locationID}})</small>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field> -->
        </div>
        <div class="col-lg-6 col-12">
            <mat-form-field appearance="fill" class="w-full">
                <input matInput [disabled]="selectedLocation?.pk_locationID != null" placeholder="New Location Name"
                    [(ngModel)]="location_name">
            </mat-form-field>
        </div>

        <!-- Imprint Area -->
        <div class="col-12">
            <b>Imprint Area (max)</b>
        </div>
        <div class="col-12">
            <mat-form-field appearance="fill" class="w-full">
                <input matInput [(ngModel)]="areaValue" maxlength="80">
            </mat-form-field>
        </div>

        <!-- Details -->
        <div class="col-12">
            <b>How are the charges applied?</b>
        </div>
        <div class="col-12">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="favoriteSeason">
                <mat-radio-button (change)="changeProcessMode($event)" class="example-radio-button"
                    *ngFor="let season of seasons" [value]="season.value">
                    {{season.text}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="col-12 py-3">
            <!-- Quantity restrictions -->

            <div class="row" *ngIf="favoriteSeason == 0">
                <div class="col-12">
                    <button
                        [matTooltip]="'Set all quantities to1 if no restrictions. Use quantity=1 instead of product minimum quantity'">
                        <i class="fa fa-info-circle"></i>
                    </button>
                    <b class="pl-1">Quantity restrictions for multiple colors</b>
                </div>
            </div>
            <div class="row my-2" *ngIf="favoriteSeason == 0">
                <div class="col-lg-3 col-12">
                    <b class="text-secondary"># of Colors</b>
                </div>
                <div class="col-9"></div>

                <form [formGroup]="values">
                    <div class="row">
                        <div class="col-3">
                            <p class="font-semibold" style="line-height: 3.5;">Min Product Qty</p>
                        </div>
                        <div class="col-2">
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-label>Two</mat-label>
                                <input matInput type="number" min="1" value="1"
                                    (input)="_commonService.validateInput($event)" [formControlName]="'twoColorQ'">
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-label>Three</mat-label>
                                <input matInput type="number" min="1" value="1"
                                    (input)="_commonService.validateInput($event)" [formControlName]="'threeColorQ'">
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-label>Four</mat-label>
                                <input matInput type="number" min="1" value="1"
                                    (input)="_commonService.validateInput($event)" [formControlName]="'fourColorQ'">
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-label>Five</mat-label>
                                <input matInput type="number" min="1" value="1"
                                    (input)="_commonService.validateInput($event)" [formControlName]="'fiveColorQ'">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Digitizer -->
            <div class="row" *ngIf="favoriteSeason == 1">
                <div class="col-12">
                    <b>Digitizer</b>
                </div>
            </div>
            <div class="row" *ngIf="favoriteSeason == 1">
                <div class="col-12">
                    <mat-form-field class="w-full" appearance="fill">
                        <mat-select [(ngModel)]="selectedDigitizer" name="food"
                            [disabled]="addImprintDigitizers.length ? false : true">
                            <mat-option *ngFor="let digitzier of addImprintDigitizers" [value]="digitzier">
                                {{digitzier.companyName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="col-12 mt-2">
            <b>Does the user need to specify imprint colors?</b>
        </div>
        <div class="col-12">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="defaultImprintColorSpecification">
                <mat-radio-button class="example-radio-button" [value]="true">
                    Yes
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" [value]="false">
                    No
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-12 my-2" *ngIf="defaultImprintColorSpecification">
            <mat-form-field class="w-full">
                <mat-label>Max Colors</mat-label>
                <mat-select [(ngModel)]="maxColorSelected" name="maxColor">
                    <mat-option *ngFor="let maxColor of maxColors" [value]="maxColor">
                        {{maxColor}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12 my-2" *ngIf="defaultImprintColorSpecification">
            <div>
                <button class="min-w-40" mat-flat-button [color]="'primary'"
                    [matTooltip]="'Get Imprint Color Collection Ids'" (click)="generateCollectionId()"
                    [disabled]="getImprintColorCollectionLoader">
                    <mat-progress-spinner *ngIf="getImprintColorCollectionLoader" [diameter]="24"
                        [mode]="'indeterminate'">
                    </mat-progress-spinner>
                    <span *ngIf="!getImprintColorCollectionLoader" class="ml-1 mr-1">
                        Color Collection ID
                    </span>
                </button>
            </div>
            <div *ngIf="!collectionIdsArray.length">
                <small class="font-semibold ml-3">
                    * No collections available. Click on the button to generate list of collections
                </small>
            </div>
            <div class="my-2" *ngIf="collectionIdsArray.length">
                <b>Select Imprint Color</b>
                <ng-multiselect-dropdown [placeholder]="'Imprint Color Collections'" [settings]="dropdownSettings"
                    [data]="collectionIdsArray" [(ngModel)]="selectedCollectionId" (onSelect)="onItemSelect($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="my-1">
                <mat-form-field class="w-full">
                    <input matInput placeholder="Enter Collection ID" [(ngModel)]='customColorId'>
                </mat-form-field>
                <span class="text-gray-600 border-b-8 mr-1" style="line-height: 2;"
                    *ngFor="let item of colorsCollectionIdsArray; let i=index"
                    [ngStyle]="{'border-color': '#' + item['RGB']}">{{item.imprintColorName}}<span
                        *ngIf="i < colorsCollectionIdsArray.length - 1">,</span>
                </span>
            </div>
        </div>

        <!-- Imprint order itself -->
        <div class="col-12 my-2 mt-4">
            <b>Can this imprint be ordered by itself?</b>
        </div>
        <div class="col-12">
            <small class="leading-relaxed text-secondary font-semibold">
                *This option determines whether this imprint can be ordered by itself. For example, if the
                location of this imprint is "second side," this implies that there must be a first side, and
                so it cannot be ordered by itself.
            </small>
        </div>
        <div class="col-12">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="imprintItselfSelected">
                <mat-radio-button class="example-radio-button" *ngFor="let imprintItselfVal of imprintItself"
                    [value]="imprintItselfVal">
                    {{imprintItselfVal.imprintItselfText}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Imprint order itself -->
        <div class="col-12">
            <b>Price Inclusion?</b>
        </div>
        <div class="col-12">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="priceInclusionSelected">
                <mat-radio-button class="example-radio-button" *ngFor="let priceInclusion of priceInclusionArray"
                    [value]="priceInclusion">
                    {{priceInclusion.priceInclusionText}}
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Charge Distributions -->
        <div class="col-12 my-2">
            <button [matTooltip]="'Enter an imprint charge and corresponding discount code to find existing charge
                                distributions that include it. For example for a silk-screened additional color/location
                                charge of $0.25(G), enter 0.25, select G and click the button.'">
                <i class="fa fa-info-circle"></i>
            </button>
            <b class="pl-1">Charge Distributions</b>
        </div>
        <div class="col-12">
            <small class="text-danger font-semibold">
                * When setup/run charges are $0.00, please type code "17" in the respective field.
            </small>
        </div>
        <!-- (click)="getRunSetup()" -->
        <div class="col-lg-3 col-12 my-2" *ngIf="!runSetupDistributorCodes.length">
            <button class="w-full" mat-flat-button [color]="'primary'" [matTooltip]="'Add run/setup'"
                (click)="openModal()" [disabled]="runSetupLoaderFetching">
                <mat-progress-spinner *ngIf="runSetupLoaderFetching" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
                <span *ngIf="!runSetupLoaderFetching" class="ml-1 mr-1">
                    Add Run/Setup
                </span>
            </button>
        </div>
        <div class="col-lg-9 col-12"></div>
        <form [formGroup]="runSetup" class="w-full">
            <div class="row px-4">
                <div class="col-lg-6 col-12 my-2">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Setup</mat-label>
                        <input matInput [formControlName]="'setup'" type="number">
                    </mat-form-field>
                </div>
                <div class="col-lg-6 col-12 my-2">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Run</mat-label>
                        <input matInput [formControlName]="'run'" type="number">
                    </mat-form-field>
                </div>
            </div>
        </form>

        <!-- Minimum Product Quantity -->
        <div class="col-12 mt-3">
            <b>
                <button
                    [matTooltip]="'Other than one (1) only if this imprint requires a product qty more than the min'">
                    <i class="fa fa-info-circle"></i>
                </button>
                Minimum Product Quantity
            </b>
        </div>
        <div class="col-12">
            <mat-form-field appearance="fill" class="w-full">
                <input matInput [(ngModel)]="minQuantity" (input)="_commonService.validateInput($event)" type="number">
            </mat-form-field>
        </div>

        <!-- Live Imprint Comments -->
        <div class="col-12">
            <b>
                Live Imprint Comments - 250 characters max
            </b>
        </div>
        <div class="col-12">
            <mat-form-field appearance="fill" class="w-full">
                <textarea maxlength="250" [(ngModel)]="addImprintComment" matInput rows="5"></textarea>
            </mat-form-field>
        </div>


        <!-- Display Order -->
        <div class="col-12">
            <b>Display Order</b>
        </div>
        <div class="col-12">
            <mat-form-field appearance="fill" class="w-full">
                <input matInput [(ngModel)]="addImprintDisplayOrderValue" maxlength="10"
                    (input)="_commonService.validateInput($event)" type="number" min="1">
            </mat-form-field>
        </div>
        <div class="col-12 text-right mb-5">
            <button *ngIf="imprintData.check == 'add'" mat-stroked-button class="min-w-30"
                (click)="addNewStandardImprint()">
                <span *ngIf="!addImprintLoader">Add New Imprint</span>
                <mat-progress-spinner *ngIf="addImprintLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
            <button *ngIf="imprintData.check != 'add'" mat-stroked-button class="min-w-30"
                (click)="updateNewStandardImprint()">
                <span *ngIf="!addImprintLoader">Update Imprint</span>
                <mat-progress-spinner *ngIf="addImprintLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </div>
</div>