<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <div class="flex justify-between">
                <div class="text-2xl font-bold">
                    Email Customer
                </div>
                <button class="min-w-40 mb-2" mat-button mat-stroked-button (click)="backToList()">Back to List</button>
            </div>
            <div *ngIf="isLoading" class="my-2 px-5">
                <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                </ngx-skeleton-loader>
            </div>
            <div class="row" *ngIf="!isLoading">
                <div class="col-12 col-md-4 mt-3">
                    <mat-accordion multi>
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="text-secondary">
                                    <b>Comment History</b>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <div *ngFor="let item of orderData">
                                    <div class="bg-secondary p-1 text-white">Imprint {{item?.pk_imprintID}} -
                                        {{item?.decorationName}}/{{item?.locationName}}
                                    </div>
                                    <p class="p-1 mt-2" [innerHTML]="item?.customerArtworkComment"></p>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="col-12 col-md-8 mt-3">
                    <mat-accordion multi>
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="text-secondary">
                                    <b>Email Customer</b>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="orderData.length > 0">
                                <span class="font-medium">Product: </span>
                                <span [innerHTML]="orderData[0]?.productName"></span>
                                <br>
                                <span class="font-medium">RECIPIENT: </span>
                                <mat-form-field class="w-full">
                                    <mat-label>Proof Contact</mat-label>
                                    <mat-select matInput [(ngModel)]="selectedContact">
                                        <mat-option [value]="orderData[0].billingEmail">{{orderData[0].billingName}} -
                                            {{orderData[0].billingEmail}}</mat-option>
                                        <mat-option *ngFor="let contact of contactProofs"
                                            [value]="contact.email">{{contact.firstName
                                            + ' ' +
                                            contact.lastName}} - {{contact.email}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="text-center font-medium">OR</div>
                                <span class="font-medium"> Manual Email: </span>
                                <mat-form-field class="w-full">
                                    <input matInput [(ngModel)]="ngTo">
                                    <mat-hint>Entering a manual email address will override any email in the list
                                        above.</mat-hint>
                                </mat-form-field>
                                <span class="font-medium"> From: </span>
                                <mat-form-field class="w-full">
                                    <input matInput value="{{orderData[0]?.FROM_EMAIL}}">
                                </mat-form-field>
                                <span class="font-medium"> Subject: </span>
                                <mat-form-field class="w-full">
                                    <input matInput [(ngModel)]="orderData[0].SUBJECT">
                                </mat-form-field>
                                <span class="font-medium"> Message: </span>
                                <mat-form-field class="w-full">
                                    <textarea matInput [(ngModel)]="ngMessage"></textarea>
                                </mat-form-field>
                                <div>
                                    <button class="min-w-40 mt-2 btn buttonComment hover:bg-gray-200"
                                        [disabled]="sendEmailLoader" (click)="sendEmailRequest()">
                                        <span *ngIf="!sendEmailLoader">Send Email</span>
                                        <mat-progress-spinner *ngIf="sendEmailLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>