<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <div class="flex align-items-center justify-between">
                <h2 class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Export Data
                </h2>
                <button mat-stroked-button (click)="goBack()">Go Back</button>
            </div>
            <mat-form-field class="min-w-100">
                <mat-label>Select a store:</mat-label>
                <input matInput placeholder="Search Stores" matTooltip="Search Stores by name" [matAutocomplete]="auto"
                    [formControl]="searchStoreCtrl">
                <mat-autocomplete class="w-full" #auto="matAutocomplete" (optionSelected)="onSelected($event)"
                    [displayWith]="displayWith">
                    <mat-option *ngIf="isSearchingStore" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isSearchingStore">
                        <mat-option *ngFor="let item of allStores" [value]="item">
                            <span>{{item.storeName}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group m-0 w-full"
                [(ngModel)]="ngType">
                <mat-radio-button class="example-radio-button w-full" value="products">
                    <fuse-alert [appearance]="'soft'" [showIcon]="false" class="w-full" [type]="'success'">
                        <b>Products: </b> Export product meta data
                    </fuse-alert>
                </mat-radio-button>
                <mat-radio-button class="example-radio-button w-full" value="categories">
                    <fuse-alert [appearance]="'soft'" [type]="'warning'" [showIcon]="false" class="w-full">
                        <b>Category: </b> Export category and subcategory meta data
                    </fuse-alert>
                </mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-flat-button class="min-w-40" [color]="'primary'" (click)="goToDetails()">
                    <span>Continue</span>
                    <!-- <mat-progress-spinner *ngIf="isUpdateWebsiteLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner> -->
                </button>
            </div>
        </div>
    </div>
</div>