<div class="w-full px-8 mb-5">
    <div class="row">
        <div class="text-xl col-12 font-bold pb-2">
            Clear User Carts
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label>User ID</mat-label>
                <input matInput type="number" maxLength="6" onkeypress="return this.value.length < 6;"
                    [(ngModel)]="ngCartUserID">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Remove carts older than</mat-label>
                <input [(ngModel)]="ngCartDate" matInput [matDatepicker]="cartPicker" readonly
                    (click)="cartPicker.open()" [max]="maxDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="cartPicker"></mat-datepicker-toggle>
                <mat-datepicker #cartPicker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12 text-right">
            <button [disabled]="isCartClearLoader" class="min-w-40" mat-flat-button [color]="'primary'"
                [matTooltip]="'Clear Carts'" (click)="updateAdminTools('Clear_Cart')">
                <span class="ml-2" *ngIf="!isCartClearLoader"> Clear Carts </span>
                <mat-progress-spinner *ngIf="isCartClearLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
        <div class="col-12 py-3">
            <div class="border-b"></div>
        </div>
        <!-- Clear RapidBuild Store -->
        <div class="col-6">
            <div class="text-xl pb-2 font-bold">
                Clear RapidBuild Store
            </div>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Store ID</mat-label>
                    <input matInput [(ngModel)]="ngStoreBuildID" type="number" maxLength="3"
                        onkeypress="return this.value.length < 3;">
                </mat-form-field>
            </div>
            <div class="text-right">
                <button [disabled]="isRemoveStoreBuildLoader" class="min-w-40" mat-flat-button [color]="'primary'"
                    [matTooltip]="'Clear Store from rapid build'" (click)="updateAdminTools('Clear_Store')">
                    <span class="ml-2" *ngIf="!isRemoveStoreBuildLoader"> Clear Store from rapid build </span>
                    <mat-progress-spinner *ngIf="isRemoveStoreBuildLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
        <!-- Remove User -->
        <div class="col-6">
            <div class="text-xl pb-2 font-bold">
                Remove User
            </div>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>User ID</mat-label>
                    <input matInput maxLength="5" [(ngModel)]="ngRemoveUserID"
                        onkeypress="return this.value.length < 5;" type="number">
                </mat-form-field>
            </div>
            <div class="text-right">
                <button [disabled]="isRemoveUserLoader" class="min-w-40" mat-flat-button [color]="'primary'"
                    [matTooltip]="'Remove User'" (click)="updateAdminTools('Remove_User')">
                    <span class="ml-2" *ngIf="!isRemoveUserLoader"> Remove User </span>
                    <mat-progress-spinner *ngIf="isRemoveUserLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
        <div class="col-12 py-3">
            <div class="border-b"></div>
        </div>
        <!-- Merge Vendors -->
        <div class="text-xl col-12 font-bold pb-2">
            Merge Vendors
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label>Master Vendor ID</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label>Slave Vendor ID</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-12 text-right">
            <button [disabled]="isAddPromoLoader" class="min-w-40" mat-stroked-button [matTooltip]="'Merge Vendors'"
                (click)="updateAdminTools('')">
                <span class="ml-2" *ngIf="!isAddPromoLoader"> Merge Vendors </span>
                <mat-progress-spinner *ngIf="isAddPromoLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
        <div class="col-12 py-3">
            <div class="border-b"></div>
        </div>
        <!-- Migrate Store Users -->
        <div class="text-xl col-12 pb-2 font-bold">
            Migrate Store Users
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label>Master Store ID</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label>Slave Store ID</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-12 text-right">
            <button [disabled]="isAddPromoLoader" class="min-w-40" mat-stroked-button
                [matTooltip]="'Migrate Store Users'" (click)="updateAdminTools('')">
                <span class="ml-2" *ngIf="!isAddPromoLoader"> Migrate Store Users </span>
                <mat-progress-spinner *ngIf="isAddPromoLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
        <div class="col-12 py-3">
            <div class="border-b"></div>
        </div>
        <!-- Manual Electronic Invoice -->
        <div class="col-6">
            <div class="text-xl pb-2 font-bold">
                Manual Electronic Invoice
            </div>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Order ID</mat-label>
                    <input matInput type="number">
                </mat-form-field>
            </div>
            <div class="text-right">
                <button [disabled]="isAddPromoLoader" class="min-w-40" mat-stroked-button
                    [matTooltip]="'Send electronic invoice'" (click)="updateAdminTools('')">
                    <span class="ml-2" *ngIf="!isAddPromoLoader"> Send electronic invoice </span>
                    <mat-progress-spinner *ngIf="isAddPromoLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
        <!-- Remove Order -->
        <div class="col-6">
            <div class="text-xl pb-2 font-bold">
                Remove Order
            </div>
            <div>
                <mat-form-field class="w-full">
                    <mat-label>Order ID</mat-label>
                    <input matInput maxLength="10" onkeypress="return this.value.length < 10;"
                        [(ngModel)]="ngRemoveOrderID">
                </mat-form-field>
            </div>
            <div class="text-right">
                <button [disabled]="isRemoveOrderLoader" class="min-w-40" mat-flat-button [color]="'primary'"
                    [matTooltip]="'Remove Order'" (click)="updateAdminTools('Remove_Order')">
                    <span class="ml-2" *ngIf="!isRemoveOrderLoader"> Remove Order </span>
                    <mat-progress-spinner *ngIf="isRemoveOrderLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
        <div class="col-12 py-3">
            <div class="border-b"></div>
        </div>
        <!-- Merge users -->
        <div class="text-xl pb-2 col-12 font-bold">
            Merge users
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label>Master user ID</mat-label>
                <input matInput maxLength="5" onkeypress="return this.value.length < 5;" [(ngModel)]="ngMergeUserID">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label>Slave user ID</mat-label>
                <input matInput maxLength="5" onkeypress="return this.value.length < 5;" [(ngModel)]="ngMergeSlaveID">
            </mat-form-field>
        </div>
        <div class="col-12 text-right">
            <button [disabled]="isMergeUserLoader" class="min-w-40" mat-stroked-button [matTooltip]="'Merge users'"
                (click)="updateAdminTools('Merge_Users')">
                <span class="ml-2" *ngIf="!isMergeUserLoader"> Merge users </span>
                <mat-progress-spinner *ngIf="isMergeUserLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
        <div class="col-12 py-3">
            <div class="border-b"></div>
        </div>
        <!-- Order total calculator  -->
        <div class="text-xl col-12 font-bold pb-2">
            Order total calculator
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="picker" readonly (click)="picker.open()" [max]="maxDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="picker1" readonly (click)="picker1.open()" [max]="maxDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-12 text-right">
            <button [disabled]="isAddPromoLoader" class="min-w-40" mat-stroked-button
                [matTooltip]="'Order total calculator'" (click)="updateAdminTools('')">
                <span class="ml-2" *ngIf="!isAddPromoLoader"> Order total calculator </span>
                <mat-progress-spinner *ngIf="isAddPromoLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </div>
</div>