<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
</ngx-skeleton-loader>

<div class="row" *ngIf="!isLoading">
    <div class="col-12 my-2">
        <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-2xl font-bold">
                    Reviews for {{selectedProduct?.productName}}

                    <!-- Search Products By Store -->
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Filter by store</mat-label>
                        <mat-select disableRipple>
                            <mat-option (click)="selectByAllStores()" aria-selected="true">All Stores</mat-option>
                            <mat-option (click)="selectByStore(store)" value="{{store}}"
                                *ngFor="let store of storesData">
                                {{store.storeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Reviews -->
                <div class="gap-y-4 mt-6">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="storeDataLoader">
                    </ngx-skeleton-loader>
                    <div *ngIf="!storeDataLoader">
                        <div class="row mb-5" *ngIf="reviewsDataLength > 0;else other_content">
                            <div class="col-12 my-1" *ngFor="let review of reviewsData">
                                <fuse-card
                                    class="flex flex-col md:flex-row w-full filter-shopping bg-light rounded-2xl shadow">
                                    <div class="flex flex-col flex-auto m-8 mb-4">
                                        <div class="flex flex-col md:flex-row items-baseline justify-between">
                                            <div class="text-2xl font-semibold leading-tight">
                                                By {{review?.name}} on {{review?.storeName}}
                                            </div>
                                        </div>
                                        <div class="flex items-center leading-none mt-2 -ml-1">
                                            <div class="flex items-center">
                                                <mat-icon class="text-orange-500 icon-size-5"
                                                    [svgIcon]="'mat_outline:star'"></mat-icon>
                                                <mat-icon class="text-orange-500 icon-size-5"
                                                    [svgIcon]="'mat_outline:star'"></mat-icon>
                                                <mat-icon class="text-orange-500 icon-size-5"
                                                    [svgIcon]="'mat_outline:star'"></mat-icon>
                                                <mat-icon class="text-orange-500 icon-size-5"
                                                    [svgIcon]="'mat_outline:star'"></mat-icon>
                                                <mat-icon class="text-orange-500 icon-size-5"
                                                    [svgIcon]="'mat_outline:star'"></mat-icon>
                                            </div>
                                            <div class="text-secondary mx-2">&bull;</div>
                                            <div class="text-secondary ml-2">{{review?.rating}}</div>
                                        </div>
                                        <div class="text-md text-secondary mt-6">
                                            <span class="text-secondary whitespace-nowrap mr-3">Comment:</span>
                                            <span class="mr-2">{{review?.comment}}</span>
                                        </div>
                                        <div class="flex items-center text-md mt-6">
                                            <span class="text-secondary whitespace-nowrap mr-3">Name:</span>
                                            <span class="ml-6">{{review?.name}}</span>
                                        </div>
                                        <div class="flex items-center font-semibold text-md mt-6">
                                            <span class="mr-2">{{review?.date}}</span>
                                        </div>
                                        <hr class="w-full border-b mt-6 mb-4">
                                        <div class="flex items-center md:mt-auto -mx-3">
                                            <button class="ml-auto" mat-icon-button>
                                                <mat-icon class="icon-size-5 text-hint" svgIcon="heroicons_outline:eye">
                                                </mat-icon>
                                            </button>
                                            <button mat-icon-button>
                                                <mat-icon class="icon-size-5 text-hint" svgIcon="mat_outline:edit">
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </fuse-card>
                            </div>
                        </div>

                        <ng-template #other_content>
                            <p class="text-secondary font-semibold my-5">
                                *There are currently no product reviews for this product, or the filter you applied
                                returned
                                no
                                results.
                            </p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </fuse-card>
    </div>
</div>