<div *ngIf="isLoading" class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
    </ngx-skeleton-loader>
</div>
<div class="row w-full" *ngIf="!isLoading">
    <div class="col-12 my-2 w-full">
        <fuse-card class="rounded-2xl flex flex-col lg:flex-row w-full">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-3xl font-bold">
                    User Addresses
                </div>

                <!-- User Info -->
                <div class="gap-y-4 mt-6">
                    <div class="row" *ngIf="addressCount > 0; else noAddresses">
                        <table class="table table-striped border-t-0">
                            <thead>
                                <tr>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Address</th>
                                    <th>Zip Code</th>
                                    <th>Type</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let address of customerAddresses; index as i">
                                    <td>{{address.city || '---'}}</td>
                                    <td>{{address.country || '---'}}</td>
                                    <td>{{address.state || '---'}}</td>
                                    <td>{{address.address1 || '---'}}</td>
                                    <td>{{address.zipCode || '---'}}</td>
                                    <td class="text-capitalize">{{address.addressType || '---'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="w-full" *ngIf="addressCount > customerAddresses.length">
                            <mat-paginator #paginator
                                class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [length]="addressCount" [pageIndex]="0" [pageSize]="20" (page)="getNextData($event)"
                                [hidePageSize]="true">
                            </mat-paginator>
                        </div>
                    </div>

                    <ng-template #noAddresses>
                        <div class="p-8 sm:p-16 border-t text-2xl font-semibold not-found-color">
                            <img src="assets/gifs/not-found.gif" class="rounded-circle" style="width: 250px;">
                            No addresses found!
                        </div>
                    </ng-template>
                </div>
            </div>
        </fuse-card>
    </div>
</div>