<div *ngIf="isLoading" class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
    </ngx-skeleton-loader>
</div>
<div class="row w-full" *ngIf="!isLoading">
    <div class="col-12 my-2 w-full">
        <fuse-card class="rounded-2xl bg-light flex flex-col lg:flex-row w-full">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-3xl font-bold">
                    {{selectedTab}}
                </div>

                <!-- User Info -->
                <div class="gap-y-4 mt-6">
                    <div class="row" *ngIf="addressCount > 0; else noAddresses">
                        <div class="col-lg-4 col-md-6 col-12" *ngFor="let address of customerAddresses; index as i">
                            <!-- Card #38 -->
                            <fuse-card class="flex flex-col bg-card w-full p-8 filter-info rounded-2xl shadow-lg">
                                <div class="text-2xl font-semibold leading-tight">Address</div>
                                <div class="mt-4">
                                    {{address.address1}}
                                </div>
                                <hr class="w-full border-t my-6">
                                <div class="flex flex-col">
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5 mr-3"
                                            [svgIcon]="'heroicons_solid:location-marker'">
                                        </mat-icon>
                                        <span class="leading-none">{{address.fullAddress}}</span>
                                    </div>
                                    <div class="flex items-center mt-4">
                                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:phone'">
                                        </mat-icon>
                                        <span class="leading-none">{{address.phone}}</span>
                                    </div>
                                </div>
                                <div class="mt-5 w-full text-center bg-primary">
                                    <div class="py-3 text-white text-capitalize">
                                        {{address.addressType}}
                                    </div>
                                </div>
                            </fuse-card>
                        </div>
                    </div>

                    <ng-template #noAddresses>
                        <div class="p-8 sm:p-16 border-t text-2xl font-semibold not-found-color">
                            <img src="assets/gifs/not-found.gif" class="rounded-circle" style="width: 250px;">
                            No addressess found!
                        </div>
                    </ng-template>
                </div>
            </div>
        </fuse-card>
    </div>
</div>