.mat-paginator  {border-radius: 16px !important} 
.mat-expansion-panel-header {background-color: #f5f5f5;}  
.mat-expansion-panel-header.mat-expanded, 
.mat-expansion-panel-header.mat-expanded:hover, 
.mat-expansion-panel-header.mat-expanded:focus {background-color: #f5f5f5;}
::-webkit-scrollbar {width: 3px !important}
.buttonComment {
    border: 1px solid #404C5E;
    color: #404C5E;
    border-radius: 3px;
    font-size: 12px;
}
.buttonDanger {
    background-color: #dc3545;
    color: #ffffff;
    border-radius: 3px;
    font-size: 12px;
}
.buttonDanger:hover {
    color: #ffffff;
}