<div class="w-full">
    <div class="w-full">
        <div class="px-2 pb-2">
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                (change)="calledScreen(group.value)">
                <mat-button-toggle value="Current Pack/Accessories">
                    Current Pack/Accessories
                </mat-button-toggle>
                <mat-button-toggle value="Add New Pack/Accessories">
                    Add New Pack/Accessories
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="px-5" *ngIf="mainScreen == 'Current Pack/Accessories' && isLoading">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
            </ngx-skeleton-loader>
        </div>
        <div *ngIf="mainScreen == 'Current Pack/Accessories' && !isLoading">
            <div *ngIf="dataSource.length > 0 && !isUpdatePackage;else other_content" class="w-full">
                <table mat-table [dataSource]="dataSource" class="w-full border-t">
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                            Image
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <img src="{{imgUrl}}Thumbnails/{{element.pk_packagingID}}.jpg?{{random}}"
                                onError="this.src='https://assets.consolidus.com/globalAssets/Products/coming_soon.jpg'"
                                class="w-10">
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.packagingName || not_available}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center"> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex justify-center">
                                <mat-icon svgIcon="heroicons_outline:pencil-alt" (click)="updatePackageToggle(element)">
                                </mat-icon>
                                <mat-icon svgIcon="heroicons_outline:trash" (click)="deletePackAccessories(element)"
                                    *ngIf="!element?.delLoader"></mat-icon>
                                <mat-progress-spinner *ngIf="element?.delLoader" [diameter]="24"
                                    [mode]="'indeterminate'" class="ml-2"></mat-progress-spinner>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                    </tr>
                </table>
                <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}" [length]="totalUsers" [pageIndex]="0" [pageSize]="20"
                    (page)="getNextData($event)" [hidePageSize]="true">
                </mat-paginator>
            </div>
            <!-- Update Packages -->
            <div *ngIf="isUpdatePackage" class="p-6">
                <mat-form-field class="w-full">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="updatePackageData.packagingName" maxlength="75">
                </mat-form-field>

                <div class="my-5">
                    <div class="font-bold my-2">Vendors currently using:</div>
                    <div *ngFor="let item of currentlyUsing">
                        {{item}}
                    </div>
                    <div *ngIf="currentlyUsing === undefined">
                        No vendors found.
                    </div>
                </div>
                <!-- <p>Vendors currently using: </p> -->
                <fuse-alert class="mb-2" [appearance]="'soft'" [type]="'warning'" [showIcon]="false">
                    Image (JPEG) (600px * 600px)
                </fuse-alert>
                <input type="file" accept=".jpg" id="image" (change)="uploadImage($event)">
                <div class="mt-5">
                    <div class="font-bold my-2">Thumbnail:</div>
                    <a href="{{imgUrl}}Images/{{updatePackageData.pk_packagingID}}.jpg?{{random}}" target="_blank">
                        <img class="w-20" src="{{updateImage}}"
                            onError="this.src='https://assets.consolidus.com/globalAssets/Products/coming_soon.jpg'">
                    </a>
                </div>

                <div class="mt-5">
                    <div class="font-bold my-2">Full Image:</div>
                    <a href="{{imgUrl}}Images/{{updatePackageData.pk_packagingID}}.jpg?{{random}}" target="_blank">
                        <img class="w-80 h-80" src="{{updateImage}}"
                            onError="this.src='https://assets.consolidus.com/globalAssets/Products/coming_soon.jpg'">
                    </a>
                </div>
                <div class="justify-end flex">
                    <button [disabled]="isUpdatePackageLoader" class="min-w-30 mr-2" mat-stroked-button
                        [matTooltip]="'Back to list'" (click)="updatePackageToggle(null)">
                        <span> Cancel </span>
                    </button>
                    <button [disabled]="isUpdatePackageLoader" class="min-w-40" mat-stroked-button
                        [matTooltip]="'Update Package'" (click)="UpdatePackage()">
                        <mat-icon svgIcon="heroicons_solid:pencil" *ngIf="!isUpdatePackageLoader"></mat-icon>
                        <span class="ml-2" *ngIf="!isUpdatePackageLoader"> Update Package </span>
                        <mat-progress-spinner *ngIf="isUpdatePackageLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </div>
            <!-- No color Found -->
            <ng-template #other_content>
                <div class="text-secondary font-semibold p-5 text-center" *ngIf="!isUpdatePackage">
                    No Packges found.
                </div>
            </ng-template>
        </div>
        <div *ngIf="mainScreen == 'Add New Pack/Accessories'" class="p-6">
            <mat-form-field class="example-chip-list w-full" appearance="fill">
                <mat-label>Package Name</mat-label>
                <input matInput [(ngModel)]="ngPackageName">
            </mat-form-field>
            <fuse-alert class="mb-2" [appearance]="'soft'" [type]="'warning'" [showIcon]="false">
                Image (JPEG) (600px * 600px)
            </fuse-alert>
            <input type="file" accept=".jpg" id="image" (change)="uploadImage($event)">
            <div class="text-right">
                <button [disabled]="isAddPackageLoader" class="min-w-50" mat-stroked-button [matTooltip]="'Add Color'"
                    (click)="addNewPackage()">
                    <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddPackageLoader"></mat-icon>
                    <span class="ml-2" *ngIf="!isAddPackageLoader"> Add Packages </span>
                    <mat-progress-spinner *ngIf="isAddPackageLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div>