<div *ngIf="!isLoading">
  <!-- <input type="file" (change)="onFileChange($event)" accept=".eps,.ai" /> -->
  <div class="col-12 overflow-x-auto pb-2">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="presentationScreen"
      (change)="calledScreen(group.value)">
      <mat-button-toggle *ngFor="let buttonValue of presentationButtons" [value]="buttonValue">
        {{buttonValue}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="p-4 bg-light" *ngIf="isPageLoading">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
    </ngx-skeleton-loader>
  </div>
  <div class="p-4 bg-light" *ngIf="!isPageLoading">
    <!-- Main Screen -->
    <div class="row" *ngIf="presentationScreen == 'Look & Feel'">
      <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow">
        <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
          Look & Feel
        </div>
        <div class="col-12 mt-5">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label> Use colored-background headers </mat-label>
            <mat-select [(value)]="ngBlnColorHeader">
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 flex justify-end mt-2">
          <div class="flex items-center my-2">
            <div class="flex items-center mr-4" *ngIf="lookFeelMsg">
              <ng-container *ngIf="lookFeelMsg">
                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                <span class="ml-2">Look & Feel Updated Successfully</span>
              </ng-container>
            </div>
            <button class="min-w-40" mat-stroked-button [matTooltip]="'Update'" (click)="colorHeaderUpdate()"
              [disabled]="lookFeelLoader">
              <mat-progress-spinner *ngIf="lookFeelLoader" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
              <mat-icon *ngIf="!lookFeelLoader" svgIcon="mode_edit_outline"></mat-icon>
              <span class="px-2">Update</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Site color start -->
    <div *ngIf="presentationScreen == 'Site Color'">
      <div class="row">
        <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow my-3">
          <div class="text-2xl font-extrabold tracking-tight leading-none mb-4">
            Site Colors
          </div>
          <form [formGroup]="siteColorsForm">
            <div class="row">
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Primary Highlight ({{
                    color.primaryHighlight.value
                    }})</mat-label>
                  <input formControlName="primaryHighlight" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Secondary Highlight ({{
                    color.secondaryHighlight.value
                    }})</mat-label>
                  <input formControlName="secondaryHighlight" type="color" matInput />
                </mat-form-field>
              </div>

              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Main Nav Background ({{ color.mainNav.value }})</mat-label>
                  <input formControlName="mainNav" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Main Nav Background Hover ({{
                    color.mainNavHover.value
                    }})</mat-label>
                  <input formControlName="mainNavHover" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Main Nav Link ({{
                    color.mainNavLinkColor.value
                    }})</mat-label>
                  <input formControlName="mainNavLinkColor" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Main Nav Hover Link Hover ({{
                    color.mainNavLinkColorHover.value
                    }})</mat-label>
                  <input formControlName="mainNavLinkColorHover" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Cat Menu Link ({{ color.catMenuLink.value }})</mat-label>
                  <input formControlName="catMenuLink" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Cat Menu Link Hover ({{
                    color.catMenuLinkHover.value
                    }})</mat-label>
                  <input formControlName="catMenuLinkHover" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    SubCat Menu Link ({{
                    color.subCatMenuLink.value
                    }})</mat-label>
                  <input formControlName="subCatMenuLink" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    SubCat Menu Link Hover ({{
                    color.subCatMenuLinkHover.value
                    }})</mat-label>
                  <input formControlName="subCatMenuLinkHover" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Link ({{ color.link.value }})</mat-label>
                  <input formControlName="link" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Link Hover ({{ color.linkHover.value }})</mat-label>
                  <input formControlName="linkHover" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Home Feature Link ({{
                    color.homeFeatureLink.value
                    }})</mat-label>
                  <input formControlName="homeFeatureLink" type="color" matInput />
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>
                    Home Feature Link Hover ({{
                    color.linkHover.value
                    }})</mat-label>
                  <input formControlName="linkHover" type="color" matInput />
                </mat-form-field>
              </div>

              <div class="col-12 flex justify-end mt-2">
                <div class="flex items-center my-2">
                  <div class="flex items-center mr-4" *ngIf="siteColorMsg">
                    <ng-container *ngIf="siteColorMsg">
                      <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                      <span class="ml-2">Site Colors Updated Successfully</span>
                    </ng-container>
                  </div>
                  <button class="min-w-40" mat-stroked-button [matTooltip]="'Update'" (click)="colorsUpdate()"
                    [disabled]="siteColorLoader">
                    <mat-progress-spinner *ngIf="siteColorLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                    <mat-icon *ngIf="!siteColorLoader" svgIcon="mode_edit_outline"></mat-icon>
                    <span class="px-2">Update</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Masthead Start -->
    <div *ngIf="presentationScreen == 'Masthead'">
      <div class="row">
        <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow">
          <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
            Store Masthead
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <img class="w-80" src="{{ mastHeadImg }}" />
            </div>

            <div class="col-md-6">
              <p style="margin-bottom: 5px; color: red">
                GIF image format only! 369px W by 82px H
              </p>
              <br />
              <input type="file" accept=".gif" class="file-upload" (change)="uploadImage($event)" />
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button class="min-w-40" mat-stroked-button [matTooltip]="'Update'" (click)="uploadMediaCampaign()"
              [disabled]="masHeadLoader">
              <mat-progress-spinner *ngIf="masHeadLoader" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
              <mat-icon *ngIf="!masHeadLoader" svgIcon="mode_edit_outline"></mat-icon>
              <span class="px-2">Update</span>
            </button>
          </div>
        </div>
      </div>

      <!-- Masthead ends -->
    </div>

    <!-- Social Media Screen -->

    <div *ngIf="presentationScreen == 'Social Media' && presentationData">
      <app-presentation-social-media [selectedStore]="selectedStore" [screenData]="presentationData">
      </app-presentation-social-media>
    </div>

    <!-------------  News Feed  --------------->
    <div *ngIf="presentationScreen == 'News Feed' && presentationData">
      <app-news-feed [selectedStore]="selectedStore" [newsFeedData]="presentationData"></app-news-feed>

    </div>

    <!-------------  Special Offers  --------------->
    <div *ngIf="presentationScreen == 'Special offers' && presentationData">
      <app-special-offers [selectedStore]="selectedStore" [screenData]="presentationData">
      </app-special-offers>
    </div>
    <!-------------  Type Kit Settings  --------------->
    <div *ngIf="presentationScreen == 'Typekit'">
      <div class="row">
        <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow">
          <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
            Enter the TypeKit ID Below
          </div>
          <p>
            To find the TypeKitID, log in to our TypeKit account. In the top
            bar, select the store in the dropdown menu, and then click on
            "Launch Kit Editor." In the window that pops up, there is a link
            in the top right corner for "Embed Code." There should be a "Type
            Kit ID" number at the bottom of the screen.
          </p>
          <div class="row">
            <div class="mt-4 col-12">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label> ID: </mat-label>
                <input [(ngModel)]="ngTypeKit" matInput />
              </mat-form-field>
            </div>
            <div class="col-12 flex justify-end mt-2">
              <div class="flex items-center my-2">
                <div class="flex items-center mr-4" *ngIf="typekitMsg">
                  <ng-container>
                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Typekit Updated Successfully</span>
                  </ng-container>
                </div>
                <button class="min-w-40" mat-stroked-button [matTooltip]="'Update'" (click)="UpdateTypeKit()"
                  [disabled]="typekitLoader">
                  <mat-progress-spinner *ngIf="typekitLoader" [diameter]="24" [mode]="'indeterminate'">
                  </mat-progress-spinner>
                  <mat-icon *ngIf="!typekitLoader" svgIcon="mode_edit_outline"></mat-icon>
                  <span class="px-2">Update</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------- Feature Campaign --------------->
    <div *ngIf="presentationScreen == 'Feature Campaign'">
      <div class="row">
        <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow">
          <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
            Select featured campaigns
          </div>
          <div class="mt-5 fa fa-info-circle" style="color: rgb(101, 124, 174)">
            Select max 2 campaigns to feature in the home page of the store.
          </div>
          <div class="mt-5 text-center" style="color: rgb(101, 124, 174)" *ngIf="campaignData.length == 0">
            No campaigns were found on this store.
          </div>
          <div class="col-12 my-4 font-weight-bold" *ngFor="let item of campaignData; let i = index">
            <mat-checkbox class="example-margin" name="{{ i }}" [checked]="item.isFeature">
              {{ item.objective }}
            </mat-checkbox>
          </div>
          <div class="col-12 flex items-center justify-end w-full" *ngIf="campaignData.length > 0">
            <div class="flex items-center my-2">
              <div class="flex items-center mr-4" *ngIf="featureCampaignMsg">
                <ng-container *ngIf="featureCampaignMsg">
                  <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                  <span class="ml-2">Featured Campaigns Updated Successfully</span>
                </ng-container>
              </div>
              <button class="min-w-40" mat-stroked-button [matTooltip]="'Update'" (click)="UpdateFeatureCampaign()"
                [disabled]="fetureCampaignLoader">
                <mat-progress-spinner *ngIf="fetureCampaignLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
                <mat-icon *ngIf="!fetureCampaignLoader" svgIcon="mode_edit_outline"></mat-icon>
                <span class="px-2">Update</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------- Payment methods --------------->
    <div *ngIf="presentationScreen == 'Payment methods' && presentationData">
      <app-payment-methods [selectedStore]="selectedStore" [screenData]="presentationData"></app-payment-methods>
    </div>
    <!-- Support Team -->
    <div *ngIf="presentationScreen == 'Support Team' && presentationData && availableTeamData">
      <app-presentation-support-team [selectedStore]="selectedStore" [screenData]="presentationData"
        [availableTeamData]="availableTeamData">
      </app-presentation-support-team>
    </div>

    <!-- Feature Image Screen -->

    <div *ngIf="presentationScreen == 'Feature Images'">
      <app-feature-images [selectedStore]="selectedStore" [screenData]="presentationData"></app-feature-images>
    </div>
    <!------------- Favicon --------------->
    <div *ngIf="presentationScreen == 'Favicon'">
      <div class="row">
        <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow">
          <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
            Add New Favicon Icon
          </div>
          <img src="{{favImage}}" class="w-5" (error)="checkFavImageExist($event)" *ngIf="favImageCheck">

          <div class="col-12 fa fa-info-circle" style="color: rgb(101, 124, 174)">
            16px X 16px .ICO file only
          </div>
          <div class="row">
            <input type="file" class="file-upload my-3 ml-3" (change)="uploadFaviconImage($event)" />
          </div>
          <div class="row mt-5">
            <div class="col-md-4">
              <button class="min-w-40" mat-stroked-button [matTooltip]="'Update'" (click)="uploadMediaFavicon()"
                [disabled]="favUploadLoader">
                <mat-progress-spinner *ngIf="favUploadLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
                <mat-icon *ngIf="!favUploadLoader" svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                <span class="px-2">Upload</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------- Brand Guide  --------------->
    <div *ngIf="presentationScreen == 'Brand Guide'">
      <app-brand-guide [selectedStore]="selectedStore"></app-brand-guide>
    </div>
    <!------------- Logo Bank --------------->
    <div *ngIf="presentationScreen == 'Logo bank'">
      <mat-button-toggle-group class="mb-3" #group="matButtonToggleGroup" [value]="logoBankScreens"
        (change)="nextLogoBankScreen(group.value)">
        <mat-button-toggle [value]="'Current Logos'">
          Current Logos
        </mat-button-toggle>
        <mat-button-toggle [value]="'Display Order'">
          Display Order
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div *ngIf="logoBankScreens == 'Current Logos'">
        <!-- Add Logo Bank -->
        <div class="row mb-2 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow" [formGroup]="addLogoBankForm">
          <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
            Add A Logo File
          </div>
          <div class="mt-4 col-12">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Logo name:</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </div>
          <div class="mt-4 col-12">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Description(500):</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <div class="mt-4 col-12">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Imprint colors: (800, optional, comma-separated list of color names or PMS colors):</mat-label>
              <textarea matInput formControlName="color_list"></textarea>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Select which logo bank to display below?</mat-label>
              <mat-select formControlName="bank_type">
                <mat-option [value]="1">Internal</mat-option>
                <mat-option [value]="2">Client</mat-option>
                <mat-option [value]="0">Both</mat-option>
              </mat-select>
            </mat-form-field>
            <p class="fa fa-info-circle" style="color: rgb(101, 124, 174)">
              The internal logo bank is what will appear in rapidBuild, and
              is used for us internally. The client logo bank is what the
              clients will see on their stores during checkout.
            </p>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Display order:</mat-label>
              <input matInput formControlName="displayOrder" type="number">
            </mat-form-field>
          </div>

          <div class="col-12">
            <p>Vector Image:</p>
            <p style="color: red">SVG format only!</p>
            <input type="file" #fileInputLogo class="file-upload my-3" accept=".svg"
              (change)="uploadLogoBankFile($event)" />
          </div>
          <div #svgElement hidden>
            <!-- Your SVG content goes here -->
            <!-- For demonstration, you can include a sample SVG here or leave it empty -->
          </div>

          <div class="col-12">
            <button class="min-w-30" mat-flat-button [color]="'primary'" [disabled]="isAddLogoBankLoader"
              (click)="uploadLogoBank()">
              <span class="px-2" *ngIf="!isAddLogoBankLoader">Upload</span>
              <mat-progress-spinner *ngIf="isAddLogoBankLoader" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
            </button>
          </div>
        </div>

        <!-- Logo bank notes -->
        <div class="row mb-2">
          <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow">
            <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
              Logo bank notes
            </div>
            <p>
              These notes will appear in RapidBuild as a descriptor for the
              internal logo bank.
            </p>
            <mat-form-field class="w-full">
              <textarea matInput [(ngModel)]="settings.logoBankNotes"></textarea>
            </mat-form-field>
            <button class="min-w-30" mat-flat-button [color]="'primary'" [disabled]="isLogoBankNotesLoader"
              (click)="updateLogoBankNotes()">
              <span class="px-2" *ngIf="!isLogoBankNotesLoader">Update</span>
              <mat-progress-spinner *ngIf="isLogoBankNotesLoader" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
            </button>
          </div>
        </div>

        <!-- Current logo bank -->

        <div class="row mb-2">
          <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow">
            <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
              Current logo bank
            </div>
            <div class="row mt-4">
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label>Select which logo bank to display below? </mat-label>
                  <mat-select [(ngModel)]="ngLogoBank" (selectionChange)="getLogoBanks(1)">
                    <mat-option [value]="0">All</mat-option>
                    <mat-option [value]="1">Internal</mat-option>
                    <mat-option [value]="2">Client</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label> Search: </mat-label>
                  <input matInput [(ngModel)]="ngLogoKeyword" matTooltip="Enter to search"
                    (keyup.enter)="getLogoBanks(1)" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12" *ngIf="logoBanksLoader">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
            </ngx-skeleton-loader>
          </div>
          <div *ngIf="logoBanks.length == 0 && !logoBanksLoader" class="text-center my-2">
            No Logo Bank Found
          </div>
          <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow my-2" *ngFor="let item of logoBanks">
            <div class="row">
              <div class="col-md-2">
                <img
                  src="https://assets.consolidus.com/globalAssets/Stores/LogoBank2/{{selectedStore.pk_storeID}}/Thumbs/{{item.pk_logoBankID}}.jpg"
                  alt="img" />
              </div>
              <div class="col-md-10" style="height: 100%">
                <p class="font-bold">ID: {{item.pk_logoBankID}}</p>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label> Name: </mat-label>
                  <input [(ngModel)]="item.name" matInput />
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label> Description(500): </mat-label>
                  <textarea [(ngModel)]="item.description" matInput></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill" class="w-full">
                  <mat-label> Imprint colors: (800, optional, comma-separated list of color names or PMS colors)
                  </mat-label>
                  <textarea [(ngModel)]="item.color_list" matInput></textarea>
                </mat-form-field>
                <a class="mt-3" target="_blank"
                  href="https://assets.consolidus.com/globalAssets/Stores/LogoBank2/{{selectedStore.pk_storeID}}/{{item.pk_logoBankID}}.{{item.extension}}"><u>View
                    vector file</u> </a>
                <br>
                <div class="space-x-2 mt-2 flex align-items-center font-bold text-green-700" *ngIf="item.blnInternal">
                  <mat-icon svgIcon="heroicons_outline:exclamation-circle"
                    class="text-green-700 icon-size-4"></mat-icon>
                  <span class="text-md">Internal</span>
                </div>
                <div class="space-x-2 mt-2 flex align-items-center font-bold text-red-600" *ngIf="!item.blnInternal">
                  <mat-icon svgIcon="heroicons_outline:exclamation-circle" class="text-red-600 icon-size-4"></mat-icon>
                  <span class="text-md">Client</span>
                </div>
                <div class="flex justify-end">
                  <button class="min-w-30 mr-2" mat-flat-button [color]="'primary'" [disabled]="item.updateLoader"
                    (click)="updateLogoBank(item)">
                    <span class="px-2" *ngIf="!item.updateLoader">Update</span>
                    <mat-progress-spinner *ngIf="item.updateLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                  </button>
                  <button class="min-w-30" mat-flat-button [color]="'primary'" [disabled]="item.removeLoader"
                    (click)="removeLogoBank(item)">
                    <span class="px-2" *ngIf="!item.removeLoader">Remove</span>
                    <mat-progress-spinner *ngIf="item.removeLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 flex justify-center cursor-pointer my-2"
            *ngIf="(logoBanksTotal > logoBanks.length) && !logoBanksLoader">
            <p *ngIf="!logoBanksLoadMore" class="text-lg font-bold" (click)="nextLogoBanks()">Load More</p>
            <mat-progress-spinner *ngIf="logoBanksLoadMore" [diameter]="24" [mode]="'indeterminate'">
            </mat-progress-spinner>
          </div>
        </div>
      </div>
      <div *ngIf="logoBankScreens == 'Display Order'">
        <div *ngIf="logoBanks.length == 0 && !logoBanksLoader" class="text-center my-2">
          No Logo Bank Found
        </div>
        <div class="my-2">
          <div class="row space-y-2">
            <div class="col-12 text-right mr-2">
              <button mat-button mat-flat-button color="primary" class="min-w-30" [disabled]="isUpdateLogoDisplayLoader"
                (click)="updateLogoDisplayOrder()">
                <span *ngIf="!isUpdateLogoDisplayLoader">Update Display Order</span>
                <mat-progress-spinner *ngIf="isUpdateLogoDisplayLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
              </button>
            </div>
            <div class="col-md-4 col-12" *ngFor="let item of logoBanks">
              <div class="bg-card col-12 rounded-2xl shadow p-2">
                <div class="font-bold text-lg">{{item.name}}</div>
                <div class="flex justify-between">
                  <img class="w-20"
                    src="https://assets.consolidus.com/globalAssets/Stores/LogoBank2/{{selectedStore.pk_storeID}}/Thumbs/{{item.pk_logoBankID}}.jpg"
                    alt="img" />
                  <mat-form-field appearance="fill">
                    <mat-label> Display Order: </mat-label>
                    <input [(ngModel)]="item.displayOrder" type="number" matInput />
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-12 flex justify-center cursor-pointer my-2"
              *ngIf="(logoBanksTotal > logoBanks.length) && !logoBanksLoader">
              <p *ngIf="!logoBanksLoadMore" class="text-lg font-bold" (click)="nextLogoBanks()">Load More</p>
              <mat-progress-spinner *ngIf="logoBanksLoadMore" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!------------- Home Page Scrollers --------------->
    <div *ngIf="presentationScreen == 'Home Page Scrollers'">
      <!-- Create Scroller -->
      <app-presentation-scrollers [selectedStore]="selectedStore"></app-presentation-scrollers>
    </div>
    <!------------- Sitemap --------------->
    <div *ngIf="presentationScreen == 'Sitemap'">
      <div class="row">
        <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow">
          <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
            Generate XML Sitemap
          </div>
          <div class="col-12 fa fa-info-circle" style="color: rgb(101, 124, 174)">
            This tool automatically generates an XML sitemap for this store.
            If one currently exists, it will be overwritten
          </div>
          <div class="row mt-5">
            <div class="col-md-4">
              <button mat-flat-button mat-stroked-button [matTooltip]="'Generate XML sitemap'">
                <span class="px-2">Generate XML sitemap</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------- Header Image--------------->
    <div *ngIf="presentationScreen == 'Header Image'">
      <app-header-image [selectedStore]="selectedStore" [screenData]="presentationData"></app-header-image>
    </div>
    <!------------- Product Builder Settings--------------->
    <div *ngIf="presentationScreen == 'Product Builder Settings'">
      <div class="row" *ngIf="productBuilderSettings">
        <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow mb-3">
          <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
            Product builder settings
          </div>
          <div class="col-12 mt-5">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label> Allow imprint color selection: </mat-label>
              <mat-select [(ngModel)]="productBuilderSettings.blnAllowImprintColorSelection">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 flex justify-end mt-2">
            <div class="flex items-center my-2">
              <div class="flex items-center mr-4" *ngIf="productBuilderMsg">
                <ng-container *ngIf="productBuilderMsg">
                  <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                  <span class="ml-2">Product Builder Settings Updated Successfully</span>
                </ng-container>
              </div>
              <button class="min-w-40" mat-stroked-button [matTooltip]="'Update'"
                (click)="updateProductBuilderSettings()" [disabled]="productBuilderLoader">
                <mat-progress-spinner *ngIf="productBuilderLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
                <mat-icon *ngIf="!productBuilderLoader" svgIcon="mode_edit_outline"></mat-icon>
                <span class="px-2">Update</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------- Default Emails--------------->
    <div *ngIf="presentationScreen == 'Default Dashboard Emails'">
      <!-- Reschedule -->
      <app-dashboard-emails [selectedStore]="selectedStore" [screenData]="presentationData"></app-dashboard-emails>
    </div>
    <!------------- Order Options--------------->
    <div *ngIf="presentationScreen == 'Order Options'">
      <div class="row">
        <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-10 rounded-2xl shadow">
          <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
            Order Options Header Image
          </div>

          <div *ngIf="orderOptions.check">
            <img src="{{orderOptions.image}}" (error)="checkImageExist('options')">
            <div class="text-right w-full py-4">
              <button class="min-w-40" mat-stroked-button [matTooltip]="'Remove image'"
                [disabled]="orderOptions.delLoader" (click)="removeImage()">
                <mat-progress-spinner *ngIf="orderOptions.delLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
                <mat-icon *ngIf="!orderOptions.delLoader" svgIcon="heroicons_outline:trash"></mat-icon>
                <span class="px-2">Remove image</span>
              </button>
            </div>
          </div>
          <div *ngIf="!orderOptions.check">
            <div class="mt-5 fa fa-info-circle" style="color: rgb(101, 124, 174)">
              There is no order options header uploaded for this store.
            </div>
            <p>
              <strong> Upload a header: </strong>
            </p>
            <p style="color: red">(1500px X 300px, JPG ONLY!)</p>
            <div class="row">
              <input #fileInput type="file" class="file-upload my-3 ml-3" accept=".jpg"
                (change)="uploadFile($event,'options')" />
            </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <button class="min-w-40" (click)="uploadMedia('options')" mat-stroked-button [matTooltip]="'Upload'"
                  [disabled]="orderOptions.loader">
                  <mat-progress-spinner *ngIf="orderOptions.loader" [diameter]="24" [mode]="'indeterminate'">
                  </mat-progress-spinner>
                  <mat-icon *ngIf="!orderOptions.loader" svgIcon="mode_edit_outline"></mat-icon>
                  <span class="px-2">Upload</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------- Artwork tags--------------->
    <div *ngIf="presentationScreen == 'Artwork tags'">
      <app-artwork-tags [selectedStore]="selectedStore" [screenData]="presentationData"></app-artwork-tags>
    </div>

    <!------------- Quick Guides--------------->
    <div *ngIf="presentationScreen == 'Quick guides'">
      <app-quick-guides [selectedStore]="selectedStore" [screenData]="presentationData"></app-quick-guides>
    </div>
  </div>
</div>