<ngx-skeleton-loader
  count="8"
  appearance="line"
  animation="pulse"
  *ngIf="isLoading"
>
</ngx-skeleton-loader>
<div class="row my-2 py-5 mx-5 overflow-auto" *ngIf="!isLoading">
  <div class="col-12">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      [value]="presentationScreen"
      (change)="calledScreen(group.value)"
    >
      <mat-button-toggle
        *ngFor="let buttonValue of presentationButtons"
        value="buttonValue"
      >
        {{ buttonValue }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<!-- Main Screen -->
<div *ngIf="presentationScreen == 'Main'">
  <div class="row p-10 bg-light overflow-auto">
    <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
      <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
        Look & Feel
      </div>
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Use colored-background headers </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <button
          class="my-5"
          mat-flat-button
          [matTooltip]="'Update'"
          [color]="'primary'"
        >
          <span class="px-2">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Main Screen -->

<!-- Site color start -->

<div *ngIf="presentationScreen == 'Site Color'">Site Color</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow my-3">
    <div class="text-2xl font-extrabold tracking-tight leading-none mb-4">
      Site Colors
    </div>

    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Primary Highlight</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Secondary Highlight</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Main Nav Background</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Main Nav Background Hover</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Main Nav Link</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Main Nav Hover Link Hover</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Cat Menu Link</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Cat Menu Link Hover</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> SubCat Menu Link</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> SubCat Menu Link Hover</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Link</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Link Hover</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Home Feature Link</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-lg-6 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Home Feature Link Hover</mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="col-md-4" style="margin-left: -17px">
      <button
        class="my-5"
        mat-flat-button
        [matTooltip]="'Update'"
        [color]="'primary'"
      >
        <span class="px-2">Update</span>
      </button>
    </div>
  </div>
</div>

<!-- Masthead Start -->

<div *ngIf="presentationScreen == 'Masthead'">Masthead</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Store Masthead
    </div>
    <div class="row mt-3">
      <div class="col-md-6">No masthead was found for this store.</div>

      <div class="col-md-6">
        <p style="margin-bottom: 5px; color: red">
          GIF image format only! 369px W by 82px H
        </p>
        <br />
        <input
          type="file"
          class="file-upload"
          onchange="console.log(event.target.files)"
        />
      </div>
    </div>
    <div class="col-md-4">
      <button mat-flat-button [matTooltip]="'Update'" [color]="'primary'">
        <span class="px-2">Update</span>
      </button>
    </div>
  </div>
</div>

<!-- Masthead ends -->

<!-- Feature Image Screen -->

<div *ngIf="presentationScreen == 'Feature Image'">Feature Image</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-5">
      Scroller Feature Images
    </div>
    <div class="row my-5">
      <div class="col-md-4">
        <img
          class="mb-3"
          src="https://assets.consolidus.com/globalAssets/Stores/featureImage/146/416.jpg?v=071801"
          alt="picture1"
        />
        <button
          class="mb-3"
          mat-flat-button
          [matTooltip]="'Update'"
          [color]="'primary'"
        >
          <span class="px-1">Edit</span>
        </button>
        <p style="color: green">(Active)</p>
      </div>
      <div class="col-md-4">
        <img
          class="mb-3"
          src="https://assets.consolidus.com/globalAssets/Stores/featureImage/146/416.jpg?v=071801"
          alt="picture1"
        />
        <button
          class="mb-3"
          mat-flat-button
          [matTooltip]="'Update'"
          [color]="'primary'"
        >
          <span class="px-1">Edit</span>
        </button>
        <p style="color: green">(Active)</p>
      </div>
      <div class="col-md-4">
        <img
          class="mb-3"
          src="https://assets.consolidus.com/globalAssets/Stores/featureImage/146/416.jpg?v=071801"
          alt="picture1"
        />
        <button
          class="mb-3"
          mat-flat-button
          [matTooltip]="'Update'"
          [color]="'primary'"
        >
          <span class="px-1">Edit</span>
        </button>
        <p style="color: green">(Active)</p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-4">
        <img
          class="mb-3"
          src="https://assets.consolidus.com/globalAssets/Stores/featureImage/146/241.jpg?v=071801"
          alt="picture1"
        />
        <button
          class="mb-3"
          mat-flat-button
          [matTooltip]="'Update'"
          [color]="'primary'"
        >
          <span class="px-1">Edit</span>
        </button>
        <p style="color: green">(Active)</p>
      </div>
      <div class="col-md-4">
        <img
          class="mb-3"
          src="https://assets.consolidus.com/globalAssets/Stores/featureImage/146/241.jpg?v=071801"
          alt="picture1"
        />
        <button
          class="mb-3"
          mat-flat-button
          [matTooltip]="'Update'"
          [color]="'primary'"
        >
          <span class="px-1">Edit</span>
        </button>
        <p style="color: green">(Active)</p>
      </div>
      <div class="col-md-4">
        <img
          class="mb-3"
          src="https://assets.consolidus.com/globalAssets/Stores/featureImage/146/384.jpg?v=071801"
          alt="picture1"
        />
        <button
          class="mb-3"
          mat-flat-button
          [matTooltip]="'Update'"
          [color]="'primary'"
        >
          <span class="px-1">Edit</span>
        </button>
        <p style="color: green">(Active)</p>
      </div>
    </div>
  </div>
</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-5">
      Update Mobile Feature Image
    </div>
    <div class="row">
      <div class="col-12 fa fa-info-circle" style="color: rgb(101, 124, 174)">
        The mobile feature image will replace the feature image scroller defined
        above for mobile devices and those with smaller screen sizes. The mobile
        feature image will not scroll, and will be a static image.
      </div>
      <div class="col-12 mt-3">
        <img
          src="https://assets.consolidus.com/globalAssets/Stores/featureImage/mobile/146/41.jpg?ver=05-10-22-15-03-57"
          alt="picture"
        />
      </div>
      <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
        Update Mobile Feature Image
      </div>
      <div class="col-12">
        <p class="fa fa-info-circle" style="color: rgb(101, 124, 174)">
          Images must be 1242px W by 450px H. JPG format only.
        </p>
        <br />
        <input
          type="file"
          class="file-upload my-3"
          onchange="console.log(event.target.files)"
        />
      </div>
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Feature image link URL: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Open link in new window: </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button
            class="my-5"
            mat-flat-button
            [matTooltip]="'Update'"
            [color]="'primary'"
          >
            <span class="px-2">Update</span>
          </button>
        </div>
        <div class="col-md-6">
          <button
            class="my-5"
            mat-flat-button
            [matTooltip]="'Remove Image'"
            [color]="'error'"
          >
            <span class="px-2">Remove Image</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Social Media Screen -->

<div *ngIf="presentationScreen == 'Social Media'">Social Media</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Social Media Details
    </div>
    <p class="tracking-tight leading-none">
      Enter the URL of the Facebook or Twitter page below. If no Facebook or
      Twitter page, leave blank. To remove a Facebook or Twitter page, remove
      the link (leave blank) and hit update.
    </p>
    <div class="row">
      <div class="mt-4 col-md-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> <strong>Facebook</strong></mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="mt-4 col-md-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> <strong>Twitter</strong></mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 col-md-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> <strong>LinkedIn</strong></mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="mt-4 col-md-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> <strong>Instagram</strong></mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button mat-flat-button [matTooltip]="'Update'" [color]="'primary'">
          <span class="px-2">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Support Team -->
<div *ngIf="presentationScreen == 'Support Team'">Support Team</div>

<!-------------  Special Offers  --------------->
<div *ngIf="presentationScreen == 'Special Offers'">Special Offers</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Special offers
    </div>
    <div class="row">
      <div class="col-6 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Does this store offer special offers? </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Offer Text: (50)</mat-label>
          <input maxlength="50" matInput />
        </mat-form-field>
      </div>
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Offer Textbox Text: (30)</mat-label>
          <input maxlength="30" matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Footer text
    </div>
    <p style="color: red">
      NOTE: The footer text still applies to the store even if the special
      offers are disabled.
    </p>
    <div class="row">
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Footer Text: (40)</mat-label>
          <input maxlength="40" matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="row ml-3">
  <div class="col-md-4">
    <button mat-flat-button [matTooltip]="'Update'" [color]="'primary'">
      <span class="px-2">Update</span>
    </button>
  </div>
</div>

<!-------------  Type Kit Settings  --------------->
<div *ngIf="presentationScreen == 'Type Kit Settings'">Type Kit Settings</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Enter the TypeKit ID Below
    </div>
    <p>
      To find the TypeKitID, log in to our TypeKit account. In the top bar,
      select the store in the dropdown menu, and then click on "Launch Kit
      Editor." In the window that pops up, there is a link in the top right
      corner for "Embed Code." There should be a "Type Kit ID" number at the
      bottom of the screen.
    </p>
    <div class="row">
      <div class="mt-4 col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> ID: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button mat-flat-button [matTooltip]="'Update'" [color]="'primary'">
          <span class="px-2">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-------------  News Feed  --------------->
<div *ngIf="presentationScreen == 'News Feed'">News Feed</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="row">
      <div class="col-md-4 mb-3">
        <button mat-flat-button [color]="'primary'">
          <span class="px-2">Add New Item</span>
        </button>
      </div>
    </div>
    <p>
      <strong>
        There are currently no news items in the feed for this store.
      </strong>
    </p>
  </div>
</div>

<!------------- Logo Bank --------------->
<div *ngIf="presentationScreen == 'Logo Bank'">Logo Bank</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="row">
      <div class="col-md-4">
        <button class="my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Edit Display Order</span>
        </button>
      </div>
    </div>
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Add A Logo File
    </div>
    <div class="mt-4 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> <strong>Logo name:</strong> </mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="col-12">
      <div style="font-weight: 500">Description(500)</div>
      <quill-editor [modules]="quillModules"> </quill-editor>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <p>
          <strong> Vector Image: </strong>
        </p>
        <p style="color: red">AI and EPS formats only!</p>
        <input
          type="file"
          class="file-upload my-3"
          onchange="console.log(event.target.files)"
        />
        <button class="my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Upload</span>
        </button>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Which logo bank should this go in? </strong>
        </p>
        <mat-form-field appearance="fill" class="w-full">
          <mat-select [(value)]="selected">
            <mat-option value="option1">Internal</mat-option>
            <mat-option value="option2">Client</mat-option>
            <mat-option value="option2">Both</mat-option>
          </mat-select>
        </mat-form-field>
        <p class="fa fa-info-circle" style="color: rgb(101, 124, 174)">
          The internal logo bank is what will appear in rapidBuild, and is used
          for us internally. The client logo bank is what the clients will see
          on their stores during checkout.
        </p>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> <strong>Display order:</strong> </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<!-- Logo bank notes -->

<!-- Current Logo Bank -->
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Logo bank notes
    </div>
    <p>
      These notes will appear in RapidBuild as a descriptor for the internal
      logo bank.
    </p>
    <div
      class="mt-2 p-3"
      style="overflow-y: scroll; height: 200px; border: 0.5px solid black"
    >
      <p class="mb-3">
        Please feature teal/mint, white, black, or light grey products.
      </p>
      <br />
      15.jpg: can be shown on white or light grey products.<br />
      14.jpg: can be shown on black or mint <br />
      13.jpg: can be shown on white, grey, mint items <br />
      12.jpg: can be shown on black, grey, mint items <br />
      11.jpg: can be shown on white or grey items <br />
      10.jpg: can be shown on black or mint items <br />
      9.jpg: can be shown on white or light grey items can also be printed in
      black on white items, or printed in white on black items.<br />
      8.jpg: can be shown on white, grey, mint items <br />
      7.jpg: can be shown on white or light grey items <br />
      6.jpg: can be shown on black or mint/teal items. I recommend this for pens
      and lanyards specifically <br />
      5.jpg: can be shown on white or light grey items. I recommend this for
      pens and lanyards specifically <br />
      4.jpg: can be shown on black or mint/teal items. I recommend this for pens
      and lanyards specifically <br />
      3.jpg: can be shown on white or light grey items. I recommend this for
      pens and lanyards specifically
    </div>
    <button class="my-5" mat-flat-button [color]="'primary'">
      <span class="px-2">Update</span>
    </button>
  </div>
</div>

<!-- Current logo bank -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Current logo bank
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <p>
          <strong>Which logo bank should this go in? </strong>
        </p>
        <mat-form-field appearance="fill" class="w-full">
          <mat-select [(value)]="selected">
            <mat-option value="option2">All</mat-option>
            <mat-option value="option1">Internal</mat-option>
            <mat-option value="option2">Client</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Search: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="row">
      <div class="col-md-2">
        <img
          src="https://assets.consolidus.com/globalAssets/Stores/LogoBank2/127/Thumbs/2353.jpg"
          alt="img"
        />
      </div>
      <div class="col-md-10" style="height: 100%">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Name: </mat-label>
          <input matInput />
        </mat-form-field>
        <div style="font-weight: 500">Description(500)</div>
        <quill-editor [modules]="quillModules"> </quill-editor>
        <a class="mt-3" href=""><u>View vector file</u> </a>
        <div class="row mt-4">
          <div class="col-md-4">
            <p class="fa fa-info-circle" style="color: rgb(182, 38, 38)">
              Client
            </p>
          </div>
          <div class="col-md-8">
            <button class="mr-2" mat-flat-button [color]="'primary'">
              <span class="px-2">Update</span>
            </button>
            <button mat-flat-button [color]="'primary'">
              <span class="px-2">Remove</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------- Brand Guide  --------------->
<div *ngIf="presentationScreen == 'Brand Guide'">Brand Guide</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Add Brand Guide
    </div>
    <p>
      <strong> Brand Guide File: </strong>
    </p>
    <p style="color: red">PDF Only!</p>
    <div class="row">
      <input
        type="file"
        class="file-upload my-3 ml-3"
        onchange="console.log(event.target.files)"
      />
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <button mat-flat-button [matTooltip]="'Upload'" [color]="'primary'">
          <span class="px-2">Upload</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Current Brand Guide
    </div>
    <p>
      <strong>
        There are currently no news items in the feed for this store.
      </strong>
    </p>
  </div>
</div>

<!------------- Favicon --------------->
<div *ngIf="presentationScreen == 'Favicon'">Favicon</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Add New Favicon Icon
    </div>
    <div class="col-12 fa fa-info-circle" style="color: rgb(101, 124, 174)">
      16px X 16px .ICO file only
    </div>
    <div class="row">
      <input
        type="file"
        class="file-upload my-3 ml-3"
        onchange="console.log(event.target.files)"
      />
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <button mat-flat-button [matTooltip]="'Upload'" [color]="'primary'">
          <span class="px-2">Upload</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!------------- Sitemap --------------->
<div *ngIf="presentationScreen == 'Sitemap'">Sitemap</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Generate XML Sitemap
    </div>
    <div class="col-12 fa fa-info-circle" style="color: rgb(101, 124, 174)">
      This tool automatically generates an XML sitemap for this store. If one
      currently exists, it will be overwritten
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <button mat-flat-button [color]="'primary'">
          <span class="px-2">Generate XML sitemap</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!------------- Payment methods --------------->
<div *ngIf="presentationScreen == 'Payment methods'">Payment methods</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Online Credit Card
    </div>
    <div class="row">
      <div class="mt-4 col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Name: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div style="font-weight: 500">Description:</div>
        <quill-editor [modules]="quillModules"> </quill-editor>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Primary: </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Active: </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Display order: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<!-- Credit terms -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Credit Terms
    </div>
    <div class="row">
      <div class="mt-4 col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Name: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div style="font-weight: 500">Description:</div>
        <quill-editor [modules]="quillModules"> </quill-editor>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Primary: </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Active: </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Display order: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<!-- Third party payment -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Third Party Payment
    </div>
    <div class="row">
      <div class="mt-4 col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Name: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div style="font-weight: 500">Description:</div>
        <quill-editor [modules]="quillModules"> </quill-editor>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Primary: </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Active: </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Yes</mat-option>
            <mat-option value="option2">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Display order: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5 ml-3">
  <div class="col-md-4">
    <button mat-flat-button [color]="'primary'">
      <span class="px-2">Update</span>
    </button>
  </div>
</div>

<!------------- Feature Campaign --------------->
<div *ngIf="presentationScreen == 'Feature Campaign'">Feature Campaign</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Select featured campaigns
    </div>
    <div class="mt-5 fa fa-info-circle" style="color: rgb(101, 124, 174)">
      Select max 2 campaigns to feature in the home page of the store.
    </div>
    <div class="col-12 my-4 font-weight-bold">
      <mat-checkbox class="example-margin" [(ngModel)]="checked">
        Introduce your ROTC program through your university computer labs where
        students are a click away.
      </mat-checkbox>
    </div>
    <div class="col-12 font-weight-bold">
      <mat-checkbox class="example-margin" [(ngModel)]="checked">
        Target quality student segments to recruit qualified applicants for
        scholarships.
      </mat-checkbox>
    </div>
    <div class="col-md-4">
      <button
        class="my-5"
        mat-flat-button
        [matTooltip]="'Update'"
        [color]="'primary'"
      >
        <span class="px-2">Update</span>
      </button>
    </div>
  </div>
</div>

<!------------- Custom Scrollers--------------->
<div *ngIf="presentationScreen == 'Custom Scrollers'">Custom Scrollers</div>

<!-- Create Scroller -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Create Scroller
    </div>
    <div class="row">
      <div class="mt-4 col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Scroller Title: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Create Scroller</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Current Scrollers -->
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Current Scrollers
    </div>
    <p>
      <strong>
        There are currently no scrollers defined for this store.
      </strong>
    </p>
  </div>
</div>

<!-- Default Scrollers -->
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Default Scrollers
    </div>
    <p>
      Default scrollers are auto-populated using already-existing store data:
    </p>
    <p class="mt-5">
      <strong>Best Sellers:</strong> Generated by all of the items selected as
      "best seller" in each category's recommendations settings.
    </p>
    <p>
      <strong>Featured Products:</strong> Generated by all of the items selected
      a "featured" in each category's recommendations settings.
    </p>
    <p>
      <strong>Recommended:</strong> Generated by all of the items selected as
      "recommended" in each category's recommndation settings.
    </p>
    <p>
      <strong>Under €0.95:</strong> Selects the top 100 products on the store
      that have a starting price under €0.95.
    </p>
    <p>
      <strong>Top Rated:</strong> Selects the top 100 top-rated products on the
      store (4 or 5 rating)
    </p>
    <p>
      <strong>Testimonials:</strong> Shows manually-entered customer
      testimonials (from below). This scroller only shows if there are at least
      three and always appears below all product scrollers.
    </p>
    <p class="mt-5">
      These default scrollers cannot be removed, but they can be turned on or
      off, and the display order can be changed.
    </p>
    <div class="row">
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Best Sellers </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Active</mat-option>
            <mat-option value="option2">Disabled</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Featured Products </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Active</mat-option>
            <mat-option value="option2">Disabled</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Recommended Products </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Active</mat-option>
            <mat-option value="option2">Disabled</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Products Under €0.95 </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Active</mat-option>
            <mat-option value="option2">Disabled</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Top Rated Products </mat-label>
          <mat-select [(value)]="selected">
            <mat-option value="option1">Active</mat-option>
            <mat-option value="option2">Disabled</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Scroller Display Order -->
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Scroller Display Order
    </div>
    <div class="row">
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Best Sellers </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Top Rated Products </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Customer testimonials -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="row my-3">
      <div
        class="text-2xl font-extrabold tracking-tight leading-none col-md-10"
      >
        Customer testimonials
      </div>
      <div class="col-md-2">
        <button mat-flat-button [color]="'primary'">
          <span class="px-2">Turn off</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Best Sellers </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="mt-4 col-6">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Top Rated Products </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Order: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Testimonial: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Name: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Title: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="fa fa-plus my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Add Testimonial</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Current Testimonial -->
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="row my-3">
      <div
        class="text-2xl font-extrabold tracking-tight leading-none col-md-10"
      >
        Current Testimonial
      </div>
      <div class="col-md-2">
        <button mat-flat-button [color]="'primary'">
          <span class="px-2">Turn off</span>
        </button>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" class="w-full">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
      <div class="color-blue">
        <!-- SPID Column -->
        <ng-container matColumnDef="spid">
          <th
            class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5"
            mat-header-cell
            *matHeaderCellDef
          >
            SPID
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.pk_storeProductID }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th
            class="min-w-40 bg-gray-50 dark:bg-black dark:bg-opacity-5"
            mat-header-cell
            *matHeaderCellDef
          >
            Name
          </th>
          <td mat-cell *matCellDef="let element">
            <small class="text-secondary border-b-2">{{
              element.productName
            }}</small>
          </td>
        </ng-container>

        <!-- Master Column -->
        <ng-container matColumnDef="master">
          <th
            class="min-w-24 bg-gray-50 dark:bg-black dark:bg-opacity-5"
            mat-header-cell
            *matHeaderCellDef
          >
            Master
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.blnActive" style="color: green">Active</span>
            <span *ngIf="!element.blnActive" style="color: red">Inactive</span>
          </td>
        </ng-container>

        <!-- Store Column -->
        <ng-container matColumnDef="store">
          <th
            class="min-w-24 bg-gray-50 dark:bg-black dark:bg-opacity-5"
            mat-header-cell
            *matHeaderCellDef
          >
            Store
          </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.blnStoreActive" style="color: green"
              >Online</span
            >
            <span *ngIf="!element.blnStoreActive" style="color: red"
              >Offline</span
            >
          </td>
        </ng-container>
      </div>
      <tr
        mat-header-row
        class="h-18 shadow bg-card"
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        mat-row
        class="hover:bg-gray-100 dark:hover:bg-hover"
        style="cursor: pointer"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <div class="row mt-5">
      <div class="col-md-6">
        <button mat-flat-button [color]="'primary'">
          <span class="px-2">Update</span>
        </button>
      </div>
      <div class="col-md-6">
        <button mat-flat-button [color]="'primary'">
          <span class="px-2">Remove</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!------------- Header Image--------------->
<div *ngIf="presentationScreen == 'Header Image'">Header Image</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Header Image
    </div>
    <div class="mt-5 fa fa-info-circle" style="color: rgb(101, 124, 174)">
      This lets you customize the header image that appears to the right of the
      search bar on the SmartSites. You can also specify a link for this image
      as well. Removing the image will force the default image to appear.
    </div>
    <div class="row">
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> URL: </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <p>
      <strong> Add a custom header image: </strong>
    </p>
    <p style="color: red">PNG, 261px X 44px</p>
    <div class="row">
      <input
        type="file"
        class="file-upload my-3 ml-3"
        onchange="console.log(event.target.files)"
      />
    </div>
    <div class="row">
      <div class="col-md-4">
        <button
          class="my-5"
          mat-flat-button
          [matTooltip]="'Update'"
          [color]="'primary'"
        >
          <span class="px-2">Update</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!------------- Default Emails--------------->
<div *ngIf="presentationScreen == 'Default Emails'">Default Emails</div>

<!-- Reschedule -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Default Reschedule Artwork Follow Up Email
    </div>
    <div class="col-12">
      <div style="font-weight: 500">
        This email is sent from the order status dashboard for program managers
        to remind customers to approve their artwork for orders that have been
        sitting on hold for too long.
      </div>
      <quill-editor [modules]="quillModules"> </quill-editor>
    </div>
  </div>
</div>

<!-- Payment -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Default Payment Notification Email
    </div>
    <div class="col-12">
      <div style="font-weight: 500">
        This email is sent from the order status dashboard for program managers
        to remind customers that their orders are awaiting payment.
      </div>
      <quill-editor [modules]="quillModules"> </quill-editor>
    </div>
  </div>
</div>

<!-- Sample -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Default Sample Email
    </div>
    <div class="col-12">
      <div style="font-weight: 500">
        This email is sent from the "Sample Status" area of the program manager
        dashboard. This email reminds customers of their sample orders and asks
        if they want to place a real order.
      </div>
      <quill-editor [modules]="quillModules"> </quill-editor>
    </div>
  </div>
</div>

<!-- Around this time -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Default "Around This Time Last Year" Email
    </div>
    <div class="col-12">
      <div style="font-weight: 500">
        This email is sent from the "Around This Time Last Year" area of the
        program manager dashboard.
      </div>
      <quill-editor [modules]="quillModules"> </quill-editor>
    </div>
  </div>
</div>

<!-- Post-Sale Activity -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Default "Post-Sale Activity" Email
    </div>
    <div class="col-12">
      <div style="font-weight: 500">
        This email is sent from the "Post-Sale Activity" area of the program
        manager dashboard.
      </div>
      <quill-editor [modules]="quillModules"> </quill-editor>
    </div>
  </div>
</div>

<!-- Customer Survey -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Default Customer Survey Email
    </div>
    <div style="font-weight: 500">
      This email is sent from the "Post-Sale Activity" area of the program
      manager dashboard.
    </div>
    <div class="mt-4 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> <strong>Subject:</strong> </mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-12">
      <quill-editor [modules]="quillModules"> </quill-editor>
    </div>
  </div>
</div>

<!-- Quote Email -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Default Quote Email
    </div>
    <div style="font-weight: 500">
      This email is sent from the "Pending Quotes" area of the program manager
      dashboard.
    </div>
    <div class="mt-4 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> <strong>Subject:</strong> </mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-12">
      <quill-editor [modules]="quillModules"> </quill-editor>
    </div>
  </div>
</div>
<div class="col-md-4">
  <button
    class="my-5"
    mat-flat-button
    [matTooltip]="'Update'"
    [color]="'primary'"
  >
    <span class="px-2">Update</span>
  </button>
</div>

<!------------- Product Builder Settings--------------->
<div *ngIf="presentationScreen == 'Product Builder Settings'">
  Product Builder Settings
</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Product builder settings
    </div>
    <div class="col-12 mt-5">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> Allow imprint color selection: </mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="option1">Yes</mat-option>
          <mat-option value="option2">No</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button
        class="my-5"
        mat-flat-button
        [matTooltip]="'Update'"
        [color]="'primary'"
      >
        <span class="px-2">Update</span>
      </button>
    </div>
  </div>
</div>

<!------------- Order Options--------------->
<div *ngIf="presentationScreen == 'Order Options'">Order Options</div>

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Order Options Header Image
    </div>
    <div class="mt-5 fa fa-info-circle" style="color: rgb(101, 124, 174)">
      There is no order options header uploaded for this store.
    </div>
    <p>
      <strong> Upload a header: </strong>
    </p>
    <p style="color: red">(1500px X 300px, JPG ONLY!)</p>
    <div class="row">
      <input
        type="file"
        class="file-upload my-3 ml-3"
        onchange="console.log(event.target.files)"
      />
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Upload</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!------------- Artwork tags--------------->
<div *ngIf="presentationScreen == 'Artwork tags'">Artwork tags</div>

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="row">
      <div class="col-md-4">
        <button class="my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Edit Display Order</span>
        </button>
      </div>
    </div>
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Add an artwork tag
    </div>
    <div class="mt-4 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> <strong>Artwork tag name:</strong> </mat-label>
        <input matInput />
      </mat-form-field>
    </div>

    <div class="col-12">
      <div style="font-weight: 500">Description(500)</div>
      <quill-editor [modules]="quillModules"> </quill-editor>
    </div>
    <div class="mt-4 col-12">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label> <strong>Display Order:</strong> </mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <p>
        <strong> Image: </strong> Upload a PDF displaying exmaples of the
        artwork tag here.
      </p>
      <p style="color: red">PDF format only!</p>
    </div>
    <div class="row">
      <input
        type="file"
        class="file-upload my-3 ml-3"
        onchange="console.log(event.target.files)"
      />
    </div>
    <div class="row">
      <div class="col-md-4">
        <button
          class="my-5"
          mat-flat-button
          [matTooltip]="'Update'"
          [color]="'primary'"
        >
          <span class="px-2">Upload</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Current artwork tags -->

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Current artwork tags
    </div>
    <div class="row">
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Search </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<!------------- Quick Guides--------------->
<div *ngIf="presentationScreen == 'Quick Guides'">Quick Guides</div>
<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Add quick guide header
    </div>
    <p>
      <strong> Header image file: </strong>
    </p>
    <p style="color: red">1500px W by 300px H JPG only!</p>
    <div class="row">
      <input
        type="file"
        class="file-upload my-3 ml-3"
        onchange="console.log(event.target.files)"
      />
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Add quick guide header image</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Add New Quick Guide
    </div>
    <p>
      <strong> PDF Artwork Template File: </strong>
    </p>
    <p style="color: red">PDF file only!</p>
    <div class="row">
      <input
        type="file"
        class="file-upload my-3 ml-3"
        onchange="console.log(event.target.files)"
      />
    </div>
    <div class="row">
      <div class="mt-4 col-12">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label> Name </mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="my-5" mat-flat-button [color]="'primary'">
          <span class="px-2">Add quick guide</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row p-10 bg-light overflow-auto">
  <div class="col-12 bg-card sm:p-6 md:p-6 lg:p-16 rounded-2xl shadow">
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Add New Quick Guide
    </div>
    <div class="text-2xl font-extrabold tracking-tight leading-none my-3">
      Decoration Methods
    </div>
  </div>
</div>
