::ng-deep {
    .fuse-alert-message {
        color: gray !important
    }
}

.input-width {
    width: 48%;
}

.image {
    height: 120px;
    width: 120px;
}

.input {
    width: 100%
}

.img_wrp {
    display: inline-block;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}