:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

::ng-deep {
    .mat-expansion-panel-body {
        background: #f8f9fa !important;
    }

    .mat-expansion-indicator,
    .mat-expansion-indicator:after {
        border-color: rgb(121, 118, 118) !important;
    }

    .ngx-pagination .current {
        background: #2c3344 !important;
        border-radius: 15px !important;
    }
}