<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
</ngx-skeleton-loader>

<div class="row" *ngIf="!isLoading">

    <div class="col-12 mb-2">
        <mat-card class="w-full p-0 mb-10 h-full rounded-2xl">

            <div class="text-2xl p-5 font-bold">
                Available Inventory
            </div>

            <div class="font-semibold px-5">
                <div class="my-1">
                    Total Colors: {{inventoryColors.length}}
                </div>

                <div class="my-1">
                    Total Sizes: {{inventorySizes.length}}
                </div>

                <div class="my-1">
                    Total Matched Inventory: {{dataSourceLength}}
                </div>

                <div class="my-1">
                    Total Inventory Quantities: {{quantitiesSum}}
                </div>
            </div>

            <div class="col-12 my-2" *ngIf="dataSource.length > 0">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full mt-3">
                    <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input class="h-6" matInput (input)="searchKeyword($event)" [autocomplete]="'off'"
                        [placeholder]="'Search Color & Size'">
                </mat-form-field>
            </div>

            <table mat-table [dataSource]="dataSource" class="w-full" *ngIf="dataSource.length > 0;else other_content">

                <!-- Color Column -->
                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40"> Color </th>
                    <td mat-cell *matCellDef="let element" class="text-sm"> {{element.attributeColor}} </td>
                </ng-container>

                <!-- Size Column -->
                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> Size </th>
                    <td mat-cell *matCellDef="let element" class="text-sm"> {{element.attributeSize}} </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantityAvailable">
                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let element" class="text-sm">
                        {{element.quantityAvailable}}
                        <span *ngIf="element.customProductMessage">+</span>
                    </td>
                </ng-container>

                <tr mat-header-row class="h-18 bg-light" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="h-14 hover:bg-gray-100 dark:hover:bg-hover"
                    *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <ng-template #other_content>
                <div class="text-secondary font-semibold p-8 pb-10">
                    No inventory colors found
                </div>
            </ng-template>

        </mat-card>
    </div>
</div>