<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full" style="min-height: 80vh;">
    <div class="w-full">
        <div class="w-full">
            <mat-drawer-container class="example-container bg-white" [hasBackdrop]="true" style="min-height: 80vh;">
                <mat-drawer #drawer [mode]="'over'" position="end" class="px-8 min-w-80 ">
                    <div class="flex justify-between my-5 align-items-center">
                        <div>
                            <div class="text-xl font-semibold tracking-tight leading-8">
                                Advanced Filters
                            </div>
                            <div class="font-medium tracking-tight text-secondary">
                                <!-- PDF, EPS, AI, PSD, and JPG file formats only! -->
                            </div>
                        </div>
                        <svg (click)="drawer.toggle()" [matTooltip]="'Close'" xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-x-lg cursor-pointer"
                            viewBox="0 0 16 16">
                            <path
                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                        </svg>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Search Order</mat-label>
                            <input matInput placeholder="Search Order" [(ngModel)]="ngSearchField">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Search Customer</mat-label>
                            <input matInput placeholder="Search Customer" [(ngModel)]="ngCustomerField">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Search Product</mat-label>
                            <input matInput placeholder="Search Product" [(ngModel)]="ngFilterProduct">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Search Stores</mat-label>
                            <input matInput placeholder="Search Stores" matTooltip="Search stores by name"
                                [matAutocomplete]="auto" [formControl]="searchStoreCtrl">
                            <mat-autocomplete class="w-full" #auto="matAutocomplete"
                                (optionSelected)="onSelected($event)" [displayWith]="displayWith">
                                <mat-option *ngIf="isSearchingStore" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isSearchingStore">
                                    <mat-option *ngFor="let item of allStores" [value]="item">
                                        <span>{{item.storeName}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="w-full">
                            <mat-label>Search Designer</mat-label>
                            <input matInput placeholder="Search Designer" matTooltip="Search designer by name"
                                [matAutocomplete]="designer" [formControl]="searchDesignerCtrl">
                            <mat-autocomplete class="w-full" #designer="matAutocomplete"
                                (optionSelected)="onSelectedDesigner($event)" [displayWith]="displayWithDesigner">
                                <mat-option *ngIf="isSearchingDesigner" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isSearchingDesigner">
                                    <mat-option *ngFor="let item of allDesigners" [value]="item">
                                        <span>{{item.firstName + ' ' + item.lastName}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div>
                        <button [disabled]="isFilterLoader" (click)="filterSmartArtList()" class="w-full"
                            [color]="'primary'" mat-button mat-flat-button>
                            <span *ngIf="!isFilterLoader">Filter</span>
                            <mat-progress-spinner *ngIf="isFilterLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>
                </mat-drawer>
                <mat-drawer-content class="bg-white">
                    <div class="bg-blue-300 py-2">
                        <div class="px-4 sm:px-4 lg:px-8 pb-2 pt-4 flex justify-between">
                            <div class="text-2xl font-bold">
                                Order Dashboard
                            </div>
                        </div>
                        <div class="px-8 flex space-x-2 overflow-x-auto">
                            <div>
                                <p>Rush Orders (not flexible)</p>
                                <hr class="m-0 h-2" style="background: #ffcaca;">
                            </div>
                            <div>
                                <p>Rush Orders (flexible)</p>
                                <hr class="m-0 h-2" style="background: #F2D1A0;">
                            </div>
                            <div>
                                <p>Paid Orders</p>
                                <hr class="m-0 h-2" style="background: #ADFFB6;">
                            </div>
                            <div>
                                <p>Reorder</p>
                                <hr class="m-0 h-2" style="background: #feee84;">
                            </div>
                            <div>
                                <p>Group Run</p>
                                <hr class="m-0 h-2" style="background: #DBD7FF;">
                            </div>
                            <div>
                                <p>Awaiting info</p>
                                <hr class="m-0 h-2" style="background: #75bbf5;">
                            </div>
                            <div>
                                <p>Group order</p>
                                <hr class="m-0 h-2" style="background: #fca769;">
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isLoading" class="my-2 px-5">
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                        </ngx-skeleton-loader>
                    </div>
                    <div *ngIf="!isLoading" class="overflow-hidden">
                        <div *ngIf="dataSource.length > 0;else other_content" class="w-full overflow-x-auto">
                            <div class="m-5 text-center" *ngIf="isSortingLoader">
                                <div class="spinner-grow"></div>
                                <div class="spinner-grow"></div>
                                <div class="spinner-grow"></div>
                                <div class="spinner-grow"></div>
                            </div>
                            <table mat-table [dataSource]="dataSource" class="w-full border-t" matSort
                                (matSortChange)="sortData($event)">
                                <ng-container matColumnDef="check" sticky>
                                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 fixed-col">
                                        <mat-checkbox class="mt-2" [(ngModel)]="checkAll"
                                            matTooltip="Select all orders in this page"
                                            (change)="selectAllOrders($event)"></mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs fixed-col">
                                        <mat-checkbox [(ngModel)]="element.checked"
                                            (change)="OrderSelectionChange($event, element)"></mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20 min-w-20 px-2">
                                        Date
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2"
                                        (click)="orderDetails(element)">
                                        {{element.orderDate }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="inhands">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20 min-w-20 px-2">
                                        In-Hands
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2"
                                        (click)="orderDetails(element)">
                                        {{element.inHandsDate || 'N/A'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="order">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-20 min-w-20 px-2">
                                        Order
                                    </th>
                                    <td (click)="orderDetails(element)" mat-cell *matCellDef="let element"
                                        class="text-xs px-2">{{element.fk_orderID}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="line">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        Line
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2"
                                        (click)="orderDetails(element)">
                                        {{element.pk_orderLineID}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="customer">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-30 min-w-30">
                                        Customer
                                    </th>
                                    <td (click)="orderDetails(element)" mat-cell *matCellDef="let element"
                                        class="text-xs pr-1">{{element.firstName + ' ' +element.lastName + ' - '
                                        +element.companyName }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="product">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-50 min-w-50">
                                        Product
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1"
                                        (click)="orderDetails(element)"><span [innerHTML]="element.productName"></span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="supplier">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-30 min-w-30">
                                        Supplier
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1"
                                        (click)="orderDetails(element)">
                                        {{element.supplierCompanyName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1"
                                        (click)="orderDetails(element)">{{element.statusName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="age">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-10 min-w-10">
                                        Age
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1"
                                        (click)="orderDetails(element)">
                                        {{element?.ageInHours}} hrs
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="store">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-30 min-w-30">
                                        Store
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1"
                                        (click)="orderDetails(element)">{{element.storeCode}}
                                    </td>
                                </ng-container>

                                <!-- Proof Contact -->
                                <ng-container matColumnDef="proof_contact">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Proof Contact
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1"
                                        (click)="orderDetails(element)">{{element.storeCode}}
                                    </td>
                                </ng-container>
                                <!-- Last Proof -->
                                <ng-container matColumnDef="proof">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30 ">
                                        Last Proof
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">
                                        <span *ngIf="!element.lastProof" class="cursor-pointer">
                                            <div class="flex">
                                                <span *ngIf="element.proofDetails">
                                                    <p>{{element.proofDetails[0]}}</p>
                                                    <p *ngIf="element.proofDetails[2]">
                                                        {{element.proofDetails[2]}}</p>
                                                    <p *ngIf="!element.proofDetails[2]">N/A</p>
                                                </span>
                                                <span *ngIf="!element.proofDetails">N/A</span>
                                            </div>
                                        </span>
                                        <span *ngIf="element.lastProof">
                                            <p>{{element.lastProofName}}</p>
                                            <p *ngIf="element.lastProof != 'N/A'">{{element.lastProof | date:
                                                'MM/dd/yyyy | hh:mm a'}}</p>
                                            <p *ngIf="element.lastProof == 'N/A'">{{element.lastProof}}</p>
                                        </span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="w-60 min-w-60 ">
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-left">
                                        <div class="flex justify-left mt-1 space-x-1">
                                            <button (click)="customerEmail(element)"
                                                class="bg-blue-500 text-white px-2.5 my-1 py-1.5 text-md rounded mr-1">Email</button>
                                            <button type="button"
                                                class="bg-blue-300 text-white px-2.5 my-1 py-1.5 text-md rounded mr-1"
                                                [disabled]="element?.isHiddenLoader">
                                                <!-- Hide -->
                                                <span matTooltip="Hide this item"
                                                    *ngIf="!element.blnHidden && !element?.isHiddenLoader"
                                                    (click)="HideUnhideCart(element, true)">Hide</span>
                                                <!-- Uhide -->
                                                <span matTooltip="UnHide this item"
                                                    *ngIf="element.blnHidden && !element?.isHiddenLoader"
                                                    (click)="HideUnhideCart(element, false)">UnHide</span>
                                                <!-- spinner -->
                                                <mat-progress-spinner *ngIf="element?.isHiddenLoader" [diameter]="24"
                                                    [mode]="'indeterminate'">
                                                </mat-progress-spinner>
                                            </button>
                                            <button type="button"
                                                class=" my-1 text-white px-2.5 py-1.5 text-md rounded mr-1"
                                                [ngClass]="{ 'bg-red-400': !element.blnAttention, 'bg-green-400': element.blnAttention}"
                                                [disabled]="element?.isFlagLoader">
                                                <!-- Flag -->
                                                <span matTooltip="Flag this item"
                                                    *ngIf="!element.blnAttention && !element?.isFlagLoader"
                                                    (click)="updateAttentionFlagOrder(element, true)">Flag</span>
                                                <!-- UFlag -->
                                                <span matTooltip="UnFlag this item"
                                                    *ngIf="element.blnAttention && !element?.isFlagLoader"
                                                    (click)="updateAttentionFlagOrder(element, false)">UnFlag</span>
                                                <!-- spinner -->
                                                <mat-progress-spinner *ngIf="element?.isFlagLoader" [diameter]="24"
                                                    [mode]="'indeterminate'">
                                                </mat-progress-spinner>
                                            </button>
                                            <!-- Claim Unclaimed -->
                                            <ng-container
                                                *ngIf="element.fk_smartArtDesignerClaimID;else alreadyClaimed">
                                                <ng-containter
                                                    *ngIf="element.fk_smartArtDesignerClaimID != userData.pk_userID">
                                                    <div>
                                                        <span class="text-sm">Claimed:
                                                            {{element.claimedUserName}}</span>
                                                        <br>
                                                        <button (click)="updateClaim(element, true, true)" type="button"
                                                            matTooltip="Claim this item"
                                                            class="my-1 text-white bg-green-500 px-2.5 py-1.5 text-md rounded">
                                                            <span *ngIf="!element?.isClaimLoader">Claim</span>
                                                            <mat-progress-spinner *ngIf="element?.isClaimLoader"
                                                                [diameter]="24" [mode]="'indeterminate'">
                                                            </mat-progress-spinner>
                                                        </button>
                                                    </div>
                                                </ng-containter>
                                                <ng-container
                                                    *ngIf="element.fk_smartArtDesignerClaimID == userData.pk_userID">
                                                    <button (click)="updateClaim(element, false, false)" type="button"
                                                        matTooltip="Unclaim this item"
                                                        class="my-1 text-white bg-red-500 px-2.5 py-1.5 text-md rounded">
                                                        <span *ngIf="!element?.isClaimLoader">Unclaim</span>
                                                        <mat-progress-spinner *ngIf="element?.isClaimLoader"
                                                            [diameter]="24" [mode]="'indeterminate'">
                                                        </mat-progress-spinner>
                                                    </button>
                                                </ng-container>
                                            </ng-container>
                                            <ng-template #alreadyClaimed>
                                                <button (click)="updateClaim(element, true, true)" type="button"
                                                    matTooltip="Claim this item"
                                                    class="my-1 text-white bg-green-500 px-2.5 py-1.5 text-md rounded"
                                                    *ngIf="element.fk_smartArtDesignerClaimID != smartArtUser.pk_userID">
                                                    <span *ngIf="!element?.isClaimLoader">Claim</span>
                                                    <mat-progress-spinner *ngIf="element?.isClaimLoader" [diameter]="24"
                                                        [mode]="'indeterminate'">
                                                    </mat-progress-spinner>
                                                </button>
                                            </ng-template>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;"
                                    [ngStyle]="{'background-color': row.bgColor}">
                                </tr>
                            </table>
                            <mat-paginator #paginator
                                class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}" [length]="totalRecords" [pageIndex]="0"
                                [pageSize]="20" (page)="getNextData($event)" [hidePageSize]="true">
                            </mat-paginator>
                            <!-- Update Bulk -->
                            <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                                <div class="col-span-2"></div>
                                <!-- ... -->
                                <div class="px-8 my-2 col-span-1">
                                    <mat-form-field class="w-full">
                                        <mat-label>Update bulk status</mat-label>
                                        <mat-select [(ngModel)]="status_id">
                                            <mat-option [value]="2">New-Pending</mat-option>
                                            <mat-option [value]="3">Awaiting Approval</mat-option>
                                            <mat-option [value]="12">On Hold</mat-option>
                                            <mat-option [value]="13">Follow Up For Approval</mat-option>
                                            <mat-option [value]="4">Artwork Revision</mat-option>
                                            <mat-option [value]="5">Decorator Notified</mat-option>
                                            <mat-option [value]="7">No Proof Needed</mat-option>
                                            <mat-option [value]="9">Artwork Approved</mat-option>
                                            <mat-option [value]="16">PO Sent</mat-option>
                                            <mat-option [value]="11">In Production</mat-option>
                                            <mat-option [value]="17">Waiting For Group Order</mat-option>
                                            <mat-option [value]="99">Hidden</mat-option>
                                            <mat-option [value]="999">Unhidden</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div class="flex justify-end space-x-2">
                                        <button class="min-w-40" mat-button mat-flat-button color="primary"
                                            [disabled]="isBulkLoader">
                                            <span>Resend Proof</span>
                                            <!-- <mat-progress-spinner *ngIf="isBulkLoader" [diameter]="24"
                                                [mode]="'indeterminate'">
                                            </mat-progress-spinner> -->
                                        </button>
                                        <button class="min-w-40" mat-button mat-stroked-button [disabled]="isBulkLoader"
                                            (click)="bulkUploadStatus()">
                                            <span *ngIf="!isBulkLoader">Update</span>
                                            <mat-progress-spinner *ngIf="isBulkLoader" [diameter]="24"
                                                [mode]="'indeterminate'">
                                            </mat-progress-spinner>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- No color Found -->
                        <ng-template #other_content>
                            <div class="text-secondary font-semibold p-5 text-center bg-card">
                                There are currently no order entries, please check your filters.
                            </div>
                        </ng-template>
                    </div>
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>
<div class="relative z-10" [@backdropAnimation]="isClaimedModal ? 'active' : 'inactive'" *ngIf="isClaimedModal"
    aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        [ngClass]="{'ease-out': isClaimedModal, 'ease-in': !isClaimedModal}"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
                [@modalAnimation]="isClaimedModal ? 'active' : 'inactive'">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div
                            class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Claim this item
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">This item is already claimed by someone else. Are you
                                    sure you want to claim this?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button type="button"
                        class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"
                        (click)="ClaimUnClaimItem()">
                        <span *ngIf="!claimItem?.isClaimLoader">Claim</span>
                        <mat-progress-spinner *ngIf="claimItem?.isClaimLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                    <button type="button"
                        class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto"
                        (click)="cancelClaim()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>