<div class="w-full bg-light">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->

            <!-- Title -->
            <div class="mt-2" #topScrollAnchor>
                <div class="flex align-items-center justify-between">
                    <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                        Import/Export
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="p-6 sm:p-6 space-y-2">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedRoute"
            (change)="calledScreen(group.value)">
            <mat-button-toggle *ngFor="let item of routes" [value]="item.route">
                {{item.title}}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <router-outlet></router-outlet>
    </div>
</div>