<div class="w-full">
    <div class="w-full">
        <div class="px-2 pb-2">
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                (change)="calledScreen(group.value)">
                <mat-button-toggle value="Current Promo Codes">
                    Current Promo Codes
                </mat-button-toggle>
                <mat-button-toggle value="Add New Promo Code">
                    Add New Promo Code
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="px-5" *ngIf="mainScreen == 'Current Promo Codes' && isLoading">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
            </ngx-skeleton-loader>
        </div>
        <div *ngIf="mainScreen == 'Current Promo Codes' && !isLoading">
            <div class="px-3" *ngIf="!isUpdatePromo">
                <mat-form-field class="w-full">
                    <input matInput placeholder="Search Keyword" [disabled]="isSearching" [(ngModel)]="keyword"
                        (keyup.enter)="searchColor($event.target.value)">
                </mat-form-field>
                <p class="text-secondary text-right font-medium cursor-pointer mb-2" *ngIf="!isSearching"
                    (click)="resetSearch()">Reset</p>
                <p class="text-secondary text-right font-medium mb-2" *ngIf="isSearching">Searching...</p>
            </div>
            <div *ngIf="dataSource.length > 0 && !isUpdatePromo;else other_content" class="w-full">
                <table mat-table [dataSource]="dataSource" class="w-full border-t">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.promocode || not_available}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="savings">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Savings
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            {{element.amount | currency}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="threshold">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Threshold
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            {{element.threshold | currency}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="exp">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Exp
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            {{element.expDate==0 ? 'None': element.expDate }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="active">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Active
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <mat-icon *ngIf="element.blnActive" svgIcon="heroicons_outline:check"></mat-icon>
                            <mat-icon *ngIf="!element.blnActive" svgIcon="heroicons_outline:x"></mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="shipping">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Free Shipping
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <mat-icon *ngIf="element.blnShipping" svgIcon="heroicons_outline:check"></mat-icon>
                            <mat-icon *ngIf="!element.blnShipping" svgIcon="heroicons_outline:x"></mat-icon>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="used">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Times Used
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            {{element.timesUsed}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div class="flex justify-center">
                                <mat-icon (click)="updatePromoToggle(element)" svgIcon="heroicons_outline:pencil-alt">
                                </mat-icon>
                                <mat-icon (click)="deletePromo(element)" svgIcon="heroicons_outline:trash"
                                    *ngIf="!element?.delLoader"></mat-icon>
                                <mat-progress-spinner *ngIf="element?.delLoader" [diameter]="24"
                                    [mode]="'indeterminate'" class="ml-2"></mat-progress-spinner>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                    </tr>
                </table>
                <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}" [length]="totalUsers" [pageIndex]="0" [pageSize]="20"
                    (page)="getNextData($event)" [hidePageSize]="true">
                </mat-paginator>
            </div>
            <!-- Update Method -->
            <div *ngIf="isUpdatePromo" class="p-6">
                <div class="row" [formGroup]="updatePromoForm">
                    <div class="col-12 col-md-6">
                        <mat-label class="font-medium" [matTooltip]="'10 characters max'">Name* <i
                                class="fas fa-question-circle"></i></mat-label>
                        <mat-form-field class="w-full">
                            <input matInput maxlength="10" formControlName="promocode">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-label class="font-medium"
                            [matTooltip]="'Determines whether the promo code deducts a dollar amount or a percentage off'">
                            Type*
                            <i class="fas fa-question-circle"></i>
                        </mat-label>
                        <mat-form-field class="w-full">
                            <mat-select matInput formControlName="blnPercent">
                                <mat-option [value]="false">Dollar Amount off</mat-option>
                                <mat-option [value]="true">Percent off</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-label class="font-medium"
                            [matTooltip]="'In the form of dollars and cents, if doing a dollar amount off. To add to order total, make negative. In the form of a percentage, if doing a percent off'">
                            Savings amount* <i class="fas fa-question-circle"></i></mat-label>
                        <mat-form-field class="w-full">
                            <input min="0" matInput type="number" formControlName="amount">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-label class="font-medium" [matTooltip]="'In the form of dollars and cents'">Threshold* <i
                                class="fas fa-question-circle"></i></mat-label>
                        <mat-form-field class="w-full">
                            <input min="0" matInput type="number" formControlName="threshold">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-label class="font-medium" [matTooltip]="'In the form of dollars and cents'">Max Amount <i
                                class="fas fa-question-circle"></i></mat-label>
                        <mat-form-field class="w-full">
                            <input min="0" maxlength="20" matInput type="number" formControlName="maxAmount">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-label class="font-medium" [matTooltip]="'100 characters max'">Description* <i
                                class="fas fa-question-circle"></i></mat-label>
                        <mat-form-field class="w-full">
                            <input matInput maxlength="100" formControlName="description">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-label class="font-medium">Activation*</mat-label>
                        <mat-form-field class="w-full">
                            <mat-select matInput formControlName="blnActive">
                                <mat-option [value]="true">Active</mat-option>
                                <mat-option [value]="false">Disabled</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-label class="font-medium"
                            [matTooltip]="'Enter in the form mm/dd/yy. If none, leave blank'">
                            Expiration Date <i class="fas fa-question-circle"></i></mat-label>
                        <mat-form-field class="w-full">
                            <input readonly matInput [matDatepicker]="picker" formControlName="expDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-label class="font-medium"
                            [matTooltip]="'Setting this to yes will automatically remove whatever shipping is currently in the cart when this promo code is applied.'">
                            Free Shipping*
                            <i class="fas fa-question-circle"></i>
                        </mat-label>
                        <mat-form-field class="w-full">
                            <mat-select matInput formControlName="blnShipping">
                                <mat-option [value]="true">Yes</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <div *ngIf="addPromoForm.get('blnShipping').value">
                            <mat-checkbox formControlName="blnRemoveShippingCost">Remove shipping cost</mat-checkbox>
                            <br>
                            <mat-checkbox formControlName="blnRemoveShippingPrice">Remove shipping price</mat-checkbox>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-label class="font-medium">Remove cart totals</mat-label>
                        <br>
                        <mat-checkbox formControlName="blnRemoveCost">Remove cart cost</mat-checkbox>
                        <br>
                        <mat-checkbox formControlName="blnRemovePrice">Remove cart price</mat-checkbox>
                    </div>

                    <div class="justify-end flex col-12">
                        <button [disabled]="isUpdatePromoLoader" class="min-w-30 mr-2" mat-stroked-button
                            [matTooltip]="'Back to list'" (click)="updatePromoToggle(null)">
                            Back
                        </button>
                        <button [disabled]="isUpdatePromoLoader || !updatePromoForm.valid" class="min-w-40"
                            mat-stroked-button [matTooltip]="'Update Promo Code'" (click)="updatePromoCode()">
                            <mat-icon svgIcon="heroicons_solid:pencil" *ngIf="!isUpdatePromoLoader"></mat-icon>
                            <span class="ml-2" *ngIf="!isUpdatePromoLoader"> Update Promo Code </span>
                            <mat-progress-spinner *ngIf="isUpdatePromoLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>
                </div>

            </div>
            <!-- No color Found -->
            <ng-template #other_content>
                <div class="text-secondary font-semibold p-5 text-center" *ngIf="!isUpdatePromo">
                    No promoCodes Found.
                </div>
            </ng-template>
        </div>
        <div *ngIf="mainScreen == 'Add New Promo Code'" class="p-6 ">
            <div class="row" [formGroup]="addPromoForm">
                <div class="col-12 col-md-6">
                    <mat-label class="font-medium" [matTooltip]="'10 characters max'">Name* <i
                            class="fas fa-question-circle"></i></mat-label>
                    <mat-form-field class="w-full">
                        <input matInput maxlength="50" formControlName="promocode">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-label class="font-medium"
                        [matTooltip]="'Determines whether the promo code deducts a dollar amount or a percentage off'">
                        Type*
                        <i class="fas fa-question-circle"></i>
                    </mat-label>
                    <mat-form-field class="w-full">
                        <mat-select matInput formControlName="blnPercent">
                            <mat-option [value]="false">Dollar Amount off</mat-option>
                            <mat-option [value]="true">Percent off</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-label class="font-medium"
                        [matTooltip]="'In the form of dollars and cents, if doing a dollar amount off. To add to order total, make negative. In the form of a percentage, if doing a percent off'">
                        Savings amount* <i class="fas fa-question-circle"></i></mat-label>
                    <mat-form-field class="w-full">
                        <input min="0" maxlength="20" matInput type="number" formControlName="amount">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-label class="font-medium" [matTooltip]="'In the form of dollars and cents'">Threshold* <i
                            class="fas fa-question-circle"></i></mat-label>
                    <mat-form-field class="w-full">
                        <input min="0" maxlength="20" matInput type="number" formControlName="threshold">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-label class="font-medium" [matTooltip]="'In the form of dollars and cents'">Max Amount <i
                            class="fas fa-question-circle"></i></mat-label>
                    <mat-form-field class="w-full">
                        <input min="0" maxlength="20" matInput type="number" formControlName="maxAmount">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-label class="font-medium" [matTooltip]="'100 characters max'">Description* <i
                            class="fas fa-question-circle"></i></mat-label>
                    <mat-form-field class="w-full">
                        <input matInput maxlength="100" formControlName="description">
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-label class="font-medium">Activation*</mat-label>
                    <mat-form-field class="w-full">
                        <mat-select matInput formControlName="blnActive">
                            <mat-option [value]="true">Active</mat-option>
                            <mat-option [value]="false">Disabled</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-label class="font-medium" [matTooltip]="'Enter in the form mm/dd/yy. If none, leave blank'">
                        Expiration Date <i class="fas fa-question-circle"></i></mat-label>
                    <mat-form-field class="w-full">
                        <input maxlength="10" readonly matInput [matDatepicker]="picker" formControlName="expDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-12 col-md-6">
                    <mat-label class="font-medium"
                        [matTooltip]="'Setting this to yes will automatically remove whatever shipping is currently in the cart when this promo code is applied.'">
                        Free Shipping*
                        <i class="fas fa-question-circle"></i>
                    </mat-label>
                    <mat-form-field class="w-full">
                        <mat-select matInput formControlName="blnShipping">
                            <mat-option [value]="true">Yes</mat-option>
                            <mat-option [value]="false">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <div *ngIf="addPromoForm.get('blnShipping').value">
                        <mat-checkbox formControlName="blnRemoveShippingCost">Remove shipping cost</mat-checkbox>
                        <br>
                        <mat-checkbox formControlName="blnRemoveShippingPrice">Remove shipping price</mat-checkbox>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <mat-label class="font-medium">Remove cart totals</mat-label>
                    <br>
                    <mat-checkbox formControlName="blnRemoveCost">Remove cart cost</mat-checkbox>
                    <br>
                    <mat-checkbox formControlName="blnRemovePrice">Remove cart price</mat-checkbox>
                </div>

                <div class="text-right col-12">
                    <button [disabled]="isAddPromoLoader || !addPromoForm.valid" class="min-w-50" mat-stroked-button
                        [matTooltip]="'Add Promo Code'" (click)="addNewPromoCode()">
                        <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddPromoLoader"></mat-icon>
                        <span class="ml-2" *ngIf="!isAddPromoLoader"> Add Promo Code </span>
                        <mat-progress-spinner *ngIf="isAddPromoLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>