<div class="absolute inset-0 flex flex-col min-w-0 overflow-auto bg-card">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pb-1 border-b"
        *ngIf="isLoading">
        <div class="absolute inset-x-0 bottom-1">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
    </div>
    <mat-drawer-container class="example-container w-full bg-white" [hasBackdrop]="false">
        <mat-drawer #drawer [mode]="'over'" position="end" style="width: 400px !important; ">
            <div class="row w-full p-5 m-0">
                <div class="col-9">
                    <div class="text-2xl font-extrabold tracking-tight leading-none"> Advanced Search
                    </div>
                </div>
                <div class="col-3 text-right">
                    <mat-icon (click)="openAdvancedSearch()" class="mr-2 cursor-pointer"
                        [svgIcon]="'mat_outline:close'">
                    </mat-icon>
                </div>
                <div class="col-12 mt-5">
                    <mat-form-field class="w-full">
                        <mat-label>Store:</mat-label>
                        <mat-select [(ngModel)]="storeId">
                            <mat-option *ngFor="let item of storesList" [value]="item.pk_storeID">{{item.storeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-full">
                        <mat-label>Order Type:</mat-label>
                        <mat-select [(ngModel)]="orderType">
                            <mat-option [value]="0">Normal and fulfillment</mat-option>
                            <mat-option [value]="1">Normal only</mat-option>
                            <mat-option [value]="2">Fulfillment only</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-full">
                        <mat-label>Per Page:</mat-label>
                        <mat-select [(ngModel)]="size" ngModeladvancedSearchForm.size>
                            <mat-option [value]="20">20</mat-option>
                            <mat-option [value]="50">50</mat-option>
                            <mat-option [value]="100">100</mat-option>
                            <mat-option [value]="500">500</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="w-full">
                        <mat-label>Order ID:</mat-label>
                        <input matInput [(ngModel)]="searchOrderId">
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-12">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Time Span</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input readonly matStartDate placeholder="Start date" [(ngModel)]="startDate">
                            <input readonly matEndDate placeholder="End date" [(ngModel)]="endDate">
                        </mat-date-range-input>
                        <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
                <div class="col-12 ">
                    <div class="flex flex-col gap-y-2">
                        <button [color]="'primary'" [matTooltip]="'Search Order'" (click)="searchOrder()" class="w-full"
                            mat-stroked-button>
                            <!-- <mat-progress-spinner *ngIf="createProductDetailLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner> -->
                            <span>Search</span>
                        </button>
                        <button class="mt-2" [color]="'primary'" [matTooltip]="'Search Order'" (click)="reset()"
                            class="w-full" mat-stroked-button>
                            <span>Reset</span>
                        </button>
                    </div>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content style="height: 100vh;">
            <div class="flex flex-col flex-auto">
                <!-- Header -->
                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between pt-4 px-6 md:px-8">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Orders</div>
                    </div>
                    <!-- Actions -->
                    <div class="mt-4 sm:mt-0">
                        <!-- Add section button -->
                        <button class="min-w-40" *ngIf="!isFulfillmentOrders" mat-button
                            (click)="openAdvancedSearch()">Filter</button>
                    </div>
                </div>

                <div class="my-3 flex flex-row gap-x-2" *ngIf="!isFulfillmentOrders">
                    <button class="ml-4 min-w-30" mat-flat-button [color]="'primary'">
                        <span class="ml-2 mr-1">Bulk Order Payment</span>
                    </button>

                    <button class="ml-4 min-w-30" mat-flat-button [color]="'primary'">
                        <span class="ml-2 mr-1">Bulk Invoice Reminder</span>
                    </button>
                </div>
                <!-- <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-end py-4 px-6 md:px-8">
                        <mat-form-field class="w-full md:w-60">
                            <input matInput placeholder="Search Promostandard" [matTooltip]="'Press enter key after typing'"
                                (keyup.enter)="searchPromostandards($event)" type="text" [autocomplete]="'off'"
                                [placeholder]="'Search Promostandard'">
                        </mat-form-field>
                    </div> -->
                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">
                    <!-- Products list -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">



                        <ng-container *ngIf="ordersLength > 0; else noOrders">

                            <div class="p-6 sm:p-8 lg:p-10 w-full my-3">
                                <mat-form-field appearance="fill" class="mat-form-field w-full">
                                    <mat-label>Search By Fullfillment Event </mat-label>
                                    <input matInput [(ngModel)]="fullfillmentOrder" [disabled]="isLoading">
                                </mat-form-field>

                                <button class="mt-2 text-right" [color]="'primary'" [disabled]="isLoading"
                                    [matTooltip]="'Search Order'" (click)="searchByFullfilmentOrder()"
                                    mat-stroked-button>
                                    <span>Search</span>
                                </button>
                            </div>

                            <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
                            </ngx-skeleton-loader>

                            <div *ngIf="!isLoading">
                                <!-- Table wrapper -->
                                <div class="overflow-x-hidden sm:overflow-y-auto" cdkScrollable>

                                    <!-- Table -->
                                    <table class="w-full min-w-320 table-fixed bg-transparent"
                                        [ngClass]="{'pointer-events-none': isLoading}" mat-table matSort
                                        [matSortActive]="'name'" [matSortDisableClear]="true" [matSortDirection]="'asc'"
                                        [multiTemplateDataRows]="true" [dataSource]="orders" [trackBy]="trackByFn">

                                        <!-- SKU -->
                                        <ng-container matColumnDef="sku">
                                            <th class="w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                                *matHeaderCellDef disableClear>
                                                Date
                                            </th>
                                            <td class="px-8" mat-cell *matCellDef="let order"
                                                (click)="orderDetails(order.pk_orderID)" style="cursor: pointer;">
                                                <div class="flex items-center">
                                                    <span class="truncate">{{moment(order.orderDate)}}</span>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <!-- Name -->
                                        <ng-container matColumnDef="name">
                                            <th class="w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                                *matHeaderCellDef disableClear>
                                                Name
                                            </th>
                                            <td class="pr-8 truncate" mat-cell *matCellDef="let order"
                                                (click)="orderDetails(order.pk_orderID)" style="cursor: pointer;">
                                                <b>{{order.firstName}} {{order.lastName}}</b>
                                                <br>
                                                <b>
                                                    <ng-container
                                                        *ngIf="order.companyProfileName && order.companyProfileName.length > 0; else companyNameBlock">
                                                        {{ order.companyProfileName }}
                                                    </ng-container>
                                                    <ng-template #companyNameBlock>
                                                        {{ order.companyName }}
                                                    </ng-template>

                                                    <ng-container
                                                        *ngIf="order.departmentName && order.departmentName.length > 0">
                                                        - {{ order.locationName }} - {{ order.departmentName }}
                                                    </ng-container>
                                                </b>
                                                <br>
                                                <!-- <p>{{order.companyName}}</p> -->
                                                <span><b>{{order.pk_orderID}}</b> - {{order.storeName}}</span>
                                            </td>
                                        </ng-container>

                                        <!-- Price -->
                                        <ng-container matColumnDef="price">
                                            <th class="w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                                *matHeaderCellDef disableClear>
                                                Price
                                            </th>
                                            <td class="pr-4" mat-cell *matCellDef="let order"
                                                (click)="orderDetails(order.pk_orderID)" style="cursor: pointer;">
                                                {{order.total | currency}}
                                            </td>
                                        </ng-container>

                                        <!-- Stock -->
                                        <ng-container matColumnDef="stock">
                                            <th class="w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                                *matHeaderCellDef disableClear>
                                                Type
                                            </th>
                                            <td class="pr-4" mat-cell *matCellDef="let order"
                                                (click)="orderDetails(order.pk_orderID)" style="cursor: pointer;">
                                                <mat-icon class="text-gray-400 icon-size-5"
                                                    *ngIf="order.fk_groupOrderID"
                                                    [svgIcon]="'heroicons_outline:user-group'"
                                                    matTooltip="This is a group order"></mat-icon>
                                                <mat-icon class="text-gray-400 icon-size-5"
                                                    matTooltip="This is not a group order"
                                                    *ngIf="!order.fk_groupOrderID" [svgIcon]="'heroicons_outline:user'">
                                                </mat-icon>
                                            </td>
                                        </ng-container>

                                        <!-- Active -->
                                        <ng-container matColumnDef="active">
                                            <th class="w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                                *matHeaderCellDef disableClear>
                                                Status
                                            </th>
                                            <td class="pr-4" mat-cell *matCellDef="let order"
                                                (click)="orderDetails(order.pk_orderID)" style="cursor: pointer;">
                                                <mat-icon class="text-green-400 icon-size-5" *ngIf="!order.blnCancelled"
                                                    [svgIcon]="'heroicons_solid:check'"
                                                    matTooltip="Not Cancelled"></mat-icon>
                                                <mat-icon class="text-red-400 icon-size-5" matTooltip="Cancelled"
                                                    *ngIf="order.blnCancelled"
                                                    [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="order">
                                            <th class="w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                                *matHeaderCellDef disableClear>
                                                Order
                                            </th>
                                            <td class="pr-4" mat-cell *matCellDef="let order"
                                                (click)="orderDetails(order.pk_orderID)" style="cursor: pointer;">
                                                <!-- <mat-icon class="text-green-400 icon-size-5" *ngIf="!order.blnCancelled"
                                                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                                <mat-icon class="text-red-400 icon-size-5" *ngIf="order.blnCancelled"
                                                    [svgIcon]="'heroicons_solid:x'"></mat-icon> -->
                                                <span *ngIf="!order.paymentDate"
                                                    class="fa fa-dollar fa-2x fa-fw gray-icon clickable"
                                                    style="color: #4f514e;" matTooltip="Order has not been paid"></span>
                                                <span *ngIf="order.paymentDate"
                                                    class="fa fa-dollar fa-2x fa-fw active clickable"
                                                    style="color: #38931f;" matTooltip="Order has been paid"></span>
                                            </td>
                                        </ng-container>
                                        <tr class="shadow" mat-header-row
                                            *matHeaderRowDef="ordersTableColumns; sticky: true"></tr>
                                        <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                                            *matRowDef="let order; columns: ordersTableColumns;"></tr>

                                    </table>
                                </div>
                                <mat-paginator
                                    class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    [ngClass]="{'pointer-events-none': isLoading}" [length]="ordersLength"
                                    [pageIndex]="0" [pageSize]="this.size" (page)="pageEvents($event)"
                                    [hidePageSize]="true">
                                </mat-paginator>
                            </div>

                        </ng-container>

                        <ng-template #noOrders>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center"
                                *ngIf="!isLoading">
                                There are no orders!
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>