<div class="w-full">
    <div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
        <div class="w-full">
            <div class="px-4 sm:px-4 lg:px-8 py-4">
                <h2 class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Create a new purchase order for order {{orderData.fk_orderID}}
                </h2>
                <div [formGroup]="createPOForm">
                    <div class="flex justify-between border-b">
                        <p class="text-secodary mb-2">Consolidus LLC<br />526 S.Main St.<br />Suite 804<br />Akron,
                            OH
                            44311<br />P:
                            330-319-7203, F: 330-319-7213</p>
                    </div>
                    <div class="row border-b py-2">
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Vendor</mat-label>
                                <input type="text" placeholder="Search vendors" aria-label="Search vendors" matInput
                                    [formControl]="searchVendorControl" [matAutocomplete]="auto"
                                    (input)="filterVendors($event)">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayVendor"
                                    (optionSelected)="selectVendor($event)">
                                    <mat-option *ngFor="let supplier of filteredVendors" [value]="supplier">
                                        {{supplier.companyName}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <!-- <mat-form-field class="w-full">
                                <mat-label>Select a Vendor *</mat-label>
                                <mat-select matInput formControlName="companyName">
                                    <mat-option *ngFor="let supplier of allVendors"
                                        (click)="getVendorsData(supplier.pk_companyID)"
                                        [value]="supplier.companyName">{{supplier.companyName}}</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>City *</mat-label>
                                <input matInput disabled formControlName="vendorShippingCity">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Address1 *</mat-label>
                                <input matInput formControlName="vendorShippingAddress1">
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-md-3">
                            <mat-form-field class="w-full">
                                <mat-label>State *</mat-label>
                                <mat-select matInput formControlName="vendorShippingState">
                                    <mat-option *ngFor="let state of allStates"
                                        [value]="state.state">{{state.state}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-md-3">
                            <mat-form-field class="w-full">
                                <mat-label>Zip *</mat-label>
                                <input matInput disabled formControlName="vendorShippingZip">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Address2</mat-label>
                                <input matInput disabled placeholder="Vendor address 2"
                                    formControlName="vendorShippingAddress2">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Phone *</mat-label>
                                <input matInput disabled formControlName="vendorShippingPhone">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Emails *</mat-label>
                                <input matInput formControlName="vendorShippingEmail" maxlength="5000">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Shipping Comment</mat-label>
                                <input matInput formControlName="vendorShippingComment" maxlength="500">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Ship To -->
                    <div class="row border-b py-2">
                        <div class="col-12 mb-2">
                            <p class="font-medium text-xl"><b>Ship To:</b></p>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Shipping To Company *</mat-label>
                                <input matInput formControlName="shipToCompanyName" maxlength="500">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Ship To City *</mat-label>
                                <input matInput formControlName="shipToCity" maxlength="200">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Ship To Name *</mat-label>
                                <input matInput formControlName="shipToCustomerName" maxlength="500">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-3">
                            <mat-form-field class="w-full">
                                <mat-label>Ship To State *</mat-label>
                                <mat-select matInput formControlName="shipToState">
                                    <mat-option *ngFor="let state of allStates"
                                        [value]="state.state">{{state.state}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-3">
                            <mat-form-field class="w-full">
                                <mat-label>Ship To Zip *</mat-label>
                                <input matInput type="number" (input)="enforceMaxDigits($event,10)"
                                    formControlName="shipToZip" maxlength="10">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Ship To Address *</mat-label>
                                <input matInput formControlName="shipToAddress" maxlength="500">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Purchase Order</mat-label>
                                <input matInput formControlName="shipToPurchaseOrder" maxlength="100">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Ship To Location</mat-label>
                                <input matInput formControlName="shipToLocation" maxlength="500">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Ship To Country</mat-label>
                                <input matInput formControlName="shipToCountry" maxlength="100">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Deliver To</mat-label>
                                <input matInput formControlName="shipToDeliverTo" maxlength="500">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Product Data -->
                    <div class="row border-b py-2">
                        <div class="col-12 col-md-9">
                            <mat-form-field class="w-full">
                                <mat-label>Product *</mat-label>
                                <input matInput formControlName="productName" maxlength="500">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-3">
                            <mat-form-field class="w-full">
                                <mat-label>Quantity *</mat-label>
                                <input matInput formControlName="quantity" (input)="enforceMaxDigits($event,10)"
                                    type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-checkbox class="mr-3" formControlName="blnSupplier">Supplier</mat-checkbox>
                            <mat-checkbox class="mr-3" formControlName="blnDecorator">Decorator</mat-checkbox>
                        </div>
                        <div class="col-12 mb-2">
                            <fuse-alert [appearance]="'soft'" [type]="'warning'">
                                Hit the "create purchase order" button below to add colors/sizes/imprints, etc.
                            </fuse-alert>
                        </div>
                        <div class="col-12">
                            <button mat-button color="primary" mat-flat-button class="min-w-40"
                                (click)="CreatePurchaseOrder()" [disabled]="isCreateOrder || !createPOForm.valid">
                                <span *ngIf="!isCreateOrder">Create Purchase Order</span>
                                <mat-progress-spinner *ngIf="isCreateOrder" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>