<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <div class="flex justify-between">
                <div class="text-2xl font-bold">
                    Imprint Details
                </div>
                <button class="min-w-40 mb-2" mat-button mat-stroked-button (click)="backToList()">Back to List</button>
            </div>
            <div *ngIf="isLoading" class="my-2 px-5">
                <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                </ngx-skeleton-loader>
            </div>
            <div class="row" *ngIf="!isLoading">
                <div class="col-12 col-md-4 mt-3">
                    <button class="min-w-40 mb-2 mr-2" mat-button mat-flat-button color="primary"
                        (click)="backToListBySearch()" matTooltip="View all items on this order">View all items on this
                        quote</button>
                    <mat-accordion multi>
                        <mat-expansion-panel (opened)="lastProof()">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Last Proof
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <div class="mt-2">
                                    <ngx-skeleton-loader *ngIf="lastProofLoader" count="2" appearance="line"
                                        animation="pulse" [theme]="{ 
                                        'background-color': '#dedede'
                                      }">
                                    </ngx-skeleton-loader>
                                    <div *ngIf="!lastProofLoader" class="py-2">
                                        <p>
                                            <span *ngIf="lastProofData != 'N/A'">{{lastProofData?.firstName + ' ' +
                                                lastProofData?.lastName}} @
                                                {{lastProofData?.proofSentDate | date:
                                                'MM/dd/yyyy | hh:mm a'}}</span>
                                            <span *ngIf="lastProofData == 'N/A'">{{lastProofData}}</span>
                                        </p>
                                        <!-- If Not claimed already -->
                                        <div *ngIf="!quoteData.fk_smartArtDesignerClaimID">
                                            <button type="button"
                                                class="inline-flex items-center gap-x-1.5 rounded-md bg-green-400 px-2.5 py-1.5 text-sm font-semibold text-white shadow-smfocus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                                                [disabled]="quoteData?.isClaimLoader" matTooltip="Claim this item"
                                                (click)="updateClaim(quoteData, true)">
                                                <span *ngIf="!quoteData?.isClaimLoader">Claim</span>
                                                <mat-progress-spinner *ngIf="quoteData?.isClaimLoader" [diameter]="24"
                                                    [mode]="'indeterminate'">
                                                </mat-progress-spinner>
                                            </button>
                                            <!-- spinner -->
                                        </div>
                                        <!-- If Already Claimed -->
                                        <div *ngIf="quoteData.fk_smartArtDesignerClaimID">
                                            <button type="button"
                                                class="inline-flex items-center gap-x-1.5 rounded-md bg-red-400 px-2.5 py-1.5 text-sm font-semibold text-white shadow-smfocus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                                                [ngClass]="{ 'bg-red-400': !quoteData.blnAttention, 'bg-green-400': quoteData.blnAttention}"
                                                [disabled]="quoteData?.isClaimLoader">
                                                <!-- Claim -->
                                                <span matTooltip="Claim this item"
                                                    *ngIf="!quoteData.fk_smartArtDesignerClaimID && !quoteData?.isClaimLoader"
                                                    (click)="updateClaim(quoteData, true)">Claim</span>
                                                <!-- Unclaim this item if  claimed iD == logged in smart-->
                                                <span matTooltip="Unclaim this item"
                                                    *ngIf="quoteData.fk_smartArtDesignerClaimID == userDetails.pk_userID && !quoteData?.isClaimLoader"
                                                    (click)="updateClaim(quoteData, false)">Unclaim</span>
                                                <!-- if already claimed but not by samrt art logged in user -->
                                                <!-- <span
                                                    *ngIf="quoteData.fk_smartArtDesignerClaimID != userDetails.pk_userID && !quoteData?.isClaimLoader">
                                                    Claimed: {{quoteData.claimedUserName}}
                                                    <br>
                                                </span> -->
                                                <span matTooltip="Claim this item"
                                                    *ngIf="quoteData.fk_smartArtDesignerClaimID != userDetails.pk_userID && !quoteData?.isClaimLoader"
                                                    (click)="updateClaim(quoteData, true)">Claimed:
                                                    {{quoteData.claimedUserName}}</span>
                                                <mat-progress-spinner *ngIf="quoteData?.isClaimLoader" [diameter]="24"
                                                    [mode]="'indeterminate'">
                                                </mat-progress-spinner>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{smartArtUser.blnMaster ? 'Company Information' : 'Contact Information'}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="smartArtUser.blnMaster">
                                <div><b>Company:</b> {{quoteData?.sessionArtworkCompanyName}}</div>
                                <div *ngIf="quoteData?.storeUserDepartmentsLocationName"><b>Location:</b>
                                    {{quoteData?.storeUserDepartmentsLocationName}} <br>
                                    {{quoteData?.storeUserDepartmentsAttributeName}}</div>
                                <div *ngIf="quoteData.sessionArtworkBillingStudentOrgCode">
                                    <b>SABO: </b>
                                    {{quoteData?.sessionArtworkBillingStudentOrgName}}
                                    ({{quoteData?.sessionArtworkBillingStudentOrgCode}})<br />
                                </div>
                                <div *ngIf="quoteData.sessionArtworkrutgersStudentType">
                                    <b>Campus:</b>
                                    {{quoteData.sessionArtworkrutgersStudentType}}<br />
                                </div>
                                <div><b>Name:</b> {{quoteData.firstName + ' ' + quoteData.lastName}}</div>
                                <div><b>Company:</b> {{quoteData.companyInformationName}}</div>
                                <div><b>Address:</b>
                                    {{quoteData.sessionArtworkAddress1[0]}}
                                    <span *ngIf="quoteData.sessionArtworkAddress1[1]">
                                        {{quoteData.sessionArtworkAddress1[1]}}<br />
                                    </span>
                                    {{quoteData.sessionArtworkCity}}, {{quoteData.sessionArtworkState}}
                                    {{quoteData.sessionArtworkZipCode}}<br />
                                </div>
                                <div><b>Phone:</b> {{quoteData.sessionArtworkDayPhone}}</div>
                                <div *ngIf="quoteData.sessionArtworkDayFax"><b>Fax:</b>
                                    {{quoteData.sessionArtworkDayFax}}</div>
                                <div><b>Email:</b>
                                    <!-- <div *ngIf="quoteData.sessionProofEmails.length > 0">
                                        <p *ngFor="let email of quoteData.sessionProofEmails">{{email}}</p>
                                    </div> -->
                                    <!-- *ngIf="quoteData.sessionProofEmails.length == 0" -->
                                    <span>
                                        {{quoteData.sessionArtworkEmail}}</span>
                                </div>
                                <div><b>Designer notes: </b>
                                    <a target="_blank" *ngIf="quoteData.sessionArtworkDesignerNotes"
                                        [routerLink]="['/apps/customers',quoteData.pfk_userID,'user-info']">Designer
                                        Notes</a>
                                    <span *ngIf="!quoteData.sessionArtworkDesignerNotes">None</span>
                                </div>
                                <div class="space-y-1">
                                    <button class="min-w-60 btn buttonComment hover:bg-gray-200"
                                        (click)="customerEmail()">Email Customer</button>
                                    <br>
                                    <button [disabled]="isAutoRequestLoader" (click)="senAutoArtRequest()"
                                        class="min-w-60 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!isAutoRequestLoader">Auto Art Request</span>
                                        <mat-progress-spinner *ngIf="isAutoRequestLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                    <br>
                                    <a class="min-w-60 btn buttonComment hover:bg-gray-200"
                                        [routerLink]="['/apps/customers', quoteData.pfk_userID, 'order-history']"
                                        target="_blank">Order
                                        History</a>
                                </div>
                            </div>
                            <div *ngIf="!smartArtUser.blnMaster">
                                <div>Krysti Horvat<br />
                                    Manager of Creative Services<br />
                                    330.319.7202<br /></div>
                                <a href="mailto:artwork@{{quoteData.storeName}}">artwork@{{quoteData.storeName}}</a>
                                <div class="space-y-1">
                                    <button class="min-w-60 btn buttonComment hover:bg-gray-200">Email designer</button>
                                    <br>
                                    <button [disabled]="isAutoRequestLoader" (click)="senAutoArtRequest()"
                                        class="min-w-60 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!isAutoRequestLoader">Auto Art Request</span>
                                        <mat-progress-spinner *ngIf="isAutoRequestLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Quote Information -->
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Quote Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="smartArtUser.blnMaster">
                                <div><b>Quote ID: </b>
                                    <a [routerLink]="['/apps/quotes',paramData.fk_cartID,'summary']"
                                        target="_blank">{{paramData.fk_cartID}}-{{paramData?.pk_cartLineID}}
                                    </a>
                                </div>
                                <div><b>Created: </b> {{quoteData.formattedDateCreated | date: 'MM/dd/yyyy'}}</div>
                                <div><b>Store: </b>
                                    <a href="{{quoteData?.sessionArtworkStoreProtocol}}{{quoteData?.sessionArtworkStoreURL}}/{{quoteData?.categoryPermalink}}/{{quoteData?.subCategoryPermalink}}/{{quoteData?.productPermaLink}}"
                                        target="_blank"> {{quoteData.sessionArtworkStoreName}}</a>
                                </div>
                                <div><b>Brand Guide: </b>
                                    <a *ngIf="brandGuideExist" target="_blank"
                                        href="https://assets.consolidus.com/globalAssets/Stores/BrandGuide/{{quoteData.pk_storeID}}.pdf">
                                        Click
                                        here</a>
                                    <span *ngIf="!brandGuideExist"> N/A</span>
                                </div>
                                <div><b>Rush:</b> {{quoteData.sessionArtworkBlnRushOrder? 'YES' : 'NO'}}</div>
                                <div>
                                    <b>In-Hands:</b> (mm/dd/yyyy)
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                                        <input matInput readonly [matDatepicker]="picker" (click)="picker.open()"
                                            [(ngModel)]="quoteData.inHandsDate">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <b>Event:</b>
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                                        <input matInput [(ngModel)]="quoteData.event">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-checkbox [(ngModel)]="quoteData.bypassScheduler"><b>Ignore
                                            Scheduler</b></mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox [(ngModel)]="quoteData.blnIgnoreAdditionalArtEmails"><b>Ignore
                                            additional proof emails </b> <span class="fa fa-info-circle fa-lg"
                                            matTooltip="i.e. licensing forms, etc."></span></mat-checkbox>
                                </div>
                                <div>
                                    <b>Additional Contacts:</b>
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                                        <mat-select [(ngModel)]="quoteData.blnAdditionalApprovalOverride" matInput>
                                            <mat-option [value]="false">Enabled</mat-option>
                                            <mat-option [value]="true">Disabled</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="my-2">
                                    <button [disabled]="updateQuoteInfoLoader" (click)="updateQuote()"
                                        class="min-w-40 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!updateQuoteInfoLoader">Update</span>
                                        <mat-progress-spinner *ngIf="updateQuoteInfoLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="!smartArtUser.blnMaster">
                                <b>Cart ID: </b> {{paramData.fk_cartID}}<br />
                                <b>Company: </b> {{quoteData.sessionArtworkCompanyName}}<br />
                                <div *ngIf="quoteData.storeUserDepartmentsLocationName">
                                    <b>Location: </b>
                                    {{quoteData.storeUserDepartmentsLocationName}}<br />
                                    {{quoteData.storeUserDepartmentsAttributeName}}
                                </div>
                                <b>Customer name: </b> {{quoteData.firstName + ' ' + quoteData.lastName}}<br />
                                <b>Date created: </b> {{quoteData.formattedDateCreated | date: 'MM/dd/yyyy'}}<br />
                                <b>Store: </b> <a href="{{quoteData?.storeURL}}" target="_blank">
                                    {{quoteData?.storeName}}</a><br />
                                <div><b>In-Hands: </b> {{quoteData.inHandsDate | date: 'MM/dd/yyyy'}}</div>
                                <div><b>Rush: </b> {{quoteData.sessionArtworkBlnRushOrder? 'YES' : 'NO'}}</div>

                            </div>
                        </mat-expansion-panel>
                        <!-- Supplier -->
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Supplier Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <div><b>SKU: </b>{{quoteData?.supplierSku}}
                                    <p>{{quoteData?.companyName}}</p>
                                    <p>{{quoteData.sessionArtwork_sessionSupplierPhone}}</p>
                                </div>
                                <div><b>ASI: </b>{{quoteData.sessionArtwork_sessionSupplierASI}}</div>
                                <div><b>PPAI: </b> {{quoteData.sessionArtwork_sessionSupplierPPAI}}</div>
                                <div>
                                    <a href="{{quoteData?.sessionArtwork_sessionSupplierSite}}"
                                        target="_blank">{{quoteData?.sessionArtwork_sessionSupplierSite}}</a>
                                </div>
                                <!-- Email Addresses -->
                                <!-- <ng-container
                                    *ngIf="quoteData?.supplierInformationScreenprintEmail && quoteData?.sessionArtwork_decoratorName.toLowerCase().includes('screen');else seconCondition">
                                    <div *ngIf="quoteData.supplierInformationScreenprintEmail">
                                        {{ quoteData.supplierInformationScreenprintEmail }}<br />
                                    </div>
                                </ng-container>

                                <ng-template #seconCondition
                                    *ngIf="quoteData.supplierInformationEmbroideryEmail && quoteData.sessionArtwork_decoratorName.toLowerCase().includes('embroid');else thirdCondition">
                                    {{ quoteData.supplierInformationEmbroideryEmail }}
                                </ng-template>

                                <ng-template #thirdCondition>
                                    <ng-container *ngIf="quoteData.supplierInformationArtworkEmail;else noEmail">
                                        {{ qryCompany.supplierInformationArtworkEmail }}<br />
                                    </ng-container>
                                    <ng-template #noEmail>
                                        NONE PROVIDED<br />
                                    </ng-template>
                                </ng-template> -->



                                <div>
                                    <span
                                        *ngIf="quoteData.sessionArtwork_sessionSupplierEmail">{{quoteData.sessionArtwork_sessionSupplierEmail}}</span>
                                    <span *ngIf="!quoteData.sessionArtwork_sessionSupplierEmail">None Provided</span>
                                </div>
                                <div><b>Product Link: </b> <a href="{{quoteData.supplierLink}}">Click here</a></div>
                                <div>
                                    <div *ngIf="artWorkLoader">
                                        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </div>
                                    <div *ngIf="!artWorkLoader">
                                        <ng-container *ngIf="artworktemplatesData.length">
                                            <b>Artwork Templates: </b>
                                            <span *ngIf="artworktemplatesData.length == 0">None</span>
                                            <br>
                                            <div *ngFor="let item of artworktemplatesData">
                                                <a target="_blank"
                                                    href="https://assets.consolidus.com/globalAssets/Products/ArtworkTemplates/{{item.fk_productID}}/{{item.pk_artworkTemplateID}}.{{item.extension}}">ArtworkTemplate</a>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <a class="min-w-60 btn buttonComment hover:bg-gray-200"
                                    [routerLink]="['/apps/ecommerce/inventory', quoteData.pk_productID, 'order-history']"
                                    target="_blank">Product Order History</a>
                            </div>
                        </mat-expansion-panel>
                        <!-- Decorator Complete-->
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Decorator Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p>{{quoteData.companyName || 'NONE'}}</p>
                                <p>{{quoteData.dayPhone || 'NONE'}}</p>
                                <p *ngIf="quoteData.ASI">{{quoteData.ASI || 'NONE'}}</p>
                                <p *ngIf="quoteData.PPAI">{{quoteData.PPAI || 'NONE'}}</p>
                                <p>{{quoteData.artworkEmail || 'None Provided'}}</p>
                                <a href="{{quoteData.websiteURL}}" target="_blank">{{quoteData.websiteURL}}</a>
                            </div>
                        </mat-expansion-panel>
                        <!-- Comments -->
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Quote Comments
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <fuse-alert *ngIf="!quoteData.quoteComments.length" class="my-2" [appearance]="'soft'"
                                    [type]="'warning'" [showIcon]="false">
                                    There are no comments on this order.
                                </fuse-alert>
                                <div *ngIf="quoteData.quoteComments.length"
                                    class="mb-2 max-h-40 overflow-y-auto border p-2">
                                    <p *ngFor="let comment of quoteData.quoteComments" [innerHTML]="comment"></p>
                                </div>
                                <mat-form-field class="w-full">
                                    <mat-label>Leave a comment</mat-label>
                                    <textarea matInput [(ngModel)]="ngComment"></textarea>
                                </mat-form-field>
                                <button [disabled]="isAddCommentLoader" (click)="addComment()"
                                    class="min-w-40 btn buttonComment hover:bg-gray-200">
                                    <span *ngIf="!isAddCommentLoader">Add Comment</span>
                                    <mat-progress-spinner *ngIf="isAddCommentLoader" [diameter]="24"
                                        [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                </button>
                            </div>
                        </mat-expansion-panel>
                        <!-- Purchase Comments -->
                        <mat-expansion-panel *ngIf="selectedPurchaseImprint">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Purchase Order Comments
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-form-field class="w-full mt-2">
                                    <mat-select [(ngModel)]="selectedPurchaseImprint">
                                        <mat-option *ngFor="let imprint of quoteImprintdata"
                                            [value]="imprint">({{imprint.imprintID}})
                                            {{imprint.locationName}}/{{imprint.methodName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <textarea matInput
                                        [(ngModel)]="selectedPurchaseImprint.originalArtworkComment"></textarea>
                                </mat-form-field>
                                <div>
                                    <button [disabled]="isPurchaseCommentLoader" (click)="updatePurchaseComment()"
                                        class="min-w-40 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!isPurchaseCommentLoader">Update Comment</span>
                                        <mat-progress-spinner *ngIf="isPurchaseCommentLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Manually Update Proof -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Manually Update Proof
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p class="text-red-500 text-sm">
                                    Manually updating a proof for an imprint will not change the status, nor will it
                                    notify the customer.
                                </p>
                                <mat-form-field class="w-full mt-2">
                                    <mat-select [(ngModel)]="selectedProofImprint">
                                        <mat-option *ngFor="let imprint of quoteImprintdata"
                                            [value]="imprint.imprintID">({{imprint.imprintID}})
                                            {{imprint.locationName}}/{{imprint.methodName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-label>Select a new proof image file:</mat-label>
                                <input type="file" accept=".jpg" id="image" (change)="uploadFile($event)">
                                <div class="mt-3">
                                    <button [disabled]="isManualProofLoader" (click)="uploadProofMedia()"
                                        class="min-w-40 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!isManualProofLoader">Update Proof</span>
                                        <mat-progress-spinner *ngIf="isManualProofLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Artwork tags for CLC report -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Artwork tags for CLC report
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p class="text-secondary text-sm">
                                    For any stores using CLC Reporting functionality, we must designate the Artwork
                                    Tag(s) for each product by selecting them from the list below.
                                </p>
                                <mat-form-field appearance="fill" class="w-full mt-2" *ngIf="artworktags">
                                    <mat-select [(ngModel)]="selectedMultipleTags" multiple>
                                        <mat-option *ngFor="let tags of artworktags"
                                            [value]="tags.id">{{tags.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div class="mt-3">
                                    <button [disabled]="isArtworkTagsLoader" (click)="updateArtworkTags()"
                                        class="min-w-40 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!isArtworkTagsLoader">Update artwork tags</span>
                                        <mat-progress-spinner *ngIf="isArtworkTagsLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Upload Virtual Proof -->
                        <!-- <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Upload Virtual Proof
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p class="text-secondary text-sm">Uploading a virtual proof will add to the product
                                    images for
                                    this product on the SmartSite, as well as appear to the customer in various emails
                                    and account detail areas.</p>
                                <p class="text-red-500 text-sm">
                                    Virtual proof images must be at least 600px by 600px, but no larger than 1500px by
                                    1500px. The larger the better. JPG format only.
                                </p>
                                <input type="file">
                                <div>
                                    <mat-checkbox><b>Include on store as an image</b></mat-checkbox>
                                </div>
                                <div>
                                    <button class="min-w-40 btn buttonComment hover:bg-gray-200">Upload</button>
                                </div>
                            </div>
                        </mat-expansion-panel> -->
                        <!--  Update imprint colors -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Update imprint colors
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-form-field class="w-full mt-2">
                                    <mat-select [(ngModel)]="selectedImprint" (selectionChange)="onChangeColor($event)">
                                        <mat-option *ngFor="let imprint of quoteImprintdata"
                                            [value]="imprint.imprintID">({{imprint.imprintID}})
                                            {{imprint.locationName}}/{{imprint.methodName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="w-full" *ngIf="allColors">
                                    <mat-select multiple [(ngModel)]="selectedMultipleColors">
                                        <mat-option *ngFor="let color of allColors"
                                            [value]="color.name">{{color.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="!allColors">
                                    <fuse-alert class="my-2" [appearance]="'soft'" [type]="'warning'">
                                        <mat-icon class="icon-size-5" fuseAlertIcon
                                            [svgIcon]="'heroicons_solid:lock-open'">
                                        </mat-icon>
                                        This imprint does not have any imprint colors associated with it.
                                    </fuse-alert>
                                </div>
                                <mat-form-field class="w-full" *ngIf="allColors">
                                    <mat-label>Or enter PMS colors:</mat-label>
                                    <input matInput [(ngModel)]="selectedImprintPmsColor">
                                </mat-form-field>
                                <div>
                                    <button [disabled]="imprintColorsLoader" (click)="updateOrderLineImprintColors()"
                                        class="min-w-40 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!imprintColorsLoader">Update imprint
                                            colors</span>
                                        <mat-progress-spinner *ngIf="imprintColorsLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Approval History -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Approval History
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <fuse-alert *ngIf="approvalHistoryData.length == 0" class="my-2"
                                    [appearance]="'outline'" [type]="'warning'" [showIcon]="false">
                                    This order has no approval history.
                                </fuse-alert>
                                <table class="table" *ngIf="approvalHistoryData.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of approvalHistoryData">
                                            <td>{{item.firstName + ' ' + item.lastName}}</td>
                                            <td>{{item.statusDate | date}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-expansion-panel>
                        <!-- Timer -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Timer
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <div class="text-center font-bold my-2">Total time so far:
                                    {{selectedImprintForTimer?.time}}</div>
                                <mat-form-field class="w-full font-bold">
                                    <input matInput readonly [(ngModel)]="selectedImprintForTimer.timerValues">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-select [(ngModel)]="selectedImprintForTimer"
                                        (selectionChange)="changeTimerImprints()">
                                        <mat-option *ngFor="let imprint of imprintdata"
                                            [value]="imprint">({{imprint.imprintID}})
                                            <span
                                                [innerHTML]="imprint.locationName"></span>/{{imprint.decorationName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div class="flex justify-center space-x-2">
                                    <button class="min-w-20 btn buttonComment hover:bg-gray-200" (click)="startTimer()"
                                        *ngIf="!isTimerRunning"
                                        [disabled]="selectedImprintForTimer.timerLoader">Start</button>
                                    <button class="min-w-20 btn buttonComment hover:bg-gray-200" (click)="stopTimer()"
                                        *ngIf="isTimerRunning"
                                        [disabled]="selectedImprintForTimer.timerLoader">Stop</button>
                                    <button class="min-w-20 btn buttonComment buttonDanger hover:bg-red-900"
                                        (click)="resetTimer()"
                                        [disabled]="selectedImprintForTimer.timerLoader">Reset</button>
                                    <button class="min-w-20 btn buttonComment buttonSave hover:bg-green-500"
                                        (click)="saveImprintTimerValue()"
                                        [disabled]="selectedImprintForTimer.timerLoader">
                                        <mat-progress-spinner *ngIf="selectedImprintForTimer.timerLoader"
                                            [diameter]="24" [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                        <span *ngIf="!selectedImprintForTimer.timerLoader">Save</span>
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <!-- Imprints Details -->
                <div class="col-12 col-md-8 mt-3">
                    <app-quote-imprint-status [dataForNewComponent]="dataForNewComponent"></app-quote-imprint-status>

                </div>
            </div>
        </div>
    </div>
</div>