<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div class="row my-3" *ngIf="!isLoading">
        <div class="col-12">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="p-6 sm:p-8 lg:p-10 w-full">
                    <div class="text-2xl font-bold">
                        Status
                    </div>
                    <div class="mt-5 row">
                        <!--- ******** OFFLINE to ONLINE  ****** ---->
                        <div class="col-12" *ngIf="!selectedProduct?.blnStoreActive">
                            <fuse-alert [appearance]="'soft'" [dismissed]="false" [type]="'error'">
                                This item is currently OFFLINE
                            </fuse-alert>
                            <div class="my-2 text-lg font-bold border-b">
                                Master Product
                            </div>
                            <div *ngIf="statusProductData.inactiveProductResponse">
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.costsCheck > 0; else elsecostsCheck"
                                        class="text-green-600">
                                        Cost levels were found
                                    </span>
                                    <ng-template #elsecostsCheck>
                                        <span class="text-red-600">ERROR: No costing information was found.</span>
                                    </ng-template>
                                </div>
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.descCheck > 0; else elsedescCheck"
                                        class="text-green-600">
                                        Descriptions found
                                    </span>
                                    <ng-template #elsedescCheck>
                                        <span class="text-red-600">ERROR: No descriptions found.</span>
                                    </ng-template>
                                </div>
                                <!-- FOBCheck -->
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.FOBCheck > 0; else elseFOBCheck"
                                        class="text-green-600">
                                        Shipping FOB location(s) found
                                    </span>
                                    <ng-template #elseFOBCheck>
                                        <span class="text-red-600">ERROR: No shipping FOB location found.</span>
                                    </ng-template>
                                </div>
                                <!-- colorCheck -->
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.colorCheck > 0; else elsecolorCheck"
                                        class="text-green-600">
                                        Color(s) found
                                    </span>
                                    <ng-template #elsecolorCheck>
                                        <span class="text-red-600">ERROR: No color found.</span>
                                        <span class="text-red-600" *ngIf="selectedProduct.blnService">All products, even
                                            services, need to have at least one option in for the color options. It
                                            doesn't have to be a color,
                                            it can just be a very short description of the service, i.e. "custom
                                            airbrush", "graphic service".</span>
                                    </ng-template>
                                </div>
                                <!-- attributeCheck -->
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.attributeCheck > 0; else elseattributeCheck"
                                        class="text-green-600">
                                        Feature(s) found
                                    </span>
                                    <ng-template #elseattributeCheck>
                                        <span class="text-red-600">ERROR: No feature found.</span>
                                    </ng-template>
                                </div>
                                <!-- blnApparel AND sizesCheck -->
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.sizesCheck > 0 && selectedProduct.blnApparel; else elsesizesCheck"
                                        class="text-green-600">
                                        Apparel size(s) (and thus weight) found
                                    </span>
                                    <ng-template #elsesizesCheck>
                                        <span class="text-red-600"
                                            *ngIf="statusProductData.inactiveProductResponse[0]?.sizesCheck == 0 && selectedProduct.blnApparel">ERROR:
                                            No apparel size(s) (and thus weight) was found</span>
                                    </ng-template>
                                </div>
                                <!-- Not blnApparel AND sizesCheck -->
                                <div>
                                    <span
                                        *ngIf="selectedProduct.blnApparel && selectedProduct.weight && selectedProduct.unitsInWeight;"
                                        class="text-green-600">
                                        Weight found
                                    </span>
                                    <span
                                        *ngIf="!selectedProduct.blnApparel && !selectedProduct.weight && !selectedProduct.unitsInWeight;"
                                        class="text-red-600">
                                        ERROR: No weight and/or units per weight were found
                                    </span>
                                </div>
                                <!--  imprintsCheck -->
                                <div *ngIf="selectedProduct.blnService">
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.imprintsCheck > 0; else elseimprintsCheck"
                                        class="text-green-600">
                                        Imprint(s) found
                                    </span>
                                    <ng-template #elseimprintsCheck>
                                        <span class="text-red-600">WARNING: No imprints were found</span>
                                    </ng-template>
                                </div>
                                <!--  blnSoldBlank imprintsCheck -->
                                <div *ngIf="!selectedProduct.blnSoldBlank">
                                    <span *ngIf="statusProductData.inactiveProductResponse[0]?.imprintsCheck == 0"
                                        class="text-red-600">
                                        ERROR: Product is not allowed to be sold blank and at the same time has no
                                        imprints.
                                    </span>
                                </div>
                                <!--  licensingTermCheck -->
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.licensingTermCheck > 0; else elselicensingTermCheck"
                                        class="text-green-600">
                                        Licensing term defined.
                                    </span>
                                    <ng-template #elselicensingTermCheck>
                                        <span class="text-red-600">ERROR: Please define a licensing term for this
                                            product at the master product level.</span>
                                    </ng-template>
                                </div>
                                <!--  msrpCheck -->
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.msrpCheck > 0; else elsemsrpCheck"
                                        class="text-green-600">
                                        MSRP cost defined.
                                    </span>
                                    <ng-template #elsemsrpCheck>
                                        <span class="text-red-600">ERROR: Please define the MSRP cost at the master
                                            product level.</span>
                                    </ng-template>
                                </div>
                            </div>
                            <!-- Store Product -->
                            <div class="my-2 text-lg font-bold border-b">
                                Store Product
                            </div>
                            <div *ngIf="statusProductData.inactiveProductResponse">
                                <!-- marginsCheck -->
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.marginsCheck > 0; else elsemarginsCheck"
                                        class="text-green-600">
                                        Margin levels were found
                                    </span>
                                    <ng-template #elsemarginsCheck>
                                        <span class="text-red-600">ERROR: No margin information was found.</span>
                                    </ng-template>
                                </div>
                                <!-- subCatCheck -->
                                <div>
                                    <span
                                        *ngIf="statusProductData.inactiveProductResponse[0]?.subCatCheck > 0; else elsesubCatCheck"
                                        class="text-green-600">
                                        Subcategories found
                                    </span>
                                    <ng-template #elsesubCatCheck>
                                        <span class="text-red-600">ERROR: No subcategories found.</span>
                                    </ng-template>
                                </div>
                            </div>

                            <!-- password -->
                            <mat-form-field class="w-full mt-3">
                                <mat-label>Enter your password to confirm deletion</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <div>
                                <button class="min-w-40" mat-stroked-button [matTooltip]="'Remove product from store'"
                                    (click)="addDuplicate()" [disabled]="duplicateLoader">
                                    <mat-progress-spinner *ngIf="duplicateLoader" [diameter]="24"
                                        [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                    <mat-icon *ngIf="!duplicateLoader" svgIcon="heroicons_outline:trash"></mat-icon>
                                    <span *ngIf="!duplicateLoader" class="ml-1 mr-1">Remove product from store</span>
                                </button>
                            </div>
                        </div>
                        <!-- Online --- Oflline -->
                        <div class="col-12" *ngIf="selectedProduct?.blnStoreActive">
                            <div *ngIf="statusProductData.blnAllowStatusChange">
                                <div *ngIf="statusProductData.categories.length > 0">
                                    <span class="text-green-600">
                                        This item is currently featured in the following categories on this store
                                    </span>
                                    <span
                                        *ngFor="let item of statusProductData.categories;let last=last">{{item.categoryName}}<span
                                            *ngIf="!last">,</span>
                                    </span>
                                </div>
                                <div *ngIf="statusProductData.campaigns.length > 0">
                                    <span class="text-green-600">
                                        This item is currently featured in the following campaigns on this store
                                    </span>
                                    <span
                                        *ngFor="let item of statusProductData.campaigns;let last=last">{{item.campaignName}}<span
                                            *ngIf="!last">,</span>
                                    </span>
                                </div>
                                <div *ngIf="statusProductData.quotes.length > 0">
                                    <span class="text-green-600">
                                        This item is currently in the following quotes
                                    </span>
                                    <span
                                        *ngFor="let item of statusProductData.quotes;let last=last">{{item.pk_cartID}}<span
                                            *ngIf="!last">,</span>
                                    </span>
                                </div>
                            </div>
                            <div *ngIf="!statusProductData.blnAllowStatusChange">
                                <fuse-alert class="mb-2" [appearance]="'soft'" [dismissed]="false" [type]="'success'">
                                    This item is not featured in any categories or campaigns and can be taken offline.
                                </fuse-alert>
                                <mat-form-field class="min-w-100">
                                    <mat-label>Reason for taking offline</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <br>
                                <button mat-stroked-button>
                                    <span>Take offline</span>
                                </button>
                            </div>

                            <div class="my-2 text-lg font-bold border-b">
                                Master Product
                            </div>
                            <div class="text-green-600">
                                This item is currently featured in the following categories on this store.
                            </div>
                            <div class="text-green-600">
                                You must replace this item in these categories in order to take this item offline.
                            </div>
                            <div class="text-green-600">
                                This item is not featured in any categories or campaigns and can be taken offline.
                            </div>

                            <!-- password -->
                            <mat-form-field class="w-full mt-3">
                                <mat-label>Enter your password to confirm deletion</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <div>
                                <button class="min-w-40" mat-stroked-button [matTooltip]="'Remove product from store'"
                                    (click)="addDuplicate()" [disabled]="duplicateLoader">
                                    <mat-progress-spinner *ngIf="duplicateLoader" [diameter]="24"
                                        [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                    <mat-icon *ngIf="!duplicateLoader" svgIcon="heroicons_outline:trash"></mat-icon>
                                    <span *ngIf="!duplicateLoader" class="ml-1 mr-1">Remove product from store</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>
</div>