<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <h2 class="text-xl md:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Clear RapidBuild Store
            </h2>
            <p class="text-secondary mb-2">This tool will clear all rapidBuild entries for store products on the store
                you
                specify below.
            </p>
            <mat-form-field class="min-w-100">
                <mat-label>Select a store:</mat-label>
                <input matInput placeholder="Search Stores" matTooltip="Search Stores by name" [matAutocomplete]="auto"
                    [formControl]="searchStoreCtrl">
                <mat-autocomplete class="w-full" #auto="matAutocomplete" (optionSelected)="onSelected($event)"
                    [displayWith]="displayWith">
                    <mat-option *ngIf="isSearchingStore" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isSearchingStore">
                        <mat-option *ngFor="let item of allStores" [value]="item">
                            <span>{{item.storeName}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <button mat-flat-button class="min-w-40" [color]="'primary'">
                    <span>Clear Store</span>
                    <!-- <mat-progress-spinner *ngIf="isUpdateWebsiteLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner> -->
                </button>
            </div>
        </div>
    </div>
</div>