<div class="my-3">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div *ngIf="!isLoading">
        <div class="row">
            <!-- <div class="col-lg-3 col-md-4 col-6 my-2">
                <div class="rounded-2xl shadow bg-card flex items-center max-w-80 w-full p-6 filter-info">
                    <mat-icon *ngIf="orderDetail?.OrderStatus == false" class="icon-size-10 mr-6" svgIcon="close">
                    </mat-icon>
                    <mat-icon *ngIf="orderDetail?.OrderStatus == 'Processing'" role="img" class="icon-size-10 mr-6"
                        svgIcon="heroicons_outline:clock"></mat-icon>
                    <mat-icon *ngIf="orderDetail?.OrderStatus == 'Shipped'" class="icon-size-10 mr-6"
                        svgIcon="local_shipping"></mat-icon>
                    <mat-icon *ngIf="orderDetail?.OrderStatus == 'Delivered'" class="icon-size-10 mr-6"
                        svgIcon="delivery_dining"></mat-icon>
                    <mat-icon *ngIf="orderDetail?.OrderStatus == 'P.O. Needed'" class="icon-size-10 mr-6"
                        svgIcon="heroicons_outline:gift"></mat-icon>
                    <mat-icon *ngIf="orderDetail?.OrderStatus == 'Picked up'" class="icon-size-10 mr-6"
                        svgIcon="heroicons_outline:cube"></mat-icon>
                    <mat-icon *ngIf="orderDetail?.OrderStatus == 'Awaiting Group Order'" class="icon-size-10 mr-6"
                        svgIcon="heroicons_outline:user-group"></mat-icon>
                    <mat-icon *ngIf="orderDetail?.OrderStatus == 'N/A'" class="icon-size-10 mr-6"
                        svgIcon="heroicons_outline:user-group"></mat-icon>

                    <div class="flex flex-col ">
                        <div class="text-lg font-semibold leading-tight">Status</div>
                        <span *ngIf="orderDetail?.OrderStatus == 'Processing'"
                            class="text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50">
                            <span class="leading-relaxed whitespace-nowrap">{{orderDetail?.OrderStatus}}</span>
                        </span>
                        <span *ngIf="orderDetail?.OrderStatus == 'Shipped'"
                            class="text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50"><span
                                class="leading-relaxed whitespace-nowrap">{{orderDetail?.OrderStatus}}</span></span>
                        <span *ngIf="orderDetail?.OrderStatus == 'Delivered'"
                            class="text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50"><span
                                class="leading-relaxed whitespace-nowrap">{{orderDetail?.OrderStatus}}</span></span>
                        <span *ngIf="orderDetail?.OrderStatus == 'P.O. Needed'"
                            class="text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50"><span
                                class="leading-relaxed whitespace-nowrap">{{orderDetail?.OrderStatus}}</span></span>
                        <span *ngIf="orderDetail?.OrderStatus == 'Picked up'"
                            class="text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50"><span
                                class="leading-relaxed whitespace-nowrap">{{orderDetail?.OrderStatus}}</span></span>
                        <span *ngIf="orderDetail?.OrderStatus == 'Awaiting Group Order'"
                            class="text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50"><span
                                class="leading-relaxed whitespace-nowrap">{{orderDetail?.OrderStatus}}</span></span>
                        <span *ngIf="orderDetail?.OrderStatus == false"
                            class="text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50"><span
                                class="leading-relaxed whitespace-nowrap">Cancelled</span></span>
                        <span *ngIf="orderDetail?.OrderStatus == 'N/A'"
                            class="text-xs px-2.5 py-0.5 rounded-full tracking-wide bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50"><span
                                class="leading-relaxed whitespace-nowrap">N/A</span></span>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-4 col-6 my-2 ">
                <div class="rounded-2xl shadow bg-card flex items-center max-w-80 w-full p-6 filter-info">
                    <mat-icon role="img" class="icon-size-10 mr-6" svgIcon="heroicons_outline:calendar"></mat-icon>
                    <div class="flex flex-col ">
                        <div class="text-xl font-semibold leading-tight">Payment Date</div>
                        <div class="text-md text-secondary">{{(orderDetail?.paymentDate | date: 'mm-DD-yyyy') ||
                            not_available}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 my-2">
                <div class="rounded-2xl shadow bg-card flex items-center max-w-80 w-full p-6 filter-info">
                    <mat-icon role="img" class="icon-size-10 mr-6" svgIcon="mat_outline:date_range"></mat-icon>
                    <div class="flex flex-col ">
                        <div class="text-xl font-semibold leading-tight">In-Hands Date</div>
                        <div class="text-md text-secondary">{{(orderDetail?.inHandsDate | date: 'mm-DD-yyyy') ||
                            not_available}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 my-2">
                <div class="rounded-2xl shadow bg-card flex items-center max-w-80 w-full p-6 filter-info">
                    <mat-icon role="img" class="icon-size-10 mr-6" svgIcon="mat_outline:money"></mat-icon>
                    <div class="flex flex-col ">
                        <div class="text-xl font-semibold leading-tight">Total Payments</div>
                        <div class="text-md text-secondary">{{(orderDetail?.total | currency) ||
                            not_available_price}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 my-2">
                <div class="rounded-2xl shadow bg-card flex items-center max-w-80 w-full p-6 filter-info">
                    <mat-icon role="img" class="icon-size-10 mr-6" svgIcon="mat_outline:monetization_on"></mat-icon>
                    <div class="flex flex-col ">
                        <div class="text-xl font-semibold leading-tight">Balance Due</div>
                        <div class="text-md text-secondary">{{((orderDetail?.total -
                            orderDetail?.currentTotal) | currency) || not_available_price}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" my-2 rounded-2xl shadow bg-card">
            <div class="row">
                <div class="col-6 py-2">
                    <div class=" flex flex-col lg:flex-row w-full  border-r">
                        <div class="p-4 w-full">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate ">
                                Customer Information
                            </div>
                            <div class="py-2">
                                <span class="flex">
                                    <h2>
                                        <mat-icon svgIcon="mat_solid:person"></mat-icon>
                                    </h2>
                                    <h2 class="ml-2">{{orderDetail?.userFirstName + ' ' + orderDetail?.userLastName}}
                                    </h2>
                                </span>
                                <span class="flex">
                                    <h2>
                                        <mat-icon svgIcon="mat_solid:local_phone"></mat-icon>
                                    </h2>
                                    <h2 class="ml-2">{{orderDetail?.billingPhone || not_available}}
                                    </h2>
                                </span>
                                <span class="flex">
                                    <h2>
                                        <mat-icon svgIcon="mat_solid:email"></mat-icon>
                                    </h2>
                                    <h2 class="ml-2">{{orderDetail?.billingEmail || not_available}}
                                    </h2>
                                </span>
                                <span class="flex mt-1">
                                    <h2 class="font-bold">
                                        Company:
                                    </h2>
                                    <h2 class="ml-2">{{orderDetail?.billingCompanyName || not_available}}
                                    </h2>
                                </span>
                                <span class="flex  mt-1">
                                    <h2 class="font-bold">
                                        Location:
                                    </h2>
                                    <h2 class="ml-2">{{orderDetail?.billingLocation || not_available}}
                                    </h2>
                                </span>
                                <span class="flex  mt-1">
                                    <h2 class="font-bold">
                                        Address:
                                    </h2>
                                    <h2 class="ml-2">{{(orderDetail?.billingAddress + ', ' +
                                        orderDetail?.billingCity + ', ' +orderDetail?.billingState + ' '
                                        +orderDetail?.billingZip) || not_available}}
                                    </h2>
                                </span>
                                <span class="flex  mt-1">
                                    <h2 class="font-bold">
                                        Account Charge Code:
                                    </h2>
                                    <h2 class="ml-2">{{orderDetail?.accountChargeCode || not_available}}
                                    </h2>
                                </span>
                            </div>
                            <div class="text-right">
                                <button mat-stroked-button>
                                    <mat-icon svgIcon="heroicons_outline:eye"></mat-icon>
                                    <span class="ml-2">View Customer</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 py-2">
                    <div class=" flex flex-col lg:flex-row w-full">
                        <div class="p-4 w-full">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate ">
                                Additional Information
                            </div>
                            <div class="row w-full pt-2">
                                <div class="col-lg-6 col-md-6 col-12 my-1">
                                    <div class="row">
                                        <div class="col-12">
                                            <b>Instructions</b>
                                        </div>
                                        <div class="col-12">
                                            {{orderDetail?.instructions || not_available}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 my-1">
                                    <div class="row">
                                        <div class="col-12">
                                            <b>Promocode</b>
                                        </div>
                                        <div class="col-12">
                                            {{orderDetail?.discountCode || not_available}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-full">
                                <div class="col-lg-6 col-md-6 col-12 my-1">
                                    <div class="row">
                                        <div class="col-12">
                                            <b>Purchase Order</b>
                                        </div>
                                        <div class="col-6">
                                            {{orderDetail?.purchaseOrderNum || not_available}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 my-1">
                                    <div class="row">
                                        <div class="col-12">
                                            <b>Additional Status</b>
                                        </div>
                                        <div class="col-6">
                                            {{orderDetail?.accountChargeCode || not_available}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-full">
                                <div class="col-lg-6 col-md-6 col-12 my-1">
                                    <div class="row">
                                        <div class="col-12">
                                            <b>Account/charge Code</b>
                                        </div>
                                        <div class="col-12">
                                            N/A
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 my-1">
                                    <div class="row">
                                        <div class="col-12">
                                            <b>Shipping</b>
                                        </div>
                                        <div class="col-12">
                                            {{(orderDetail?.shippingCarrierName + '/' +
                                            orderDetail?.shippingServiceName) || not_available}}
                                            {{orderDetail?.shippingCustomerAccountNumber}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-2">
            <div class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="p-4 w-full">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate ">
                        Order comments
                    </div>
                    <div class="h-80 overflow-auto">
                        <div [innerHTML]="htmlComment"></div>
                    </div>
                    <div class="text-right">
                        <button mat-stroked-button>
                            <mat-icon svgIcon="heroicons_outline:plus"></mat-icon>
                            <span class="ml-2">Add Comment</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>