<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-4 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-1" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Customers</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Search -->
            <!-- <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                <input matInput (keyup.enter)="searchKeyword($event)" [autocomplete]="'off'"
                    [placeholder]="'Search Customers'">
            </mat-form-field> -->

            <!-- Add Customer button -->
            <!-- <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createCustomer()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Add Customer</span>
            </button> -->
        </div>
    </div>
    <div class="row w-full my-3 px-5">
        <div class="col-12 col-md-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full  min-w-50">
                <mat-label>Keyword</mat-label>
                <input matInput [(ngModel)]="ngKeyword" [autocomplete]="'off'" [placeholder]="'Search Customers'">
            </mat-form-field>
        </div>
        <div class="col-12 col-md-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                <mat-label>Store</mat-label>
                <mat-select matInput [(ngModel)]="ngSelectedStore">
                    <mat-option *ngFor="let item of allStores" [value]="item.pk_storeID">{{item.storeName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 col-md-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                <mat-label>Status</mat-label>
                <mat-select matInput [(ngModel)]="ngSelectedStatus">
                    <mat-option [value]="-1">All</mat-option>
                    <mat-option [value]="1">Active</mat-option>
                    <mat-option [value]="0">Disabled</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 col-md-3">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                <mat-label>Reminders</mat-label>
                <mat-select matInput [(ngModel)]="ngSelectedReminder">
                    <mat-option [value]="-1">All</mat-option>
                    <mat-option [value]="1">Has Reminder</mat-option>
                    <mat-option [value]="2">No Reminder</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 text-right my-2">
            <button class="ml-4 min-w-30" [disabled]="isLoading" mat-flat-button [color]="'primary'"
                (click)="searchKeyword()">
                <mat-icon [svgIcon]="'heroicons_outline:search'" *ngIf="!isLoading"></mat-icon>
                <span class="ml-2 mr-1" *ngIf="!isLoading">Search</span>
                <mat-progress-spinner *ngIf="isLoading" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </div>
    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden">

            <ng-container *ngIf="customersCount > 0; else noCustomers">

                <!-- Table wrapper -->
                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                    <!-- Table -->
                    <table class="w-full min-w-320 table-fixed bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" mat-table matSort [matSortActive]="'name'"
                        [matSortDisableClear]="true" [matSortDirection]="'asc'" [multiTemplateDataRows]="true"
                        [dataSource]="customers$" [trackBy]="trackByFn">

                        <!-- id -->
                        <ng-container matColumnDef="_id">
                            <th class="w-5 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                ID
                            </th>
                            <td class="pr-2" mat-cell *matCellDef="let product" (click)="editCustomer(product)"
                                style="cursor: pointer;">
                                {{product?.pk_userID || not_available}}
                            </td>
                        </ng-container>

                        <!-- First Name -->
                        <ng-container matColumnDef="first_name">
                            <th class="w-5 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                First Name
                            </th>
                            <td class="pr-2" mat-cell *matCellDef="let product" (click)="editCustomer(product)"
                                style="cursor: pointer;">
                                {{product?.firstName || not_available}}
                            </td>
                        </ng-container>

                        <!-- Last Name -->
                        <ng-container matColumnDef="last_name">
                            <th class="w-5 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                Last Name
                            </th>
                            <td class="pr-2" mat-cell *matCellDef="let product" (click)="editCustomer(product)"
                                style="cursor: pointer;">
                                {{product?.lastName || not_available}}
                            </td>
                        </ng-container>

                        <!-- Email -->
                        <ng-container matColumnDef="customer_email">
                            <th class="w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef mat-sort-header disableClear>
                                Email
                            </th>
                            <td class="pr-2 truncate" mat-cell *matCellDef="let product" (click)="editCustomer(product)"
                                style="cursor: pointer;">
                                {{product?.email || not_available}}
                            </td>
                        </ng-container>

                        <!-- Store -->
                        <ng-container matColumnDef="customer_store">
                            <th class="w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef mat-sort-header disableClear>
                                Store
                            </th>
                            <td mat-cell *matCellDef="let product" (click)="editCustomer(product)"
                                style="cursor: pointer;">
                                {{product?.storeName || not_available}}
                            </td>
                        </ng-container>

                        <!-- Price -->
                        <ng-container matColumnDef="customer_company">
                            <th class="w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef mat-sort-header disableClear>
                                Company
                            </th>
                            <td class="pr-4" mat-cell *matCellDef="let product" (click)="editCustomer(product)"
                                style="cursor: pointer;">
                                {{product?.companyName || not_available}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="date_registered">
                            <th class="w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef mat-sort-header disableClear>
                                Date Registered
                            </th>
                            <td class="pr-4" mat-cell *matCellDef="let product" (click)="editCustomer(product)"
                                style="cursor: pointer;">
                                {{product?.date | date:'MM/dd/yyyy'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="rem">
                            <th class="w-5 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                Rem.
                            </th>
                            <td class="pr-4" mat-cell *matCellDef="let product" (click)="editCustomer(product)"
                                style="cursor: pointer;">
                                <span *ngIf="product?.rem !== null" class="fa fa-exclamation-circle fa-lg text-danger"
                                    matTooltip="This user has reminders."></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="mrp">
                            <th class="w-5 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                                MRP
                            </th>
                            <td class="pr-4" mat-cell *matCellDef="let product" (click)="editCustomer(product)"
                                style="cursor: pointer;">
                                {{product?.MRP | date:'MM/dd/yyyy'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="dropdown">

                            <th class="w-5 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef
                                mat-sort-header disableClear>
                            </th>

                            <td class="text-center" mat-cell *matCellDef="let product">
                                <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                    (click)="openedAccordion(product)">
                                    <mat-icon class="icon-size-5"
                                        [svgIcon]="selectedCategory?.pk_userID == product?.pk_userID  &&  selectedCategory?.storeName== product?.storeName
                                        ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                    </mat-icon>
                                </button>
                            </td>

                        </ng-container>
                        <ng-container matColumnDef="dropdownList">
                            <td class="p-0 border-b" mat-cell *matCellDef="let product"
                                [attr.colspan]="customerTableColumns.length">
                                <div class="shadow-lg overflow-hidden px-10"
                                    [@expandCollapse]="selectedCategory?.pk_userID == product?.pk_userID  &&  selectedCategory?.storeName== product?.storeName ? 'expanded' : 'collapsed'">

                                    <div class="row add-border-bottom grid grid-cols-2 w-full my-5">
                                        <div class=" flex flex-row gap-x-5">
                                            <div class="col-xs-1 add-padding-sm">
                                                <span class="fa fa-address-card fa-4x center-fa"></span>
                                            </div>

                                            <div class="col-xs-8 add-padding-sm mt-3 border-b-1">
                                                <a>
                                                    <h1 (click)="editCustomer(product)"
                                                        class="underline text-xl cursor-pointer add-margin-top-xs no-bottom-margin no-bottom-padding">
                                                        {{ product.firstName }} {{ product.lastName }}
                                                    </h1>
                                                </a>
                                                <b>{{product.companyName[0]}}</b>
                                            </div>
                                        </div>

                                        <div class="col-xs-3 add-padding-sm text-right">
                                            <a>
                                                <button (click)="editCustomer(product)" type="button" class="btn btn-primary btn-sm"
                                                    style="margin-top: 10px;">View User</button>
                                            </a>
                                        </div>
                                    </div>


                                    <tbody class="mb-5">
                                        <tr>
                                            <td width="1%" valign="middle">
                                                <span class="fa fa-check fa-2x center-fa fa-fw text-success"></span>
                                            </td>

                                            <td width="20%" valign="middle">
                                                <span class="text-success">User account is active</span>
                                            </td>

                                            <td width="1%" valign="middle">
                                                <span class="fa fa-clock-o fa-2x center-fa fa-fw"
                                                    title="Customer since"></span>
                                            </td>

                                            <td width="20%" valign="middle">
                                                Customer since: {{product.date}}
                                            </td>

                                            <td width="1%" valign="middle">
                                                <span class="fa fa-phone fa-2x fa-fw center-fa"
                                                    title="Phone number"></span>
                                            </td>

                                            <td width="20%" valign="middle">
                                                {{product.dayPhone}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="1%" valign="middle">
                                                <span class="fa fa-map-pin fa-2x center-fa fa-fw"
                                                    title="Location"></span>
                                            </td>

                                            <td (click)="navigateToLocation(product)" width="20%" valign="middle">
                                                <a class="cursor-pointer">{{product.qryUserProfileLocationName ?
                                                    product.qryUserProfileLocationName : 'No location' }}</a>
                                            </td>

                                            <td width="1%" valign="middle">
                                                <span class="fa fa-envelope fa-2x center-fa fa-fw"
                                                    title="Email address"></span>
                                            </td>

                                            <td width="20%" valign="middle">
                                                <a [href]="'mailto:' + product.email">{{ product.email }}</a>
                                            </td>

                                            <td width="1%" valign="middle">
                                                <span class="fa fa-exclamation-circle fa-2x center-fa fa-fw "
                                                    title="Alerts/reminders"></span>
                                            </td>

                                            <td width="20%" valign="middle">
                                                <a class="cursor-pointer" (click)="navigateToReminder(product)">{{product.rem
                                                    ? product.rem : 'No reminders/alerts' }}</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="1%" valign="top">
                                                <span class="fa fa-map-marker fa-2x center-fa fa-fw"
                                                    title="Address"></span>
                                            </td>

                                            <td width="20%" valign="top">
                                                {{product.address1}} {{product.city}}, {{product.state}} {{product.zipCode}}<br>
                                            </td>

                                            <td width="1%" valign="middle">
                                                <span class="fa fa-history fa-2x center-fa fa-fw"
                                                    title="Most recent purchase"></span>
                                            </td>

                                            <td width="20%" valign="middle">
                                                <span *ngIf="product.qryRecentPurchase"> Most recent purchase on
                                                    <b>{{product.qryRecentPurchase | date: 'MM/dd/yyyy'}}</b> </span>
                                                <span *ngIf="!product.qryRecentPurchase">No Purchases</span>
                                            </td>

                                            <td width="1%" valign="middle">
                                                <span class="fa fa-dollar fa-2x center-fa fa-fw"
                                                    title="Sales volume"></span>
                                            </td>

                                            <td width="20%" valign="middle">
                                               <span *ngIf="product.qrySalesVolume"> Sales volume: <b>{{salesVolume(product)}} </b> </span>
                                               <span *ngIf="!product.qrySalesVolume"> Sales volume: <b>$0.00, 0 sales.</b> </span>
                                            </td>
                                        </tr>
                                    </tbody>


                                </div>
                            </td>
                        </ng-container>
                        <!-- Details -->
                        <ng-container matColumnDef="details">
                            <th class="w-10 pr-8 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                                *matHeaderCellDef>
                                Details
                            </th>
                            <td class="pr-8" mat-cell *matCellDef="let product">
                                <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                    (click)="toggleDetails(product.pk_userID)">
                                    <mat-icon class="icon-size-5"
                                        [svgIcon]="selectedCustomer?.pk_userID === product.pk_userID ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'">
                                    </mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr class="shadow" mat-header-row *matHeaderRowDef="customerTableColumns; sticky: true"></tr>
                        <tr class="h-16 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                            *matRowDef="let product; columns: customerTableColumns;"></tr>
                        <tr class="h-0 border-b-1" mat-row *matRowDef="let product; columns: ['dropdownList']">
                        </tr>
                    </table>

                </div>

                <mat-paginator
                    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}" [length]="customersCount" [pageIndex]="pageNo - 1"
                    [pageSize]="20" [hidePageSize]="true" (page)="pageEvents($event)">
                </mat-paginator>

            </ng-container>

            <ng-template #noCustomers>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                    customers!</div>
            </ng-template>

        </div>

    </div>

</div>