<div class="row py-2">
  <div class="col-12">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen" (change)="calledScreen(group.value)">
      <mat-button-toggle *ngFor="let buttonValue of screens" value="{{buttonValue}}">
        {{ buttonValue }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isPageLoading">
</ngx-skeleton-loader>

<div *ngIf="!isPageLoading">
  <div class="row p-3">
    <div class="col-12 bg-card rounded-2xl shadow py-5">
      <!-- Main Settings -->
      <div class="row p-6" *ngIf="mainScreen == 'Settings'">
        <div class="col-12 pb-6 sm:pb-8 lg:pb-8">
          <div class="text-2xl font-bold">
            Art Approval Settings
          </div>
          <note class="text-md">Define any additional artwork approval contacts in the fields below. If the settings
            below are set to "active" and the contacts are defined, then the artwork approval for all orders on
            {{selectedStore.storeName}} must go through these contacts before being approved. The primary email address
            contact for
            the customer who placed the order will be the first person in the chain of art approval, followed by the
            contacts below in the orders specified. If there is a certain order on {{selectedStore.storeName}} that you
            do not want
            to go through these additional approvals, you can override the settings below at the individual order level
            in admin.</note>
        </div>
        <div class="col-12">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Additional Art Approval Contacts Are:</mat-label>
            <mat-select matInput [(ngModel)]="selectedStore.blnAdditionalArtApproval">
              <mat-option [value]="true">Active</mat-option>
              <mat-option [value]="false">Disabled</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 flex items-center justify-end w-full">
          <div class="flex items-center my-2">
            <div class="flex items-center mr-4" *ngIf="selectedStore?.loaderMsg">
              <ng-container>
                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                <span class="ml-2">Art Approval Settings Updated Successfully</span>
              </ng-container>
            </div>
            <button class="min-w-40" [disabled]="selectedStore?.loader" mat-stroked-button [matTooltip]="'Update'"
              (click)="updateArtApprovaSettings()">
              <mat-progress-spinner *ngIf="selectedStore?.loader" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
              <mat-icon *ngIf="!selectedStore?.loader" svgIcon="mode_edit_outline"></mat-icon>
              <span class="px-2">Update</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Default -->
      <div class="row p-6" *ngIf="mainScreen == 'Approval Groups'">
        <div class="col-12">
          <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="storeUsersLoader">
          </ngx-skeleton-loader>
        </div>
        <div class="col-12 px-0" *ngIf="!storeUsersLoader">
          <div class="row" [formGroup]="addGroupForm">
            <div class="col-12 col-md-4">
              <mat-form-field class="w-full">
                <mat-label>Name: *</mat-label>
                <input maxlength="50" matInput formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-12 col-md-4">
              <mat-form-field class="w-full">
                <mat-label>Location attribute: *</mat-label>
                <mat-select matInput formControlName="fk_attributeID">
                  <mat-option>Select location attribute</mat-option>
                  <mat-option *ngFor="let item of locationsList" [value]="item.pk_attributeID"
                    (click)="getSubLocations(item)">
                    {{item.attributeName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-4">
              <mat-form-field class="w-full">
                <mat-label>Location: (optional)</mat-label>
                <mat-select matInput [disabled]="!subLocationsList" formControlName="fk_locationID">
                  <mat-option>Select location</mat-option>
                  <mat-option *ngFor="let item of subLocationsList" [value]="item.pk_locationID">
                    {{item.locationName}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 flex items-center justify-end w-full">
              <div class="flex items-center my-2">
                <!-- <div class="flex items-center mr-4" *ngIf="addGroupFormLoader">
                  <ng-container>
                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <span class="ml-2">Art Approval Added Successfully</span>
                  </ng-container>
                </div> -->
                <button class="min-w-40" [disabled]="addGroupFormLoader" mat-stroked-button [matTooltip]="'Add'"
                  (click)="addContactGroup()">
                  <mat-progress-spinner *ngIf="addGroupFormLoader" [diameter]="24" [mode]="'indeterminate'">
                  </mat-progress-spinner>
                  <mat-icon *ngIf="!addGroupFormLoader" svgIcon="mat_outline:add"></mat-icon>
                  <span class="px-2">Add</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <mat-form-field class="w-full" *ngIf="!storeUsersLoader">
          <mat-label>Select Approval Group</mat-label>
          <mat-select matInput [(ngModel)]="selectedGroup" (selectionChange)="onGroupChange($event)">
            <mat-option [value]="item.pk_artApprovalGroupID" *ngFor="let item of approvalGroupList">{{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-tab-group class="w-full" *ngIf="!storeUsersLoader && !isDefaultGroupLoader" [animationDuration]="'0'"
          (selectedTabChange)="selectedTabValue($event)">
          <mat-tab label="Current Groups">
            <ng-template matTabContent>
              <div class="row w-full">
                <div class="col-12 col-md-6 pb-6 sm:pb-8 lg:pb-8">
                  <div class="text-2xl font-bold">
                    Approval Contact Groups
                  </div>
                </div>

                <div class="col-12 col-md-6 pb-6 sm:pb-8 lg:pb-8 text-right" *ngIf="isEditDefaultContactGroup">
                  <button class=" ml-4" mat-flat-button mat-stroked-button [matTooltip]="'Back to List'"
                    (click)="backToDefaultGroupList()">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                    <span class="ml-2 mr-1">Back to List</span>
                  </button>
                </div>

                <div class="col-12" *ngIf="!isDefaultGroupLoader && !isEditDefaultContactGroup">
                  <fuse-alert *ngIf="isDefaultGroupData.length == 0" [type]="'info'" [appearance]="'soft'">
                    There are currently no approval contact groups defined.
                  </fuse-alert>
                  <ng-container *ngIf="isDefaultGroupData.length > 0; else noRecords">
                    <table mat-table [dataSource]="isDefaultGroupData" class="w-full">
                      <div class="color-blue text-xs">
                        <!-- Search Term Column -->
                        <ng-container matColumnDef="order">
                          <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                            *matHeaderCellDef>
                            Order *
                          </th>
                          <td mat-cell *matCellDef="let element">{{element.listOrder}}</td>
                        </ng-container>
                        <ng-container matColumnDef="first">
                          <th class="min-w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                            *matHeaderCellDef>
                            First Name *
                          </th>
                          <td mat-cell *matCellDef="let element">{{element.firstName || 'N/A'}}</td>
                        </ng-container>
                        <ng-container matColumnDef="last">
                          <th class="min-w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                            *matHeaderCellDef>
                            Last Name *
                          </th>
                          <td mat-cell *matCellDef="let element">{{element.lastName || 'N/A'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="email">
                          <th class="min-w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                            *matHeaderCellDef>
                            Email
                          </th>
                          <td mat-cell *matCellDef="let element">{{element.email|| 'N/A'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="emails">
                          <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                            *matHeaderCellDef>
                            E <span class="fa fa-question-circle" matTooltip="Emails: Detemrines whether to include any additional emails defined below when proofs are sent to this contact."></span>
                          </th>
                          <td mat-cell *matCellDef="let element" class="text-center">
                            <mat-icon svgIcon="mat_outline:close" *ngIf="!element.blnIncludeAdditionalEmails">
                            </mat-icon>
                            <mat-icon svgIcon="mat_outline:check" *ngIf="element.blnIncludeAdditionalEmails">
                            </mat-icon>
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="user">
                          <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                            *matHeaderCellDef>
                            Users
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <ng-multiselect-dropdown [(ngModel)]="element.selectedItems"
                              [ngModelOptions]="{standalone: true}" [placeholder]="'Select User'"
                              [settings]=" dropdownSettings" [data]="usersDropDown">
                            </ng-multiselect-dropdown>
                            <!-- <span *ngFor="let item of element.users">{{item}}<br></span> -->
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="royalities">
                          <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                            *matHeaderCellDef>
                            R <span class="fa fa-question-circle" matTooltip="Royalties: Determines whether this approval contact as ability to designate royalties during approval."></span>
                          </th>
                          <td mat-cell *matCellDef="let element" class="text-center">
                            <mat-icon svgIcon="mat_outline:close" *ngIf="!element.blnRoyalties">
                            </mat-icon>
                            <mat-icon svgIcon="mat_outline:check" *ngIf="element.blnRoyalties">
                            </mat-icon>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="ca">
                          <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                            *matHeaderCellDef>
                            CA <span class="fa fa-question-circle" matTooltip="Customer approvals: Specifies that this step should go through the approval contacts defined at the customer level."></span>
                          </th>
                          <td mat-cell *matCellDef="let element" class="text-center">
                            <mat-icon svgIcon="mat_outline:close" *ngIf="!element.blnStoreUserApprovalContacts">
                            </mat-icon>
                            <mat-icon svgIcon="mat_outline:check" *ngIf="element.blnStoreUserApprovalContacts">
                            </mat-icon>
                          </td>
                        </ng-container>
                        <!-- Frequency Column -->
                        <ng-container matColumnDef="action">
                          <th class="min-w-10 text-center bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                            *matHeaderCellDef>
                            Action
                          </th>
                          <td mat-cell *matCellDef="let element" class="text-center">
                            <button [matTooltip]="'Remove'" class="mr-2" [disabled]="element.delLoader"
                              (click)="deleteDefaulApprovalGroupContact(element)">
                              <mat-progress-spinner *ngIf="element.delLoader" [diameter]="24" [mode]="'indeterminate'">
                              </mat-progress-spinner>
                              <mat-icon *ngIf="!element.delLoader" svgIcon="mat_outline:delete"></mat-icon>
                            </button>
                            <button (click)="isDefaultGroupEditToggle(element)" [matTooltip]="'Edit'">
                              <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                            </button>
                            <button (click)="updateDefaultToggleData(element)" [matTooltip]="'Update'">
                              <mat-progress-spinner *ngIf="element.updateLoader" [diameter]="24"
                                [mode]="'indeterminate'">
                              </mat-progress-spinner>
                              <mat-icon svgIcon="mat_outline:check" *ngIf="!element.updateLoader"></mat-icon>
                            </button>
                          </td>
                        </ng-container>
                      </div>
                      <tr mat-header-row class="h-16 shadow bg-card" *matHeaderRowDef="isDefaultGroupColumns"></tr>
                      <tr mat-row class="hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;"
                        *matRowDef="let row; columns: isDefaultGroupColumns"></tr>
                    </table>
                  </ng-container>
                  <div *ngIf="isDefaultGroupData.length > 0">
                    <mat-paginator
                      class="sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                      [ngClass]="{'pointer-events-none': isLoading}" (page)="getNextContactGroupData($event)"
                      [length]="isDefaultGroupDataTotal" [pageIndex]="0" [pageSize]="20" [hidePageSize]="true">
                    </mat-paginator>
                  </div>
                </div>
                <!-- Update -->
                <div class="col-12" *ngIf="isEditDefaultContactGroup">
                  <div class="row w-full" [formGroup]="isEditDefaultContactForm">
                    <div class="col-12 col-md-4">
                      <mat-form-field class="w-full">
                        <mat-label>Order:</mat-label>
                        <input matInput formControlName="listOrder" type="number">
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                      <mat-form-field class="w-full">
                        <mat-label>First Name:</mat-label>
                        <input matInput formControlName="firstName">
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                      <mat-form-field class="w-full">
                        <mat-label>Last Name:</mat-label>
                        <input matInput formControlName="lastName">
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                      <mat-form-field class="w-full">
                        <mat-label>Email:</mat-label>
                        <input matInput formControlName="email">
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                      <mat-form-field class="w-full">
                        <mat-label>Emails:</mat-label>
                        <mat-select matInput formControlName="blnIncludeAdditionalEmails">
                          <mat-option [value]="true">Yes</mat-option>
                          <mat-option [value]="false">No</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                      <mat-form-field class="w-full">
                        <mat-label>Royalities:</mat-label>
                        <mat-select matInput formControlName="blnRoyalties">
                          <mat-option [value]="true">Yes</mat-option>
                          <mat-option [value]="false">No</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                      <mat-form-field class="w-full">
                        <mat-label>Customer Approvals:</mat-label>
                        <mat-select matInput formControlName="blnStoreUserApprovalContacts">
                          <mat-option [value]="true">Yes</mat-option>
                          <mat-option [value]="false">No</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <!-- <mat-form-field class="w-full"> -->
                      <mat-label>User:</mat-label>
                      <ng-multiselect-dropdown [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}"
                        [placeholder]="'Select User'" [settings]=" dropdownSettings" [data]="usersDropDown">
                      </ng-multiselect-dropdown>
                      <!-- </mat-form-field> -->
                    </div>
                    <div class="col-12 text-right mt-5">
                      <button class="min-w-40" [disabled]="isEditDefaultContactLoader" mat-stroked-button
                        [matTooltip]="'Update'" (click)="updateDefaulApprovalGroupContact()">
                        <mat-progress-spinner *ngIf="isEditDefaultContactLoader" [diameter]="24"
                          [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <mat-icon *ngIf="!isEditDefaultContactLoader" svgIcon="mat_outline:edit"></mat-icon>
                        <span class="px-2">Update</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab label="Add New Group Contact" *ngIf="!isDefaultGroupLoader">
            <ng-template matTabContent>
              <div class="row" [formGroup]="addContactGroupForm">
                <div class="col-12 pb-6 sm:pb-8 lg:pb-8">
                  <div class="text-2xl font-bold">
                    Add Approval Group Contact
                  </div>
                  <note class="text-md">This is the default chain of approval contacts a proof will go through if the
                    customer
                    is not assigned to any specific location.</note>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field class="w-full">
                    <mat-label>Order: *</mat-label>
                    <input min="0" matInput type="number" formControlName="listOrder">
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field class="w-full">
                    <mat-label>First Name: *</mat-label>
                    <input maxlength="50" matInput formControlName="firstName">
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field class="w-full">
                    <mat-label>Last Name: *</mat-label>
                    <input maxlength="50" matInput formControlName="lastName">
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field class="w-full">
                    <mat-label>Email: *</mat-label>
                    <input matInput formControlName="email">
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field class="w-full">
                    <mat-label>Emails:</mat-label>
                    <mat-select matInput formControlName="blnEmails">
                      <mat-option [value]="true">Yes</mat-option>
                      <mat-option [value]="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field class="w-full">
                    <mat-label>Royalities:</mat-label>
                    <mat-select matInput formControlName="blnRoyalties">
                      <mat-option [value]="true">Yes</mat-option>
                      <mat-option [value]="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-4">
                  <mat-form-field class="w-full">
                    <mat-label>Customer Approvals:</mat-label>
                    <mat-select matInput formControlName="blnStoreUserApprovalContacts">
                      <mat-option [value]="true">Yes</mat-option>
                      <mat-option [value]="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <!-- <mat-form-field class="w-full"> -->
                  <mat-label>User:</mat-label>
                  <ng-multiselect-dropdown formControlName="storeUserID" [placeholder]="'Select User'"
                    [settings]=" dropdownSettings" [data]="usersDropDown">
                  </ng-multiselect-dropdown>
                  <!-- </mat-form-field> -->
                </div>
                <div class="col-12 flex items-center justify-end w-full">
                  <div class="flex items-center my-2">
                    <div class="flex items-center mr-4" *ngIf="isAddApprovalMsg">
                      <ng-container>
                        <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                        <span class="ml-2">Art Approval Added Successfully</span>
                      </ng-container>
                    </div>
                    <button class="min-w-40" [disabled]="isAddApprovalLoader" mat-stroked-button [matTooltip]="'Add'"
                      (click)="addApprovalContactGroup()">
                      <mat-progress-spinner *ngIf="isAddApprovalLoader" [diameter]="24" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                      <mat-icon *ngIf="!isAddApprovalLoader" svgIcon="mat_outline:add"></mat-icon>
                      <span class="px-2">Addd</span>
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
        <div class="col-12">
          <ngx-skeleton-loader *ngIf="isDefaultGroupLoader" count="8" appearance="line" animation="pulse">
          </ngx-skeleton-loader>
        </div>
      </div>


      <!-- Create Email -->
      <div class="row p-6" *ngIf="mainScreen == 'Create New Email'" [formGroup]="isAddEmailForm">
        <div class="col-12 pb-6 sm:pb-8 lg:pb-8">
          <div class="text-2xl font-bold">
            Create Additional Proof Emails
          </div>
        </div>
        <div class="col-12">
          <mat-form-field class="w-full">
            <mat-label>Subject: *</mat-label>
            <input matInput formControlName="subject">
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-label>Body: *</mat-label>
          <quill-editor [modules]="quillModules" formControlName="body"> </quill-editor>
        </div>
        <div class="col-12">
          <mat-checkbox class="example-margin" formControlName="blnProof">Include a link to view the artwork proof
          </mat-checkbox>
        </div>
        <div class="col-12">
          <mat-checkbox class="example-margin" formControlName="blnInvoice">Include invoice as attachment</mat-checkbox>
        </div>
        <div class="col-12 flex items-center justify-end w-full">
          <div class="flex items-center my-2">
            <div class="flex items-center mr-4" *ngIf="isAddEmailMsg">
              <ng-container>
                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                <span class="ml-2">New edditional proof email created successfuly</span>
              </ng-container>
            </div>
            <button class="min-w-40" [disabled]="isAddEmailLoader" mat-stroked-button
              [matTooltip]="'Create Additional Proof Email'" (click)="addProofEmail()">
              <mat-progress-spinner *ngIf="isAddEmailLoader" [diameter]="24" [mode]="'indeterminate'">
              </mat-progress-spinner>
              <mat-icon *ngIf="!isAddEmailLoader" svgIcon="mat_outline:add"></mat-icon>
              <span class="px-2">Create Additional Proof Email</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Emails List Current Emails -->
      <div class="row p-6" *ngIf="mainScreen == 'Current Emails'">
        <div class="col-12 pb-6 sm:pb-8 lg:pb-8">
          <div class="text-2xl font-bold">
            Current Additional Proof Emails
          </div>
          <note class="text-md">These are additional emails that will go out any time you send a proof on this store.
          </note>
        </div>
        <div class="col-12" *ngIf="isGetEmailLoader">
          <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
          </ngx-skeleton-loader>
        </div>
        <div class="col-12" *ngIf="!isGetEmailLoader">
          <!-- Edit Email -->
          <div *ngIf="isEditEmail" class="row" [formGroup]="isEditEmailForm">
            <div class="col-12">
              <mat-form-field class="w-full">
                <mat-label>Subject: *</mat-label>
                <input matInput formControlName="subject">
              </mat-form-field>
            </div>
            <div class="col-12 mb-3">
              <mat-label>Body: *</mat-label>
              <quill-editor [modules]="quillModules" formControlName="body"> </quill-editor>
            </div>
            <div class="col-12">
              <mat-checkbox class="example-margin" formControlName="blnProof">Include a link to view the artwork proof
              </mat-checkbox>
            </div>
            <div class="col-12">
              <mat-checkbox class="example-margin" formControlName="blnInvoice">Include invoice as attachment
              </mat-checkbox>
            </div>
            <div class="col-12 flex items-center justify-end w-full">
              <div class="flex items-center my-2">
                <button class="min-w-40" mat-flat-button [matTooltip]="'Cancel Edit'" (click)="backToList()">
                  <span class="px-2">Cancel</span>
                </button>
                <button class="min-w-40" [disabled]="isEditEmailLoader || !isEditEmailForm.valid" mat-stroked-button
                  [matTooltip]="'Update Additional Proof Email'" (click)="updateProofEmail()">
                  <mat-progress-spinner *ngIf="isEditEmailLoader" [diameter]="24" [mode]="'indeterminate'">
                  </mat-progress-spinner>
                  <mat-icon *ngIf="!isEditEmailLoader" svgIcon="mat_outline:edit"></mat-icon>
                  <span class="px-2">Update Additional Proof Email</span>
                </button>
              </div>
            </div>
          </div>
          <!-- List -->
          <ng-container *ngIf="proofEmails.length > 0 && !isEditEmail; else noRecords">
            <table mat-table [dataSource]="proofEmails" class="w-full">
              <div class="color-blue">
                <!-- Search Term Column -->
                <ng-container matColumnDef="subject">
                  <th class="min-w-50 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell *matHeaderCellDef>
                    Subject
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
                </ng-container>

                <!-- Frequency Column -->
                <ng-container matColumnDef="action">
                  <th class="min-w-10 text-center bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                    *matHeaderCellDef>
                    Action
                  </th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <button (click)="removeAdditionalEmail(element)" class="mr-2" [disabled]="element.delLoader">
                      <mat-progress-spinner *ngIf="element.delLoader" [diameter]="24" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                      <mat-icon *ngIf="!element.delLoader" svgIcon="mat_outline:delete"></mat-icon>
                    </button>
                    <button (click)="isEdiEmailToggle(element)">
                      <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                    </button>
                  </td>
                </ng-container>
              </div>
              <tr mat-header-row class="h-16 shadow bg-card" *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;"
                *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </ng-container>
          <ng-template #noRecords *ngIf="!isEditEmail">
            <div class="font-semibold tracking-tight text-center mb-5">
              <p>No record found</p>
            </div>
          </ng-template>
          <div *ngIf="!isEditEmail">
            <mat-paginator class="sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
              [ngClass]="{'pointer-events-none': isLoading}" (page)="getNextData($event)"
              [length]="dataSourceTotalRecord" [pageIndex]="0" [pageSize]="20" [hidePageSize]="true">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>