<div class="mx-3 bg-card rounded-2xl shadow p-5">
    <div class="text-lg font-bold text-secondary border-b mb-2">Shipping Information</div>
    <div class="alert alert-primary text-secondary text-sm" role="alert">
        <p> This is how the delivery information currently appears to the customer.</p>
    </div>
    <!-- Shipping Information -->
    <div class="row" [formGroup]="shippingForm">
        <div class="col-md-8 col-12 flex justify-between">
            <div class="text-secondary font-bold">Expected Delivery Date:</div>
            <div class="text-secondary" *ngIf="selectedQuoteDetail.inHandsDate">*** RUSH ORDER *** Additional charges
                May Apply ***<br /> {{selectedQuoteDetail.inHandsDate |
                date: 'MM/dd/YYYY'}} at the latest</div>
        </div>
        <div class="col-md-8 col-12 flex justify-between">
            <div class="text-secondary font-bold">Shipping Method:</div>
            <div class="text-secondary">{{selectedQuoteDetail?.shippingCarrierName}},
                {{selectedQuoteDetail?.shippingServiceName}}
                <ng-container *ngIf="selectedQuoteDetail.shippingCustomerAccountNumber">Account Number:
                    {{selectedQuoteDetail.shippingCustomerAccountNumber}}</ng-container>
            </div>
        </div>
        <div class="col-md-8 col-12 flex justify-between">
            <div class="text-secondary font-bold">Order Date:</div>
            <div class="text-secondary">{{selectedQuoteDetail?.dateCreated | date: 'MM/dd/YYYY'}}</div>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">In-Hands Date: (mm/dd/yyyy)</mat-label>
                <input matInput [matDatepicker]="inHandsDate" readonly (click)="inHandsDate.open()"
                    formControlName="inHandsDate">
                <mat-datepicker-toggle matIconSuffix [for]="inHandsDate"></mat-datepicker-toggle>
                <mat-datepicker #inHandsDate></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Carrier Name *</mat-label>
                <input maxlength="50" matInput formControlName="shippingCarrierName">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Service Name *</mat-label>
                <input maxlength="75" matInput formControlName="shippingServiceName">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Purchase Order</mat-label>
                <input maxlength="80" matInput formControlName="purchaseOrderNum">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Account Number</mat-label>
                <input maxlength="50" matInput formControlName="shippingCustomerAccountNumber">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Service Code *</mat-label>
                <input maxlength="10" matInput formControlName="shippingServiceCode">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Cost Center Code</mat-label>
                <input maxlength="50" matInput formControlName="costCenterCode">
            </mat-form-field>
        </div>
        <div class="col-12 text-right">
            <button mat-button mat-stroked-button class="min-w-60" (click)="updateShippingInformation()"
                [disabled]="isShippingLoader">
                <span *ngIf="!isShippingLoader">Update Shipping Information</span>
                <mat-progress-spinner *ngIf="isShippingLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </div>
</div>