<div class="w-full">
    <div class="w-full">
        <div class="shadow bg-card p-5 px-8 flex space-x-6" *ngIf="!isUpdateUser">
            <span class="font-medium cursor-pointer hover:text-gray-900 text-secondary"
                [ngClass]="{'text-gray-900': mainScreen=='Current Users'}"
                (click)="calledScreen('Current Users')">RapidBuild Users</span>
            <span class="font-medium cursor-pointer hover:text-gray-900 text-secondary"
                [ngClass]="{'text-gray-900': mainScreen=='Add New User'}" (click)="calledScreen('Add New User')">Add New
                User</span>
        </div>
        <div class="p-5" *ngIf="mainScreen == 'Current Users' && isLoading">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                'background-color': '#dedede'
              }">
            </ngx-skeleton-loader>
        </div>

        <div class="mt-5" *ngIf="mainScreen == 'Current Users' && !isLoading && !isUpdateUser">
            <div *ngIf="dataSource.length > 0;else other_content" class="w-full">
                <table mat-table [dataSource]="dataSource" class="w-full border-t">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15">
                            ID
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-sm">
                            {{element.pk_userID || not_available}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="f_name">
                        <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                            First Name
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-sm">
                            {{element.firstName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="l_name">
                        <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30 ">
                            Last Name
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-sm">
                            {{element.lastName}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="last">
                        <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                            Last LoggedIn
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-sm">
                            {{(element.lastLogged | date: 'MM-dd-yyyy hh:mm:ss') || 'N/A'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="admin">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Master
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div class="flex justify-center">
                                <mat-icon class="text-green-900" svgIcon="heroicons_outline:check"
                                    *ngIf="element.blnMaster"></mat-icon>
                                <mat-icon class="text-red-900" svgIcon="heroicons_outline:x"
                                    *ngIf="!element.blnMaster"></mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div class="flex justify-center">
                                <mat-icon (click)="toggleUpdateUserData(element, true)"
                                    svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                                <mat-icon (click)="deleteUser(element)" svgIcon="heroicons_outline:trash"
                                    *ngIf="!element.delLoader"></mat-icon>
                                <mat-progress-spinner *ngIf="element.delLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                    </tr>
                </table>
                <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}" [length]="totalUsers" [pageIndex]="0" [pageSize]="20"
                    (page)="getNextData($event)" [hidePageSize]="true">
                </mat-paginator>
            </div>
            <!-- No color Found -->
            <ng-template #other_content>
                <div class="text-secondary font-semibold p-5 text-center">
                    There are currently no RapidBuild users.
                </div>
            </ng-template>
        </div>
        <div *ngIf="mainScreen == 'Add New User' && !isUpdateUser" class="mt-5">
            <div class="shadow bg-card p-6">
                <div class="row" [formGroup]="addNewUserForm">
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full">
                            <mat-label>First Name (30) </mat-label>
                            <input matInput type="text" maxlength="30" formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full">
                            <mat-label>Last Name (50) </mat-label>
                            <input matInput type="text" maxlength="50" formControlName="lastName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full">
                            <mat-label>Email (50)* </mat-label>
                            <input matInput type="text" maxlength="50" formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full">
                            <mat-label>UserName (50)* </mat-label>
                            <input matInput type="text" maxlength="50" formControlName="userName">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full">
                            <mat-label>Password(15)* </mat-label>
                            <input matInput type="text" maxlength="15" formControlName="password">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full">
                            <mat-label>Show Full Color Items</mat-label>
                            <mat-select matInput formControlName="blnFullColor">
                                <mat-option [value]="false">No</mat-option>
                                <mat-option [value]="true">Yes</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-form-field class="w-full">
                            <mat-label>Master Account</mat-label>
                            <mat-select matInput formControlName="blnMaster">
                                <mat-option [value]="false">No</mat-option>
                                <mat-option [value]="true">Yes</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="text-right col-12">
                        <button [disabled]="isAddNewUserLoader || !addNewUserForm.valid" class="min-w-50"
                            mat-stroked-button [matTooltip]="'Add New User'" (click)="addNewUser()">
                            <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddNewUserLoader"></mat-icon>
                            <span class="ml-2" *ngIf="!isAddNewUserLoader"> Add New User </span>
                            <mat-progress-spinner *ngIf="isAddNewUserLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Update Method -->
        <div *ngIf="isUpdateUser">
            <div class="shadow bg-card p-5 px-8 flex space-x-6 overflow-x-auto">
                <span class="font-medium cursor-pointer hover:text-gray-900 text-primary"
                    (click)="toggleUpdateUserData(null, false)" matTooltip="View Users List">Users</span>
                <span class="font-medium cursor-pointer hover:text-gray-900 text-secondary"
                    [ngClass]="{'text-gray-900': mainScreenUser=='Edit User'}"
                    (click)="calledUserScreen('Edit User')">Edit User</span>
                <span class="font-medium cursor-pointer hover:text-gray-900 text-secondary"
                    [ngClass]="{'text-gray-900': mainScreenUser=='Active Stores'}"
                    (click)="calledUserScreen('Active Stores')">Active Stores</span>
                <span class="font-medium cursor-pointer hover:text-gray-900 text-secondary"
                    [ngClass]="{'text-gray-900': mainScreenUser=='User History'}"
                    (click)="calledUserScreen('User History')">User History</span>
            </div>

            <!-- Edit User -->
            <div class="mt-5" *ngIf="mainScreenUser == 'Edit User'">
                <div class="shadow bg-card p-6">
                    <div class="row" [formGroup]="updateUserForm">
                        <div class="col-12 pb-5">
                            <h2 class="text-lg font-semibold">Edit User</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>First Name (30) </mat-label>
                                <input matInput type="text" maxlength="30" formControlName="firstName">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Last Name (50) </mat-label>
                                <input matInput type="text" maxlength="50" formControlName="lastName">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Email (50)* </mat-label>
                                <input matInput type="text" maxlength="50" formControlName="email">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>UserName (15)* </mat-label>
                                <input matInput type="text" maxlength="15" formControlName="userName">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Password(15)* </mat-label>
                                <input matInput type="text" maxlength="15" formControlName="password">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Show Full Color Items</mat-label>
                                <mat-select matInput formControlName="blnFullColor">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Master</mat-label>
                                <mat-select matInput formControlName="blnMaster">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="justify-end flex col-12">
                            <button [disabled]="isUpdateUserLoader" class="min-w-40" mat-stroked-button
                                [matTooltip]="'Update User'" (click)="updateUser()">
                                <mat-icon svgIcon="heroicons_solid:pencil" *ngIf="!isUpdateUserLoader"></mat-icon>
                                <span class="ml-2" *ngIf="!isUpdateUserLoader"> Update User </span>
                                <mat-progress-spinner *ngIf="isUpdateUserLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Active Stores -->
            <div class="mt-5" *ngIf="mainScreenUser == 'Active Stores'">
                <div class="shadow bg-card p-6">
                    <div class="flex justify-between align-items-center">
                        <h2 class="text-lg font-semibold">Active Stores</h2>
                        <button [disabled]="updateStoreLoader" class="min-w-40" mat-stroked-button
                            [matTooltip]="'Update Stores'" (click)="updateStoresList()">
                            <mat-icon svgIcon="heroicons_solid:pencil" *ngIf="!updateStoreLoader"></mat-icon>
                            <span class="ml-2" *ngIf="!updateStoreLoader"> Update Stores </span>
                            <mat-progress-spinner *ngIf="updateStoreLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>
                    <div class="pt-5 row">
                        <div class="col-4" *ngFor="let store of allStores">
                            <mat-checkbox class="text-sm" [(ngModel)]="store.checked">{{store.storeName}}</mat-checkbox>
                        </div>
                        <div class="col-12 flex justify-end" *ngIf="allStores.length < totalStores">
                            <span class="text-gray-500 hover:text-gray-900 cursor-pointer" (click)="getNextStoresData()"
                                *ngIf="!storeLoader">Load More</span>
                            <mat-progress-spinner *ngIf="storeLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </div>
                    </div>
                </div>
            </div>
            <!-- View Customers -->
            <div class="mt-5" *ngIf="mainScreenUser == 'User History'">
                <div class="px-5" *ngIf="customerLoader">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                        'background-color': '#dedede'
                      }">
                    </ngx-skeleton-loader>
                </div>
                <div class="px-3 pb-2 row w-full" *ngIf="!customerLoader">
                    <div class="col-md-4 col-12">
                        <mat-form-field class="w-full">
                            <mat-label>Select Range</mat-label>
                            <mat-date-range-input [rangePicker]="picker1" (click)="picker1.open()" [max]="maxDate">
                                <input matStartDate placeholder="Start date" readonly [(ngModel)]="ngRangeStart">
                                <input matEndDate placeholder="End date" readonly [(ngModel)]="ngRangeEnd">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker1></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-12">
                        <mat-form-field class="w-full" [(ngModel)]="ngSPID">
                            <mat-label>SPID</mat-label>
                            <input type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 col-12">
                        <mat-form-field class="w-full">
                            <mat-label>Type</mat-label>
                            <mat-select matInput [(ngModel)]="ngType">
                                <mat-option value="ALL">All</mat-option>
                                <mat-option value="NORMAL">Normal</mat-option>
                                <mat-option value="REVISION">Revision</mat-option>
                                <mat-option value="FINAL">Final</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 text-right">
                        <button (click)="getAdminCustomers(1)" [disabled]="customerLoader" class="min-w-40" mat-button
                            mat-stroked-button>
                            <span>Filter</span>
                        </button>
                    </div>
                </div>
                <div *ngIf="customersDataSource.length > 0 && !customerLoader;else other_content" class="w-full">
                    <div class="w-full text-red-500">{{totalCustomers}} total history entries, {{distinctProducts}}
                        distinct products</div>
                    <table mat-table [dataSource]="customersDataSource" class="w-full border-t">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>
                                RBID
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                {{element.fk_rbProductID || not_available}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>
                                Name
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm pl-2">
                                {{updateUserData.firstName + ' ' + updateUserData.lastName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="history">
                            <th mat-header-cell *matHeaderCellDef>
                                History
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                {{element.history}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef>
                                Timestamp
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                {{element.entryDate | date: 'yyyy-MM-dd hh:mm'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef>
                                Type
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                {{element.type}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedCustomersColumns;" class="h-18 bg-light"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedCustomersColumns;"
                            class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                        </tr>
                    </table>
                    <mat-paginator #paginator
                        class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [length]="totalCustomers" [pageIndex]="0" [pageSize]="20" (page)="getNextCustomersData($event)"
                        [hidePageSize]="true">
                    </mat-paginator>
                </div>
                <!-- No color Found -->
                <ng-template #other_content>
                    <div class="text-secondary font-semibold p-5 text-center" *ngIf="!customerLoader">
                        There are no user history.
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>