<div class="w-full">
    <div class="px-5 py-2" *ngIf="isLoading">
        <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
        </ngx-skeleton-loader>
    </div>
    <div *ngIf="!isLoading && !isDisplayOrder" class="p-6 row w-full">
        <div class="col-12 mb-2">
            <button [color]="'primary'" mat-button mat-flat-button class="min-w-40"
                (click)="toggleDisplayOrder()">Product Display
                Order</button>
        </div>
        <div class="col-12">
            <mat-form-field class="example-chip-list w-full" appearance="fill">
                <mat-label>Subcategory Name (22)</mat-label>
                <input matInput [(ngModel)]="ngName" maxlength="25">
            </mat-form-field>
        </div>
        <div class="col-12 text-right">
            <button [disabled]="isUpdateCategoryLoader" class="min-w-30" mat-stroked-button
                [matTooltip]="'Update Subcategory'" (click)="updateCategory()">
                <span class="ml-2" *ngIf="!isUpdateCategoryLoader"> Update Subcategory </span>
                <mat-progress-spinner *ngIf="isUpdateCategoryLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
        <div class="col-12">
            <div class="border-b pb-1 font-bold text-lg">Add products to this subcategory</div>
            <mat-form-field class="w-full">
                <mat-label>Search Products</mat-label>
                <input matInput placeholder="Search Products" matTooltip="Search Products by name"
                    [matAutocomplete]="auto" [formControl]="searchProductsCtrl">
                <mat-autocomplete class="w-full" #auto="matAutocomplete" [displayWith]="displayWith"
                    (optionSelected)="onSelected($event)">
                    <mat-option *ngIf="isSearchingProducts" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isSearchingProducts">
                        <mat-option *ngFor="let item of allProducts" [value]="item">
                            <span>{{item.productName}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="selectedProductsData.length > 0">
                <table class="table table-striped">
                    <tr *ngFor="let item of selectedProductsData;let i=index">
                        <td>{{item.productNumber}}</td>
                        <td>{{item.productName}}</td>
                        <td>
                            <mat-icon svgIcon="heroicons_outline:trash" matTooltip="Remove form list"
                                (click)="removeProductFromList(i)"></mat-icon>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="text-right">
                <button [disabled]="isAddProdLoader" class="min-w-30" mat-stroked-button [matTooltip]="'Add Products'"
                    (click)="addNewProductsToList()">
                    <span class="ml-2" *ngIf="!isAddProdLoader"> Add Products </span>
                    <mat-progress-spinner *ngIf="isAddProdLoader" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
        <div class="col-12">
            <div class="border-b pb-1 font-bold text-lg">Products Currently In Category</div>
            <div class="row">
                <div class="col-12" *ngFor="let item of productsData">
                    <div class="bg-gray-100 w-full py-2 px-2 flex justify-between">
                        <p class="font-bold">{{item.companyName}}</p>
                        <div class="flex">
                            <p class="cursor-pointer" (click)="checkUncheckCoreProducts(item,true)">Select/</p>
                            <p class="cursor-pointer" (click)="checkUncheckCoreProducts(item,false)">Unselect</p>
                            <p class="cursor-pointer ml-2">Remove</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-3 my-1" *ngFor="let prod of item.productsData"
                            style="text-align: -webkit-center;">
                            <img src="https://assets.consolidus.com/globalAssets/Products/HiRes/{{prod.psid}}.jpg"
                                class="w-50">
                            <p>{{prod.name}}</p>
                            <p><b>Starting at</b>: {{prod.price | currency}}</p>
                            <mat-checkbox [(ngModel)]="prod.checked"></mat-checkbox>
                        </div>
                    </div>
                </div>
                <div class="col-12 justify-center flex">
                    <p *ngIf="!isLoadMore && totalRecords > productsData.length">Load More</p>
                    <mat-progress-spinner *ngIf="isLoadMore" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading && isDisplayOrder" class="p-6 row w-full">
        <div class="col-12 mb-2">
            <button [color]="'primary'" mat-button mat-flat-button class="min-w-40" (click)="toggleDisplayOrder()">Back
                to Products</button>
        </div>
        <div class="col-12 col-md-3 my-1" *ngFor="let prod of productsForDisplayOrder"
            style="text-align: -webkit-center;">
            <img src="https://assets.consolidus.com/globalAssets/Products/HiRes/{{prod.psid}}.jpg" class="w-50">
            <p>{{prod.name}}</p>
            <p><b>Starting at</b>: {{prod.price | currency}}</p>
            <input type="number" class="form-control" [(ngModel)]="prod.list">
        </div>
        <!-- <div class="col-12 justify-center flex">
        <p *ngIf="!isLoadMore && totalRecords > productsData.length">Load More</p>
        <mat-progress-spinner *ngIf="isLoadMore" [diameter]="24" [mode]="'indeterminate'">
        </mat-progress-spinner>
    </div> -->
        <div class="col-12 my-2">
            <button [disabled]="isUpdateDisplayLoader" class="min-w-40" mat-stroked-button
                [matTooltip]="'Update Display Order'" (click)="updateDisplayOrder()">
                <span class="ml-2" *ngIf="!isUpdateDisplayLoader"> Update Display Order </span>
                <mat-progress-spinner *ngIf="isUpdateDisplayLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </div>


</div>