<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div class="row" *ngIf="!isLoading">
        <div class="col-12 my-2">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="p-6 sm:p-8 lg:p-10 w-full">
                    <div class="text-2xl font-bold">
                        Orders History
                    </div>
                    <!-- Update history -->
                    <div class="gap-y-4">
                        <div class="row" *ngIf="orderHistoryLength > 0;else other_content">
                            <table mat-table [dataSource]="order_history" class="w-full my-3">
                                <!-- Item Column -->
                                <ng-container matColumnDef="pk_orderID">
                                    <th mat-header-cell *matHeaderCellDef> Order Id </th>
                                    <td mat-cell *matCellDef="let transaction"> {{transaction.pk_orderID}} </td>
                                    <td mat-footer-cell *matFooterCellDef> Total </td>
                                </ng-container>

                                <!-- Quantity Column -->
                                <ng-container matColumnDef="quantity">
                                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                    <td mat-cell *matCellDef="let transaction"> {{transaction.quantity}} </td>
                                </ng-container>

                                <!-- Quantity Column -->
                                <ng-container matColumnDef="companyName">
                                    <th mat-header-cell *matHeaderCellDef> Company </th>
                                    <td mat-cell *matCellDef="let transaction"> {{transaction.companyName}} </td>
                                </ng-container>

                                <!-- Quantity Column -->
                                <ng-container matColumnDef="orderDate">
                                    <th mat-header-cell *matHeaderCellDef> Date </th>
                                    <td mat-cell *matCellDef="let transaction"> {{transaction.orderDate}} </td>
                                </ng-container>

                                <!-- Quantity Column -->
                                <ng-container matColumnDef="storeName">
                                    <th mat-header-cell *matHeaderCellDef> Store </th>
                                    <td mat-cell *matCellDef="let transaction"> {{transaction.storeName}} </td>
                                </ng-container>

                                <!-- Cost Column -->
                                <ng-container matColumnDef="orderTotal">
                                    <th mat-header-cell *matHeaderCellDef> Total </th>
                                    <td mat-cell *matCellDef="let transaction"> {{transaction.orderTotal | currency}}
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef> 123231 </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-light h-18"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="h-12"></tr>
                                <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns" class="bg-light"></tr> -->
                            </table>
                        </div>

                        <ng-template #other_content>
                            <p class="text-secondary font-semibold my-5">
                                *This product has never been ordered.
                            </p>
                        </ng-template>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>
</div>