<div class="mx-3 bg-card rounded-2xl shadow p-5">
    <div class="row" [formGroup]="billingShippingForm">
        <div class="col-md-6 col-12">
            <div class="text-lg font-bold text-secondary border-b mb-5">Bill To</div>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Company Name *</mat-label>
                <input maxlength="100" matInput placeholder="Company Name" formControlName="billingCompanyName">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">First Name *</mat-label>
                <input maxlength="50" matInput placeholder="First Name" formControlName="billingFirstName">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Last Name *</mat-label>
                <input maxlength="50" matInput placeholder="Last Name" formControlName="billingLastName">
            </mat-form-field>
            <div class="mb-2">
                <p><b>PO:</b>{{selectedQuoteDetail?.purchaseOrderNum || 'N/A'}}</p>
            </div>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Location</mat-label>
                <input maxlength="100" matInput placeholder="Location" formControlName="billingLocation">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Deliver To</mat-label>
                <input maxlength="50" matInput placeholder="Deliver To" formControlName="billToDeliverTo">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Address *</mat-label>
                <input maxlength="100" matInput placeholder="Address" formControlName="billingAddress">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">City *</mat-label>
                <input maxlength="50" matInput placeholder="City" formControlName="billingCity">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">State *</mat-label>
                <input  matInput placeholder="State" formControlName="billingState">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Zip *</mat-label>
                <input maxlength="5" matInput placeholder="Zip" formControlName="billingZip">
            </mat-form-field>
            <!-- <mat-form-field class="w-full">
                <mat-label class="text-secondary">Country</mat-label>
                <input matInput placeholder="Country" formControlName="billingCountry">
            </mat-form-field> -->
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Phone *</mat-label>
                <input maxlength="25" matInput placeholder="Phone" formControlName="billingPhone">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Email *</mat-label>
                <input maxlength="50" matInput placeholder="Email" formControlName="billingEmail">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Account Charge Code</mat-label>
                <input maxlength="100" matInput placeholder="Account Charge Code" formControlName="accountChargeCode">
            </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
            <div class="text-lg font-bold text-secondary border-b mb-5">Ship To</div>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Company Name *</mat-label>
                <input maxlength="100" matInput placeholder="Company Name" formControlName="shippingCompanyName">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">First Name *</mat-label>
                <input maxlength="50" matInput placeholder="First Name" formControlName="shippingFirstName">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Last Name *</mat-label>
                <input maxlength="50" matInput placeholder="Last Name" formControlName="shippingLastName">
            </mat-form-field>
            <div class="mb-2">
                <p><b>PO:</b>{{selectedQuoteDetail?.purchaseOrderNum || 'N/A'}}</p>
            </div>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Location</mat-label>
                <input maxlength="100" matInput placeholder="Location" formControlName="shippingLocation">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Deliver To</mat-label>
                <input maxlength="50" matInput placeholder="Deliver To" formControlName="shipToDeliverTo">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Address *</mat-label>
                <input maxlength="100" matInput placeholder="Address" formControlName="shippingAddress">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">City *</mat-label>
                <input maxlength="50" matInput placeholder="City" formControlName="shippingCity">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">State *</mat-label>
                <input matInput placeholder="State" formControlName="shippingState">
            </mat-form-field>
            <mat-form-field class="w-1/2 mr-2">
                <mat-label class="text-secondary">Zip *</mat-label>
                <input maxlength="5" matInput placeholder="Zip" formControlName="shippingZip">
            </mat-form-field>
            <mat-form-field class="w-1/3">
                <mat-label class="text-secondary">Ext</mat-label>
                <input maxlength="4" matInput placeholder="Ext" formControlName="shippingZipExt">
            </mat-form-field>
            <!-- <mat-form-field class="w-full">
                <mat-label class="text-secondary">Country</mat-label>
                <input matInput placeholder="Country" formControlName="shippingCountry">
            </mat-form-field> -->
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Phone *</mat-label>
                <input maxlength="25" matInput placeholder="Phone" formControlName="shippingPhone">
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label class="text-secondary">Email *</mat-label>
                <input maxlength="50" matInput placeholder="Email" formControlName="shippingEmail">
            </mat-form-field>
        </div>
        <div class="col-12 text-right">
            <button mat-button mat-stroked-button class="min-w-60" [disabled]="isBillingLoader"
                (click)="updateContactInformation()">
                <span *ngIf="!isBillingLoader">Update Contact Information</span>
                <mat-progress-spinner *ngIf="isBillingLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </div>
</div>