<div>
    <div class="rounded-2xl shadow bg-card flex pb-10">
        <div class="row" style="width: -webkit-fill-available;">
            <div class="col-12">
                <div class="p-6 pb-2 sm:p-8 dm:pb-2 lg:p-10 lg:pb-2 w-full">
                    <div class="row">
                        <div class="col-12 flex justify-between">
                            <div class="text-2xl font-bold">
                                Store Products
                            </div>
                            <p class="text-lg font-bold px-2">Total products: {{totalProducts}}</p>

                            <!-- <div (click)="toggleFilter()"
                                    class="cursor-pointer text-md  font-medium text-primary-500">
                                    <span *ngIf="!isToggleFilter">Filter</span>
                                    <span *ngIf="isToggleFilter">Close Filter</span>
                                </div> -->
                        </div>
                        <div class="col-6 col-md-4">
                            <mat-form-field class="w-full">
                                <input matInput placeholder="Search SPID number or keyword" [(ngModel)]="keyword">
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-md-4">
                            <mat-form-field class="w-full">
                                <mat-select matInput [(ngModel)]="status">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option value="active">Active/Online</mat-option>
                                    <mat-option value="disabled">Disble/Offline</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-md-4">
                            <mat-form-field class="w-full">
                                <mat-select matInput [(ngModel)]="category">
                                    <mat-option [value]="0">All Categories</mat-option>
                                    <mat-option *ngFor="let item of storeCategories"
                                        [value]="item.pk_categoryID">{{item.categoryName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-md-4">
                            <mat-form-field class="w-full">
                                <mat-select matInput [(ngModel)]="hasDescription">
                                    <mat-option value="all">All descriptions</mat-option>
                                    <mat-option value="yes">Has descriptions</mat-option>
                                    <mat-option value="no">Does not have descriptions</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-md-4">
                            <mat-form-field class="w-full">
                                <mat-select matInput [(ngModel)]="hasOrdered">
                                    <mat-option [value]="-1">Products ordered & not ordered</mat-option>
                                    <mat-option [value]="1">Products ordered</mat-option>
                                    <mat-option [value]="0">Products not ordered</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-md-4">
                            <mat-form-field class="w-full">
                                <mat-select matInput [(ngModel)]="vendorRelation">
                                    <mat-option [value]="0">All vendors</mat-option>
                                    <mat-option [value]="1">Normal vendors</mat-option>
                                    <mat-option [value]="2">Preferred vendors</mat-option>
                                    <mat-option [value]="3">Partner vendors</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-md-4">
                            <mat-form-field class="w-full">
                                <mat-select matInput [(ngModel)]="hasVideo">
                                    <mat-option value="all">All videos</mat-option>
                                    <mat-option value="yes">Has video</mat-option>
                                    <mat-option value="no">Does not have video</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6 col-md-4">
                            <button mat-button mat-stroked-button class="min-w-40" (click)="getProductsByCategories(1)">
                                <mat-progress-spinner *ngIf="isFilterLoader" class="mr-2" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                                <span *ngIf="!isFilterLoader">Filter</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-12 px-10" *ngIf="isKeywordSearch">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isKeywordSearch">
                    </ngx-skeleton-loader>
                </div> -->

            <div class="col-12 h-full py-2" #topScrollAnchor>
                <div class="text-center">
                    <pagination-controls (pageChange)="getNextPrductData($event)" *ngIf="dataSource.length > 0"
                        previousLabel="Prev" nextLabel="Next">
                    </pagination-controls>
                </div>
                <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
                </ngx-skeleton-loader>
                <div *ngIf="!isLoading">
                    <ng-container *ngIf="dataSource.length > 0; else noRecords">
                        <div *ngFor="let category of dataSource |  paginate : {
                            itemsPerPage: itemsPerPage,
                            currentPage: page,
                            totalItems: totalRecords
                          };">
                            <div class="px-6">
                                <div class="p-5 text-secondary pb-0 mb-2 text-lg">
                                    <b>
                                        <span class="badge badge-secondary">{{category.productsCountPerCategory}}
                                        </span>
                                        <span class="text-xl"> {{category.categoryName}} </span>
                                    </b>
                                </div>
                            </div>
                            <table class="table table-striped overflow-x-auto">
                                <thead>
                                    <tr>
                                        <td width="1%">SPID</td>
                                        <td width="30%">Name</td>
                                        <td width="5%">Vendor</td>
                                        <td width="5%">Last Updated</td>
                                        <td width="5%" class="text-center"><span>Master</span> <span
                                                class="fa fa-question-circle"
                                                title="Master product status (active/disabled)"></span></td>
                                        <td width="5%" class="text-center "><span>Store</span> <span
                                                class="fa fa-question-circle"
                                                title="Store product status (online/offline)"></span></td>
                                        <td width="1%" class="text-center "><span>Desc.</span> <span
                                                class="fa fa-question-circle"
                                                title="Store-level special description"></span></td>
                                        <td width="1%" class="text-center ">Image</td>
                                        <td width="1%" class="text-center ">Video</td>
                                        <td width="1%" class="text-center "><span>Colors</span> <span
                                                class="fa fa-question-circle"
                                                title="Product has both at least one color image AND at least one color swatch defined."></span>
                                        </td>
                                        <td width="1%" class="text-center ">TechnoLogo</td>
                                        <td width="1%" class="text-center ">
                                            <sapn>O</sapn> <span class="fa fa-question-circle"
                                                title="Has this item ever been ordered on this store?"></span>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of category.products">
                                        <td>
                                            <a target="_blank"
                                                [routerLink]="['/apps/ecommerce/inventory/storeProduct',product.spid]">{{product.spid}}</a>
                                        </td>
                                        <td>
                                            <a target="_blank"
                                                [routerLink]="['/apps/ecommerce/inventory/storeProduct',product.spid]">{{product.name}}</a>
                                        </td>
                                        <td>
                                            <div class="flex align-items-center" *ngIf="product.relation == 3">
                                                <p>{{product.vendor}}</p>
                                                <mat-icon svgIcon="heroicons_solid:star"
                                                    class="icon-size-4 text-green-700"></mat-icon>
                                            </div>
                                            <div class="flex align-items-center" *ngIf="product.relation == 2">
                                                <p>{{product.vendor}}</p>
                                                <mat-icon svgIcon="heroicons_solid:badge-check" class="icon-size-4"
                                                    color="warn"></mat-icon>
                                            </div>
                                            <div class="flex align-items-center" *ngIf="product.relation == 1">
                                                <p>{{product.vendor}}</p>
                                            </div>
                                        </td>
                                        <td>{{product.date}}</td>
                                        <td class="text-center">
                                            <span *ngIf="product.master == 0" class="text-red-700">Disable</span>
                                            <span *ngIf="product.master == 1" class="text-green-500">Active</span>
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="product.store == 0" class="text-red-700">Offline</span>
                                            <span *ngIf="product.store == 1" class="text-green-500">Online</span>
                                        </td>
                                        <td class="text-center">
                                            <mat-icon svgIcon="heroicons_outline:x" *ngIf="product.desc == 0"
                                                class="text-red-700"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:check" class="text-green-500"
                                                *ngIf="product.desc == 1"></mat-icon>
                                        </td>
                                        <td class="text-center">
                                            <mat-icon svgIcon="heroicons_outline:x" *ngIf="product.image == 0"
                                                class="text-red-700"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:check" class="text-green-500"
                                                *ngIf="product.image == 1"></mat-icon>
                                        </td>
                                        <td class="text-center">
                                            <mat-icon svgIcon="heroicons_outline:x" *ngIf="product.video == 0"
                                                class="text-red-700"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:check" class="text-green-500"
                                                *ngIf="product.video == 1"></mat-icon>
                                        </td>
                                        <td class="text-center">
                                            <mat-icon svgIcon="heroicons_outline:x" *ngIf="product.colors == 0"
                                                class="text-red-700"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:check" class="text-green-500"
                                                *ngIf="product.colors == 1"></mat-icon>
                                        </td>
                                        <td class="text-center">
                                            <mat-icon svgIcon="heroicons_outline:x" *ngIf="product.logo == 0"
                                                class="text-red-700"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:check" class="text-green-500"
                                                *ngIf="product.logo == 1"></mat-icon>
                                        </td>
                                        <td class="text-center">
                                            <mat-icon svgIcon="heroicons_outline:x" *ngIf="product.o == 0"
                                                class="text-red-700"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:check" class="text-green-500"
                                                *ngIf="product.o == 1"></mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>
                    <ng-template #noRecords>
                        <div class="font-semibold tracking-tight text-center">
                            <p class="text-lg">No record found</p>
                            <!-- <p class="text-md cursor-pointer font-medium text-primary-500 hover:underline"
                                    (click)="resetSearch()">
                                    Reset Search
                                </p> -->
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>