<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
</ngx-skeleton-loader>

<div class="row" *ngIf="!isLoading">
    <div class="col-12 my-2">
        <div class="mb-3">
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                (change)="calledScreen(group.value)">
                <mat-button-toggle value="Current Correction">
                    Current Correction
                </mat-button-toggle>
                <mat-button-toggle value="New Correction">
                    New Correction
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full"
            *ngIf="mainScreen == 'New Correction'">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-2xl font-bold mb-3">
                    New Correction
                </div>
                <div class="overflow-x-auto">
                    <table class="table text-sm border-0">
                        <tr>
                            <th>ADDITIONAL NET COST</th>
                            <th *ngFor="let item of sizesList">{{item.sizeName}}</th>
                        </tr>
                        <tr *ngFor="let item of newCorrectionsList">
                            <th (click)="addCorrectionValues(item.items)" class="cursor-pointer">{{item.colorName}}</th>
                            <td *ngFor="let elem of item.items">
                                <input class="form-control input text-sm" type="number"
                                    (mousewheel)="$event.preventDefault()" [(ngModel)]="elem.amount">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="flex justify-end my-3">
                    <button class="min-w-40 mr-2" mat-stroked-button [matTooltip]="'Clear All Fields'">
                        <span class="ml-1 mr-1" (click)="clearAll()">Clear All</span>
                    </button>
                    <button class="min-w-40" mat-stroked-button [matTooltip]="'Update Selected Sizes'"
                        [disabled]="sizeUpdateLoader" (click)="updateCorrectionValues()">
                        <mat-progress-spinner *ngIf="sizeUpdateLoader" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <mat-icon *ngIf="!sizeUpdateLoader" svgIcon="mat_outline:edit"></mat-icon>
                        <span *ngIf="!sizeUpdateLoader" class="ml-1 mr-1">Update</span>
                    </button>
                </div>
            </div>
        </fuse-card>
        <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full"
            *ngIf="mainScreen == 'Current Correction'">
            <div class="p-6 sm:p-8 lg:p-10 w-full">
                <div class="text-2xl font-bold mb-3">
                    Current Correction
                </div>
                <div class="overflow-x-auto">
                    <table class="table text-sm border-0">
                        <tr>
                            <th class="text-red-500">SIMPLE SUM</th>
                            <th *ngFor="let item of sizesList">{{item.sizeName}}</th>
                        </tr>
                        <tr *ngFor="let item of colorsList">
                            <th>{{item.colorName}}</th>
                            <td *ngFor="let elem of sizesList">{{item.run | currency}}</td>
                        </tr>
                        <tr class="border-t">
                            <th class="text-red-500">+ Correction</th>
                            <th *ngFor="let item of sizesList">{{item.sizeName}}</th>
                        </tr>
                        <tr *ngFor="let correction of correctionsList">
                            <th>{{correction.colorName}}</th>
                            <td *ngFor="let elem of correction.items">{{elem.amount | currency}}</td>
                        </tr>
                        <tr class="border-t">
                            <th class="text-red-500">= CORRECTED SUM</th>
                            <th *ngFor="let item of sizesList">{{item.sizeName}}</th>
                        </tr>
                        <tr *ngFor="let correction of this.correctionsSumList">
                            <th>{{correction.colorName}}</th>
                            <td *ngFor="let elem of correction.items">{{elem.amount | currency}}</td>
                        </tr>
                        <tr class="border-t">
                            <th class="text-red-500">+ FIRST COLUMN NET COST ({{productCost | currency}})</th>
                            <th *ngFor="let item of sizesList">{{item.sizeName}}</th>
                        </tr>
                        <tr *ngFor="let item of finalCostList">
                            <th>{{item.colorName}}</th>
                            <td *ngFor="let elem of item.items">{{elem.amount | currency}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </fuse-card>
    </div>
</div>