<div class="w-full">
    <div class="alert alert-danger p-4 text-lg text-center font-bold" *ngIf="!adminUserPermissions.viewRoles">
        You do not have permission to access this section.
    </div>
    <ng-container *ngIf="adminUserPermissions.viewRoles">
        <div class="bg-card shadow p-5" *ngIf="!isUpdateUser">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="w-full">
                        <mat-label>Role *</mat-label>
                        <input matInput placeholder="Add Employee Role" [(ngModel)]="ngRole">
                    </mat-form-field>
                    <div class="text-right">
                        <button mat-stroked-button class="min-w-40" [disabled]="isAddNewrole" (click)="addNewUser()">
                            <span *ngIf="!isAddNewrole">Add Role</span>
                            <mat-progress-spinner *ngIf="isAddNewrole" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>
                </div>
            </div>
            <div class="p-5" *ngIf="isLoading && !isUpdateUser">
                <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                </ngx-skeleton-loader>
            </div>
        </div>

        <div *ngIf="!isLoading && !isUpdateUser">
            <div *ngIf="dataSource.length > 0;else other_content" class="w-full">
                <table mat-table [dataSource]="dataSource" class="w-full border-t">
                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef>
                            Role
                        </th>
                        <td mat-cell *matCellDef="let element" class="w-60">
                            <input class="form-control text-sm" [(ngModel)]="element.roleName">
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                            <div class="flex justify-center">
                                <mat-icon *ngIf="!element.updateLoader" (click)="updateUser(element)"
                                    svgIcon="heroicons_outline:check" matTooltip="Update Role"></mat-icon>
                                <mat-progress-spinner *ngIf="element.updateLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                                <mat-icon svgIcon="heroicons_outline:eye" matTooltip="View Details"
                                    (click)="toggleUpdateUserData(element, true)"></mat-icon>
                                <mat-icon (click)="deleteUser(element)" svgIcon="heroicons_outline:trash"
                                    *ngIf="!element.delLoader" matTooltip="Delete    User"></mat-icon>
                                <mat-progress-spinner *ngIf="element.delLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                    </tr>
                </table>
                <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                    [ngClass]="{'pointer-events-none': isLoading}" [length]="totalUsers" [pageIndex]="0" [pageSize]="20"
                    (page)="getNextData($event)" [hidePageSize]="true">
                </mat-paginator>
            </div>
            <ng-template #other_content>
                <div class="text-secondary font-semibold p-5 text-center bg-card">
                    There are currently no Employee Roles.
                </div>
            </ng-template>
        </div>
        <!-- Update Method -->
        <div *ngIf="isUpdateUser && !isShowPrograms">
            <div class="shadow bg-card p-5 px-8 flex space-x-6 overflow-x-auto">
                <span class="font-medium cursor-pointer hover:text-gray-900 text-primary"
                    (click)="toggleUpdateUserData(null, false)" matTooltip="View Roles List">Employee Roles</span>
                <span class="font-medium cursor-pointer hover:text-gray-900 text-secondary"
                    [ngClass]="{'text-gray-900': mainScreenUser=='Current Users'}"
                    (click)="calledUserScreen('Current Users')">Current Users</span>
                <span class="font-medium cursor-pointer hover:text-gray-900 text-secondary"
                    [ngClass]="{'text-gray-900': mainScreenUser=='Add Users'}"
                    (click)="calledUserScreen('Add Users')">Add
                    Users</span>
            </div>

            <!-- Edit User -->
            <div class="mt-5" *ngIf="mainScreenUser == 'Edit User'">
                <div class="shadow bg-card p-6">
                    <div class="row" [formGroup]="updateUserForm">
                        <div class="col-12 pb-5">
                            <h2 class="text-lg font-semibold">Edit User</h2>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Employee* </mat-label>
                                <mat-select matInput formControlName="fk_adminUserID">
                                    <mat-option [value]="0">Select an employee</mat-option>
                                    <mat-option *ngFor="let item of employeeUser"
                                        [value]="item.pk_userID">{{item.firstName
                                        + '
                                        ' + item.lastName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>First Name (30) </mat-label>
                                <input matInput type="text" maxlength="30" formControlName="firstName">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Last Name (50) </mat-label>
                                <input matInput type="text" maxlength="50" formControlName="lastName">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Email (50)* </mat-label>
                                <input matInput type="text" maxlength="50" formControlName="email">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>UserName (15)* </mat-label>
                                <input matInput type="text" maxlength="15" formControlName="userName">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Password(15)* </mat-label>
                                <input matInput type="text" maxlength="15" formControlName="password">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Default Commission (%) </mat-label>
                                <input matInput type="number" formControlName="defaultCommission">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Admin User</mat-label>
                                <mat-select matInput formControlName="blnAdmin">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field class="w-full">
                                <mat-label>Disabled</mat-label>
                                <mat-select matInput formControlName="blnActive">
                                    <mat-option [value]="false">No</mat-option>
                                    <mat-option [value]="true">Yes</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="justify-end flex col-12">
                            <button [disabled]="isUpdateUserLoader" class="min-w-40" mat-stroked-button
                                [matTooltip]="'Update User'" (click)="updateUser()">
                                <mat-icon svgIcon="heroicons_solid:pencil" *ngIf="!isUpdateUserLoader"></mat-icon>
                                <span class="ml-2" *ngIf="!isUpdateUserLoader"> Update User </span>
                                <mat-progress-spinner *ngIf="isUpdateUserLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Remove User -->
            <div class="mt-5" *ngIf="mainScreenUser == 'Remove User'">
                <div class="shadow bg-card p-6">
                    <div class="row">
                        <div class="col-12 pb-5">
                            <h2 class="text-lg font-semibold">Remove User</h2>
                        </div>
                        <div class="col-12 mb-3">
                            <fuse-alert [appearance]="'soft'" [type]="'warning'" [showIcon]="false">
                                <p>
                                    NOTE: Removing an FLPS user will set all orders, stores, and store users associated
                                    with
                                    that user to the HOUSE USER. Click on "view orders" above to view all orders this
                                    FLPS
                                    user is associated with, and optionally reassign a new user.</p>
                                <p class="mt-2">

                                    Click on "view customers" above to view all the customers this FLPS user is
                                    associatd
                                    with, and optionally reassign a new user.
                                </p>
                                <p class="mt-2">
                                    Click on "store management" on the left to view default users for stores.</p>
                            </fuse-alert>
                        </div>
                        <div class="justify-end flex col-12">
                            <button [disabled]="updateUserData.delLoader" class="min-w-40" mat-stroked-button
                                [matTooltip]="'Remove User'" (click)="deleteUser(updateUserData, 'test')">
                                <mat-icon svgIcon="heroicons_solid:trash" *ngIf="!updateUserData.delLoader"></mat-icon>
                                <span class="ml-2" *ngIf="!updateUserData.delLoader"> Remove User </span>
                                <mat-progress-spinner *ngIf="updateUserData.delLoader" [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Users -->
            <div class="mt-5" *ngIf="mainScreenUser == 'Add Users'">
                <div class="shadow bg-card p-6">
                    <div class="row">
                        <div class="col-12 text-lg font-semibold mb-3">Add Users</div>
                        <div class="col-6 flex justify-between align-items-center" *ngFor="let item of allRoleUsers">
                            <span class="text-md">{{item.firstName +' '+ item.lastName}}</span>
                            <span class="flex align-items-center cursor-pointer hover:text-gray-900 text-md"
                                mat-stroked-button (click)="addNewRoleEmployee(item)" [disabled]="item.isAddLoader"
                                matTooltip="Add User">
                                <mat-icon class="cursor-pointer" svgIcon="heroicons_outline:plus"
                                    *ngIf="!item.isAddLoader"></mat-icon>
                                <span *ngIf="!item.isAddLoader">Add</span>
                                <mat-progress-spinner *ngIf="item.isAddLoader" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </span>
                        </div>
                        <div class="col-12" *ngIf="isRoleUserLoader && !allRoleUsers">
                            <ngx-skeleton-loader count="4" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                            </ngx-skeleton-loader>
                        </div>
                        <div class="col-12 flex justify-end" *ngIf="allRoleUsers">
                            <span class="text-gray-600 hover:text-gray-900 cursor-pointer"
                                *ngIf="totalRoleUser > allRoleUsers.length && !isRoleUserLoader"
                                (click)="getNextRoleUserData()">Load More</span>
                            <mat-progress-spinner *ngIf="isRoleUserLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </div>
                    </div>
                </div>
            </div>
            <!-- View Users -->
            <div class="mt-5" *ngIf="mainScreenUser == 'Current Users'">
                <div class="px-5" *ngIf="employeeRoleLoader">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                        'background-color': '#dedede'
                      }">
                    </ngx-skeleton-loader>
                </div>
                <div *ngIf="employeeRoleDataSource.length > 0 && !employeeRoleLoader;else other_content" class="w-full">
                    <table mat-table [dataSource]="employeeRoleDataSource" class="w-full border-t">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="text-sm">
                                Name
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                {{element.firstName + ' ' + element.lastName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef class="text-sm">
                                Email
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                {{element.email}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="roleName">
                            <th mat-header-cell *matHeaderCellDef class="text-sm">
                                Role
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                {{element.roleName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                                Action
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <div class="flex justify-center">
                                    <mat-icon svgIcon="heroicons_outline:pencil-alt" matTooltip="View Details"
                                        (click)="showPrograms(element)"></mat-icon>
                                    <mat-icon (click)="deleteEmployeeUser(element)" svgIcon="heroicons_outline:trash"
                                        *ngIf="!element.delLoader" matTooltip="Delete    User"></mat-icon>
                                    <mat-progress-spinner *ngIf="element.delLoader" [diameter]="24"
                                        [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedemployeeRoleColumns;" class="h-18 bg-light"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedemployeeRoleColumns;"
                            class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                        </tr>
                    </table>
                    <mat-paginator #paginator
                        class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': employeeRoleLoader}" [length]="totalemployeeRole"
                        [pageIndex]="0" [pageSize]="20" (page)="getNextEmployeeRoleData($event)" [hidePageSize]="true">
                    </mat-paginator>
                </div>
                <!-- No color Found -->
                <ng-template #other_content>
                    <div class="text-secondary font-semibold p-5 text-center bg-card shadow"
                        *ngIf="!employeeRoleLoader">
                        There are currently no users assigned to this role.
                    </div>
                </ng-template>
            </div>
            <!-- View Customers -->
            <div class="mt-5" *ngIf="mainScreenUser == 'View Customers'">
                <div class="px-5" *ngIf="isLoading">
                    <div class="rounded-2xl shadow bg-card p-5">
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
                        </ngx-skeleton-loader>
                    </div>
                </div>
                <div *ngIf="dataSource.length > 0;else other_content" class="w-full">
                    <table mat-table [dataSource]="dataSource" class="w-full border-t">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>
                                ID
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.pk_userID || not_available}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>
                                Name
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.firstName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="company">
                            <th mat-header-cell *matHeaderCellDef>
                                Company
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.lastName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>
                                Email
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon (click)="updatePromoToggle(element)" svgIcon="heroicons_outline:check"
                                    *ngIf="element.blnAdmin"></mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="last">
                            <th mat-header-cell *matHeaderCellDef>
                                Last Order
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon (click)="toggleUpdateUserData(element, true)"
                                    svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="commission">
                            <th mat-header-cell *matHeaderCellDef>
                                Commission
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon (click)="toggleUpdateUserData(element, true)"
                                    svgIcon="heroicons_outline:pencil-alt"></mat-icon>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedCustomersColumns;" class="h-18 bg-light"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedCustomersColumns;"
                            class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                        </tr>
                    </table>
                    <mat-paginator #paginator
                        class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}" [length]="totalUsers" [pageIndex]="0"
                        [pageSize]="20" (page)="getNextData($event)" [hidePageSize]="true">
                    </mat-paginator>
                </div>
                <!-- No color Found -->
                <ng-template #other_content>
                    <div class="text-secondary font-semibold p-5 text-center">
                        There are no orders associated with this FLPS user.
                    </div>
                </ng-template>
            </div>
        </div>
        <div *ngIf="isUpdateUser && isShowPrograms">
            <div class="shadow bg-card p-5 px-8 flex space-x-6 overflow-x-auto">
                <span class="font-medium cursor-pointer hover:text-gray-900 text-primary" (click)="backToUsersList()"
                    matTooltip="View Current Users">Users List</span>
                <span class="font-medium cursor-pointer hover:text-gray-900 text-secondary"
                    [ngClass]="{'text-gray-900': mainScreenProgram=='Current Programs'}"
                    (click)="calledProgramScreen('Current Programs')">Current Programs</span>
                <span class="font-medium cursor-pointer hover:text-gray-900 text-secondary"
                    [ngClass]="{'text-gray-900': mainScreenProgram=='Add Programs'}"
                    (click)="calledProgramScreen('Add Programs')">Add Programs</span>
            </div>
            <div class="mt-5" *ngIf="mainScreenProgram == 'Current Programs'">
                <div class="px-5" *ngIf="programsLoader">
                    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                        'background-color': '#dedede'
                      }">
                    </ngx-skeleton-loader>
                </div>
                <div *ngIf="currentPrograms.length > 0 && !programsLoader;else other_content" class="w-full">
                    <table mat-table [dataSource]="currentPrograms" class="w-full border-t">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="text-sm">
                                Name
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-sm">
                                {{element.storeName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                                Action
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <div class="flex justify-center">
                                    <mat-icon (click)="deleteEmployeeProgram(element)" svgIcon="heroicons_outline:trash"
                                        *ngIf="!element.delLoader" matTooltip="Delete    User"></mat-icon>
                                    <mat-progress-spinner *ngIf="element.delLoader" [diameter]="24"
                                        [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedCurrentProgramsColumns;" class="h-18 bg-light">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: displayedCurrentProgramsColumns;"
                            class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                        </tr>
                    </table>
                    <mat-paginator #paginator
                        class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': programsLoader}" [length]="totalPrograms" [pageIndex]="0"
                        [pageSize]="20" (page)="getNextEmployeeProgram($event)" [hidePageSize]="true">
                    </mat-paginator>
                </div>
                <!-- No color Found -->
                <ng-template #other_content>
                    <div class="text-secondary font-semibold p-5 text-center" *ngIf="!programsLoader">
                        There are currently no programs assigned to this user.
                    </div>
                </ng-template>
            </div>
            <div class="mt-5" *ngIf="mainScreenProgram == 'Add Programs'">
                <div class="shadow bg-card p-6">
                    <div class="row">
                        <div class="col-12 text-lg font-semibold mb-3">Add Programs</div>
                        <div class="col-6 flex justify-between align-items-center" *ngFor="let item of allProgramUsers">
                            <span class="text-md">{{item.storeName}}</span>
                            <span class="flex align-items-center cursor-pointer hover:text-gray-900 text-md"
                                mat-stroked-button (click)="addNewProgramEmployee(item)" [disabled]="item.isAddLoader"
                                matTooltip="Add User">
                                <mat-icon class="cursor-pointer" svgIcon="heroicons_outline:plus"
                                    *ngIf="!item.isAddLoader"></mat-icon>
                                <span *ngIf="!item.isAddLoader">Add</span>
                                <mat-progress-spinner *ngIf="item.isAddLoader" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </span>
                        </div>
                        <div class="col-12" *ngIf="isProgramUserLoader && !allProgramUsers">
                            <ngx-skeleton-loader count="4" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                            </ngx-skeleton-loader>
                        </div>
                        <div class="col-12 flex justify-end" *ngIf="allProgramUsers">
                            <span class="text-gray-600 hover:text-gray-900 cursor-pointer"
                                *ngIf="totalProgramUser > allProgramUsers.length && !isProgramUserLoader"
                                (click)="getNextUserProgramData()">Load More</span>
                            <mat-progress-spinner *ngIf="isProgramUserLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>