<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>
    <div *ngIf="!isLoading" class="mb-2 flex flex-row gap-x-2 justify-end mr-2">
        <button mat-stroked-button class="min-w-20" >
            <span class="text-sm">Email</span>
        </button>
        <button (click)="generatePdf()" mat-stroked-button class="min-w-20">
            <span class="test-sm">Pdf</span>
        </button>
    </div>
    <div id="pdf-area" class="row my-3" *ngIf="!isLoading">

        <div class="col-12">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="p-6 sm:p-8 lg:p-10 w-full">
                    <div class="text-2xl font-bold">
                        Store Margins
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-10 mb-5">
                            <div class="row">
                                <div class="col-2 text-center">1</div>
                                <div class="col-2 text-center">2</div>
                                <div class="col-2 text-center">3</div>
                                <div class="col-2 text-center">4</div>
                                <div class="col-2 text-center">5</div>
                                <div class="col-2 text-center">6</div>
                            </div>
                        </div>
                        <div class="col-12 text-center font-bold bg-light p-2">CURRENT PRICING</div>
                    </div>
                    <div class="mb-5">
                        <div class="row mb-2 mt-2">
                            <div class="col-2">Quantity</div>
                            <div class="col-10">
                                <div class="row ">
                                    <div class="col-2 text-center" *ngFor="let item of quantityData">{{item}}</div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-blue-500">Standard Price</div>
                            <div class="col-10">
                                <div class="row mb-2">
                                    <div class="col-2 text-center text-blue-500" *ngFor="let item of priceData">{{item |
                                        currency}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-red-500">Standard Cost</div>
                            <div class="col-10">
                                <div class="row mb-2" *ngIf="costData.length > 0">
                                    <div class="col-2 text-center text-red-500" *ngFor="let item of costData">{{item |
                                        currency}}</div>
                                </div>
                                <div class="row mb-2" *ngIf="costData.length == 0">
                                    <div class="col-10 text-center text-red-600 font-bold">NO MARGINS HAVE BEEN SET YET
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">Blank Price</div>
                            <div class="col-10">
                                <div class="row mb-2">
                                    <div class="col-2 text-center" *ngFor="let item of blankData">{{item | currency}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">Blank Cost</div>
                            <div class="col-10">
                                <div class="row mb-2">
                                    <div class="col-2 text-center" *ngFor="let item of blankCostData">{{item |
                                        currency}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center font-bold bg-light p-2">Update Margin</div>
                    </div>
                    <div>
                        <form [formGroup]="netCostForm">
                            <div class="row">
                                <div class="col-12 mt-5">
                                    <b>Quantity</b>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <p>
                                        <br />
                                    </p>
                                    <mat-form-field class="w-full mt-5">
                                        <input class="text-xl" matInput [formControlName]="'quantityOne'"><small
                                            class="text-secondary font-semibold"> 1 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <div class="flex justify-between mb-5">
                                        <span class="underline ml-1 font-semibold cursor-pointer"
                                            (click)="updateQuantity('quantityTwo')">x2</span>
                                    </div>
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'quantityTwo'"><small
                                            class="text-secondary font-semibold"> 2 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4 mb-5">
                                    <div class="flex justify-between mb-5">
                                        <span class="underline ml-1 font-semibold cursor-pointer"
                                            (click)="updateQuantity('quantityThree')">x2</span>
                                    </div>
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'quantityThree'"><small
                                            class="text-secondary font-semibold"> 3 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4 mb-5">
                                    <div class="flex justify-between mb-5">
                                        <span class="underline ml-1 font-semibold cursor-pointer"
                                            (click)="updateQuantity('quantityFour')">x2</span>
                                    </div>
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'quantityFour'"><small
                                            class="text-secondary font-semibold"> 4 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4 mb-5">
                                    <div class="flex justify-between mb-5">
                                        <span class="underline ml-1 font-semibold cursor-pointer"
                                            (click)="updateQuantity('quantityFive')">x2</span>
                                    </div>
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'quantityFive'"><small
                                            class="text-secondary font-semibold"> 5 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4 mb-5">
                                    <div class="flex justify-between mb-5">
                                        <span class="underline ml-1 font-semibold cursor-pointer"
                                            (click)="updateQuantity('quantitySix')">x2</span>
                                    </div>
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'quantitySix'"><small
                                            class="text-secondary font-semibold"> 6 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 mt-2">
                                    <mat-divider></mat-divider>
                                </div>
                                <!-- Margins -->
                                <div class="col-12 mt-5 flex justify-between">
                                    <b class="mb-5">Margin (%)</b>
                                    <p>
                                        <span class="underline font-semibold cursor-pointer mr-2"
                                            (click)="clearMargins()">Clear</span>
                                        |
                                        <span class="underline font-semibold cursor-pointer"
                                            (click)="setMarginValues(1)">Hardgoods</span>
                                        |
                                        <span class="underline font-semibold cursor-pointer"
                                            (click)="setMarginValues(2)">Apparel</span>
                                        |
                                        <span class="underline font-semibold cursor-pointer"
                                            (click)="setMarginValues(3)">Print</span>
                                    </p>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'marginOne'"><small
                                            class="text-secondary font-semibold"> 1 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'marginTwo'"><small
                                            class="text-secondary font-semibold"> 2 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'marginThree'"><small
                                            class="text-secondary font-semibold"> 3 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'marginFour'"><small
                                            class="text-secondary font-semibold"> 4 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'marginFive'"><small
                                            class="text-secondary font-semibold"> 5 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'marginSix'"><small
                                            class="text-secondary font-semibold"> 6 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 text-center text-red-500">OR</div>
                                <!-- Target Price -->
                                <div class="col-12 mt-5 flex justify-between">
                                    <b  class="mb-5">Target Price</b>
                                    <p>
                                        <span class="underline font-semibold cursor-pointer mr-2"
                                            (click)="clearTargets()">X</span>
                                    </p>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'targetOne'"><small
                                            class="text-secondary font-semibold"> 1 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'targetTwo'"><small
                                            class="text-secondary font-semibold"> 2 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'targetThree'"><small
                                            class="text-secondary font-semibold"> 3 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'targetFour'"><small
                                            class="text-secondary font-semibold"> 4 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'targetFive'"><small
                                            class="text-secondary font-semibold"> 5 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'targetSix'"><small
                                            class="text-secondary font-semibold"> 6 </small>
                                    </mat-form-field>
                                </div>
                                <!-- Price Overrid-->
                                <div class="col-12 mt-5 flex justify-between">
                                    <b  class="mb-5">Price Override</b>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'priceOverrideOne'"><small
                                            class="text-secondary font-semibold"> 1 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'priceOverrideTwo'"><small
                                            class="text-secondary font-semibold"> 2 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'priceOverrideThree'"><small
                                            class="text-secondary font-semibold"> 3 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'priceOverrideFour'"><small
                                            class="text-secondary font-semibold"> 4 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'priceOverrideFive'"><small
                                            class="text-secondary font-semibold"> 5 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'priceOverrideSix'"><small
                                            class="text-secondary font-semibold"> 6 </small>
                                    </mat-form-field>
                                </div>
                                <!-- Tccd Price -->
                                <div class="col-12 mt-5 flex justify-between">
                                    <b  class="mb-5">Tccd Price</b>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'tccdPriceOne'"><small
                                            class="text-secondary font-semibold"> 1 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'tccdPriceTwo'"><small
                                            class="text-secondary font-semibold"> 2 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'tccdPriceThree'"><small
                                            class="text-secondary font-semibold"> 3 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'tccdPriceFour'"><small
                                            class="text-secondary font-semibold"> 4 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'tccdPriceFive'"><small
                                            class="text-secondary font-semibold"> 5 </small>
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2 col-4">
                                    <mat-form-field class="w-full">
                                        <input class="text-xl" matInput [formControlName]="'tccdPriceSix'"><small
                                            class="text-secondary font-semibold"> 6 </small>
                                    </mat-form-field>
                                </div>
                                <!-- Stores -->
                                <div class="col-12 mt-2">
                                    <p class="font-bold">Update on these stores</p>
                                    <mat-divider class="my-2"></mat-divider>
                                </div>
                                <div class="col-12 font-bold">
                                    <mat-checkbox (change)="selectUnselectAll($event)">Un/select all</mat-checkbox>
                                </div>
                                <div class="col-12 col-md-6" *ngFor="let item of stores">
                                    <mat-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}">
                                        <div class="flex">
                                            <p>{{item.storeName}}</p>
                                        </div>
                                    </mat-checkbox>
                                </div>
                                <div class="col-12 text-center" *ngIf="!storeLoader && storesTotal > stores.length">
                                    <span class="cursor-pointer" (click)="getStoresVersions()">Load More</span>
                                </div>
                                <!-- Update -->
                                <div class="col-12 text-right">
                                    <button [matTooltip]="'Update'" mat-stroked-button class="min-w-40"
                                        (click)="UpdatePricing()" [disabled]="isUpdateLoading">
                                        <mat-progress-spinner *ngIf="isUpdateLoading" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                        <span *ngIf="!isUpdateLoading" class="ml-1 mr-1">
                                            Update
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>
</div>