<div class="row py-2 overflow-auto">
  <div class="col-12">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen" (change)="calledScreen(group.value)">
      <mat-button-toggle *ngFor="let buttonValue of screens" value="{{buttonValue}}">
        {{ buttonValue }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<ngx-skeleton-loader count="8" appearance="line" animation="pulse"
  *ngIf="mainScreen == 'Fulfillment Contacts' &&  isPageLoading">
</ngx-skeleton-loader>
<div>
  <fuse-card class="rounded-2xl shadow bg-card flex" *ngIf="mainScreen == 'Add New Contact'">
    <div class="row" style="width: -webkit-fill-available;">
      <div class="col-12">
        <div class="p-6 sm:p-8 lg:p-10 w-full">
          <div class="row">
            <div class="col-lg-6 col-12 pb-6 sm:pb-8 lg:pb-8">
              <div class="text-2xl font-bold">
                Add New Contact
              </div>
            </div>
            <div class="col-12 pt-2">
              <form [formGroup]="addContactForm">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <mat-form-field class="w-full">
                      <mat-label>Primary</mat-label>
                      <mat-select matInput formControlName="blnPrimary">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12">
                    <mat-form-field class="w-full">
                      <mat-label>User *</mat-label>
                      <mat-select matInput formControlName="fk_userID">
                        <mat-option [value]="item.pk_userID" *ngFor="let item of usersData">({{item.pk_userID}}) -
                          {{item.firstName + ' ' + item.lastName + ' ' + item.email}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12">
                    <mat-form-field class="w-full">
                      <mat-label>Location</mat-label>
                      <mat-select matInput formControlName="fk_attributeID">
                        <mat-option [value]="0">No Location</mat-option>
                        <mat-option [value]="item.pk_attributeID" *ngFor="let item of locationsData">
                          {{item.attributeName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-12">
                    <mat-form-field class="w-full">
                      <mat-label>Revised Invoices</mat-label>
                      <mat-select matInput formControlName="blnRevisedInvoices">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-12 flex items-center justify-end w-full">
                    <div class="flex mr-4" *ngIf="isAddMsg">
                      <ng-container>
                        <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                        <span class="ml-2">Contact Added Successfully</span>
                      </ng-container>
                    </div>
                    <button (click)="addContactList()" [disabled]="!addContactForm.valid || isAddLoader"
                      [matTooltip]="'Add a Contact'" class="order-first sm:order-last" mat-flat-button
                      mat-stroked-button>
                      <mat-progress-spinner *ngIf="isAddLoader" [diameter]="24" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                      <mat-icon *ngIf="!isAddLoader" svgIcon="mat_outline:add"></mat-icon>
                      <span class="px-2">Add a Contact</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fuse-card>
  <fuse-card class="rounded-2xl shadow bg-card flex mt-3"
    *ngIf="mainScreen =='Fulfillment Contacts'  && !isPageLoading">
    <div class="row" style="width: -webkit-fill-available;">
      <div class="col-12">
        <div class="p-6 sm:p-8 lg:p-10 w-full">
          <div class="row">
            <div class="col-lg-6 col-12 pb-6 sm:pb-8 lg:pb-8">
              <div class="text-2xl font-bold">
                Fulfillment Contacts
              </div>
            </div>
            <div class="col-12 h-full ">
              <ng-container *ngIf="dataSource.length > 0; else noRecords">
                <form>
                  <table mat-table [dataSource]="dataSource" class="w-full">
                    <div class="color-blue">
                      <!-- ID Column -->
                      <ng-container matColumnDef="Primary">
                        <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                          *matHeaderCellDef>
                          Primary
                        </th>
                        <td mat-cell *matCellDef="let element;let i=index">
                          <mat-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="element.blnPrimary"
                            [checked]="element.blnPrimary" class="example-margin">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="User">
                        <th class="min-w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                          *matHeaderCellDef>
                          User
                        </th>
                        <td mat-cell *matCellDef="let element;let i=index">
                          <mat-form-field class="min-w-84 mt-2">
                            <mat-select matInput [(value)]="element.fk_userID" [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="element.fk_userID">
                              <mat-option [value]="item.pk_userID" *ngFor="let item of usersData">
                                ({{item.pk_userID}}) -
                                {{item.firstName + ' ' + item.lastName + ' ' + item.email}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>

                      <!-- Status Column -->
                      <ng-container matColumnDef="Location">
                        <th class="min-w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                          *matHeaderCellDef>
                          Location
                        </th>
                        <td mat-cell *matCellDef="let element;let i=index">
                          <mat-form-field class="min-w-44 mt-2">
                            <mat-select matInput [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="element.fk_attributeID">
                              <mat-option [value]="0">No Location</mat-option>
                              <mat-option [value]="item.pk_attributeID" *ngFor="let item of locationsData">
                                {{item.attributeName}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Revised">
                        <th class="min-w-30 bg-gray-50 dark:bg-black dark:bg-opacity-5" mat-header-cell
                          *matHeaderCellDef>
                          <div class="flex flex-row gap-x-2">
                            <div class=" ">
                              Revised Invoices
                            </div>
                            <div class="mt-0.25">
                              <div class="fa fa-info-circle fa-md "
                                matTooltip="Determines whether or not this contact will receive revised invoices when invoices are modified."
                                matTooltipClass="custom-tooltip" matTooltipPosition="above" matTooltipShowDelay="500">
                              </div>
                            </div>
                          </div>
                        </th>
                        <td mat-cell *matCellDef="let element;let i=index" class="text-center">
                          <mat-checkbox [checked]="element.blnRevisedInvoices" [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="element.blnRevisedInvoices" class="example-margin"></mat-checkbox>
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Action">
                        <th class="min-w-10 bg-gray-50 dark:bg-black dark:bg-opacity-5 text-center" mat-header-cell
                          *matHeaderCellDef>
                          Action
                        </th>
                        <td mat-cell *matCellDef="let element; let i=index">
                          <div class="text-center">
                            <button (click)="updateContactList(element)" [matTooltip]="'Save Changes'" mat-icon-button
                              aria-label="Example icon button with a vertical three dot icon">
                              <mat-icon *ngIf="!element?.update_loader">done</mat-icon>
                              <mat-progress-spinner *ngIf="element?.update_loader" [diameter]="24"
                                [mode]="'indeterminate'"></mat-progress-spinner>
                            </button>
                            <button (click)="removeContact(i,element)" [matTooltip]="'Remove'" mat-icon-button
                              aria-label="Example icon button with a vertical three dot icon">
                              <mat-icon *ngIf="!element?.del_loader">close</mat-icon>
                              <mat-progress-spinner *ngIf="element?.del_loader" [diameter]="24"
                                [mode]="'indeterminate'">
                              </mat-progress-spinner>
                            </button>
                          </div>
                        </td>
                      </ng-container>
                    </div>
                    <tr mat-header-row class="h-16 shadow bg-card" *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row class="hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;"
                      *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                </form>
              </ng-container>
              <ng-template #noRecords>
                <div class="font-semibold tracking-tight text-center">
                  <p>There are currently no fulfillment contacts defined for this store.</p>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fuse-card>
</div>