<div class="row py-2 overflow-auto">
  <div class="col-12">
    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen" (change)="calledScreen(group.value)">
      <mat-button-toggle *ngFor="let buttonValue of screens" value="{{buttonValue}}">
        {{ buttonValue }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isPageLoading">
</ngx-skeleton-loader>
<div *ngIf="!isPageLoading">
  <fuse-card class="rounded-2xl shadow bg-card flex" *ngIf="mainScreen == 'Add Royality'">
    <div class="row" style="width: -webkit-fill-available;">
      <div class="col-12">
        <div class="p-6 sm:p-8 lg:p-10 w-full">
          <div class="row">
            <div class="col-lg-6 col-12 pb-6 sm:pb-8 lg:pb-8">
              <div class="text-2xl font-bold">
                Add a Royality
              </div>
            </div>
            <div class="col-12 pt-6">
              <form [formGroup]="addRoyalityForm">
                <div class="row">
                  <div class="col-md-4 col-12">
                    <mat-form-field class="w-full">
                      <mat-label>Royalty name: *</mat-label>
                      <input formControlName="name" matInput placeholder="Royalty name" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-12">
                    <mat-form-field class="w-full">
                      <mat-label>Royalties based on:</mat-label>
                      <mat-select formControlName="blnSales" matInput>
                        <mat-option [value]="true">Sales</mat-option>
                        <mat-option [value]="false">Gross Profit</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 col-12">
                    <mat-form-field class="w-full">
                      <mat-label>Percentage: </mat-label>
                      <input formControlName="percentage" matInput placeholder="Percentage" />
                    </mat-form-field>
                  </div>
                  <div class="col-12">
                    <mat-label>Royalty settings:</mat-label>
                    <div class="row">
                      <div class="col-3" *ngFor="let arr of includeCheckArray">
                        <mat-checkbox formControlName="{{arr.form}}">
                          {{arr.viewValue}}
                        </mat-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 flex items-center justify-end w-full">
                    <div class="flex mr-4" *ngIf="isAddMsgLoading">
                      <ng-container>
                        <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                        <span class="ml-2">Royality Added Successfully</span>
                      </ng-container>
                    </div>
                    <button (click)="addRoyality()" [disabled]="!addRoyalityForm.valid || isAddLoading"
                      [matTooltip]="'Add a Royality'" class="order-first sm:order-last" mat-flat-button
                      mat-stroked-button>
                      <mat-progress-spinner *ngIf="isAddLoading" [diameter]="24" [mode]="'indeterminate'">
                      </mat-progress-spinner>
                      <mat-icon *ngIf="!isAddLoading" svgIcon="mat_outline:add"></mat-icon>
                      <span class="px-2">Add a Royality</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fuse-card>
  <fuse-card class="rounded-2xl shadow bg-card flex" *ngIf="mainScreen == 'Current Royalities'">
    <div class="row" style="width: -webkit-fill-available;">
      <div class="col-12">
        <div class="p-6 sm:p-8 lg:p-10 w-full">
          <div class="row">
            <div class="col-lg-6 col-12 pb-6 sm:pb-8 lg:pb-8">
              <div class="text-2xl font-bold">
                Current Royalities
              </div>
            </div>
            <div class="col-12 pt-6">
              <form [formGroup]="royalityForm">
                <div formArrayName="royalities" *ngFor="let item of royalityListArray.controls;let i=index">
                  <div class="row pb-3 pt-5 border-b" [formGroup]="item">
                    <div class="col-md-3 col-12">
                      <mat-form-field class="w-full">
                        <mat-label>Royalty name: *</mat-label>
                        <input formControlName="name" matInput placeholder="Royalty name" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-3 col-12">
                      <mat-form-field class="w-full">
                        <mat-label>Royalties based on:</mat-label>
                        <mat-select formControlName="blnSales" matInput>
                          <mat-option [value]="true">Sales</mat-option>
                          <mat-option [value]="false">Gross Profit</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3 col-12">
                      <mat-form-field class="w-full">
                        <mat-label>Percentage%: *</mat-label>
                        <input type="number" formControlName="percentage" matInput placeholder="Percentage" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-3 col-12">
                      <mat-label>Royalty settings:</mat-label>
                      <ul>
                        <li *ngFor="let arr of includeCheckArray">
                          <mat-checkbox formControlName="{{arr.form}}">
                            {{arr.viewValue}}
                          </mat-checkbox>
                        </li>
                      </ul>
                    </div>
                    <div class="col-12 flex items-center justify-end w-full">
                      <div class="flex mr-4" *ngIf="item.get('msg').value == true">
                        <ng-container>
                          <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                          <span class="ml-2">Royality Updated Successfully</span>
                        </ng-container>
                      </div>

                      <button [matTooltip]="'Delete'" class="mr-2 order-first sm:order-last" mat-flat-button
                        mat-stroked-button (click)="removeRoyality(i)">
                        <mat-progress-spinner *ngIf="item.get('del_loader').value" [diameter]="24"
                          [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <mat-icon *ngIf="!item.get('del_loader').value" svgIcon="mat_outline:delete"></mat-icon>
                        <span class="px-2">Delete</span>
                      </button>
                      <button [disabled]="!item.valid || item.get('loader').value" [matTooltip]="'Update'"
                        class="order-first sm:order-last" mat-flat-button mat-stroked-button
                        (click)="updateRoyality(item)">
                        <mat-progress-spinner *ngIf="item.get('loader').value" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                        <mat-icon *ngIf="!item.get('loader').value" svgIcon="mode_edit_outline"></mat-icon>
                        <span class="px-2">Update</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="text-center" *ngIf="royalityListArray.controls.length == 0">
                <p class="text-2xl font-bold">No Record Found!!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fuse-card>

</div>