<div>
  <div class="rounded-2xl shadow bg-card flex">
    <div class="row" style="width: -webkit-fill-available;">
      <div class="col-12" [formGroup]="addRoyalityForm">
        <div class="p-6 sm:p-8 lg:p-10 w-full">
          <div class="row">
            <div class="col-lg-6 col-12 pb-6 sm:pb-8 lg:pb-8">
              <div class="text-2xl font-bold">
                Store Royalty Settings
              </div>
            </div>
            <div class="col-12 alert alert-warning">
              <mat-form-field class="w-full">
                <mat-label>Royalties for this store are:</mat-label>
                <mat-select matInput formControlName="blnRoyaltyStore">
                  <mat-option [value]="true">ACTIVE</mat-option>
                  <mat-option [value]="false">NOT ACTIVE</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-6">
              <mat-form-field class="w-full">
                <mat-label>Royalty name: *</mat-label>
                <input matInput formControlName="royaltyName" placeholder="Royalty name" maxlength="100" />
              </mat-form-field>
            </div>
            <div class="col-md-3 col-6">
              <mat-form-field class="w-full">
                <mat-label>Non-apparel royalty percentage: (in %) *</mat-label>
                <input type="number" formControlName="royaltyAmount" maxlength="10" matInput
                  placeholder="Non-apparel royalty percentage" />
              </mat-form-field>
            </div>
            <div class="col-md-3 col-6">
              <mat-form-field class="w-full">
                <mat-label>Apparel percentage: (in %) *</mat-label>
                <input type="number" formControlName="apparelRoyaltyAmount" maxlength="10" matInput
                  placeholder="Apparel percentage" />
              </mat-form-field>
            </div>
            <div class="col-md-3 col-6">
              <div class="flex text-align-center">
                <span>Royalties on by default:</span>
                <mat-icon class="icon-size-4 ml-1"
                  matTooltip="Royalties will be applied automatically when an item is added to a cart."
                  [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
              </div>
              <mat-form-field class="w-full">
                <mat-select matInput formControlName="blnRoyaltyOnByDefault">
                  <mat-option [value]="true">Yes</mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <div class="flex text-align-center">
                <span>Royalty copy:</span>
                <mat-icon class="icon-size-4 ml-1"
                  matTooltip="This is the copy that will show to the customer during checkout in regards to the royalty charges and how they apply."
                  [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
              </div>
              <quill-editor formControlName="royaltyCopy" class="w-full" [modules]="quillModules"> </quill-editor>
            </div>
            <div class="col-12 mt-3">
              <button mat-flat-button color="primary" [disabled]="" (click)="updateRoyality()"
                class="min-w-40 rounded-md">
                <span *ngIf="!isAddLoading">Update</span>
                <mat-progress-spinner *ngIf="isAddLoading" [diameter]="24"
                  [mode]="'indeterminate'"></mat-progress-spinner>

              </button>
            </div>
            <!-- maxlength="5000" -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>