<div class="w-full" *ngIf="!isCatProdsEnable && !isSubCatProdsEnable">
    <div class="px-2 pb-2">
        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
            (change)="calledScreen(group.value)">
            <mat-button-toggle value="Current Categories Lists">
                Current Categories Lists
            </mat-button-toggle>
            <mat-button-toggle value="Create New Categories">
                Create New Categories
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="px-5" *ngIf="isLoading">
        <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
        </ngx-skeleton-loader>
    </div>
    <div *ngIf="mainScreen == 'Current Categories Lists' && !isLoading">
        <div *ngIf="dataSource.length > 0;else other_content" class="w-full">
            <table mat-table [dataSource]="dataSource" class="w-full border-t">
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef class="w-40 min-w-40">
                        Categories
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex">
                            <b class="mr-2" (click)="goToCatProducts(element)">{{element.categoryName}}</b>
                            <mat-progress-spinner *ngIf="element.delLoader" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                            <mat-icon class="icon-size-5" svgIcon="heroicons_outline:trash" *ngIf="!element.delLoader"
                                matTooltip="Remove Category" (click)="removeCategory(element)">
                            </mat-icon>
                        </div>

                    </td>
                </ng-container>
                <ng-container matColumnDef="subcat">
                    <th mat-header-cell *matHeaderCellDef class="w-10 min-w-10">
                        Sub Categories List
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="my-2">
                            <p *ngFor="let item of element.subCats">
                                <a (click)="goToSubCatProducts(element.pk_categoryID,item)">{{item.name}}</a>
                            </p>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="products">
                    <th mat-header-cell *matHeaderCellDef class="w-10 min-w-10">
                        Products
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="my-2">
                            <p *ngFor="let item of element.subCats">
                                <a>{{item.product}}</a>
                            </p>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="w-10 min-w-10">
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="my-2">
                            <div class="flex justify-center" *ngFor="let item of element.subCats;let i=index">
                                <mat-progress-spinner *ngIf="item.delLoader" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                                <mat-icon class="icon-size-5" svgIcon="heroicons_outline:trash" *ngIf="!item.delLoader"
                                    matTooltip="Remove Subcategory" (click)="removeSubCategory(element, item)">
                                </mat-icon>
                            </div>
                        </div>

                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                </tr>
            </table>
            <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                [ngClass]="{'pointer-events-none': isLoading}" [length]="totalCategories" [pageIndex]="0"
                [pageSize]="20" (page)="getNextData($event)" [hidePageSize]="true">
            </mat-paginator>
        </div>
        <!-- No color Found -->
        <ng-template #other_content>
            <div class="text-secondary font-semibold p-5 text-center">
                No Categories Found.
            </div>
        </ng-template>
    </div>
    <div *ngIf="mainScreen == 'Create New Categories' && !isLoading" class="p-6 row w-full">
        <div class="col-12">
            <mat-form-field class="example-chip-list w-full" appearance="fill">
                <mat-label>Category Name (25)</mat-label>
                <input matInput [(ngModel)]="ngName" maxlength="25">
            </mat-form-field>
        </div>
        <div class="col-12 text-right">
            <button [disabled]="isAddCatLoader" class="min-w-40" mat-stroked-button [matTooltip]="'Add Category'"
                (click)="addNewCategory()">
                <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddCatLoader"></mat-icon>
                <span class="ml-2" *ngIf="!isAddCatLoader"> Add Category </span>
                <mat-progress-spinner *ngIf="isAddCatLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
        <div class="col-12 col-md-6">
            <mat-form-field class="w-full">
                <mat-label>Search Categories</mat-label>
                <input matInput placeholder="Search Categories" matTooltip="Search categories by name"
                    [matAutocomplete]="auto" [formControl]="searchCategoriesCtrl">
                <mat-autocomplete class="w-full" #auto="matAutocomplete" (optionSelected)="onSelected($event)"
                    [displayWith]="displayWith">
                    <mat-option *ngIf="isSearchingCategories" class="is-loading">Loading...</mat-option>
                    <ng-container *ngIf="!isSearchingCategories">
                        <mat-option *ngFor="let item of allCategories" [value]="item">
                            <span>{{item.categoryName}}</span>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
            <mat-form-field class="example-chip-list w-full" appearance="fill">
                <mat-label>Subcategory Name (22)</mat-label>
                <input matInput [(ngModel)]="ngSubcatName" maxlength="22">
            </mat-form-field>
        </div>
        <div class="text-right col-12">
            <button [disabled]="isAddSubCatLoader" class="min-w-40" mat-stroked-button [matTooltip]="'Add Subcategory'"
                (click)="addNewSubCategory()">
                <mat-icon svgIcon="heroicons_solid:plus" *ngIf="!isAddSubCatLoader"></mat-icon>
                <span class="ml-2" *ngIf="!isAddSubCatLoader"> Add Subcategory</span>
                <mat-progress-spinner *ngIf="isAddSubCatLoader" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </div>
</div>
<div *ngIf="isCatProdsEnable" class="w-full">
    <div class="text-right px-2">
        <button class="min-w-30" mat-button mat-stroked-button (click)="backToCategories()">Back to Categories</button>
    </div>
    <app-categories-products [paramsCatData]="paramsCatData"></app-categories-products>
</div>
<div *ngIf="isSubCatProdsEnable" class="w-full">
    <div class="text-right px-2">
        <button class="min-w-30" mat-button mat-stroked-button (click)="backToCategories()">Back to Categories</button>
    </div>
    <app-subcategories-products [paramsCatData]="paramsCatData"></app-subcategories-products>
</div>