<div class="flex flex-col flex-auto mt-8  overflow-hidden w-full space-y-2">
    <!-- Color Keys -->
    <div class="p-6 bg-card shadow rounded-2xl">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">Color Keys</div>
        <div class="mt-2 flex">
            <div class="mr-2">
                <p>Rush Orders</p>
                <hr class="m-0 h-2" style="background: #ffcaca;">
            </div>
            <div class="mr-2">
                <p>Reorder</p>
                <hr class="m-0 h-2" style="background: #feee84;">
            </div>
            <div class="mr-2">
                <p>Group Order</p>
                <hr class="m-0 h-2" style="background: #fca769;">
            </div>
            <div class="mr-2">
                <p>Priority</p>
                <hr class="m-0 h-2" style="background: #e0f0d5;">
            </div>
        </div>
    </div>
    <!-- Loader -->
    <div class="p-6 bg-card shadow rounded-2xl" *ngIf="isLoading">
        <div class="my-5">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
            'background-color': '#dedede'
          }">
            </ngx-skeleton-loader>
        </div>
    </div>
    <!-- Pending Quotes -->
    <div class="p-6 bg-card shadow rounded-2xl" *ngIf="!isLoading">
        <div>
            <div class="flex justify-between">
                <div class="text-xl font-bold tracking-tight leading-6 truncate">Pending Quotes
                </div>
                <div>
                    <div class="flex align-items-center">
                        <span>What is this</span>
                        <mat-icon class="icon-size-4 ml-1"
                            matTooltip="This is a list of all outstanding quotes in your customer\'s accounts."
                            [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="mt-2" *ngIf="!pendingQuotes.length">
                <fuse-alert class="mt-2" [appearance]="'soft'" [type]="'warning'">
                    <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'heroicons_solid:lock-open'">
                    </mat-icon>
                    No data available in table.
                </fuse-alert>
            </div>
            <div class="overflow-x-auto mt-4" *ngIf="pendingQuotes.length">
                <mat-form-field class="w-100">
                    <mat-select matInput [(ngModel)]="ngPendingStore" (selectionChange)="changeStore('quotes',$event)">
                        <mat-option [value]="'All'" selected>All Stores</mat-option>
                        <mat-option *ngFor="let store of pendingStores"
                            [value]="store.store">{{store.store}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ngx-skeleton-loader *ngIf="pendingQuotesLoader" count="8" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                </ngx-skeleton-loader>
                <table datatable [dtOptions]="pendingQuotesDtOption" class="table table-striped"
                    *ngIf="!pendingQuotesLoader">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Total</th>
                            <th>Quote</th>
                            <th>Customer</th>
                            <th>Created</th>
                            <th>In-Hands</th>
                            <th>
                                <div class="flex align-items-center">
                                    <span>LT</span>
                                    <mat-icon class="icon-size-4 ml-1"
                                        matTooltip="Last touch (last time an email was sent to the customer from this dashboard)"
                                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                                </div>
                            </th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pendingQuotes; trackBy: trackByCartId" [ngClass]="{
                        'background-color-e0f0d5': item?.priority > 0,
                        'background-color-ffcaca': item.inHandsDate != 'N/A',
                        'background-color-feee84': item.blnReorder
                      }">
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/stores',item.storeID]">{{item.storeCode}}</a>
                            </td>
                            <td>{{item.price | currency}}</td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/quotes',item.cartID]">{{item.cartID}}</a>
                            </td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/customers',item.storeUserID]">
                                    {{item.firstName + ' ' + item.lastName}}
                                    <span *ngIf="item.locationName != 'N/A'"> - {{item.locationName}}</span>
                                    <span *ngIf="item.companyName != 'N/A'"> - {{item.companyName}}</span>
                                </a>

                            </td>
                            <td>
                                <ng-container *ngIf="item.cartDate != 'N/A'; else na">
                                    {{ item.cartDate | date: 'MM/dd/yyyy' }}
                                </ng-container>
                                <ng-template #na>---</ng-template>
                            </td>
                            <td>
                                <ng-container *ngIf="item.inHandsDate != 'N/A'; else na">
                                    {{ item.inHandsDate | date: 'MM/dd/yyyy' }}
                                </ng-container>
                                <ng-template #na>---</ng-template>
                            </td>
                            <td>
                                <div *ngIf="item.followUp != 'N/A'">{{item.followUp | date:
                                    "MM/dd/yyyy '@' hh:mm a"}}</div>
                                <div *ngIf="item.followUp == 'N/A'">---</div>
                            </td>
                            <td>
                                <mat-checkbox matTooltip="Mark Priority" [(ngModel)]="item.priorityChecked"
                                    (change)="updateQuotePriority(item,'blnQuotes')"></mat-checkbox>
                            </td>
                            <td>
                                <div class="flex space-x-1 align-items-center">
                                    <mat-button-toggle (click)="openOrderDetailsModal(item)">
                                        <mat-icon svgIcon="mat_outline:brush" matTooltip="Artwork Details"></mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle (click)="openEmailDetailsModal(item,'quotes')">
                                        <mat-icon svgIcon="mat_outline:email"
                                            matTooltip="Send an email to customer"></mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle>
                                        <mat-progress-spinner *ngIf="item?.delLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                        <mat-icon *ngIf="!item?.delLoader" svgIcon="mat_outline:delete"
                                            matTooltip="Remove" (click)="removeQuotes(item)"></mat-icon>
                                    </mat-button-toggle>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Samples -->
    <div class="p-6 bg-card shadow rounded-2xl" *ngIf="!isLoading">
        <div *ngIf="!isLoading">
            <div class="flex justify-between">
                <div class="text-xl font-bold tracking-tight leading-6 truncate">Sample Status
                </div>
                <div>
                    <div class="flex align-items-center">
                        <span>What is this</span>
                        <mat-icon class="icon-size-4 ml-1"
                            matTooltip="In this area, you see sample orders that were delivered within the past 3 months.  This will help you monitor the success of your sample orders."
                            [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="mt-2" *ngIf="!sampleStatus.length">
                <fuse-alert class="mt-2" [appearance]="'soft'" [type]="'warning'">
                    <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'heroicons_solid:lock-open'">
                    </mat-icon>
                    No data available in table.
                </fuse-alert>
            </div>
            <div class="overflow-x-auto mt-4" *ngIf="sampleStatus.length">
                <mat-form-field class="w-100">
                    <mat-select matInput [(ngModel)]="ngSampleStore" (selectionChange)="changeStore('samples',$event)">
                        <mat-option [value]="'All'" selected>All Stores</mat-option>
                        <mat-option *ngFor="let store of sampleStores"
                            [value]="store.store">{{store.store}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ngx-skeleton-loader *ngIf="sampleStatusLoader" count="8" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                </ngx-skeleton-loader>
                <table datatable [dtOptions]="sampleDtOption" class="table table-striped" *ngIf="!sampleStatusLoader">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Value</th>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Days</th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of sampleStatus; trackBy: trackByCartId" [ngClass]="{
                        'background-color-e0f0d5': item?.priority > 0
                      }">
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/stores',item.storeID]">{{item.storeCode}}</a>
                            </td>
                            <td>{{item.cost | currency}}</td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/orders',item.orderID]">{{item.orderID}}</a>
                            </td>
                            <td>
                                <ng-container *ngIf="item.orderDate != 'N/A'; else na">
                                    <a target="_blank" class="text-blue-700 cursor-pointer"
                                        [routerLink]="['/apps/orders',item.orderID]">{{ item.orderDate | date:
                                        'MM/dd/yyyy' }}</a>
                                </ng-container>
                                <ng-template #na>---</ng-template>
                            </td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/customers',item.storeUserID]">
                                    {{item.firstName + ' ' + item.lastName}}
                                    <span *ngIf="item.locationName != 'N/A'"> - {{item.locationName}}</span>
                                    <span *ngIf="item.companyName != 'N/A'"> - {{item.companyName}}</span>
                                </a>
                            </td>
                            <td>
                                {{item.days}}
                            </td>
                            <td>
                                <mat-checkbox matTooltip="Mark Priority" [(ngModel)]="item.priorityChecked"
                                    (change)="updatePriority(item,'blnSample')"></mat-checkbox>
                            </td>
                            <td>
                                <div class="flex space-x-1 align-items-center">
                                    <mat-button-toggle>
                                        <mat-icon svgIcon="mat_outline:comment" matTooltip="Sample Comments"></mat-icon>
                                    </mat-button-toggle>

                                    <mat-button-toggle (click)="openEmailDetailsModal(item,'sample')">
                                        <mat-icon svgIcon="mat_outline:email"
                                            matTooltip="Send an email to customer"></mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle>
                                        <mat-progress-spinner *ngIf="item?.sampleLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                        <mat-icon *ngIf="!item?.sampleLoader" svgIcon="mat_outline:check"
                                            matTooltip="Mark this sample order as converted"
                                            (click)="markOrderAsSample(item)"></mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle>
                                        <mat-progress-spinner *ngIf="item?.delLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                        <mat-icon *ngIf="!item?.delLoader" svgIcon="mat_outline:delete"
                                            matTooltip="Remove" (click)="removeOrders(item,'blnSample')"></mat-icon>
                                    </mat-button-toggle>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Around This year -->
    <div class="p-6 bg-card shadow rounded-2xl" *ngIf="!isLoading">
        <div>
            <div class="flex justify-between">
                <div class="text-xl font-bold tracking-tight leading-6 truncate">Around This Time Last Year
                </div>
                <div>
                    <div class="flex align-items-center">
                        <span>What is this</span>
                        <mat-icon class="icon-size-4 ml-1"
                            matTooltip="In this area, you see orders that were placed about 11 months ago.  Here is an opportunity to remind your customers about annual events."
                            [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="mt-2" *ngIf="!ordersThisYear.length">
                <fuse-alert class="mt-2" [appearance]="'soft'" [type]="'warning'">
                    <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'heroicons_solid:lock-open'">
                    </mat-icon>
                    There are currently no orders for your customers around this time last year.
                </fuse-alert>
            </div>
            <div class="overflow-x-auto mt-4" *ngIf="ordersThisYear.length">
                <mat-form-field class="w-100">
                    <mat-select matInput [(ngModel)]="ngOrderStore" (selectionChange)="changeStore('orders',$event)">
                        <mat-option [value]="'All'" selected>All Stores</mat-option>
                        <mat-option *ngFor="let store of orderStores" [value]="store.store">{{store.store}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ngx-skeleton-loader *ngIf="ordersThisYearLoader" count="8" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                </ngx-skeleton-loader>
                <table datatable [dtOptions]="aroundDtOption" class="table table-striped" *ngIf="!ordersThisYearLoader">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Order</th>
                            <th>Total</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Products</th>
                            <th>
                                <div class="flex align-items-center">
                                    <span>MRP</span>
                                    <mat-icon class="icon-size-4 ml-1" matTooltip="Most recent purchases"
                                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center">
                                    <span>LT</span>
                                    <mat-icon class="icon-size-4 ml-1"
                                        matTooltip="Last touch (last time an email was sent to the customer from this dashboard)"
                                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                                </div>
                            </th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ordersThisYear; trackBy: trackByCartId" [ngClass]="{
                        'background-color-e0f0d5': item?.customerLastYearPriority > 0,
                        'background-color-ffcaca': item.inHandsDate != 'N/A',
                        'background-color-feee84': item.blnReorder
                      }">
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/stores',item.storeID]">{{item.storeCode}}</a>
                            </td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/orders',item.pk_orderID]">{{item.pk_orderID}}</a>
                            </td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/orders',item.pk_orderID]">{{item.total | currency}}</a>
                            </td>
                            <td>
                                <ng-container *ngIf="item.orderDate != 'N/A'; else na">
                                    <a target="_blank" class="text-blue-700 cursor-pointer"
                                        [routerLink]="['/apps/orders',item.orderID]">{{ item.orderDate | date:
                                        'MM/dd/yyyy' }}</a>
                                </ng-container>
                                <ng-template #na>---</ng-template>
                            </td>
                            <td>
                                {{item.firstName + ' ' + item.lastName}}
                                <span *ngIf="item.locationName"> - {{item.locationName}}</span>
                                <span *ngIf="item.companyName"> - {{item.companyName}}</span>
                            </td>
                            <td>
                                <p *ngFor="let prod of item.products.split(',')">{{prod}}</p>
                            </td>
                            <td>
                                <ng-container *ngIf="item.inHandsDate != 'N/A'; else na">
                                    {{ item.inHandsDate | date: 'MM/dd/yyyy' }}
                                </ng-container>
                                <ng-template #na>---</ng-template>
                            </td>
                            <td>
                                <div *ngIf="item.dashboardReorderLastTouch">{{item.dashboardReorderLastTouch | date:
                                    "MM/dd/yyyy '@' hh:mm a"}}</div>
                                <div *ngIf="!item.dashboardReorderLastTouch">---</div>
                            </td>
                            <td>
                                <mat-checkbox matTooltip="Mark Priority" [(ngModel)]="item.priorityChecked"
                                    (change)="updatePriority(item,'blnCustomerLastYear')"></mat-checkbox>
                            </td>
                            <td>
                                <div class="flex space-x-1 align-items-center">
                                    <mat-button-toggle (click)="openEmailDetailsModal(item,'reorder')">
                                        <mat-icon svgIcon="mat_outline:email"
                                            matTooltip="Send an email to customer"></mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle>
                                        <mat-progress-spinner *ngIf="item?.delLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                        <mat-icon *ngIf="!item?.delLoader" svgIcon="mat_outline:delete"
                                            matTooltip="Remove"
                                            (click)="removeOrders(item,'blnCustomerLastYear')"></mat-icon>
                                    </mat-button-toggle>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Keywords -->
    <div class="p-6 bg-card shadow rounded-2xl" *ngIf="!isLoading">
        <div>
            <div class="flex justify-between">
                <div class="text-xl font-bold tracking-tight leading-6 truncate">Keyword Searches
                </div>
                <div>
                    <div class="flex align-items-center">
                        <span>What is this</span>
                        <mat-icon class="icon-size-4 ml-1"
                            matTooltip="In this area, you can see searches that were conducted on your stores within the last 30 days.  Are your customers getting good search results?  Are you offering what they are looking for?  If you would like more detailed numbers, visit the Keyword Search link at the Store level in admin."
                            [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="mt-2" *ngIf="!keywordsData.length">
                <fuse-alert class="mt-2" [appearance]="'soft'" [type]="'warning'">
                    <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'heroicons_solid:lock-open'">
                    </mat-icon>
                    There are currently no keywords for your customers around this time last year.
                </fuse-alert>
            </div>
            <div class="overflow-x-auto mt-4" *ngIf="keywordsData.length">
                <table datatable [dtOptions]="keywordDtOption" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Search Term</th>
                            <th>Frequency</th>
                            <th>Results</th>
                            <th>Days Ago</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of keywordsData; trackBy: trackByCartId">
                            <td>{{item.storeCode}}</td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    href="{{item.protocol + item.storeName + '/search?keywords=' + item.keyword}}">{{item.keyword}}</a>
                            </td>
                            <td>{{item.frequency}}</td>
                            <td>{{item.results}}</td>
                            <td>
                                {{item.daysAgo}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Post Actvivty -->
    <div class="p-6 bg-card shadow rounded-2xl" *ngIf="!isLoading">
        <div>
            <div class="flex justify-between">
                <div class="text-xl font-bold tracking-tight leading-6 truncate">Post-Sale Activity (<a
                        href="https://admin.consolidus.com/ssadm/controller/view/system/images/keys-to-success.pdf"
                        target="_blank">The 5 Keys to a Successful Follow-Up Call</a>)
                </div>
                <div>
                    <div class="flex align-items-center">
                        <span>What is this</span>
                        <mat-icon class="icon-size-4 ml-1"
                            matTooltip="This area is an opportunity to follow up with customers for product/service reviews, or to get referrals from customers.  Orders show up here after clients have received an email asking them for a review of an order that was shipped two weeks ago."
                            [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="mt-2" *ngIf="!activityData.length">
                <fuse-alert class="mt-2" [appearance]="'soft'" [type]="'warning'">
                    <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'heroicons_solid:lock-open'">
                    </mat-icon>
                    There are currently no orders for your customers around this time last year.
                </fuse-alert>
            </div>
            <div class="overflow-x-auto mt-4" *ngIf="activityData.length">
                <mat-form-field class="w-100">
                    <mat-select matInput [(ngModel)]="ngActivityStore"
                        (selectionChange)="changeStore('activity',$event)">
                        <mat-option [value]="'All'" selected>All Stores</mat-option>
                        <mat-option *ngFor="let store of activityStores"
                            [value]="store.store">{{store.store}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ngx-skeleton-loader *ngIf="activityDataLoader" count="8" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                </ngx-skeleton-loader>
                <table datatable [dtOptions]="postDtOption" class="table table-striped" *ngIf="!activityDataLoader">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Order</th>
                            <th>Customer</th>
                            <th>Phone</th>
                            <th>Date</th>
                            <th>Products</th>
                            <th>
                                <div class="flex align-items-center">
                                    <span>R</span>
                                    <mat-icon class="icon-size-4 ml-1"
                                        matTooltip="Number of items on this order that have been reviewed."
                                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center">
                                    <span>LT</span>
                                    <mat-icon class="icon-size-4 ml-1"
                                        matTooltip="Last touch (last time an email was sent to the customer from this dashboard)"
                                        [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                                </div>
                            </th>
                            <th>Priority</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of activityData; trackBy: trackByCartId" [ngClass]="{
                        'background-color-e0f0d5': item?.followUpPriority > 0,
                        'background-color-ffcaca': item.inHandsDate != 'N/A',
                        'background-color-feee84': item.blnReorder
                      }">
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/stores',item.storeID]">{{item.storeCode}}</a>
                            </td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/orders',item.pk_orderID]">{{item.pk_orderID}}</a>
                            </td>
                            <td>
                                <a target="_blank" class="text-blue-700 cursor-pointer"
                                    [routerLink]="['/apps/customers',item.storeUserID]">
                                    {{item.firstName + ' ' + item.lastName}}
                                    <span *ngIf="item.locationName != 'N/A'"> - {{item.locationName}}</span>
                                    <span *ngIf="item.companyName != 'N/A'"> - {{item.companyName}}</span>
                                </a>
                            </td>
                            <td>{{item.dayPhone}}</td>
                            <td>{{item.orderDate | date: 'MM/dd/yyyy'}}</td>
                            <td>{{item?.products}}</td>
                            <td>0</td>
                            <td>
                                <div *ngIf="item.dashboardFollowUpLastTouch">{{item.dashboardFollowUpLastTouch | date:
                                    "MM/dd/yyyy '@' hh:mm a"}}</div>
                                <div *ngIf="!item.dashboardFollowUpLastTouch">---</div>
                            </td>
                            <td>
                                <mat-checkbox matTooltip="Mark Priority" [(ngModel)]="item.priorityChecked"
                                    (change)="updatePriority(item,'blnFollowUp')"></mat-checkbox>
                            </td>
                            <td>
                                <div class="flex space-x-1 align-items-center">
                                    <mat-button-toggle>
                                        <mat-icon svgIcon="mat_outline:note_alt"
                                            matTooltip="Send a survey to customer"></mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle>
                                        <mat-icon svgIcon="mat_outline:info"
                                            matTooltip="Create an incident report"></mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle
                                        (click)="openEmailDetailsModal(item,'FOLLOW UP EMAIL FOR ORDER')">
                                        <mat-icon svgIcon="mat_outline:email"
                                            matTooltip="Send an email to customer"></mat-icon>
                                    </mat-button-toggle>
                                    <mat-button-toggle>
                                        <mat-progress-spinner *ngIf="item?.delLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                        <mat-icon *ngIf="!item?.delLoader" svgIcon="mat_outline:delete"
                                            matTooltip="Remove" (click)="removeOrders(item,'blnFollowUp')"></mat-icon>
                                    </mat-button-toggle>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Quote Details -->
<div #quoteDetailsModal class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ARTWORK DETAILS FOR QUOTE
                    {{orderDetailsModalContent?.cartID}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="orderDetailsModalContent">
                <div class="my-5" *ngIf="orderDetailsModalContent.loader">
                    <ngx-skeleton-loader count="5" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                    </ngx-skeleton-loader>
                </div>
                <div *ngIf="!orderDetailsModalContent.loader">
                    <div *ngIf="orderDetailsModalContent.artworkData.length == 0">
                        <div class="alert alert-danger">No data found</div>
                    </div>
                    <table *ngIf="orderDetailsModalContent.artworkData.length > 0"
                        class="table table-striped border-t-0">
                        <thead>
                            <tr>
                                <th>Items</th>
                                <th>Status</th>
                                <th>Approver</th>
                                <th>Proof</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of orderDetailsModalContent.artworkData">
                                <tr>
                                    <td class="font-bold">{{item.productName}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <ng-container *ngFor="let imprint of item.imprints">
                                    <tr>
                                        <td>
                                            <span class="pl-2">{{imprint.location}}/{{imprint.method}}</span>
                                        </td>
                                        <td>{{imprint.status}}</td>
                                        <td>
                                            <span *ngIf="imprint.approver">{{imprint.approver}}</span>
                                            <span *ngIf="!imprint.approver">---</span>
                                        </td>
                                        <td>
                                            <span>---</span>
                                            <!-- <a target="_blank"
                                                href="{{mediaURL}}artwork/Proof/{{item.fk_storeUserID}}/{{item.orderID}}/{{item.orderLineID}}/{{imprint.id}}.jpg"
                                                target="_blank">VIEW</a> -->
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="mr-2" mat-button mat-stroked-button data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Email Modal -->
<div #quoteEmailModal class="modal fade" id="quoteEmailModal" tabindex="-1" role="dialog"
    aria-labelledby="quoteEmailModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quoteEmailModal">{{emailModalContent?.modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="emailModalContent">
                <div class="my-5" *ngIf="emailModalContent.loader">
                    <ngx-skeleton-loader count="5" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                    </ngx-skeleton-loader>
                </div>
                <div *ngIf="!emailModalContent.loader">
                    <div class="row">
                        <div class="col-12">
                            <mat-label>Subject:</mat-label>
                            <mat-form-field class="w-full">
                                <input matInput [(ngModel)]="emailModalContent.subject">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-label>Body:</mat-label>
                            <ckeditor [config]="editorConfig" [(ngModel)]="emailModalContent.body"></ckeditor>
                        </div>
                        <!-- Imprints -->
                        <ng-container *ngIf="emailModalContent.type != 'quotes'">
                            <div class="col-12 my-5" *ngIf="emailModalContent.qryOrderLines.length">
                                <div class="row space-y-1 border-b py-2"
                                    *ngFor="let product of emailModalContent.qryOrderLines">
                                    <div class="col-12 col-md-3">
                                        <img src="{{product.imageUrl}}" class="w-50">
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <h2 class="font-bold">{{product.productName}}</h2>
                                        <p *ngIf="emailModalContent.type == 'sample'">Item Number: </p>
                                        <ng-container *ngIf="emailModalContent.type == 'reorder'">
                                            <p>Quantity: {{product?.quantity}}</p>
                                            <a href="{{product?.reorderURL}}" target="_blank">Click here to reorder this
                                                product.</a>
                                            <a href="{{product?.reviewURL}}" target="_blank">Click here to leave a
                                                review
                                                for this product</a>
                                        </ng-container>
                                        <br>
                                        <mat-checkbox></mat-checkbox>
                                        <mat-icon class="mt-1 cursor-pointer" [svgIcon]="'heroicons_outline:trash'"
                                            [matTooltip]="'Remove this item from the email'"></mat-icon>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="emailModalContent.type == 'quotes'">
                            <div class="col-12 my-5">
                                <div class="row" *ngFor="let quote of emailModalContent.cartData">
                                    <div class="col-12 col-md-3">
                                        <img style="display: inline;"
                                            src="https://assets.consolidus.com/globalAssets/products/HiRes/{{quote.productID}}.jpg"
                                            onError="this.src='https://assets.consolidus.com/globalAssets/Products/coming_soon.jpg'">
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <div class="grid grid-cols-12 gap-x-1 mt-1">
                                            <div class="col-span-12 pb-2 border-b font-medium text-lg text-secondary">
                                                ({{quote.storeCode
                                                + '-' +
                                                quote.productID}}) {{quote.productName}}</div>
                                            <div class="col-span-12 my-2 font-bold">
                                                {{quote?.pk_cartID + '-' + quote?.pk_cartLineID}}
                                                <br>
                                                {{quote?.productNumber}}
                                            </div>
                                            <div
                                                class="col-span-12 pb-2 mb-2 border-b font-medium text-md text-secondary">
                                                Colors & Sizes</div>
                                            <!-- Colors -->
                                            <div class="col-span-12">
                                                <div class="grid grid-cols-12">
                                                    <div class="col-span-6"></div>
                                                    <div class="col-span-3 font-bold ">Unit</div>
                                                    <div class="col-span-3 font-bold ">Total</div>
                                                </div>
                                                <div class="grid grid-cols-12" *ngFor="let color of quote.ColorsData">
                                                    <div class="col-span-6 text-sm">{{color.colorName}}</div>
                                                    <div class="col-span-3 font-bold text-sm ">{{color.unitPrice |
                                                        currency}}
                                                    </div>
                                                    <div class="text-sm col-span-3 font-bold ">{{color.totalPrice |
                                                        currency}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-span-12 text-sm font-bold">Total Quantity:
                                                {{quote.orderQuantity}}</div>
                                            <!-- Decorations -->
                                            <div
                                                class="col-span-12 pb-2 my-2 border-b font-medium text-md text-secondary">
                                                Decoration</div>
                                            <div class="col-span-12">
                                                <div class="grid grid-cols-12"
                                                    *ngFor="let decoration of quote.DecorationData">
                                                    <div class="col-span-6 text-sm">
                                                        {{decoration.locationName}} / {{decoration.methodName}}</div>
                                                    <div class="col-span-3 font-bold text-sm ">
                                                    </div>
                                                    <div class="text-sm col-span-3 font-bold ">{{decoration.price |
                                                        currency}}
                                                    </div>
                                                    <div class="col-span-6 text-sm"> Setup: {{decoration.setupPrice |
                                                        currency}}</div>
                                                    <div class="col-span-3 font-bold text-sm "></div>
                                                    <div class="text-sm col-span-3 font-bold ">
                                                    </div>
                                                    <div class="col-span-6 text-sm" *ngIf="runningPrice > 0"> Add
                                                        Running:
                                                        {{decoration.runningPrice |
                                                        currency}}</div>
                                                    <div class="col-span-3 font-bold text-sm " *ngIf="runningPrice > 0">
                                                    </div>
                                                    <div class="text-sm col-span-3 font-bold " *ngIf="runningPrice > 0">

                                                    </div>
                                                    <div class="col-span-6 text-sm">Colors: {{decoration.colors}}</div>
                                                    <div class="col-span-3 font-bold text-sm "></div>
                                                    <div class="text-sm col-span-3 font-bold ">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Royalities -->
                                            <div class="col-span-12 my-2" *ngIf="quote?.royaltyPrice > 0">
                                                <div class="grid grid-cols-12">
                                                    <div class="col-span-6 font-medium text-secondary">
                                                        {{quote.royaltyName}}</div>
                                                    <div class="col-span-3 font-bold text-sm ">
                                                    </div>
                                                    <div class="text-secondary col-span-3 font-bold font-medium ">
                                                        {{quote.royaltyPrice |
                                                        currency}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Shipping -->
                                            <div class="col-span-12 my-2" *ngIf="quote?.shippingGroundPrice > 0">
                                                <div class="grid grid-cols-12">
                                                    <div class="col-span-6 font-medium text-secondary">
                                                        Shipping</div>
                                                    <div class="col-span-3 font-bold text-sm ">
                                                    </div>
                                                    <div class="text-secondary col-span-3 font-bold font-medium ">
                                                        {{quote.shippingGroundPrice | currency}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- SubTotal -->
                                            <div class="col-span-12 my-2 border-b pb-2">
                                                <div class="grid grid-cols-12">
                                                    <div class="col-span-6 font-medium text-secondary">
                                                        SubTotal</div>
                                                    <div class="col-span-3 font-bold text-sm ">
                                                    </div>
                                                    <div class="text-secondary col-span-3 font-bold font-medium ">
                                                        {{quote.subTotal | currency}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-span-12 my-2">
                                                <div class="grid grid-cols-12">
                                                    <div class="col-span-6 font-medium text-secondary">
                                                        Setup: {{quote.setupPriceTotal | currency}}</div>
                                                    <div class="col-span-3 font-bold text-sm ">
                                                    </div>
                                                    <div class="text-secondary col-span-3 font-bold font-medium ">

                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-span-12 my-2 border-b pb-2">
                                                <div *ngFor="let file of quote.artworkFiles;let i=index">
                                                    <a href="https://assets.consolidus.com/artwork/temp/{{quote.pk_cartID}}/{{quote.pk_cartLineID}}/{{file.imprintID}}/{{file.FILENAME}}"
                                                        target="_blank">View
                                                        Artwork File #{{i+1}}</a>
                                                    <br />
                                                </div>
                                                <div *ngIf="quote.artworkFiles.length ==0">
                                                    <div class="alet alert-primary p-3">
                                                        No artwork attached to this item.
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" mx-4 p-2 text-right bg-gray-200  font-bold">
                                    <p>Items Total: {{emailModalContent.totalPrice | currency}}</p>
                                </div>
                            </div>
                            <div class="col-12">
                                <p>
                                    If there is anything else I can help you with at this time, please don't hesitate to
                                    reach out. Thank you for your order and I look forward to working with you again
                                    soon.
                                </p>
                            </div>
                        </ng-container>
                        <!-- Footer -->
                        <div class="col-12" [innerHTML]="emailModalContent.footer"></div>
                    </div>
                    <div class="col-12" *ngIf="emailModalContent?.text" [innerHTML]="emailModalContent.text"></div>
                    <div class="col-12 my-2">
                        <div>
                            <ng-container *ngIf="emailModalContent.type != 'quotes' ">
                                <mat-checkbox>Include images?</mat-checkbox>
                                <br>
                                <mat-checkbox matTooltip="Include the additional content below the message.">Include
                                    content?</mat-checkbox>
                            </ng-container>
                            <mat-checkbox *ngIf="emailModalContent.type == 'quotes'"
                                matTooltip="Include a PDF copy of the invoice as an attachment on the email.">Include
                                PDF invoice as attachment?</mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal"
                    class="mr-2 inline-flex items-center gap-x-1.5 rounded-md bg-red-400 px-2.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-400">
                    <span>Close</span>
                </button>
                <button type="button" data-dismiss="modal"
                    class="mr-2 inline-flex items-center gap-x-1.5 rounded-md bg-green-400 px-2.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-400">
                    <span>Send Email</span>
                </button>
            </div>
        </div>
    </div>
</div>