.background-color-e0f0d5 {
    background-color: #e0f0d5 !important;
}

.background-color-fca769 {
    background-color: #fca769 !important;
}

.background-color-ffcaca {
    background-color: #ffcaca !important;
}

.background-color-feee84 {
    background-color: #feee84 !important;
}