<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>

    <div class="row" *ngIf="!isLoading">
        <div class="col-12 my-2">

            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="w-full">
                    <div class="p-6 sm:p-8 lg:p-10 w-full">
                        <div class="text-2xl font-bold ">
                            Sent Purchase Orders
                        </div>

                        <div class="mt-5">
                            <div class="text-center mt-5 font-bold alert alert-warning" *ngIf="purchases.length == 0">No
                                purchase orders have been sent for this order.
                            </div>
                            <table *ngIf="purchases.length > 0"
                                class="table table-condensed table-striped table-hover padding-1x wide no-bottom-margin">
                                <thead>
                                    <tr class="columnHeader2">
                                        <th>PO#</th>
                                        <th>Status</th>
                                        <th>Date sent</th>
                                        <th>Vendor</th>
                                        <th>Products</th>
                                        <th>Shipping On</th>
                                        <th>ETA</th>
                                        <th>Tracking</th>
                                        <th>Total</th>
                                        <th>PDF</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <ng-container *ngFor="let item of purchases">
                                        <tr>
                                            <td>
                                                <a id="Download-PDF"
                                                    href="https://assets.consolidus.com/globalAssets/Orders/purchaseOrders/new/{{item.pk_sentPOID}}.html"
                                                    target="_blank">{{item.purchaseOrderNumber}}</a>

                                            </td>
                                            <td>{{item.statusName}}</td>
                                            <td>{{(item.sentDate | date:'MM/dd/yyyy') || '---'}}</td>
                                            <td>{{item.vendorShippingName}}</td>
                                            <td>{{item.productName}}</td>
                                            <td>{{(item.shippingDate | date:'MM/dd/yyyy') || '---'}}</td>
                                            <td>{{(item.estimatedShippingDate | date:'MM/dd/yyyy') || '---'}}</td>
                                            <td>{{(item.trackingNumber) || '---'}}</td>
                                            <td>{{item.total | currency}}</td>
                                            <td>
                                                <a href="https://assets.consolidus.com/globalAssets/Orders/purchaseOrders/new/{{item.pk_sentPOID}}.pdf"
                                                    target="_blank">PDF</a>
                                                <!-- <span *ngIf="!item.pdfLoader"
                                                    (click)="downloadPDF(orderDetail.pk_orderID,item.fileID,item.fileDate,item)"
                                                    class="cursor-pointer">PDF</span>
                                                <mat-progress-spinner *ngIf="item.pdfLoader" [diameter]="24"
                                                    [mode]="'indeterminate'">
                                                </mat-progress-spinner> -->
                                            </td>
                                        </tr>
                                        <!-- <ng-container>
                                            <tr>
                                                <td colspan="9">
                                                    <div id="Download{{item.fileID}}" #downloadContainer>
                                                        <iframe [src]="sanitizeUrl(orderDetail.pk_orderID, item.fileID)"
                                                            width="100%" height="100%"></iframe>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container> -->
                                    </ng-container>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fuse-card>
        </div>

    </div>
</div>