<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading || commentatoLoader">
    </ngx-skeleton-loader>

    <div class="row" *ngIf="!isLoading && !commentatoLoader">
        <div class="col-12 my-2">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="p-6 sm:p-8 lg:p-10 w-full">
                    <div class="text-2xl font-bold">
                        Add a comment
                    </div>
                    <!-- Notes -->
                    <div class="gap-y-4 mt-6">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <form [formGroup]="internalNote">
                                    <mat-form-field class="w-full">
                                        <textarea matInput rows="10" [formControlName]="'comment'"
                                            placeholder="Add Comments here..."></textarea>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="col-lg-5 col-12">
                                <mat-selection-list #list>
                                    <mat-list-option *ngFor="let commentator of commentators"
                                        (click)="selectOption(list)" [value]="commentator.email"
                                        [selected]="allSelected">
                                        <p class="font-small">{{commentator.email}}</p>
                                    </mat-list-option>
                                    <mat-list-option (click)="selectAll()">
                                        <p class="font-medium font-semibold text-secondary">Select All</p>
                                    </mat-list-option>
                                </mat-selection-list>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-end w-full mr-2">
                        <div class="flex items-center mt-2">
                            <div class="flex items-center mr-4" *ngIf="isCommentNull">
                                <ng-container>
                                    <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">Please fill out comment field!</span>
                                </ng-container>
                            </div>
                            <div class="flex items-center mr-4" *ngIf="flashMessage">
                                <ng-container *ngIf="flashMessage === 'success'">
                                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'">
                                    </mat-icon>
                                    <span class="ml-2">Comment added successfully</span>
                                </ng-container>
                                <ng-container *ngIf="flashMessage === 'error'">
                                    <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>
                            <button class="min-w-40" mat-stroked-button [matTooltip]="'Add Comment'"
                                (click)="addComment()" [disabled]="loader">
                                <mat-progress-spinner *ngIf="loader" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                                <mat-icon *ngIf="!loader" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span *ngIf="!loader" class="ml-1 mr-1">Add Comment</span>
                            </button>
                        </div>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>

    <div class="row" *ngIf="!isLoading">
        <div class="col-12 my-2">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="deleteLoader">
            </ngx-skeleton-loader>
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full" *ngIf="!deleteLoader">
                <div class="p-6 sm:p-8 lg:p-10 w-full">
                    <div class="text-2xl font-bold">
                        Comments
                    </div>
                    <!-- Update history -->
                    <div *ngIf="comments.length > 0;else other_content">
                        <div class="flex items-start mt-8 w-full" *ngFor="let comment of comments;let i = index">
                            <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/person.jpg"
                                alt="Card cover image">
                            <div class="flex flex-col mt-0.5">
                                <span>
                                    <b>{{comment?.name}}</b> {{comment?.comment}}
                                </span>
                                <div class="flex items-center text-sm text-secondary mt-2">
                                    <a class="mr-2 hover:underline" style="cursor: pointer;"
                                        (click)="deleteComment(comment)">Delete
                                    </a>
                                    <span class="mr-2">&bull;</span>
                                    <span>{{comment?.dateFormatted}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- No Comments -->
                    <ng-template #other_content>
                        <div class="text-secondary font-semibold">
                            *No comments found
                        </div>
                    </ng-template>
                </div>
            </fuse-card>
        </div>
    </div>
</div>