<ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
</ngx-skeleton-loader>
<div class="row my-3 mx-0" *ngIf="!isLoading">
    <mat-card class="w-full p-2 h-full rounded-2xl shadow-lg">
        <mat-card-title class="text-info font-size-medium">Add a comment</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="text-secondary py-4">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <form [formGroup]="internalNote">
                        <mat-form-field class="w-full">
                            <textarea matInput rows="10" [formControlName]="'comment'"
                                placeholder="Add Comments here..."></textarea>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-lg-5 col-12">
                    <mat-selection-list #list>
                        <mat-list-option *ngFor="let commentator of commentators" (click)="selectOption(list)"
                            [value]="commentator.email" [selected]="allSelected">
                            <p class="font-small">{{commentator.email}}</p>
                        </mat-list-option>
                        <mat-list-option (click)="selectAll()">
                            <p class="font-medium font-semibold text-secondary">Select All</p>
                        </mat-list-option>
                    </mat-selection-list>
                </div>
                <div class="col-12 mb-3">
                    <mat-divider></mat-divider>
                    <div class="flex items-center justify-end w-full mr-2">
                        <div class="flex items-center my-2">
                            <div class="flex items-center mr-4" *ngIf="isCommentNull">
                                <ng-container>
                                    <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">Please fill out comment field!</span>
                                </ng-container>
                            </div>
                            <div class="flex items-center mr-4" *ngIf="flashMessage">
                                <ng-container *ngIf="flashMessage === 'success'">
                                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'">
                                    </mat-icon>
                                    <span class="ml-2">Comment added successfully</span>
                                </ng-container>
                                <ng-container *ngIf="flashMessage === 'error'">
                                    <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>
                            <button class="min-w-40" mat-stroked-button [matTooltip]="'Add Comment'"
                                (click)="addComment()" [disabled]="loader">
                                <mat-progress-spinner *ngIf="loader" [diameter]="24" [mode]="'indeterminate'">
                                </mat-progress-spinner>
                                <mat-icon *ngIf="!loader" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span *ngIf="!loader" class="ml-1 mr-1">Add Comment</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="row mx-0" *ngIf="!isLoading">
    <mat-card class="w-full p-2 h-full rounded-2xl shadow-lg">
        <mat-card-title class="text-info font-size-medium">Current Comments</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="text-secondary py-4">
            <div class="row">
                <div class="col-12" *ngFor="let comment of comments;let i = index">
                    <fuse-card
                        class="flex flex-col md:flex-row items-center justify-between w-full filter-testimonial p-4 border-b">
                        <div class="flex flex-col flex-auto justify-center">
                            <div class="text-md text-primary leading-relaxed">
                                {{comment?.comment}}
                            </div>
                            <div class="text-md font-medium text-primary mt-2" style="font-variant: titling-caps;">
                                &#8212; {{comment?.name}} <span class="text-sm text-info">on
                                    {{comment?.theTimestamp}}</span>
                            </div>
                        </div>
                    </fuse-card>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>