<div class="w-full">
    <ngx-skeleton-loader count="8" appearance="line" animation="pulse" *ngIf="isLoading">
    </ngx-skeleton-loader>



    <div class="row" *ngIf="!isLoading">
        <div class="col-12 my-2">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="p-6 sm:p-8 lg:p-10 w-full grid sm:grid-cols-4 grid-cols-1 gap-5">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>
                            <span>Status:</span>
                        </mat-label>
                        <mat-select [(ngModel)]="selectedStatus" disableRipple>
                            <mat-option (click)="setParams(status.key,'status_id')" [value]="status.value"
                                *ngFor="let status of statuses">
                                {{status.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                        <mat-label>Estimated time in hours</mat-label>
                        <input class="h-6" [(ngModel)]="estimatedTime" matInput [autocomplete]="'off'"
                            [placeholder]="'Estimated Time in '">
                    </mat-form-field>
                    <div class="mt-5">
                        <mat-checkbox class="pt-4" [(ngModel)]="email">Email</mat-checkbox>
                    </div>

                    <div class="grid grid-cols-2 gap-3 mt-5">

                        <button (click)="updateTicket()" color="primary" class="w-full rounded-md" mat-button
                            mat-flat-button [disabled]="false">
                            <span>Update</span>
                        </button>

                        <button (click)="openDeleteModal()" color="primary" class="w-full rounded-md bg-red-500"
                            mat-button mat-flat-button>
                            <span>Delete</span>
                        </button>

                    </div>

                </div>
            </fuse-card>
        </div>
    </div>


    <div class="row" *ngIf="!isLoading">
        <div class="col-12 my-2">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
                <div class="p-6 sm:p-8 lg:p-10 w-full">
                    <div class="text-xl font-semibold text-gray-700 pb-2 border-b">
                        {{dataSource?.subject}}
                    </div>
                    <div class="pt-2 text-sm">
                        <span class="font-bold">{{dataSource?.statusName}}</span> | <span> #{{dataSource?.pk_ticketID}}
                        </span> | <span>{{dataSource?.firstName}} {{dataSource?.lastName}}</span>
                    </div>
                    <div class="gap-y-4 mt-6">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <form [formGroup]="commentForm">
                                    <textarea class="w-full border rounded-md py-2 px-3" formControlName="comment"
                                        rows="6"></textarea>
                                    <div *ngIf="commentForm.get('comment').invalid && commentForm.get('comment').touched"
                                        class="text-red-600 text-sm my-1">
                                        Comment is required.
                                    </div>


                                    <button (click)="createComment()" color="primary" class="w-full rounded-md"
                                        mat-button mat-flat-button
                                        [disabled]="commentForm.invalid || isCreateCommentLoader">
                                        <span *ngIf="!isCreateCommentLoader">Post</span>
                                        <mat-progress-spinner *ngIf="isCreateCommentLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </form>
                            </div>
                            <div class="col-12 col-md-5 sm:mt-0 mt-5">
                                <div class="flex justify-between mb-2">
                                    <div class="text-sm font-semibold">Copy others on this ticket</div>
                                </div>
                                <div class="border rounded-lg p-3  h-50 overflow-y-auto overflow-x-hidden">
                                    <div class="w-full" *ngIf="isCommentatorLoader">
                                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse">
                                        </ngx-skeleton-loader>
                                    </div>
                                    <div class="row" *ngIf="!isCommentatorLoader">
                                        <div class="col-12" *ngFor="let item of commentators">
                                            <mat-checkbox [(ngModel)]="item.checked">{{item.email}}</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>




    <div class="row" *ngIf="!isLoading">
        <div class="col-12 my-2">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col w-full">
                <div *ngIf="this.images?.length !==0" class="p-6 sm:p-8 lg:p-10 w-full grid grid-cols-5 gap-5">
                    <div class="cursor-pointer" *ngFor="let image of images">
                        <img class="w-32 h-32"
                            (click)="viewImage('https://assets.consolidus.com/globalAssets/tickets/Images/' + (dataSource?.pk_ticketID) + '/' + (image?.FILENAME))"
                            [src]="'https://assets.consolidus.com/globalAssets/tickets/Images/' + (dataSource?.pk_ticketID) + '/' + (image?.FILENAME)">
                        <div class="mt-2">
                            <mat-checkbox [(ngModel)]="image.checked">Remove</mat-checkbox>
                        </div>

                    </div>
                </div>

                <div class="px-3 py-2">
                    <mat-label>Add Images</mat-label>
                    <ngx-dropzone [config]="config" [multiple]="true" accept="image/jpeg,image/jpg,image/png"
                        (change)="onSelectMain($event)">
                        <ngx-dropzone-label>Choose Image</ngx-dropzone-label>
                        <ngx-dropzone-image-preview *ngFor="let file of files;let i=index" [file]="file"
                            [removable]="true" (removed)="onRemoveMain(i)">
                            <img [src]="file?.preview" alt="Preview Image" class="preview-image">
                        </ngx-dropzone-image-preview>
                    </ngx-dropzone>

                    <button (click)="updateImages()" color="primary" class="w-full rounded-md mt-2" mat-button
                        mat-flat-button>
                        Update
                    </button>
                </div>
            </fuse-card>
        </div>
    </div>


    <div class="row" *ngIf="!isLoading && this.ticketComments?.length !==0">
        <div class="col-12 my-2">
            <fuse-card class="rounded-2xl shadow bg-card flex flex-col w-full">


                <div class="py-3 px-3 w-full">
                    <div *ngFor="let comment of ticketComments">
                        <div class="flex gap-x-1 font-bold">
                            <p>{{ comment[5] }} </p>
                            <p>{{ comment[6] }} </p> 
                            <span>said on </span>
                            <p>{{ comment[4] }}</p>
                        </div>
                        <p>{{ comment[2] }}</p>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>



</div>

<div class=" modal" tabindex="-1" role="dialog" #deleteTicket>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Support Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove this Support Ticket? This cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" (click)="deleteticket()" type="button" color="primary"
                    class="btn bg-gray-700 text-white rounded-md">Yes</button>
                <button type="button" class="btn bg-red-500 text-white border-red-500 rounded-md"
                    data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>