<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">
    <div class="w-full">
        <div class="px-4 sm:px-4 lg:px-8 py-4">
            <div class="flex justify-between">
                <div class="text-2xl font-bold">
                    Imprint Details
                </div>
                <button class="min-w-40 mb-2" mat-button mat-stroked-button (click)="backToList()">Back to List</button>
            </div>
            <div *ngIf="isLoading" class="my-2 px-5">
                <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                    'background-color': '#dedede'
                  }">
                </ngx-skeleton-loader>
            </div>
            <div class="row" *ngIf="!isLoading">
                <div class="col-12 col-md-4 mt-3">
                    <mat-accordion multi>
                        <mat-expansion-panel (opened)="lastProof()">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Last Proof
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <ngx-skeleton-loader *ngIf="lastProofLoader" count="2" appearance="line"
                                    animation="pulse" [theme]="{ 
                                    'background-color': '#dedede'
                                  }">
                                </ngx-skeleton-loader>
                                <div *ngIf="!lastProofLoader" class="py-2">{{lastProofData}}</div>
                                <button *ngIf="!lastProofLoader"
                                    class="min-w-20 btn buttonComment hover:bg-gray-200">Claim</button>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Company Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <div><b>Company name:</b> {{orderData?.companyInformationName}}</div>
                                <div><b>Location:</b> {{orderData?.attributeName}}</div>
                                <div><b>Name:</b> {{orderData.billingName}}</div>
                                <div><b>Company:</b> {{orderData.companyInformationName}}</div>
                                <div><b>Address:</b> {{orderData.billingAddress}} {{orderData.billingCity}}</div>
                                <div><b>Phone:</b> {{orderData.billingPhone}}</div>
                                <div><b>Email:</b> {{orderData.billingEmail}}</div>
                                <div><b>Designer notes:</b> None</div>
                                <div class="space-y-1">
                                    <!-- <button class="min-w-60 btn buttonComment hover:bg-gray-200"
                                        (click)="customerEmail()">Email Customer</button> -->
                                    <!-- <br> -->
                                    <button [disabled]="isAutoRequestLoader" (click)="senAutoArtRequest()"
                                        class="min-w-60 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!isAutoRequestLoader">Auto Art Request</span>
                                        <mat-progress-spinner *ngIf="isAutoRequestLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                    <!-- <br> -->
                                    <!-- <button class="min-w-60 btn buttonComment hover:bg-gray-200">Order History</button> -->
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Order Information -->
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Order Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <div><b>Order:</b> {{orderData.fk_orderID}}</div>
                                <div><b>Quote ID:</b> {{orderData.quoteID}}-{{paramData?.fk_imprintID}}</div>
                                <div><b>PO:</b> {{orderData.fk_orderID}}-{{paramData?.pk_orderLineID}}</div>
                                <div><b>Order Placed:</b> {{orderData.orderDate | date: 'MM/dd/yyyy'}}</div>
                                <div><b>Store:</b> {{orderData.storeName}}</div>
                                <div><b>Brand Guide:</b>
                                    <!-- <a href="https://assets.consolidus.com/globalAssets/Stores/BrandGuide/{{orderData.pk_storeID}}"></a> -->
                                    Click here</div>
                                <div><b>Rush:</b> {{orderData.blnRushFlexibility? 'YES' : 'NO'}}</div>
                                <div>
                                    <b>In-Hands:</b> (mm/dd/yyyy)
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                                        <input matInput readonly [matDatepicker]="picker" (click)="picker.open()">
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <b>Event:</b>
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full min-w-50">
                                        <input matInput [(ngModel)]="orderData.event">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-checkbox [(ngModel)]="orderData.bypassScheduler"><b>Ignore
                                            Scheduler</b></mat-checkbox>
                                </div>
                                <div>
                                    <mat-checkbox><b>Ignore additional proof emails</b></mat-checkbox>
                                </div>
                                <div>
                                    <button class="min-w-40 btn buttonComment hover:bg-gray-200">Update</button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Supplier -->
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Supplier Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <div><b>SKU:</b>{{orderData.SKU}}
                                    <p>{{orderData.supplierCompanyName}}</p>
                                    <p>{{orderData.companyPhone}}</p>
                                </div>
                                <div><b>ASI:</b>{{orderData.ASI}}</div>
                                <div><b>PPAI:</b> {{orderData.PPAI}}</div>
                                <div><b>Order Placed:</b> {{orderData.orderDate | date: 'MM/dd/yyyy'}}</div>
                                <div>
                                    <a href="{{orderData.companyWebsite}}"
                                        target="_blank">{{orderData.companyWebsite}}</a>
                                </div>
                                <div>{{orderData.shippingEmail}}</div>
                                <div><b>Product Link:</b> Click here</div>
                                <div>
                                    <div *ngIf="artWorkLoader">
                                        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </div>
                                    <div *ngIf="!artWorkLoader">
                                        <b>Artwork Templates:</b>
                                        <span *ngIf="artworktemplatesData.length == 0"> NONE</span>
                                        <br>
                                        <div *ngFor="let item of artworktemplatesData">
                                            <a target="_blank"
                                                href="https://assets.consolidus.com/globalAssets/Products/ArtworkTemplates/{{item.fk_productID}}/{{item.pk_artworkTemplateID}}.{{item.extension}}">ArtworkTemplate</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Decorator -->
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Decorator Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p>{{imprintdata[0].digitizer || 'NONE'}}</p>
                                <p>{{imprintdata[0].phone}}</p>
                                <a href="{{orderData.companyWebsite}}" target="_blank">{{orderData.companyWebsite}}</a>
                            </div>
                        </mat-expansion-panel>
                        <!-- Comments -->
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Order comments
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <fuse-alert *ngIf="!orderData.internalComments" class="my-2" [appearance]="'soft'"
                                    [type]="'warning'" [showIcon]="false">
                                    There are no comments on this order.
                                </fuse-alert>
                                <div *ngIf="orderData.internalComments"
                                    class="mb-2 max-h-40 overflow-y-auto border p-2">
                                    <p [innerHTML]="orderData.internalComments"></p>
                                    <p id="scrollBottomComment" #scrollBottomComment></p>
                                </div>
                                <mat-form-field class="w-full">
                                    <mat-label>Leave a comment</mat-label>
                                    <textarea matInput [(ngModel)]="ngComment"></textarea>
                                </mat-form-field>
                                <button [disabled]="isAddCommentLoader" (click)="addComment()"
                                    class="min-w-40 btn buttonComment hover:bg-gray-200">
                                    <span *ngIf="!isAddCommentLoader">Add Comment</span>
                                    <mat-progress-spinner *ngIf="isAddCommentLoader" [diameter]="24"
                                        [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                </button>
                            </div>
                        </mat-expansion-panel>
                        <!-- Purchase Comments -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Purchase Order Comments
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-form-field class="w-full mt-2">
                                    <mat-select [(ngModel)]="selectedImprint">
                                        <mat-option *ngFor="let imprint of imprintdata"
                                            [value]="imprint.pk_imprintID">({{imprint.pk_imprintID}})
                                            {{imprint.locationName}}/{{imprint.methodName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <textarea matInput></textarea>
                                </mat-form-field>
                                <div>
                                    <button class="min-w-40 btn buttonComment hover:bg-gray-200">Update Comment</button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Manually Update Proof -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Manually Update Proof
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p class="text-red-500 text-sm">
                                    Manually updating a proof for an imprint will not change the status, nor will it
                                    notify the customer.
                                </p>
                                <mat-form-field class="w-full mt-2">
                                    <mat-select [(ngModel)]="selectedProofImprint">
                                        <mat-option *ngFor="let imprint of imprintdata"
                                            [value]="imprint.pk_imprintID">({{imprint.pk_imprintID}})
                                            {{imprint.locationName}}/{{imprint.methodName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-label>Select a new proof image file:</mat-label>
                                <input type="file" accept=".jpg" id="image" (change)="uploadFile($event)">
                                <div class="mt-3">
                                    <button [disabled]="isManualProofLoader" (click)="uploadProofMedia()"
                                        class="min-w-40 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!isManualProofLoader">Update Proof</span>
                                        <mat-progress-spinner *ngIf="isManualProofLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Artwork tags for CLC report -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Artwork tags for CLC report
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p class="text-secondary text-sm">
                                    For any stores using CLC Reporting functionality, we must designate the Artwork
                                    Tag(s) for each product by selecting them from the list below.
                                </p>
                                <div class="mt-3">
                                    <button class="min-w-40 btn buttonComment hover:bg-gray-200">Update artwork
                                        tags</button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Upload Virtual Proof -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Upload Virtual Proof
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <p class="text-secondary text-sm">Uploading a virtual proof will add to the product
                                    images for
                                    this product on the SmartSite, as well as appear to the customer in various emails
                                    and account detail areas.</p>
                                <p class="text-red-500 text-sm">
                                    Virtual proof images must be at least 600px by 600px, but no larger than 1500px by
                                    1500px. The larger the better. JPG format only.
                                </p>
                                <input type="file">
                                <div>
                                    <mat-checkbox><b>Include on store as an image</b></mat-checkbox>
                                </div>
                                <div>
                                    <button class="min-w-40 btn buttonComment hover:bg-gray-200">Upload</button>
                                </div>
                                <div class="mt-2">
                                    <div *ngIf="artWorkLoader">
                                        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </div>
                                    <div *ngIf="!artWorkLoader">
                                        <p class="text-secondary text-sm w-full border-b">Existing Virtual Proof Images
                                        </p>
                                        <div class="mt-2 flex space-x-2 overflow-x-auto">
                                            <div class="text-center" *ngFor="let item of virtualProofData">
                                                <img class="w-10 border"
                                                    src="https://assets.consolidus.com/globalAssets/StoreProducts/VirtualProofs/{{item.fk_storeProductID}}/{{item.pk_virtualProofID}}.jpg">
                                                <mat-icon class="icon-size-5 text-red-500 cursor-pointer"
                                                    matTooltip="Remove" fuseAlertIcon
                                                    [svgIcon]="'heroicons_solid:trash'">
                                                </mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!--  Update imprint colors -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Update imprint colors
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-form-field class="w-full mt-2">
                                    <mat-select [(ngModel)]="selectedImprint" (selectionChange)="onChangeColor($event)">
                                        <mat-option *ngFor="let imprint of imprintdata"
                                            [value]="imprint.pk_imprintID">({{imprint.pk_imprintID}})
                                            {{imprint.locationName}}/{{imprint.methodName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="w-full" *ngIf="allColors">
                                    <mat-select [(ngModel)]="selectedMultipleColors" multiple>
                                        <mat-option *ngFor="let color of allColors"
                                            [value]="color.id">{{color.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <div *ngIf="!allColors">
                                    <fuse-alert class="my-2" [appearance]="'soft'" [type]="'warning'">
                                        <mat-icon class="icon-size-5" fuseAlertIcon
                                            [svgIcon]="'heroicons_solid:lock-open'">
                                        </mat-icon>
                                        This imprint does not have any imprint colors associated with it.
                                    </fuse-alert>
                                </div>
                                <mat-form-field class="w-full" *ngIf="allColors">
                                    <input matInput [(ngModel)]="selectedImprintColor">
                                </mat-form-field>
                                <div>
                                    <button [disabled]="imprintColorsLoader" (click)="updateOrderLineImprintColors()"
                                        class="min-w-40 btn buttonComment hover:bg-gray-200">
                                        <span *ngIf="!imprintColorsLoader">Update imprint
                                            colors</span>
                                        <mat-progress-spinner *ngIf="imprintColorsLoader" [diameter]="24"
                                            [mode]="'indeterminate'">
                                        </mat-progress-spinner>
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <!-- Approval History -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Approval History
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <fuse-alert *ngIf="approvalHistoryData.length == 0" class="my-2"
                                    [appearance]="'outline'" [type]="'warning'" [showIcon]="false">
                                    This order has no approval history.
                                </fuse-alert>
                                <table class="table" *ngIf="approvalHistoryData.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of approvalHistoryData">
                                            <td>{{item.firstName + ' ' + item.lastName}}</td>
                                            <td>{{item.statusDate | date}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-expansion-panel>
                        <!-- Timer -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Timer
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <div class="text-center">{{ hours | number: '2.0' }}:{{ minutes | number: '2.0' }}:{{
                                    seconds | number:
                                    '2.0' }}</div>
                                <mat-form-field class="w-full mt-2">
                                    <mat-select [(ngModel)]="selectedImprint">
                                        <mat-option *ngFor="let imprint of imprintdata"
                                            [value]="imprint.pk_imprintID">({{imprint.pk_imprintID}})
                                            {{imprint.locationName}}/{{imprint.methodName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div class="flex justify-center space-x-2">
                                    <button class="min-w-20 btn buttonComment hover:bg-gray-200"
                                        (click)="startTimer()">Start</button>
                                    <button class="min-w-20 btn buttonComment buttonDanger hover:bg-red-900"
                                        (click)="resetTimer()">Reset</button>
                                    <button
                                        class="min-w-20 btn buttonComment buttonSave hover:bg-green-500">Save</button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="col-12 col-md-8 mt-3">
                    <mat-accordion multi>
                        <mat-expansion-panel [expanded]="true" *ngFor="let imprint of imprintdata;let i=index">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Imprint {{i+1}} of {{imprintdata.length}} for {{orderData.productName}} -
                                    ({{imprint.locationName}}/{{imprint.methodName}})
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div>
                                <div class="w-full font-medium text-md">PO:
                                    {{orderData.fk_orderID}}-{{paramData?.pk_orderLineID}}</div>
                                <div class="row w-full">
                                    <div class="col-12 col-md-6">
                                        <mat-form-field class="w-full">
                                            <mat-label>Reorder</mat-label>
                                            <input matInput [(ngModel)]="imprint.reorderNumber">
                                        </mat-form-field>
                                        <button (click)="updateReorder(imprint)" [disabled]="imprint?.reorderLoader"
                                            class="min-w-30 btn buttonComment hover:bg-gray-200">
                                            <span *ngIf="!imprint?.reorderLoader">Apply</span>
                                            <mat-progress-spinner *ngIf="imprint.reorderLoader" [diameter]="24"
                                                [mode]="'indeterminate'">
                                            </mat-progress-spinner>
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <mat-form-field class="w-full">
                                            <mat-label>Proof Contact</mat-label>
                                            <mat-select matInput>
                                                <mat-option value="12">Callie Terr</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button class="min-w-30 btn buttonComment hover:bg-gray-200">Update</button>
                                        <!-- <button class="min-w-30" mat-button mat-stroked-button>Update</button> -->
                                    </div>
                                    <div class="col-md-8 col-12 mt-3">
                                        <div class="row">
                                            <div class="col-6 font-bold">Quantity:</div>
                                            <div class="col-6">{{orderData.quantity}}</div>
                                            <div class="col-6 font-bold">Imprint Colors:</div>
                                            <div class="col-6">
                                                <div class="max-h-20  overflow-y-auto ">
                                                    {{imprint.imprintColors}}
                                                </div>
                                            </div>
                                            <div class="col-6 font-bold">Imprint Location:</div>
                                            <div class="col-6">{{imprint.locationName}}</div>
                                            <div class="col-6 font-bold">Item Colors:</div>
                                            <div class="col-6">
                                                <div class="max-h-20  overflow-y-auto ">
                                                    {{imprint.itemColors}}
                                                </div>
                                            </div>
                                            <div class="col-6 font-bold">Imprint Size:</div>
                                            <div class="col-6">{{imprint.area}}</div>
                                            <div class="col-6 font-bold">Item Dimensions:</div>
                                            <div class="col-6">{{orderData.itemDimension || 'N/A'}}</div>
                                            <div class="col-6 font-bold">Imprint Method:</div>
                                            <div class="col-6">{{imprint.methodName}}</div>
                                            <div class="col-6 font-bold">Artwork File Types:</div>
                                            <div class="col-6">
                                                <div *ngIf="!artWorkLoader">
                                                    <span *ngIf="artworktemplatesData.length == 0">NONE</span>
                                                    <span
                                                        *ngFor="let item of artworktemplatesData;let last=last">{{item.extension}}<span
                                                            *ngIf="!last">, </span></span>
                                                </div>
                                            </div>
                                            <div class="col-6 font-bold">Digitizer:</div>
                                            <div class="col-6">{{imprint.digitizer || 'NONE'}}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="text-right">
                                            <div class="flex justify-end">
                                                <img class="w-40"
                                                    onError="this.src='https://assets.consolidus.com/globalAssets/Products/coming_soon.jpg'"
                                                    src="https://assets.consolidus.com/globalAssets/Products/HiRes/{{orderData.pk_storeProductID}}.jpg">
                                            </div>
                                            <button (click)="isCommentToggle = !isCommentToggle"
                                                class="min-w-30 mt-2 btn buttonComment hover:bg-gray-200">Customer
                                                Comments</button>
                                        </div>
                                    </div>
                                    <div class="col-12" *ngIf="isCommentToggle">
                                        <div class="font-bold">Customer Comments</div>
                                        <div class="h-40 border overflow-y-auto p-2">
                                            <p *ngIf="!imprint.imprintComments">No Comments</p>
                                            <p *ngIf="imprint.imprintComments" [innerHtml]="imprint.imprintComments">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <fuse-alert class="mb-2" [appearance]="'outline'" [type]="'warning'"
                                            [showIcon]="false">
                                            As of {{orderData.orderDate | date: 'MM/dd/yyyy'}} the status of this item
                                            is {{paramData.statusName}}.
                                        </fuse-alert>
                                        <div class="rounded-2xl shadow bg-card p-4 ">
                                            <p class="text-lg font-bold">Make Manual Updates to this Imprint Status</p>
                                            <div class="row">
                                                <div class="col-md-8 col-12">
                                                    <div class="text-md font-bold">Upload Artwork Proof</div>
                                                    <mat-form-field class="w-full">
                                                        <mat-label>Email recipients (comma-separated)</mat-label>
                                                        <input matInput value="{{orderData.shippingEmail}}"
                                                            id="email-{{imprint.pk_imprintID}}">
                                                    </mat-form-field>
                                                    <mat-form-field class="w-full">
                                                        <mat-label>Please enter any comments:
                                                        </mat-label>
                                                        <textarea matInput
                                                            id="comment-{{imprint.pk_imprintID}}"></textarea>
                                                    </mat-form-field>
                                                    <div class="flex justify-between">
                                                        <input type="file">
                                                        <mat-checkbox>Respond to designer</mat-checkbox>
                                                    </div>
                                                    <div>
                                                        <button
                                                            class="min-w-30 mt-2 btn buttonComment hover:bg-gray-200">Update
                                                            Artwork Proof</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-12">
                                                    <div class="text-right">
                                                        <button
                                                            class="min-w-50 mt-2 btn buttonComment hover:bg-gray-200">New
                                                            pending</button>
                                                        <button
                                                            class="min-w-50 mt-2 btn buttonComment hover:bg-gray-200">Awaiting
                                                            artwork
                                                            approval</button>
                                                        <button class="min-w-50 mt-2 btn buttonDanger buttonComment">No
                                                            proof
                                                            needed</button>
                                                        <button
                                                            class="min-w-50 mt-2 btn buttonDanger buttonComment">Flag as
                                                            awaiting
                                                            info</button>
                                                    </div>
                                                    <div class="mt-3">
                                                        <p class="text-md font-bold">Designer Notes:</p>
                                                        <fuse-alert class="my-2" [appearance]="'soft'"
                                                            [type]="'warning'" [showIcon]="false">
                                                            No design notes defined for this decorator.
                                                        </fuse-alert>
                                                        <!-- <div class="h-40 border overflow-y-auto p-2">
                                                            Screen printed orders should be sent as eps files.<br>
                                                            Embroidered orders should be sent as high resolution PDF
                                                            files
                                                        </div> -->
                                                    </div>

                                                </div>
                                            </div>
                                            <p class="text-lg font-bold">Make Manual Updates to this Imprint Status</p>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <p class="text-md font-bold">Offline Customer Communication:</p>
                                                    <mat-radio-group class="example-radio-group">
                                                        <mat-radio-button class="example-radio-button"
                                                            value="approve">Customer Approved
                                                            Artwork with comments</mat-radio-button>
                                                        <mat-radio-button class="example-radio-button"
                                                            value="request">Customer
                                                            Requested Artwork Change</mat-radio-button>
                                                    </mat-radio-group>
                                                    <mat-checkbox>Respond to designer</mat-checkbox>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <mat-form-field class="w-full">
                                                        <mat-label>Please enter comments regarding this
                                                            communication:</mat-label>
                                                        <textarea matInput></textarea>
                                                    </mat-form-field>
                                                    <div class="tex-right">
                                                        <button
                                                            class="min-w-30 mt-2 btn buttonComment hover:bg-gray-200">Apply
                                                            Status
                                                            Change</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>