<div class="absolute inset-0 flex flex-col min-w-0 bg-card dark:bg-transparent">

    <!-- Header -->
    <div
        class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-1" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-3xl font-extrabold tracking-tight">Customer Details</div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Back to Customers Page button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="backToCustomersScreen()">
                <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                <span class="ml-2 mr-1">Back to Customers</span>
            </button>
        </div>
    </div>

    <div style="overflow-y: scroll;">
        <ng-template #myCard>
            <div class="mb-2">
                <mat-card>
                    <mat-card-subtitle class="text-1xl font-semibold" style="color: black;">Customer General Information
                    </mat-card-subtitle>
                    <mat-card-content>
                        <mat-grid-list cols="{{breakpoint}}" rowHeight="35px" (window:resize)="onResize($event)">
                            <mat-grid-tile>
                                <mat-grid-tile-header>ID: </mat-grid-tile-header>
                                <mat-grid-tile-footer>{{selectedCustomer?.pk_userID || not_available}}
                                </mat-grid-tile-footer>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-grid-tile-header>Name: </mat-grid-tile-header>
                                <mat-grid-tile-footer>{{selectedCustomer?.firstName || not_available}}
                                    {{selectedCustomer?.lastName || not_available}}</mat-grid-tile-footer>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-grid-tile-header>Company: </mat-grid-tile-header>
                                <mat-grid-tile-footer>{{selectedCustomer?.companyName || not_available}}
                                </mat-grid-tile-footer>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-grid-tile-header>Email: </mat-grid-tile-header>
                                <mat-grid-tile-footer>{{selectedCustomer?.email || not_available}}
                                </mat-grid-tile-footer>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-grid-tile-header>Phone: </mat-grid-tile-header>
                                <mat-grid-tile-footer>{{selectedCustomer?.dayPhone || not_available}}
                                </mat-grid-tile-footer>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-grid-tile-header>Location: </mat-grid-tile-header>
                                <mat-grid-tile-footer>{{selectedCustomer?.address1 || not_available}}
                                </mat-grid-tile-footer>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-grid-tile-header>Fax: </mat-grid-tile-header>
                                <mat-grid-tile-footer>{{selectedCustomer?.fax || not_available}}</mat-grid-tile-footer>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-grid-tile-header>Program manager: </mat-grid-tile-header>
                                <mat-grid-tile-footer>{{selectedCustomer?.programManager || not_available}}
                                </mat-grid-tile-footer>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-grid-tile-header>Status: </mat-grid-tile-header>
                                <mat-grid-tile-footer>{{selectedCustomer?.blnActive ? "Active" : "Inactive"}}
                                </mat-grid-tile-footer>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-template>

        <!-- Main -->
        <div class="flex flex-auto mt-2">
            <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" style="overflow-x: scroll;">
                <mat-tab label="User Info">
                    <ng-container *ngTemplateOutlet="myCard"></ng-container>
                    <div class="text-2xl font-semibold mt-3" style="color: #64748b;">User Info</div>
                    <mat-divider></mat-divider>
                    <form class="w-full pt-2" [formGroup]="selectedCustomerForm">
                        <div class="row mb-3">
                            <div class="col-6 flex">
                                <p class="font-semibold mr-2">Date Registered:</p>
                                <p>{{selectedCustomer?.date || not_available}}</p>
                            </div>
                            <div class="col-6 flex">
                                <p class="font-semibold mr-2">IP Address:</p>
                                <p>{{selectedCustomer?.address2 || not_available}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-12">
                                <mat-form-field class="w-full">
                                    <mat-label>Email</mat-label>
                                    <input matInput [formControlName]="'email'" placeholder="Email">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-6">
                                <mat-form-field class="w-full">
                                    <mat-label>First Name</mat-label>
                                    <input matInput [formControlName]="'firstName'" placeholder="First Name">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-6">
                                <mat-form-field class="w-full">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput [formControlName]="'lastName'" placeholder="Last Name">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-6">
                                <mat-form-field class="w-full">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput [formControlName]="'companyName'" placeholder="Company">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-6">
                                <mat-form-field class="w-full">
                                    <mat-label>Store</mat-label>
                                    <input matInput [formControlName]="'storeName'" placeholder="Store">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-6">
                                <mat-form-field class="w-full">
                                    <mat-label>Title</mat-label>
                                    <input matInput [formControlName]="'title'" placeholder="Title">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-6">
                                <mat-form-field class="w-full">
                                    <mat-label>Fax</mat-label>
                                    <input matInput [formControlName]="'fax'" placeholder="Fax">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-6">
                                <mat-form-field class="w-full">
                                    <mat-label>Website</mat-label>
                                    <input matInput [formControlName]="'website'" placeholder="Website">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-6">
                                <mat-form-field class="w-full">
                                    <mat-label>Department</mat-label>
                                    <input matInput [formControlName]="'department'" placeholder="Department">
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row mt-3 mr-3 float-right">
                            <div class="flex items-center mr-4" *ngIf="flashMessage">
                                <ng-container *ngIf="flashMessage === 'success'">
                                    <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'">
                                    </mat-icon>
                                    <span class="ml-2">Customer updated</span>
                                </ng-container>
                                <ng-container *ngIf="flashMessage === 'error'">
                                    <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    <span class="ml-2">An error occurred, try again!</span>
                                </ng-container>
                            </div>
                            <button mat-flat-button [color]="'primary'" (click)="updateCustomerProduct()">
                                <mat-icon svgIcon="mat_outline:edit"></mat-icon>
                                <span class="ml-2">Update</span>
                            </button>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="User Addresses">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-user-address [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading">
                        </app-user-address>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Metrics">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-user-metrics [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading">
                        </app-user-metrics>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Credit Terms">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-credit-terms [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading">
                        </app-credit-terms>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Credit Applications">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-credit-applications [currentSelectedCustomer]="selectedCustomer"
                            [selectedTab]="selectedTab" [(isLoading)]="isLoading">
                        </app-credit-applications>
                    </ng-template>
                </mat-tab>
                <mat-tab label="User Comments">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-user-comments [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading">
                        </app-user-comments>
                    </ng-template>
                </mat-tab>
                <!-- <mat-tab label="FLPS Users">
                    <ng-container *ngTemplateOutlet="myCard"></ng-container>
                    FLPS Users
                </mat-tab> -->
                <mat-tab label="Locations">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-user-locations [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading">
                        </app-user-locations>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Approval Contacts">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-approval-contacts [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading"></app-approval-contacts>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Reminders">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-reminders [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading"></app-reminders>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Order History">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-orders-history [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading"></app-orders-history>
                    </ng-template>

                </mat-tab>
                <mat-tab label="Fulfillment Orders">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-fulfillment-orders [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading"></app-fulfillment-orders>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Saved Carts">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-saved-carts [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading"></app-saved-carts>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Quotes">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-quotes [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading"></app-quotes>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Group Orders">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-group-orders [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading"></app-group-orders>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Logo Bank">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-logo-bank [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading">
                        </app-logo-bank>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Cashback">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-cashback [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading">
                        </app-cashback>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Store Usage">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-store-usage [currentSelectedCustomer]="selectedCustomer" [selectedTab]="selectedTab"
                            [(isLoading)]="isLoading"></app-store-usage>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Send Registration Emails">
                    <ng-template matTabContent>
                        <ng-container *ngTemplateOutlet="myCard"></ng-container>
                        <app-send-register-emails [currentSelectedCustomer]="selectedCustomer"
                            [selectedTab]="selectedTab" [(isLoading)]="isLoading"></app-send-register-emails>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>