<div class="rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full">

    <div class="w-full" #tableTop>
        <div class="px-4 flex justify-between sm:px-4 lg:px-8 py-4">
            <h2 class="text-xl sm:text-xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Dashboard
            </h2>
        </div>
        <div class="px-8 flex space-x-2 overflow-x-auto">
            <div>
                <p>Rush</p>
                <hr class="m-0 h-2" style="background: #d9534f;">
            </div>
            <div>
                <p>Samples</p>
                <hr class="m-0 h-2" style="background: #feee84;">
            </div>
            <div>
                <p>Blank</p>
                <hr class="m-0 h-2" style="background: #d9b5f4;">
            </div>
            <div>
                <p>Backorder</p>
                <hr class="m-0 h-2" style="background: #00d7c0;">
            </div>
            <div>
                <p>Fulfillment</p>
                <hr class="m-0 h-2" style="background: #5ed0ff;">
            </div>
            <div>
                <p>Group Run</p>
                <hr class="m-0 h-2" style="background: #ADFFB6;">
            </div>
            <div>
                <p>Group Order</p>
                <hr class="m-0 h-2" style="background: #fca769;">
            </div>
            <div>
                <p>Duplicated</p>
                <hr class="m-0 h-2" style="background: #4512de;">
            </div>
        </div>
        <div *ngIf="isLoading" class="px-4 py-4">
            <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                'background-color': '#dedede'
              }">
            </ngx-skeleton-loader>
        </div>
        <div class="px-8 py-2" *ngIf="!isLoading">
            <div class="flex">
                <mat-form-field class="min-w-100 mr-2">
                    <mat-select [(ngModel)]="ngstatusID" matInput>
                        <mat-option *ngFor="let option of statusOptions" [value]="option.value">
                            {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="min-w-100 mr-2">
                    <input matInput placeholder="Back to date">
                </mat-form-field>
                <button mat-stroked-button class="min-w-30">Update</button>
            </div>
            <div *ngIf="!isLoading" class="font-bold">
                <p>Showing Orders ({{totalRecords}} Total)</p>
            </div>
        </div>

        <div class="mt-2 table-responsive" *ngIf="!isLoading">
            <table class="table table-striped" matSort (matSortChange)="customSort($event)">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th mat-sort-header="orderDate">Date</th>
                        <th mat-sort-header="shippingDate">
                            <div class="flex">
                                <span>ESD</span>
                                <mat-icon class="icon-size-4 ml-1" matTooltip="Estimated Shipping Date"
                                    [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                            </div>
                        </th>
                        <th mat-sort-header="inHandsDate">In-Hands</th>
                        <th mat-sort-header="fk_orderID">Order</th>
                        <th mat-sort-header="pk_orderLineID">PO Number</th>
                        <th mat-sort-header="firstName">Customer</th>
                        <th mat-sort-header="productName">Product</th>
                        <th mat-sort-header="supplierName">Vendor</th>
                        <th mat-sort-header="statusName">Status</th>
                        <th mat-sort-header="Age">Age</th>
                        <th mat-sort-header="storeCode">Store</th>
                        <th mat-sort-header="orderDate">
                            <div class="flex">
                                <span>CPO</span>
                                <mat-icon class="icon-size-4 ml-1" matTooltip="Customer PO Number"
                                    [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                            </div>
                        </th>
                        <th mat-sort-header="orderDate">
                            <div class="flex">
                                <span>CC</span>
                                <mat-icon class="icon-size-4 ml-1" matTooltip="Charge Code"
                                    [svgIcon]="'heroicons_solid:question-mark-circle'"></mat-icon>
                            </div>
                        </th>
                        <th mat-sort-header="paymentDate">Paid</th>
                        <th mat-sort-header="trackingNumber">TRX</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="isPaginatedLoader">
                        <td colspan="17">
                            <div class="px-4 py-4">
                                <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                                    'background-color': '#dedede'
                                  }">
                                </ngx-skeleton-loader>
                            </div>
                        </td>
                    </tr>
                    <ng-container *ngIf="!isPaginatedLoader">
                        <tr *ngFor="let item of dataSource" [ngStyle]="item.styles" class="cursor-pointer">
                            <td>
                                <mat-checkbox></mat-checkbox>
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                {{item.orderDate | date: 'MM/dd/yyyy'}}
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                {{(item.shippingDate | date: 'MM/dd/yyyy')|| '---'}}
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                {{(item.inHandsDate | date: 'MM/dd/yyyy')|| 'N/A'}}
                            </td>
                            <td>
                                <a [routerLink]="['/apps/orders',item.fk_orderID]"
                                    target="_blank">{{item.fk_orderID}}</a>
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                {{item.fk_orderID+'-'+item.pk_orderLineID}}
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                {{item?.firstName + ' ' + item?.lastName}}
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                {{item?.productName}}
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                {{item?.supplierName}}
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                {{item?.statusName}}
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                <span *ngIf="item?.Age">{{item?.Age }} hrs</span>
                                <span *ngIf="!item?.Age">---</span>
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                {{item?.storeCode}}
                            </td>
                            <td (click)="goToOrderDetails(item)">{{item?.CPO || '---'}}</td>
                            <td (click)="goToOrderDetails(item)">{{item?.CC || '---'}}</td>
                            <td (click)="goToOrderDetails(item)">
                                <mat-icon svgIcon="heroicons_outline:x" class="text-red-500"
                                    *ngIf="!item.paymentDate"></mat-icon>
                                <mat-icon svgIcon="heroicons_outline:check" class="text-green-500"
                                    *ngIf="item.paymentDate"></mat-icon>
                            </td>
                            <td (click)="goToOrderDetails(item)">
                                <mat-icon svgIcon="heroicons_outline:x" class="text-red-500"
                                    *ngIf="!item.trackingNumber"></mat-icon>
                                <mat-icon svgIcon="heroicons_outline:check" class="text-green-500"
                                    *ngIf="item.trackingNumber"></mat-icon>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <mat-paginator #paginator class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                [disabled]="isPaginatedLoader" [length]="totalRecords" [pageIndex]="0" [pageSize]="20"
                (page)="getNextData($event)" [hidePageSize]="true">
            </mat-paginator>
        </div>
    </div>
</div>