<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto bg-light dark:bg-transparent">
    <!-- Header -->
    <div class="bg-white relative bg-light  sm:items-center sm:justify-between py-8 px-8 md:px-8 border-b"
        #topScrollAnchor>
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-1" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <div class="flex justify-between">
            <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                SmartArt
                <p class="text-seconday"></p>
            </h2>
            <div *ngIf="loginCheck">
                <!-- <button (click)="drawer.toggle()" class="min-w-30 mr-2" mat-stroked-button mat-button>Filter</button> -->
                <button *ngIf="loginCheck" (click)="logout()" class="min-w-30" mat-flat-button color="primary"
                    mat-button>Logout</button>
            </div>
        </div>


        <!-- Filters -->
        <div *ngIf="loginCheck">
            <h2 class="text-sm font-medium text-gray-500">Search Filters</h2>
            <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-5">
                <li class="col-span-1 flex rounded-md">
                    <mat-form-field class="w-full" *ngIf="ngDashboardCheck == 0">
                        <input matInput placeholder="Search Order" [(ngModel)]="ngSearchField"
                            (keyup.enter)="filterSmartArtList(0)">
                    </mat-form-field>
                    <mat-form-field class="w-full" *ngIf="ngDashboardCheck == 1">
                        <input matInput placeholder="Search Quote" [(ngModel)]="ngSearchField"
                            (keyup.enter)="filterSmartArtList(1)">
                    </mat-form-field>
                </li>
                <li class="col-span-1 flex rounded-md">
                    <mat-form-field class="w-full">
                        <input matInput placeholder="Search Customer" (keyup.enter)="filterSmartArtList(0)"
                            [(ngModel)]="ngCustomerField">
                    </mat-form-field>
                </li>
                <li class="col-span-1 flex rounded-md" *ngIf="ngDashboardCheck == 0">
                    <mat-form-field class="w-full">
                        <input matInput placeholder="Search Product" [(ngModel)]="ngFilterProduct">
                    </mat-form-field>
                </li>
                <li class="col-span-1 flex rounded-md">
                    <mat-form-field class="w-full">
                        <mat-select matInput [(ngModel)]="selectedStore">
                            <mat-option *ngFor="let store of allStores" [value]="store">
                                <span>{{store.storeName}}</span></mat-option>
                        </mat-select>
                        <!-- <input matInput placeholder="Search Stores" matTooltip="Search stores by name"
                            [matAutocomplete]="auto" [formControl]="searchStoreCtrl">
                        <mat-autocomplete class="w-full" #auto="matAutocomplete" (optionSelected)="onSelected($event)"
                            [displayWith]="displayWith">
                            <mat-option *ngIf="isSearchingStore" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isSearchingStore">
                                <mat-option *ngFor="let item of allStores" [value]="item">
                                    <span>{{item.storeName}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete> -->
                    </mat-form-field>
                </li>
                <li class="col-span-1 flex rounded-md">
                    <mat-form-field class="w-full">
                        <input matInput placeholder="Search Designer" matTooltip="Search designer by name"
                            [matAutocomplete]="designer" [formControl]="searchDesignerCtrl">
                        <mat-autocomplete class="w-full" #designer="matAutocomplete"
                            (optionSelected)="onSelectedDesigner($event)" [displayWith]="displayWithDesigner">
                            <mat-option *ngIf="isSearchingDesigner" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isSearchingDesigner">
                                <mat-option *ngFor="let item of allDesigners" [value]="item">
                                    <span>{{item.firstName + ' ' + item.lastName}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </li>
            </ul>
            <div class="text-right">
                <button *ngIf="ngDashboardCheck == 0" (click)="filterSmartArtList(0)" class="min-w-40"
                    [color]="'primary'" mat-button mat-flat-button>
                    <span>Filter</span>
                </button>
                <button *ngIf="ngDashboardCheck == 1" (click)="filterSmartArtList(1)" class="min-w-40"
                    [color]="'primary'" mat-button mat-flat-button>
                    <span>Filter</span>
                </button>
            </div>
        </div>
    </div>



    <div class="w-full">
        <mat-drawer-container class="example-container bg-white" [hasBackdrop]="true" style="min-height: 80vh;">
            <mat-drawer #drawer [mode]="'over'" position="end" class="px-8 min-w-80 ">
                <div class="flex justify-between my-5 align-items-center">
                    <div>
                        <div class="text-xl font-semibold tracking-tight leading-8">
                            Advanced Filters
                        </div>
                        <div class="font-medium tracking-tight text-secondary">
                            <!-- PDF, EPS, AI, PSD, and JPG file formats only! -->
                        </div>
                    </div>
                    <svg (click)="drawer.toggle()" [matTooltip]="'Close'" xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-x-lg cursor-pointer" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </div>
                <div *ngIf="ngDashboardCheck == 0">
                    <mat-form-field class="w-full">
                        <mat-label>Search Order</mat-label>
                        <input matInput placeholder="Search Order" [(ngModel)]="ngSearchField">
                    </mat-form-field>
                </div>
                <div *ngIf="ngDashboardCheck == 1">
                    <mat-form-field class="w-full">
                        <mat-label>Search Quote</mat-label>
                        <input matInput placeholder="Search Quote" [(ngModel)]="ngSearchField">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Search Customer</mat-label>
                        <input matInput placeholder="Search Customer" [(ngModel)]="ngCustomerField">
                    </mat-form-field>
                </div>
                <div *ngIf="ngDashboardCheck == 0">
                    <mat-form-field class="w-full">
                        <mat-label>Search Product</mat-label>
                        <input matInput placeholder="Search Product" [(ngModel)]="ngFilterProduct">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Search Stores</mat-label>
                        <input matInput placeholder="Search Stores" matTooltip="Search stores by name"
                            [matAutocomplete]="auto" [formControl]="searchStoreCtrl">
                        <mat-autocomplete class="w-full" #auto="matAutocomplete" (optionSelected)="onSelected($event)"
                            [displayWith]="displayWith">
                            <mat-option *ngIf="isSearchingStore" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isSearchingStore">
                                <mat-option *ngFor="let item of allStores" [value]="item">
                                    <span>{{item.storeName}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Search Designer</mat-label>
                        <input matInput placeholder="Search Designer" matTooltip="Search designer by name"
                            [matAutocomplete]="designer" [formControl]="searchDesignerCtrl">
                        <mat-autocomplete class="w-full" #designer="matAutocomplete"
                            (optionSelected)="onSelectedDesigner($event)" [displayWith]="displayWithDesigner">
                            <mat-option *ngIf="isSearchingDesigner" class="is-loading">Loading...</mat-option>
                            <ng-container *ngIf="!isSearchingDesigner">
                                <mat-option *ngFor="let item of allDesigners" [value]="item">
                                    <span>{{item.firstName + ' ' + item.lastName}}</span>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div>
                    <button *ngIf="ngDashboardCheck == 0" (click)="filterSmartArtList(0)" class="w-full"
                        [color]="'primary'" mat-button mat-flat-button>
                        <span>Filter</span>
                    </button>
                    <button *ngIf="ngDashboardCheck == 1" (click)="filterSmartArtList(1)" class="w-full"
                        [color]="'primary'" mat-button mat-flat-button>
                        <span>Filter</span>
                    </button>
                </div>
            </mat-drawer>
            <mat-drawer-content class="bg-white">
                <div class="mb-3 bg-light p-2">
                    <div *ngIf="loginCheck">
                        <router-outlet></router-outlet>
                    </div>
                    <div class="flex items-center justify-center px-6" *ngIf="!loginCheck" style="height: 100%;">
                        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
                            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">SmartArt Login
                                </div>
                                <mat-form-field class="w-full">
                                    <mat-label>Username</mat-label>
                                    <input matInput [(ngModel)]="ngEmail" type="email">
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Password</mat-label>
                                    <input matInput [(ngModel)]="ngPassword" type="password">
                                </mat-form-field>
                                <button [disabled]="isLoginLoader" mat-flat-button class="w-full" [color]="'primary'"
                                    [matTooltip]="'Login'" (click)="loginSmartArt()">
                                    <span *ngIf="!isLoginLoader"> Login </span>
                                    <mat-progress-spinner *ngIf="isLoginLoader" [diameter]="24"
                                        [mode]="'indeterminate'">
                                    </mat-progress-spinner>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>