<div class=" rounded-2xl shadow bg-card flex flex-col lg:flex-row w-full" style="min-height: 80vh;">
    <div class="w-full">
        <div class="w-full">
            <mat-drawer-container class="example-container bg-white" [hasBackdrop]="true" style="min-height: 80vh;">
                <mat-drawer #drawer [mode]="'over'" position="end" class="px-8 min-w-80 ">
                </mat-drawer>
                <mat-drawer-content class="bg-white">
                    <div class="px-4 sm:px-4 lg:px-8 pb-2 pt-4 flex justify-between">
                        <div class="text-2xl font-bold">
                            Order Scheduler
                        </div>
                        <!-- <div class="cursor-pointer" (click)="drawer.toggle()">
                            <button mat-flat-button mat-button class="min-w-40">Filter</button>
                        </div> -->
                    </div>
                    <div class="px-4 sm:px-4 lg:px-8">
                        <p class="mb-2 text-secondary">
                            NOTE: Viewing this scheduler does not actually run the scheduler. This is just for
                            reference.
                        </p>
                        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="mainScreen"
                            (change)="calledScreen(group.value)">
                            <mat-button-toggle value="Artwork Approved">
                                Artwork Approved
                            </mat-button-toggle>
                            <mat-button-toggle value="On-Hold">
                                On-Hold
                            </mat-button-toggle>
                            <mat-button-toggle value="Follow up">
                                Follow up
                            </mat-button-toggle>
                            <mat-button-toggle value="PM">
                                PM
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div *ngIf="isLoading && mainScreen == 'Artwork Approved'" class="my-2 px-5">
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                        </ngx-skeleton-loader>
                    </div>
                    <div *ngIf="isLoading48 && mainScreen == 'On-Hold'" class="my-2 px-5">
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                        </ngx-skeleton-loader>
                    </div>
                    <div *ngIf="onHoldLoader && mainScreen == 'Follow up'" class="my-2 px-5">
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                        </ngx-skeleton-loader>
                    </div>
                    <div *ngIf="followLoader && mainScreen == 'PM'" class="my-2 px-5">
                        <ngx-skeleton-loader count="8" appearance="line" animation="pulse" [theme]="{ 
                            'background-color': '#dedede'
                          }">
                        </ngx-skeleton-loader>
                    </div>
                    <!-- Awaiting Art work -->
                    <div *ngIf="!isLoading && mainScreen == 'Artwork Approved'" class="mt-2 overflow-hidden">
                        <div class="px-8" *ngIf="totalRecordsAwaiting == 0">
                            <fuse-alert class="mb-2" [appearance]="'outline'" [type]="'warning'" [showIcon]="false">
                                There are currently no pending orders awaiting artwork approval for the scheduler.
                            </fuse-alert>
                        </div>
                        <div class="px-8" *ngIf="totalRecordsAwaiting > 0">
                            <fuse-alert class="mb-2" [appearance]="'outline'" [type]="'success'" [showIcon]="false">
                                {{totalRecordsAwaiting}} orders have been awaiting a response for over 24 hours.
                                Approval request will be resent.
                            </fuse-alert>
                        </div>
                        <div *ngIf="dataSourceAwaiting.length > 0" class="w-full overflow-x-auto">
                            <table mat-table [dataSource]="dataSourceAwaiting" class="w-full border-t">
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        Date
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">
                                        {{element.orderDate | date: 'MM/dd/yy'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="inhands">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        In-Hands
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">
                                        {{(element.inHandsDate |
                                        date: 'MM/dd/yy') || 'N/A'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="order">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        Order
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">{{element.fk_orderID}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="customer">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Customer
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.companyName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="product">
                                    <th mat-header-cell *matHeaderCellDef class="w-50 min-w-50">
                                        Product
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.productName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.statusName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="age">
                                    <th mat-header-cell *matHeaderCellDef class="w-10 min-w-10 text-center">
                                        Age
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1 text-center">10
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <div class="flex justify-center">
                                            <mat-icon svgIcon="heroicons_outline:mail" class="mr-1 icon-size-4"
                                                matTooltip="Email"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:eye" class="mr-1 icon-size-4"
                                                matTooltip="View"></mat-icon>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                                </tr>
                            </table>
                            <mat-paginator #paginator
                                class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': isLoading}" [length]="totalRecordsAwaiting"
                                [pageIndex]="0" [pageSize]="20" (page)="getNextDataAwaiting($event)"
                                [hidePageSize]="true">
                            </mat-paginator>
                        </div>
                    </div>
                    <!-- On Hold-->
                    <div *ngIf="!isLoading48 && mainScreen == 'On-Hold'" class="mt-2 overflow-hidden">
                        <div class="px-8" *ngIf="totalRecordsOver48 == 0">
                            <fuse-alert class="mb-2" [appearance]="'outline'" [type]="'warning'" [showIcon]="false">
                                There are currently no pending orders on hold for the scheduler.
                            </fuse-alert>
                        </div>
                        <div class="px-8" *ngIf="totalRecordsOver48 > 0">
                            <fuse-alert class="mb-2" [appearance]="'outline'" [type]="'success'" [showIcon]="false">
                                {{totalRecordsOver48}} orders have been awaiting a response for over 48 hours and will
                                be set to "on hold." Approval request will be resent.
                            </fuse-alert>
                        </div>
                        <div *ngIf="dataSourceOver48.length > 0" class="w-full overflow-x-auto">
                            <table mat-table [dataSource]="dataSourceOver48" class="w-full border-t">
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        Date
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">
                                        {{element.orderDate | date: 'MM/dd/yy'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="inhands">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        In-Hands
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">
                                        {{(element.inHandsDate |
                                        date: 'MM/dd/yy') || 'N/A'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="order">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        Order
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">{{element.fk_orderID}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="customer">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Customer
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.companyName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="product">
                                    <th mat-header-cell *matHeaderCellDef class="w-50 min-w-50">
                                        Product
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.productName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.statusName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="age">
                                    <th mat-header-cell *matHeaderCellDef class="w-10 min-w-10 text-center">
                                        Age
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1 text-center">10
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <div class="flex justify-center">
                                            <mat-icon svgIcon="heroicons_outline:mail" class="mr-1 icon-size-4"
                                                matTooltip="Email"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:eye" class="mr-1 icon-size-4"
                                                matTooltip="View"></mat-icon>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                                </tr>
                            </table>
                            <mat-paginator #paginator
                                class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': onHoldLoader}" [length]="totalRecordsOver48"
                                [pageIndex]="0" [pageSize]="20" (page)="getNextDataover48($event)"
                                [hidePageSize]="true">
                            </mat-paginator>
                        </div>
                    </div>
                    <!-- Follow Ups-->
                    <div *ngIf="!onHoldLoader && mainScreen == 'Follow up'" class="mt-2 overflow-hidden">
                        <div class="px-8" *ngIf="totalRecordsOnHold == 0">
                            <fuse-alert class="mb-2" [appearance]="'outline'" [type]="'warning'" [showIcon]="false">
                                There are currently no pending orders on hold for the scheduler.
                            </fuse-alert>
                        </div>
                        <div class="px-8" *ngIf="totalRecordsOnHold > 0">
                            <fuse-alert class="mb-2" [appearance]="'outline'" [type]="'success'" [showIcon]="false">
                                {{totalRecordsOnHold}} orders have been on hold for over 24 hours and will be set to
                                "follow up for approval."
                            </fuse-alert>
                        </div>
                        <div *ngIf="dataSourceOnHold.length > 0" class="w-full overflow-x-auto">
                            <table mat-table [dataSource]="dataSourceOnHold" class="w-full border-t">
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        Date
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">
                                        {{element.orderDate | date: 'MM/dd/yy'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="inhands">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        In-Hands
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">
                                        {{(element.inHandsDate |
                                        date: 'MM/dd/yy') || 'N/A'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="order">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        Order
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">{{element.fk_orderID}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="customer">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Customer
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.companyName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="product">
                                    <th mat-header-cell *matHeaderCellDef class="w-50 min-w-50">
                                        Product
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.productName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.statusName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="age">
                                    <th mat-header-cell *matHeaderCellDef class="w-10 min-w-10 text-center">
                                        Age
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1 text-center">10
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <div class="flex justify-center">
                                            <mat-icon svgIcon="heroicons_outline:mail" class="mr-1 icon-size-4"
                                                matTooltip="Email"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:eye" class="mr-1 icon-size-4"
                                                matTooltip="View"></mat-icon>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                                </tr>
                            </table>
                            <mat-paginator #paginator
                                class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': onHoldLoader}" [length]="totalRecordsOnHold"
                                [pageIndex]="0" [pageSize]="20" (page)="getNextDataOnHold($event)"
                                [hidePageSize]="true">
                            </mat-paginator>
                        </div>
                    </div>
                    <!-- pm-->
                    <div *ngIf="!followLoader && mainScreen == 'PM'" class="mt-2 overflow-hidden">
                        <div class="px-8" *ngIf="totalRecordsFollow == 0">
                            <fuse-alert class="mb-2" [appearance]="'outline'" [type]="'warning'" [showIcon]="false">
                                There are currently no pending orders follow up for approval for the scheduler.
                            </fuse-alert>
                        </div>
                        <div class="px-8" *ngIf="totalRecordsFollow > 0">
                            <fuse-alert class="mb-2" [appearance]="'outline'" [type]="'success'" [showIcon]="false">
                                {{totalRecordsFollow}} orders have been on "follow up for approval" for 24 hours or
                                more, and a notification will be sent to the program manager.
                            </fuse-alert>
                        </div>
                        <div *ngIf="dataSourceFollow.length > 0" class="w-full overflow-x-auto">
                            <table mat-table [dataSource]="dataSourceFollow" class="w-full border-t">
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        Date
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">
                                        {{element.orderDate | date: 'MM/dd/yy'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="inhands">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        In-Hands
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">
                                        {{(element.inHandsDate |
                                        date: 'MM/dd/yy') || 'N/A'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="order">
                                    <th mat-header-cell *matHeaderCellDef class="w-20 min-w-20 px-2">
                                        Order
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs px-2">{{element.fk_orderID}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="customer">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Customer
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.companyName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="product">
                                    <th mat-header-cell *matHeaderCellDef class="w-50 min-w-50">
                                        Product
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.productName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef class="w-30 min-w-30">
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1">{{element.statusName}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="age">
                                    <th mat-header-cell *matHeaderCellDef class="w-10 min-w-10 text-center">
                                        Age
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-xs pr-1 text-center">10
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef class="w-15 min-w-15 text-center">
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <div class="flex justify-center">
                                            <mat-icon svgIcon="heroicons_outline:mail" class="mr-1 icon-size-4"
                                                matTooltip="Email"></mat-icon>
                                            <mat-icon svgIcon="heroicons_outline:eye" class="mr-1 icon-size-4"
                                                matTooltip="View"></mat-icon>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns;" class="h-18 bg-light"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                    class="h-14 hover:bg-gray-100 dark:hover:bg-hover" style="cursor: pointer;">
                                </tr>
                            </table>
                            <mat-paginator #paginator
                                class="border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                [ngClass]="{'pointer-events-none': followLoader}" [length]="totalRecordsFollow"
                                [pageIndex]="0" [pageSize]="20" (page)="getNextDataFollow($event)"
                                [hidePageSize]="true">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>